<?php foreach ($items as $k => $item): ?>
	<a name="<?= $k ?>" class="" href="<?= $item['url']; ?>" <?= $item['extra']?> >
		<i class="iconfont <?= $item['class'];?>"><?= $item['title']?></i>
	</a>
<?php endforeach; ?>
