<div id="editor" style="background-color: #FFF;width:100%;resize:vertical;height:300px"><?= $content ?></div>
<textarea id="editor-textarea" style="display: none;" class="<?= $form['_errors'] ? 'is-invalid' : ''?>" name="<?= $name ?: 'content' ?>" ></textarea>
<script>
require(['main'], function($){
    require(['wangEditor', 'css!../css/wangEditor'], function(E){
        let editor = new wangEditor('#editor');
        let $text1 = $('#editor-textarea');
        editor.onchange = function (html) {
            $text1.val(editor.$txt.html());
        }

        editor.config.menus = [
            'source',
            'bold',
            'underline',
            'italic',
            'strikethrough',
            'eraser',
            'forecolor',
            'bgcolor',
            'fontfamily',
            'fontsize',
            'head',
            'unorderlist',
            'orderlist',
            'alignleft',
            'aligncenter',
            'alignright',
            'link',
            'unlink',
            'table',
            'file',
            'undo',
            'redo',
            'fullscreen'
        ];

        editor.config.showLinkImg = false;
        editor.config.pasteFilter = false;
        editor.config.uploadFileUrl = '<?= URL("ajax/unpc/post/editorUploadFile")?>';
        editor.config.uploadImgFns.onload = function (e, result, xhr) {
            let t = JSON.parse(result.responseText);
            if (!t.error) {
                switch (t.type) {
                    case 'image':
                        var html = '<img src="' + t.url + '" style="max-width:100%;"/>';
                        break;
                    case 'media':
                        var html = '<iframe src="' + t.url + '" frameborder=0 allowfullscree></iframe>';
                        break;
                    default:
                        var html = '<p><a href="' + t.url + '" target="_blank">' + t.name || t.url + '</p>'
                        break;
                }
                editor.command(null, 'insertHtml', html);
            }
            else {
                alert(t.message);
            }
        }

        editor.create();
        // 初始化 textarea 的值
        $text1.val(editor.$txt.html());
        $('#editor').addClass('height', 'auto');
    })
})
</script>