<?php
$activeType = \Gini\ORM\Display::TYPE_LIST;
//设置display的设置中 list or post 的选项
$_setActive = function ($k) use ($activeType) {
    return $k == $activeType ? ' active in' : '';
};
//设置display的设置中 list or post 的选项的图标样式
$_setFaClass = function ($k) {
    $k == \Gini\ORM\Display::TYPE_LIST and $k = 'fa-th-list';
    $k == \Gini\ORM\Display::TYPE_POST and $k = 'fa-file-o';
    return $k;
};
$category = a('category', ['identity' => $object->identity]);
?>
<div class="gini-padding">
    <div class="box">
        <h4 class="left"><i class="icon-setting"></i> <?= T('基础设置') ?>
    </div>
    <div class="box">
        <div class="left">
            <div class="card">
                <div class="card-body gini-body">
                <form class="module-component" method="POST"
                        action="gini-ajax:AJAX/Unpc/Module/Setting/<?= $object->identity ?>">
                        <div id="myTabContent" class="tab-content">
                            <div class=" <?= $_setActive(\Gini\ORM\Display::TYPE_LIST) ?> "
                                id="<?= \Gini\ORM\Display::TYPE_LIST ?>">
                                <div class="form-group row">
                                    <label for="listTitle" class="col-2"><?= H(T('显示方式')) ?></label>
                                    <div class="col-auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listTitle" type="radio" class="check-form-input"
                                                    value="date" <?= ($object->listTitle == 'date' || !$object->listTitle) ? 'checked="checked"' : '' ?> >
                                                <?= H(T('标题 + 发布日期')) ?>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listTitle" type="radio" class="check-form-input"
                                                    value="extension" <?= $object->listTitle == 'extension' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('标题 + 文件格式')) ?>&#160;(
                                                <small><?= H(T('文件模式')) ?></small>
                                                )
                                            </label>
                                        </div>
                                    </div>
                                    <div class="auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listTitle" type="radio" class="check-form-input"
                                                    value="link" <?= $object->listTitle == 'link' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('跳转到其他地址')) ?>&#160;(
                                                <small><?= H(T('链接方式')) ?></small>
                                                )
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="listTitleBackground" class=" col-2"><?= H(T('背景底色')) ?></label>
                                    <div class="col-auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listTitleBackground" type="radio" class="check-form-input"
                                                    value="none" <?= $object->listTitleBackground != 'interval' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('无特殊底色')) ?>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listTitleBackground" type="radio" class="check-form-input"
                                                    value="interval" <?= $object->listTitleBackground == 'interval' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('隔行换色列表底色')) ?>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="auto">
                                        <div class="form-check form-check-inline none" id="listTitleBackground">
                                            <label for="" class="form-check-label">
                                                <input type="text" class="form-control minicolors"
                                                    name="listTitleBackgroundColor" size="50"
                                                    value="<?= $object->listTitleBackgroundColor ?>"/>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" id="listTitlelink">
                                    <label for="displayurl"
                                        class="col-2 "><?= H(T('跳转地址')) ?></label>
                                    <div class="col-auto">
                                        <input name="listTitlelink" type="text" class="form-control" value="<?= $object->listTitlelink ?>" />
                                    </div>
                                </div>
                                <div class="form-group row" id="listTitle">
                                    <label for="displayType"
                                        class="col-2 "><?= H(T('展示方式')) ?></label>
                                    <div class="col-auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="displayType" type="radio" class="check-form-input"
                                                    value="1" <?= $object->type != 2 ? 'checked="checked"' : '' ?> >
                                                <?= H(T('列表')) ?>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="displayType" type="radio" class="check-form-input"
                                                    value="2" <?= $object->type == 2 ? 'checked="checked"' : '' ?> >
                                                <?= H(T('文章')) ?>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="listLoading"
                                        class="col-2"><?= H(T('加载方式')) ?></label>
                                    <div class="col-auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listLoading" type="radio" class="check-form-input"
                                                    value="roll" <?= $object->listLoading != 'page' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('无限下拉形式')) ?>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listLoading" type="radio" class="check-form-input"
                                                    value="page" <?= $object->listLoading == 'page' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('翻页形式')) ?>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="listSort"
                                        class="col-2"><?= H(T('排序方式')) ?></label>
                                    <div class="col-auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listSort" type="radio" class="check-form-input"
                                                    value="date" <?= $object->listSort != 'initial' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('按日期排序')) ?>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listSort" type="radio" class="check-form-input"
                                                    value="initial" <?= $object->listSort == 'initial' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('按标题名排序')) ?>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="secondPosition"
                                        class="col-2"><?= H(T('二级菜单')) ?></label>
                                    <div class="col-auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="checkbox" name="hasSecond" value="1"
                                                    autocomplete="off" <?= $object->hasSecond ? 'checked="checked"' : '' ?> >
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group none row" id="hasSecond">
                                    <label for="secondPosition"
                                        class="col-2 "><?= H(T('展示位置')) ?></label>
                                    <div class="col-auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="secondPosition" type="radio" class="check-form-input"
                                                    value="inner" <?= $object->secondPosition != 'click' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('页面内部')) ?>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="secondPosition" type="radio" class="check-form-input"
                                                    value="click" <?= $object->secondPosition == 'click' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('模块下拉菜单')) ?>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group none row" id="tag-Position">
                                    <label for="tagPosition"
                                        class="col-2 "><?= H(T('菜单位置')) ?></label>
                                    <div class="col-auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="tagPosition" type="radio" class="check-form-input"
                                                    value="left" <?= $object->secondPosition != 'click' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('页面左侧')) ?>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="tagPosition" type="radio" class="check-form-input"
                                                    value="right" <?= $object->secondPosition == 'click' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('页面右侧')) ?>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="listOrder"
                                        class="col-2"><?= H(T('排序顺序')) ?></label>
                                    <div class="col-auto">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listOrder" type="radio" class="check-form-input"
                                                    value="asc" <?= $object->listOrder == 'asc' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('正序')) ?>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="listOrder" type="radio" class="check-form-input"
                                                    value="desc" <?= $object->listOrder != 'asc' ? 'checked="checked"' : '' ?> >
                                                <?= H(T('倒序')) ?>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form">
                            <div class="input-group flex-row">
                                <button class="btn  btn-ok" type="submit" name="submit">
                                    <i class="icon-check"></i> <?= H(T('保存')) ?>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require(['main'], function ($) {
        var changeDom = (function () {
            var $color = $('#listTitleBackground')
                , $second = $('#hasSecond')
                , isShowOrHide = function (name) {
                switch (name) {
                    case 'hasSecond':
                        return $('[name=hasSecond]').is(':checked')
                        break;
                    case 'listTitleBackground':
                        return $('[name=listTitleBackground]:checked').val() == 'interval';
                        break;
                    case 'listTitle':
                        return $('input[name=listTitle]:checked').val() == 'date';
                        break;
                    case 'displayType':
                        return true;
                        break;
                    case 'tag-Position':
                        return $('input[name=secondPosition]:checked').val()=='inner';
                        break;
                    case 'listTitlelink':
                        return $('input[name=listTitle]:checked').val() == 'link';
                        break;
                    default:
                        break;
                }
                return false
            }
            return function (selector) {
                isShowOrHide(selector) ? $('#' + selector).removeClass('none') : $('#' + selector).addClass('none')
            }
        })()
            , $form = $('form.module-component')

        $('body')
            .on('change', '[name=hasSecond]', function () {
                changeDom('hasSecond')
            })
            .on('click', '[name=listTitleBackground]', function () {
                changeDom('listTitleBackground')
            })
            .on('click', '[name=listTitle]', function () {

                if ($(this).val() === 'extension') {
                    $('[name=displayType][value=1]').prop('checked', true);
                    changeDom('displayType')
                }
                changeDom('listTitle')
                changeDom('listTitlelink')
            })
            .on('click', '[name=displayType]', function () {
                changeDom('displayType')
            })
            .on('click','[name=secondPosition]',function (){
                changeDom('tag-Position');
            })
        ;


        $form
            .on('click', '[name=submit]', function (e) {
                e.preventDefault();
                $form.submit()
                return false
            });

        changeDom('hasSecond');
        changeDom('listTitleBackground');
        changeDom('listTitle');
        changeDom('displayType');
        changeDom('tag-Position');
        changeDom('listTitlelink');
    })
</script>
