<?php
    $uniqid = 'dropzone_'.uniqid();
    $uploader_uniqid = 'uploader_'.uniqid();
    $acceptedFiles = $acceptedFiles ?: '.png,.jpg,.pdf,.ppt,.pptx,.xls,.xlsx,.doc,.docx,.rar,.zip,.mp4,.avi,.wmv';
    $dictInvalidFileType = "您必须上传{$acceptedFiles}等格式文件!";
    $maxFilesize = $maxFilesize ?: 20;
    $description = $description ?: "请您上传{$maxFilesize}M以下{$acceptedFiles}等格式文件!";
?>
<div class="container">
    <div class="d-flex justify-content-between">
        <a id="<?= $uploader_uniqid ?>" style="margin-bottom: 12px;" class="d-inline-block btn btn-ok"><i class="icon-upload"></i>&#160;<?= H(T('点击上传')) ?></a
        <small class="d-inline-block ">
            <button type="button" style="margin-bottom: 12px;" class="btn btn-warning"  data-toggle="tooltip"  data-html="true" data-placement="top" title='<span class="setting-upload-btn  d-inline-block" style=""><?= H($description) ?></span>'>
                <i class="icon-eye02"> 提示</i>
            </button>
        </small>
    </div>
    <div id="<?= $uniqid ?>" class="dropzone"></div>
</div>

<script>
require(['main'], function($){
    $(document).ready(function(){
        require(['dropzone', 'css!../css/dropzone'], function(){
            try {
                Dropzone.autoDiscover=false;
                $('#<?= $uniqid ?>').dropzone({
                    paramName: 'file',
                    url: "<?= $url ?: 'ajax/unpc/upload'?>",
                    autoProcessQueue: false,
                    maxFiles: parseInt('<?= $maxFiles ?: 1 ?>'),
                    maxFilesize: parseInt('<?= $maxFilesize ?: 20 ?>'),
                    addRemoveLinks: true,
                    uploadMultiple: false,
                    acceptedFiles: "<?= $acceptedFiles ?: '.png,.jpg,.pdf,.ppt,.pptx,.xls,.xlsx,.doc,.docx,.rar,.zip,.mp4,.avi,.wmv' ?>",
                    dictDefaultMessage: '<span><i class="fa fa-file fa-2x"></i> 您可以拖动文件至此或点击此处</span>',
                    dictFallbackMessage: '您浏览器不支持拖拽文件上传!',
                    dictInvalidFileType: "<?= $dictInvalidFileType ?>",
                    dictRemoveFile: '移除文件',
                    dictCancelUpload: '取消上传',
                    dictMaxFilesExceeded: '仅可上传'+ '<?= $maxFiles ?: 1 ?>' +'个文件!',
                    dictFileTooBig: '请您上传'+'<?= $maxFilesize ?>'+'M以下文件!',
                    init: function() {
                        var me = this

                        if ('<?= $files ?>') {
                            var files = JSON.parse('<?= $files ?>');
                            var num = 0;
                            for(var i in files) {
                                var mockFile = { name: files[i].name, size: files[i].size };
                                me.emit('addedfile', mockFile)
                                me.emit('thumbnail', mockFile, files[i].path)
                                me.createThumbnailFromUrl(mockFile, files[i].path);
                                me.emit('complete', mockFile)
                                num++;
                            }
                            me.options.maxFiles = me.options.maxFiles - num
                        }

                        $('#<?= $uploader_uniqid ?>').on('click', function(){
                            me.processQueue()
                            return false
                        })
                        me
                            .on('success', function(file, data){
                                if (data.error) {
                                    alert(data.error);
                                    me.removedfile(file);
                                }
                            })
                            .on('error', function(file){
                                // me.removeFile(file);
                            })
                            .on('removedfile', function(file){
                                $.ajax({
                                    type: 'POST',
                                    url: "<?= $removeUrl ?: 'ajax/unpc/removeFile' ?>",
                                    data: {
                                        name: file.name
                                    },
                                    complete: function() {
                                        me.options.maxFiles = me.options.maxFiles + 1;
                                    }
                                });
                            });
                    }
                })
            } catch(e) {
                console.log(e);
                alert('浏览版本过低，不支持文件上传!');
            }
        })
    })
    // require(['dropzone', 'css!../css/dropzone'], function(){
    //     try {
    //         Dropzone.autoDiscover=false;
    //         $('#<?= $uniqid ?>').dropzone({
    //             paramName: 'file',
    //             url: "<?= $url ?: 'ajax/unpc/upload'?>",
    //             autoProcessQueue: false,
    //             maxFiles: parseInt('<?= $maxFiles ?: 1 ?>'),
    //             maxFilesize: parseInt('<?= $maxFilesize ?: 20 ?>'),
    //             addRemoveLinks: true,
    //             uploadMultiple: false,
    //             acceptedFiles: "<?= $acceptedFiles ?: '.png,.jpg,.pdf,.ppt,.pptx,.xls,.xlsx,.doc,.docx,.rar,.zip,.mp4,.avi,.wmv' ?>",
    //             dictDefaultMessage: '<span><i class="fa fa-file fa-2x"></i> 您可以拖动文件至此或点击此处</span>',
    //             dictFallbackMessage: '您浏览器不支持拖拽文件上传!',
    //             dictInvalidFileType: "<?= $dictInvalidFileType ?>",
    //             dictRemoveFile: '移除文件',
    //             dictCancelUpload: '取消上传',
    //             dictMaxFilesExceeded: '仅可上传'+ '<?= $maxFiles ?: 1 ?>' +'个文件!',
    //             dictFileTooBig: '请您上传'+'<?= $maxFilesize ?>'+'M以下文件!',
    //             init: function() {
    //                 var me = this

    //                 if ('<?= $files ?>') {
    //                     var files = JSON.parse('<?= $files ?>');
    //                     var num = 0;
    //                     for(var i in files) {
    //                         var mockFile = { name: files[i].name, size: files[i].size };
    //                         me.emit('addedfile', mockFile)
    //                         me.emit('thumbnail', mockFile, files[i].path)
    //                         me.createThumbnailFromUrl(mockFile, files[i].path);
    //                         me.emit('complete', mockFile)
    //                         num++;
    //                     }
    //                     me.options.maxFiles = me.options.maxFiles - num
    //                 }

    //                 $('#<?= $uploader_uniqid ?>').on('click', function(){
    //                     me.processQueue()
    //                     return false
    //                 })
    //                 me
    //                     .on('success', function(file, data){
    //                         if (data.error) {
    //                             alert(data.error);
    //                             me.removedfile(file);
    //                         }
    //                     })
    //                     .on('error', function(file){
    //                         // me.removeFile(file);
    //                     })
    //                     .on('removedfile', function(file){
    //                         $.ajax({
    //                             type: 'POST',
    //                             url: "<?= $removeUrl ?: 'ajax/unpc/removeFile' ?>",
    //                             data: {
    //                                 name: file.name
    //                             },
    //                             complete: function() {
    //                                 me.options.maxFiles = me.options.maxFiles + 1;
    //                             }
    //                         });
    //                     });
    //             }
    //         })
    //     } catch(e) {
    //         console.log(e);
    //         alert('浏览版本过低，不支持文件上传!');
    //     }
    // })
})
</script>
