<form class="form-horizontal" method="POST" action="<?= URL("/command/Post/Add/{$category->identity}") ?>">
<div class="gini-padding">
    <div class="box">
        <h4 class="left" style="flex: 0 0 70%;"><i class="icon-apply"></i> <?= H(T('添加文章')) ?></h4>
        <div class="line"></div>
        <h4 class="right" style="flex: 0 0 30%;"><i class="icon-setting"></i> <?= H(T('二级菜单')) ?></h4>
    </div>
    <div class="box">
        <div class="left" style="flex: 0 0 70%;">
            <div class="card  gini-list">
                <div class="card-body gini-body">
                    <div class="">
                        <div class="form-group">
                            <label  for="title"><?= H(T('请输入标题')) ?></label>
                            <input class="form-control <?= $form['_errors'] ? 'is-invalid' : '' ?>" id="title" type="text" name="title" value="<?= $form['title'] ?>">
                        </div>
                        <div class="hr">&#160;</div>
                        <?php if ($category->type == \Gini\ORM\Category::TYPE_POST): ?>
                            <?= U('components/coder', [
                                'name' => 'content',
                                'content' => $form['content']
                            ]) ?>
                        <?php elseif ($category->type == \Gini\ORM\Category::TYPE_FILE): ?>
                            <?= U('components/upload', [
                                'url' => 'ajax/unpc/post/upload/0',
                                'removeUrl' => 'ajax/unpc/post/removeUrl/0'
                            ]) ?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="right" style="flex: 0 0 30%;">
            <div class="card gini-list setting-add-btn">
                <div class="card-body gini-body" id="tags">
                    <?php foreach ($tags as $tag): ?>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input name="tag[]" value="<?= $tag->id ?>" class="form-check-input"
                                    type="checkbox" <?= in_array($tag->id, (array)$form['tag']) ? 'checked="checked"' : '' ?> >
                                <?= H(T($tag->name)) ?>
                            </label>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
            <div class="card gini-list">
                <div class="card-body">
                    <button class="btn btn-save" type="submit" name="submit" value="draft">
                        <i class="fa fa-edit fa-fw"></i><?= H(T('存为草稿')) ?>
                    </button>
                    <button class="btn btn-ok" type="submit" name="submit" value="publish">
                        <i class="fa fa-check fa-fw"></i><?= H(T('立即发布')) ?>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
