<form class="form-horizontal" method="POST" action="<?= URL("/command/post/edit/{$post->id}") ?>">
<div class="gini-padding">
    <div class="box">
        <h4 class="left" style="flex: 0 0 70%;"><i class="icon-edit"></i> <?= H(T('编辑文章')) ?></h4>
        <div class="line"></div>
        <h4 class="right" style="flex: 0 0 30%;"><i class="icon-setting"></i> <?= H(T('二级菜单')) ?></h4>
    </div>
    <div class="box">
        <div class="left" style="flex: 0 0 70%;">
            <div class="card  gini-list">
                <div class="card-body gini-body">
                    <div class="">
                        <div class="form-group">
                            <label class="" for="title"><?= H(T('请输入标题')) ?></label>
                            <input class="form-control <?= $form['_errors'] ? 'is-invalid' : '' ?>" id="title"
                                   type="text" name="title"
                                   value="<?= $form['_errors'] ? H($form['title']) : H($post->title) ?>">
                        </div>
                        <div class="hr">&#160;</div>
                        <div class="">
                            <?php if ($post->category->type == \Gini\ORM\Category::TYPE_POST): ?>
                                <?= U('components/coder', [
                                    'name' => 'content',
                                    'pid' => (int)$post->id,
                                    'content' => $form['_errors'] ? $form['content'] : $post->content
                                ]) ?>
                                <?php
                            elseif ($post->category->type == \Gini\ORM\Category::TYPE_FILE):
                                $vars = [
                                    'url' => "ajax/unpc/post/upload/{$post->id}",
                                    'removeUrl' => "ajax/unpc/post/removeFile/{$post->id}"
                                ];
                                if ($post->fullPath) {
                                    if (file_exists($post->fullPath)) {
                                        $vars['files'] = json_encode([
                                            [
                                                'path' => $post->fullPath,
                                                'size' => filesize($post->fullPath),
                                                'name' => $post->fileName
                                            ]
                                        ]);
                                    }
                                }
                                ?>
                                <?= U('components/upload', $vars) ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="right" style="flex: 0 0 30%;">
            <div class="card panel-primary gini-list setting-add-btn">
                <div class="card-body gini-body" id="tags">
                    <?php $selected_tags = (array)($form['_errors'] ? $form['tag'] : $ctags); ?>
                    <?php foreach ($tags as $tag): ?>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input name="tag[]" value="<?= $tag->id ?>" class="form-check-input"
                                       type="checkbox" <?= in_array($tag->id, $selected_tags) ? 'checked="checked"' : '' ?> >
                                <?= H(T($tag->name)) ?>
                            </label>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
            <div class="card panel-primary gini-list">
                <div class="card-body">
                    <button class="btn btn-save " type="submit" name="submit" value="draft">
                        <i class="fa fa-edit fa-fw"></i><?= H(T('存为草稿')) ?>
                    </button>&#160;
                    <button class="btn btn-ok " type="submit" name="submit" value="publish">
                        <i class="fa fa-check fa-fw"></i><?= H(T('立即发布')) ?>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
