<div id="edit-instrument-modal" class="modal fade in">
<div class="modal-dialog"><div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title"><?= H(T('图片调整')) ?></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding-top:10px;">
        <div class="gini-list">
            <?php
				$path = $content->filePath();
                $imgs = [];
                \Gini\File::eachFilesIn($path, function($file) use (&$imgs) {
                    $imgs[] = $file;
                });
                $vars = [
                    'acceptedFiles' => '.png,.jpg,.jpeg',
                    'url' => URL("/ajax/hnucm/command/upload/{$content->id}"),
                    'removeUrl' => URL("/ajax/hnucm/command/remove-file/{$content->id}")
                ];
                if (count($imgs)) {
                    $files = [];
                    foreach ($imgs as $file){
                        $fullpath = $path.$file;
                        $files[] = [
                            'name' => $file,
                            'size' => filesize($fullpath),
                            'path' => "!content/icon/{$content->id}/{$file}"
                        ];
                    }
                    $vars['files'] = json_encode($files);
                }
                echo U('components/upload', $vars);
			?>
        </div>
    </div>
</div></div>
</div>
<script data-ajax="true">
require(['main'], function($){

    var $modal = $('#edit-instrument-modal');
    $modal
    .on('hidden.bs.modal', function(){
        $modal.remove();
    })
    .modal();

    $('#edit-instrument-form').on('ajax-success', function(){
        $modal
        .removeAttr('id').modal('hide')
        .find('[id]').removeAttr('id');
    });

});
</script>