<div id="edit-platform-modal" class="modal fade in">
<div class="modal-dialog" style="max-width: 800px;"><div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title"><?= H(T('修改平台')) ?></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding-top:0px;">
        <form id="edit-platform-form" method="POST" action="gini-ajax:ajax/dlmu/command/edit-platform/<?= (int)$content->id ?>">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-lg <?= isset($form['_errors']['title']) ? ' has-error':'' ?>">
                    <?php if (isset($form['_errors']['title'])) { ?>
                    <span class="label label-danger pull-right">
                        <?= H($form['_errors']['title']) ?>
                    </span>
                    <?php } ?>
                    <label class="control-label" for="title"><?= H('名称') ?></label>
                    <input id="title" name="title" type="text" class="form-control" value="<?= H($form['_errors'] ? $form['title'] : $content->title) ?>"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-lg <?= isset($form['_errors']['name']) ? ' has-error':'' ?>">
                    <?php if (isset($form['_errors']['name'])) { ?>
                    <span class="label label-danger pull-right">
                        <?= H($form['_errors']['name']) ?>
                    </span>
                    <?php } ?>
                    <label class="control-label" for="name"><?= H(T('负责人')) ?></label>
                    <input id="name" name="name" type="text" class="form-control" autocomplete="off" value="<?= H($form['_errors'] ? $form['name'] : $content->name) ?>" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-lg label-floating is-empty">
                    <label for="url" class="control-label"><?= H(T('外链地址')) ?></label>
                    <input id="url" name="url" type="text" class="form-control" autocomplete="off" value="<?= H($form['_errors'] ? $form['url'] : $content->link_url) ?>" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-lg label-floating is-empty">
                    <label for="phone" class="control-label"><?= H(T('简介')) ?></label>
                    <?= U('components/coder', ['name' => 'description', 'content' => $form['_errors'] ? $form['description'] : $content->description ]) ?>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <button class="btn btn-save btn-raised" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel"></i><?= H(T('关闭')) ?></button>
            <button class="btn btn-ok btn-raised" form="edit-platform-form" type="submit"><i class="icon-check"></i> <?= H(T('修改')) ?></button>
        <div class="row">
    </div>
</div></div>
</div>
<script data-ajax="true">
require(['main'], function($){

    var $modal = $('#edit-platform-modal');
    $modal
    .on('hidden.bs.modal', function(){
        $modal.remove();
    })
    .modal();

    $('#edit-platform-form').on('ajax-success', function(){
        $modal
        .removeAttr('id').modal('hide')
        .find('[id]').removeAttr('id');
    });

    var $edit = KindEditor.create('#editor', {
        filterMode: false,
        width: '100%',
        height: '300px',
        items: [
            'source', '|', 'justifyleft', 'justifycenter', 'justifyright',
            'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', '|', 'fullscreen',
            'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
            'italic', 'underline', 'strikethrough', 'lineheight', '|', 'table', '|', 'image', 'multiimage',
            'insertfile', 'link', 'unlink', 'media', 'flash'
        ],
        resizeType: 1,
        uploadJson: 'ajax/admin/post/editorUpload/' + <?= (int)$pid ?>,
        basePath: 'assets/',
        themesPath: 'assets/css/',
        fontSizeTable: ['9px', '10px', '12px', '14px', '16px', '18px', '22px', '24px', '32px', '48px']
    })
    $edit.sync()

});
</script>