<div class="gini-padding">
	<div class="box">
        <h4 class="left"><i class="icon-equipment02"></i> <?= H(T('科研设施展示管理')) ?></h4>
	</div>
    <div class="box">
        <div class="left">
            <div class="card user-list" style="padding: 0;">
                <div class="gini-header">
                    <a href="gini-ajax:ajax/hnucm/command/add-instrument" class="btn btn-ok">
                        <i class="icon-add"></i> <?= H(T('添加设施'))?>
                    </a>
				</div>
                <div class="card-body">
                    <table class="table table-striped table-condensed table-hover user-table list">
                        <thead>
                            <tr>
                                <th style="white-space:nowrap"></th>
                                <th style="white-space:nowrap"><?= H(T('设施名称'))?></th>
                                <th style="white-space:nowrap"><?= H(T('负责人'))?></th>
                                <th style="white-space:nowrap"><?= H(T('简介'))?></th>
                                <th style="white-space:nowrap"></th>
                            </tr>
                        </thead>
                        <tbody id="platform-list">
                            <?php 
                                foreach ($contents as $k => $con): 
                            ?>
                                <tr>
                                    <th style="white-space:nowrap"><?= str_pad($con->id, 6, '0', STR_PAD_LEFT); ?></th>
                                    <th style="white-space:nowrap"><?= H($con->title) ?></th>
                                    <th style="white-space:nowrap"><?= H($con->name) ?></th>
                                    <th >
                                        <?= mb_substr(strip_tags($con->description), 0, 50) . '...' ?>
                                    </th>
                                    <th style="white-space:nowrap">
                                        <a href="gini-ajax:ajax/hnucm/command/edit-instrument-img/<?= (int)$con->id ?>" class="pull-right">
                                            <i class="icon-gallery">&#160;</i>
                                        </a>
                                        <a href="gini-ajax:ajax/hnucm/command/edit-instrument/<?= (int)$con->id ?>" class="pull-right">
                                            <i class="icon-apply">&#160;</i>
                                        </a>
                                        <a class="pull-right"
                                            data-confirm="<?= H(T('您确认删除科研设施:title吗?', [':title'=>$con->title])) ?>"
                                            data-confirm-description="<?= H(T('点击确认后会删除该科研设施信息, 请谨慎处理!')) ?>"
                                            href="gini-ajax:ajax/hnucm/command/delete-instrument/<?= (int)$con->id ?>"
                                            >
                                            <i class="icon-cancel">&#160;</i>
                                        </a>
                                    </th>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>