<?php
	/*
	* Unpc 通过Route自行来对Header上所有选项进行默认配置
	*/
	$route = \Gini\CGI::route();
    if ($route) $args = explode('/', $route);
    if (count($args) == 1 and $args[0] == 'comamnd') {
    	$args = ['comamnd', 'config', 'design'];
    }
    $_setActive = function($group='config', $active='design') use ($args) 
    {
    	return ( ($group == $args[1] and $active == $args[2])
    		or  (!$args[0] and !$args[1]) ) ? 'active' : '';
    };
    $_setModuleActive = function($group = 'config') use ($args)
    {
    	return ($group == $args[1]) ? 'active' : '';
    };
    $me = _G('ME');
?>
<div class="logo-container">
	<a class="font" href="<?= URL("/command/config") ?>">
		<img src="<?= URL("/assets/icon/main.png") ?>" />
	</a>
</div>
<ul class="nav flex-column" >
	<?php if ($me->isAllowedTo('管理')): ?>
		<li class="nav-item">
			<a href="<?= URL("/command/user") ?>" class="nav-link <?= $_setActive('user','')?>" data-toggle="tooltip" data-placement="right" data-original-title="<?= H(T('账户管理'))?>">
				<i class="icon-account-management"></i><span class="icon-title"> <?= H(T('账户管理'))?></span>
			</a>
		</li>
		<li class="nav-item">
			<a href="<?= URL("/command/config") ?>" class="nav-link <?= $_setActive('config', '')?>" data-toggle="tooltip" data-placement="right" data-original-title="<?= H(T('系统配置'))?>">
				<i class="icon-system-setting"></i><span class="icon-title"> <?= H(T('系统配置'))?></span>
			</a>
		</li>
		<li class="nav-item">
			<a href="<?= URL("/command/config/seo") ?>" class="nav-link <?= $_setActive('config', 'seo')?>" data-toggle="tooltip" data-placement="right" data-original-title="<?= H(T('SEO优化'))?>">
				<i class="icon-SEO"></i><span class="icon-xx"></span>&#160;&#160;<?= H(T('SEO优化'))?>
			</a>
		</li>
	<?php endif; ?>
	<li class="nav-item">
		<a href="<?= URL("/command/modules/list") ?>" class="nav-link <?= $_setActive('modules', 'list')?>" data-toggle="tooltip" data-placement="right" data-original-title="<?= H(T('模块建设'))?>">
			<i class="icon-module-building"></i><span class="icon-title"> <?= H(T('模块建设'))?></span>
		</a>
	</li>
	<li class="nav-item dropdown down-list" id="module-setting-list">
		<a href="#" data-target="#" class="dropdown-toggle nav-link  <?= $_setModuleActive('module') ?>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<i class="icon-module-setting"></i><span class="icon-title"> <?= H(T('模块设置'))?></span>
		</a>
		<div class="dropdown-menu">
			<a href="<?= URL("/command/module/equipment") ?>" class="dropdown-item <?= $_setActive('module', 'equipment')?>">
				<span class=""><?= H(T('仪器列表'))?></span>
			</a>
			<a class="dropdown-divider"></a>
			<a class="dropdown-header text-white"><?= H(T('自定义模块')) ?></a>
			<?php foreach(_G('MODS') as $module): if($module->identity == 'equipment') continue;?>
			<a class="dropdown-item <?= $_setActive('module', $module->identity)?>" href="<?= URL(strtr('command/module/%module', ['%module' => $module->identity])) ?>" >
				<?= H(T($module->name))?>
			</a>
			<?php endforeach; ?>
		</div>
	</li>
	<?php if ($me->isAllowedTo('管理')): ?>
	<li class="nav-item ">
		<a href="<?= URL("/command/config/nav") ?>" class="nav-link <?= $_setActive('config', 'nav')?>" data-toggle="tooltip" data-placement="right" data-original-title="<?= H(T('导航设置'))?>">
			<i class="icon-nav-setting"></i><span class="icon-title"> <?= H(T('导航设置'))?></span>
		</a>
	</li>
	<li class="nav-item">
		<a href="<?= URL("/command/config/layout") ?>" class="nav-link <?= $_setActive('config', 'layout')?>" data-toggle="tooltip" data-placement="right" data-original-title="<?= H(T('首页布局'))?>">
			<i class="icon-index-frame"></i><span class="icon-title"> <?= H(T('首页布局'))?></span>
		</a>
	</li>
	<?php endif; ?>
	<li class="nav-item">
		<a href="<?= URL('/hnucm/command/instrument')?>" class="nav-link <?= $_setActive('command', 'instrument')?>" data-toggle="tooltip" data-placement="right" data-original-title="<?= H(T('科研设施展示'))?>">
			<i class="icon-equipment"></i>
			<span class="icon-title"><?= H(T('设施管理'))?></span>
		</a>
	</li>
	<li class="nav-item">
		<a href="<?= URL('/hnucm/command/platform')?>" class="nav-link <?= $_setActive('command', 'platform')?>" data-toggle="tooltip" data-placement="right" data-original-title="<?= H(T('平台展示'))?>">
			<i class="icon-homepage"></i>
			<span class="icon-title"><?= H(T('平台管理'))?></span>
		</a>
	</li>
</ul>