<?php
	$urls = (array)\Gini\Config::get('url');
	$urls = (array)$urls['replace'];
	$replace = [];
	foreach ($urls as $url) {
		$replace[$url] = _G('system.host');
	}
?>
<div class="col-md-12" style='border-bottom: 1px solid #E7E7E7;margin-top: 16px;'>
	<div class="box">
		<div class="icon" style='border-radius: 0px;'>
			<a href="<?= \Gini\URI::url('equipment/'.$equipment['id']) ?>"><img src="<?= strtr(H($equipment['icon128_url']), $replace) ?>" alt="<?= H($equipment['name']) ?>" /></a>
		</div>
		<div class="content">
			<div class="title">
				<div class="row">
					<div class="col-xs-6">
						<a href="<?= \Gini\URI::url('equipment/'.$equipment['id']) ?>" class="c" >
							<?= H($equipment['name']) ?>
						</a>
					</div>
					<div class="col-xs-6" style="padding-left: 0px; min-height: 32px;">
						<div class="action">
							<?php if($equipment['accept_reserv']): ?>
								<span class="label label-success" style="background-color: rgba(0,0,0,0);
    color: #f0ad4e;
    border: 1px solid #f0ad4e;
    padding: 4px 20px;
    border-radius: 43px;">
									<a style="color: #f0ad4e;" href="<?= strtr(H($equipment['reserv_url']), $replace) ?>" target="_blank"><?= H(T('预约')) ?></a>
								</span>
							<?php endif; ?>
							<?php if($equipment['accept_sample']): ?>
								&#160;
								<span style="    background-color: #f0ad4e;
    padding: 4px 20px;
    border-radius: 43px;
    border: 1px solid #f0ad4e;"  class="label label-warning">
									<a href="<?= strtr(H($equipment['sample_url']), $replace) ?>" target="_blank"><?= H(T('送样')) ?></a>
								</span>
							<?php endif; ?>
							<span class='heart'>
								<a style='width:100%;height:100%;display:block;'  href="<?= strtr(H($equipment['sample_url']), $replace) ?>" target="_blank"></a>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-xs-2">
						<span class="d"><?= H(T('【联系人】 '))?></span>
					</div>
					<div class="col-xs-10">
						<?= H($equipment['contact']) ?>
					</div>
				</div>
			</div>
			<div class="address">
				<div class="row">
					<div class="col-xs-2">
						<span class="d"><?= H(T('【地址】'))?></span>
					</div>
					<div class="col-xs-10">
						<?= H($equipment['location'].$equipment['location2']) ?>
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-xs-2">
						<span class="d"><?= H(T('【电话】'))?></span>
					</div>
					<div class="col-xs-10">
						<?= H($equipment['phone']) ?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>