<style>
	.cc{
		padding-top: 20px;
	        font-weight: normal;
	        color: #000 !important;

	}
</style>
<div class="container-fluid equipment-info">
	<?= V('category-header') ?>
	<div class="col-md-12 u-box">
		<div class="eq-info">
			<div class="eq-container">
				<ol class="breadcrumb">
					<li><a href="/"><?= T('首页')?></a></li>
					<li><a href="/category/equipment"><?= H(T('仪器列表')) ?></a></li>
					<li class="active"><?= H($equipment['name']) ?></li>
				</ol>
			</div>
			<div class="eq-content">
				<div class="row">
					<div class="col-md-5">
						<img  width="400px" height="300px"
							src="<?= strtr(H($equipment['icon128_url']), [
								'172.17.42.1' => Hub('config.design.system')['baseUrl'],
								'127.0.0.1' => Hub('config.design.system')['baseUrl']
							]) ?>"
							alt="<?= H($equipment['name']) ?>" />
					</div>
					<div class="col-md-7">
						<div class="b" style="height: 160px;">
							<div class="row">
								<div class="col-xs-12">
									<div class="t">
										<?= H($equipment['name']) ?>
										<?php if($equipment['accept_reserv']): ?>
											<span class="label label-success">
												<a href="<?= strtr($equipment['reserv_url'], [
													'172.17.42.1' => Hub('config.design.system')['baseUrl'],
													'127.0.0.1' => Hub('config.design.system')['baseUrl']
												]) ?>" target="_blank"><?= H(T('预约')) ?></a>
											</span>
										<?php endif; ?>
										<?php if($equipment['accept_sample']): ?>
											&#160;
											<span class="label label-warning">
												<a href="<?= strtr($equipment['sample_url'], [
													'172.17.42.1' => Hub('config.design.system')['baseUrl'],
													'127.0.0.1' => Hub('config.design.system')['baseUrl']
												])?>" target="_blank"><?= H(T('送样')) ?></a>
											</span>

										<?php endif; ?>
											<span class='heart' style="position: static;float: right;">
                                                                <a style='width:100%;height:100%;display:block;'  href="<?= strtr($equipment['sample_url'], [
                                                                                '172.17.42.1' => Hub('config.design.system')['baseUrl'],
                                                                                '127.0.0.1' => Hub('config.design.system')['baseUrl']
                                                                        ])?>" target="_blank"></a>
                                                        </span>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="hr"></div>
								</div>
								<div class="col-xs-12" style="margin-top:20px;">
									<div class="bbox">
										<div class="row">
											<div class="col-xs-12 col-md-3">

												<div class="n"><?= H(T('联系人'))?></div>

											</div>
											<div class="col-xs-12 col-md-9">
											    <div class="c"><?= H($equipment['contact'])?></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="bbox">
										<div class="row">
											<div class="col-xs-12 col-md-3">
												<div class="n"><?= H(T('生产厂家'))?></div>
											</div>
											<div class="col-xs-12 col-md-9">
												<div class="c"><?= H($equipment['manufacturer'])?></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="bbox">
										<div class="row">
											<div class="col-xs-12 col-md-3">
												<div class="n"><?= H(T('邮箱'))?></div>
											</div>
											<div class="col-xs-12 col-md-9">
												<div class="c"><?= H($equipment['email'])?></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="bbox">
										<div class="row">
											<div class="col-xs-12 col-md-3">
												<div class="n"><?= H(T('型号'))?></div>
											</div>
											<div class="col-xs-12 col-md-9">
												<div class="c"><?= H($equipment['model_no'].$equipment['cat_no'])?></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="bbox">
										<div class="row">
											<div class="col-xs-12 col-md-3">
												<div class="n"><?= H(T('电话'))?></div>
											</div>
											<div class="col-xs-12 col-md-9">
												<div class="c"><?= H($equipment['phone'])?></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="bbox">
										<div class="row">
											<div class="col-xs-12 col-md-3">
												<div class="n"><?= H(T('购买日期'))?></div>
											</div>
											<div class="col-xs-12 col-md-9">
												<div class="c"><?= H(date('Y/m/d', $equipment['purchased_date']))?></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="margin-top:20px">
						<div class="hr"></div>
						<div class="c">
							<div class="row">
								<div class="col-md-12"><?= H(T('主要规格和技术参数'))?></div>
								<div class="col-md-12">
									<div class="cc"><?= H($equipment['tech_specs']) ?></div>
								</div>
								<div class="col-md-12"><?= H(T('主要功能及特色'))?></div>
								<div class="col-md-12">
									<div class="cc"><?= H($equipment['features']) ?></div>
								</div>
								<div class="col-md-12"><?= H(T('主要附件及配置'))?></div>
								<div class="col-md-12">
									<div class="cc"><?= H($equipment['configs']) ?></div>
								</div>
								<div class="col-md-12"><?= H(T('当前使用者'))?></div>
                                                                <div class="col-md-2" style="text-align: right;">
                                                                        <div class="cc"><?= H('使用人') ?></div>
                                                                </div>
								<div class="col-md-10">
                                                                        <div class="cc"><?= H($equipment['current_user']) ?></div>
                                                                </div>
								<div class="col-md-12"><?= H(T('开放时间'))?></div>
								<div class="col-md-2" style="text-align: right;">
                                                                        <div class="cc"><?= H('添加预约最早可提前') ?></div>
                                                                </div>
                                                                <div class="col-md-10">
                                                                        <div class="cc"><?= H($equipment['accept_limit_time'].'分钟') ?></div>
                                                                </div>
								<div class="col-md-2" style="text-align: right;">
                                                                        <div class="cc"><?= H('添加预约最晚可提前') ?></div>
                                                                </div>
                                                                <div class="col-md-10">
                                                                        <div class="cc"><?= H($equipment['accept_limit_time'].'分钟') ?></div>
                                                                </div>
								<div class="col-md-2" style="text-align: right;">
                                                                        <div class="cc"><?= H('修改/删除预约最晚可提前') ?></div>
                                                                </div>
                                                                <div class="col-md-10">
                                                                        <div class="cc"><?= H($equipment['accept_limit_time'].'分钟') ?></div>
                                                                </div>

								<div class="col-md-12"><?= H(T('计费设置'))?></div>
                                                                <div class="col-md-2" style="text-align: right;">
                                                                        <div class="cc"><?= H('预约计费设置') ?></div>
                                                                </div>
                                                                <div class="col-md-10">
                                                                        <div class="cc"><?= H('免费使用') ?></div>
                                                                </div>
                                                                <div class="col-md-2" style="text-align: right;">
                                                                        <div class="cc"><?= H('使用计费设置') ?></div>
                                                                </div>
                                                                <div class="col-md-10">
                                                                        <div class="cc"><?= H('免费使用') ?></div>
                                                                </div>
                                                                <div class="col-md-2" style="text-align: right;">
                                                                        <div class="cc"><?= H('送样计费设置') ?></div>
                                                                </div>
                                                                <div class="col-md-10">
                                                                        <div class="cc"><?= H('免费检测') ?></div>
                                                                </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>