<div id="add-user-modal" class="modal fade in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><?= H(T('添加新用户')) ?></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top:0px;">
                <form id="add-user-form" method="POST" action="gini-ajax:ajax/unpc/add-user">
                    <div class="form-group">
                        <div class="container">
                            <div class="row justify-content-between">
                                <label for="" class=""><?= H('登录账号') ?></label>
                                <input id="username" name="username" type="text"
                                       class="form-control  order-12 <?= isset($form['_errors']['username']) ? ' is-invalid' : '' ?>"
                                       value="<?= H($form['username']) ?>"/>
                                <?php if (isset($form['_errors']['username'])) { ?>
                                    <div class="invalid-feedback  order-1">
                                        <?= H($form['_errors']['username']) ?>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <div class="d-felx justify-content-between">
                                <label class="" for="name"><?= H(T('姓名')) ?></label>
                                <input id="name" name="name" type="text"
                                       class="form-control order-12 <?= isset($form['_errors']['name']) ? ' is-invalid' : '' ?>"
                                       autocomplete="off"
                                       value="<?= H($form['name']) ?>"/>
                                <?php if (isset($form['_errors']['name'])) { ?>
                                    <div class="invalid-feedback  order-1">
                                        <?= H($form['_errors']['name']) ?>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="" for="password"><?= H(T('密码')) ?></label>
                            <input id="password" name="password" type="text"
                                   class="form-control order-12 <?= isset($form['_errors']['password']) ? ' is-invalid' : '' ?>"
                                   autocomplete="off"
                                   value="<?= H($form['password']) ?>"/>
                            <?php if (isset($form['_errors']['password'])) { ?>
                                <div class="invalid-feedback order-1">
                                    <?= H($form['_errors']['password']) ?>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <div class="">
                                <label for="email" class=""><?= H(T('电子邮件')) ?></label>
                                <input type="text" class="form-control" id="email" name="email" autocomplete="off"
                                       value="<?= H($form['email']) ?>">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="">
                                <label for="phone" class=""><?= H(T('联系电话')) ?></label>
                                <input type="text" class="form-control" id="phone" name="phone" autocomplete="off"
                                       value="<?= H($form['phone']) ?>">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class=" btn btn-save " data-dismiss="modal" aria-hidden="true">
                    <i class="icon-cancel"></i> <?= H(T('关闭')) ?>
                </button>
                <button class=" btn btn-ok " form="add-user-form" type="submit">
                    <i class="icon-add"></i> <?= H(T('添加')) ?>
                </button>
            </div>
        </div>
    </div>
</div>
<script data-ajax="true">
    require(['main'], function ($) {

        var $modal = $('#add-user-modal');
        $modal
            .on('hidden.bs.modal', function () {
                $modal.remove();
            })
            .modal();

        $('#add-user-form').on('ajax-success', function () {
            $modal
                .removeAttr('id').modal('hide')
                .find('[id]').removeAttr('id');
        });

    });
</script>
