<div id="add-user-modal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color: #000"><?= H(T('添加新模板')) ?></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label class="" for="username"><?= H('模板名称') ?></label>
                                <input id="mould-name" name="mould-name" type="text"
                                       class="form-control <?= isset($form['_errors']['username']) ? ' is-invalid' : '' ?>"
                                       value="<?= H($form['username']) ?>"/>
                                <?php if (isset($form['_errors']['username'])) { ?>
                                    <span class="label label-danger pull-right invalid-feedback">
                                        <?= H($form['_errors']['username']) ?>
                                    </span>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-save " data-dismiss="modal" aria-hidden="true"><i
                            class="fa fa-times fa-fw "></i><?= H(T('关闭')) ?></button>
                <button class="btn btn-ok " form="add-user-form" type="submit" id="add-mould-form"><i
                            class="fa fa-plus fa-fw"></i> <?= H(T('添加')) ?></button>
                <script data-ajax="true">
                    require(['main'], function ($) {

                        var $modal = $('#add-user-modal');
                        $modal
                            .on('hidden.bs.modal', function () {
                                $modal.remove();
                            })
                            .modal();

                        $('#add-mould-form').on('ajax-success', function () {
                            $modal
                                .removeAttr('id').modal('hide')
                                .find('[id]').removeAttr('id');
                        });

                    });
                </script>
            </div>
        </div>
    </div>
</div>
