<div id="edit-user-modal" class="modal fade in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?= H(T('修改密码')) ?></h4>
            </div>
            <div class="modal-body" style="padding-top:0px;">
                <form id="edit-user-form" method="POST" action="gini-ajax:ajax/unpc/editUser/<?= (int)$user->id ?>">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group-lg <?= isset($form['_errors']['password']) ? ' has-error' : '' ?>">
                                <?php if (isset($form['_errors']['password'])) { ?>
                                    <span class="label label-danger pull-right">
                            <?= H($form['_errors']['password']) ?>
                        </span>
                                <?php } ?>
                                <label class="" for="password"><?= H(T('密码')) ?></label>
                                <input id="password" name="password" type="text" class="form-control" autocomplete="off"
                                       value="<?= H($form['password']) ?>"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-save " data-dismiss="modal" aria-hidden="true"><i
                                class="fa fa-times fa-fw "></i><?= H(T('关闭')) ?></button>
                    <button class="btn btn-ok " form="edit-user-form" type="submit"><i
                                class="fa fa-plus fa-fw"></i> <?= H(T('修改')) ?></button>
            </div>
        </div>
        <script data-ajax="true">
            require(['main'], function ($) {

                var $modal = $('#edit-user-modal');
                $modal
                    .on('hidden.bs.modal', function () {
                        $modal.remove();
                    })
                    .modal();

                $('#edit-user-form').on('ajax-success', function () {
                    $modal
                        .removeAttr('id').modal('hide')
                        .find('[id]').removeAttr('id');
                });

            });
        </script>
