<div class="gini-padding">
	<div class="box">
        <h4 class="left"><i class="icon-user"></i> <?= H(T('用户管理')) ?></h4>
	</div>
	<div class="box">
        <div class="left">
            <div class="card user-list" style="padding: 0;">
                <div class="gini-header">
					<?php if (_G('ME')->isAllowedTo('管理')): ?>
                        <a href="gini-ajax:ajax/unpc/add-user" class="btn btn-ok">
                            <i class="icon-add"></i> <?= H(T('新用户')) ?>
                        </a>
					<?php endif; ?>
				</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th scope="col" >登录名</th>
                            <th scope="col" >姓名</th>
                            <th scope="col" >联系方式</th>
                            <th scope="col" >注册时间</th>
                            <th scope="col" >管理员</th>
                            <th scope="col" >操作</th>
                        </tr>
                        </thead>
                        <tbody id="users">
                        <tr class="loading">
                            <td colspan="6" style="text-align:center">
                                <i class="fa fa-spinner fa-spin fa-2x"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <script>
                        require(['more'], function (More) {
                            var ajax_form = <?= json_encode($form) ?>;
                            new More({
                                start: 0,
                                root: '#users',
                                url: function () {
                                    return 'AJAX/Unpc/Users/' + this.start
                                },
                                data: {ajax_form: ajax_form}
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>