<?php if (count($users) == 0) { ?>
<tr data-more="-1">
    <td colspan="6" style="text-align:center">
        <br/>
    </td>
</tr>
<?php } else { ?>
<?php foreach($users as $user) {
	//因为是用sql语句得到的对象，所以需要重新实例化一下
	$user = a('user', ['id'=>$user->id]);
    echo U('admin/user/user-ajax', array('user'=>$user));
} ?>
<tr data-more="<?= intval($next_start) ?>">
    <td colspan="6"></td>
</tr>
<?php } ?>