<tr data-user-id="<?= intval($user->id) ?>" style="text-align: center;">
    <?php
    $me = _G('ME');
    $backends = \Gini\Config::get('auth.backends');
    list($username, $key) = \Gini\Auth::parseUserName($user->username);
    ?>
    <td style="vertical-align:middle;white-space:nowrap">
        <span class="text-success"><?= H($backends[$key]['short_title']) ?></span>
    </td>
    <td style="text-align:left;vertical-align:middle;white-space:nowrap">
        <span class="text-muted"><?= H($username) ?></span>
    </td>
    <td style="text-align:left;vertical-align:middle;white-space:nowrap">
        <a href="<?= URL("/user/{$user->id}") ?>"><?= H($user->name) ?></a>
    </td>
    <td style="text-align:left;vertical-align:middle;white-space:nowrap" class="hidden-xs">

        <?php if ($user->email) { ?>
            <i class="icon-mail"></i> <?= H($user->email) ?>
        <?php } ?>
        <?php if ($user->phone) { ?>
            <i class="icon-mobile"></i> <?= H($user->phone) ?>
        <?php } ?>
    </td>
    <td style="text-align:left;vertical-align:middle;white-space:nowrap" class="hidden-xs">
        <?php if($user->ctime) :?>
            <i class="icon-clock"></i> <span><?= H($user->ctime)?></span>
        <?php endif;?>
    </td>
    <td style="vertical-align:middle;white-space:nowrap">
        <div class="checkbox">
            <label>
            <?php if (_G('ME')->id == $user->id) {?>
                <input type="checkbox" <?= $user->admin ? ' checked' : '' ?> disabled /><span class="checkbox-material"><span class="check"></span></span>
            <?php } else { ?>
                <?php $switch_id = 'sw_'.uniqid(); ?>
                <input id="<?= $switch_id ?>" type="checkbox" data-href="ajax/unpc/switch/<?= H($user->id) ?>" <?= $user->admin ? ' checked' : '' ?> /><span class="checkbox-material"><span class="check"></span></span>
                <script data-ajax="true">
                require(['main'], function($){
                    $('#<?= $switch_id ?>').on('change', function(e) {
                        var $self = $(this);
                        $.post($self.data('href'), {admin:$self.prop('checked') ? 1 : 0});
                    });
                });
                </script>
            <?php } ?>
            </label>
        </div>
    </td>
    <td style="vertical-align:middle;white-space:nowrap;">
        <div class="pull-right">
            <a class="btn"
                href="gini-ajax:AJAX/Unpc/EditUser/<?= (int)$user->id ?>"
                >
                <i class="icon-edit"></i>
            </a>
            <a class="btn"
                data-confirm="<?= H(T('您确认删除用户:user吗?', [':user'=>$user->name])) ?>"
                data-confirm-description="<?= H(T('点击确认后会删除该用户信息, 请谨慎处理!')) ?>"
                href="gini-ajax:AJAX/Unpc/DeleteUser/<?= (int)$user->id ?>"
                >
                <i class="icon-cancel"></i>
            </a>
        </div>
    </td>
</tr>