<?php
$system = (array)Hub('config.design.system');
$_setSysValue = function ($name) use ($system, $form) {
    return $system[$name];
};
$colors = (array)Hub('config.design.color');
$_setColorValue = function ($name) use ($colors, $form) {
    return $colors[$name];
};
?>

<div class="gini-padding">
    <div class="box">
        <h4 class="left" style="width: 40%"><i class="icon-nav-setting"></i> <?= H(T('系统配置')) ?></h4>
        <div class="line"></div>
        <h4 class="right"><i class="icon-app-manage"></i> <?= H(T('颜色设置')) ?></h4>
    </div>
    <!-- 系统设置 -->
    <div class="box">
        <div class="left" style="width: 40%">
            <div class="card" >
                <div class="card-body">
                    <div class="panel-body gini-body">
                        <form method="POST" action="gini-ajax:AJAX/Unpc/Config/Design/system">
                            <div class="form-group  <?= $_setSysValue('name') ? '' : 'is-empty' ?>">
                                <label for="systemName" class=""><?= H(T('系统名称')) ?></label>
                                <input type="text" class="form-control" id="systemName" name="systemName"
                                    value="<?= H($_setSysValue('name')) ?>">
                                <span class="help-block"><?= H(T('请填写')) ?><code><?= H(T('前台系统名称')) ?></code></span>
                                <span class="material-input"></span>
                            </div>
                            <br>
                            <div class="form-group  <?= $_setSysValue('name') ? '' : 'is-empty' ?>">
                                <label for="apiUrl" class=""><?= H(T('API 地址')) ?></label>
                                <input type="text" class="form-control" id="apiUrl" name="apiUrl"
                                    value="<?= H($_setSysValue('url')) ?>">
                                <span class="help-block"><?= H(T('请填写')) ?><code><?= H(T('大仪平台API地址')) ?></code></span>
                                <span class="material-input"></span>
                            </div>
                            <br>
                            <div class="form-group  <?= $_setSysValue('name') ? '' : 'is-empty' ?>">
                                <label for="loginUrl" class=""><?= H(T('大仪平台登录地址')) ?></label>
                                <input type="text" class="form-control" id="loginUrl" name="loginUrl"
                                    value="<?= H($_setSysValue('loginUrl')) ?>">
                                <span class="help-block"><?= H(T('请填写')) ?><code><?= H(T('登录地址')) ?></code></span>
                                <span class="material-input"></span>
                            </div>
                            <br>
                            <div class="input-group flex-row-reverse mt-10">
                                <button class="btn  btn-block btn-ok" type="submit" name="submit">
                                    <i class="icon-check"></i> <?= H(T('更新')) ?>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="right">
            <div class="card">
                <div class="card-body">
                    <div class="panel-body">
                        <form method="POST" action="gini-ajax:AJAX/Unpc/Config/Design/color">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group minicolors-position-bottom">
                                        <label for="bg-color"><?= H(T('网站整体底色')) ?></label>
                                        <input type="text" id="bg-color" class="form-control minicolors " data-opacity="true"
                                            name="bgColor" value="<?= H($_setColorValue('bg')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group minicolors-position-bottom">
                                        <label for="font-color"><?= H(T('网站字体颜色')) ?></label>
                                        <input type="text" id="font-color" class="form-control minicolors" name="fontColor"
                                            value="<?= H($_setColorValue('font')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="main-title-color"><?= H(T('首页栏目名称颜色')) ?></label>
                                        <input type="text" id="main-title-color" class="form-control minicolors"
                                            name="mainTitleColor" value="<?= H($_setColorValue('mainTitle')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="moduleTitleColor"><?= H(T('模块标题字体颜色')) ?></label>
                                        <input type="text" id="moduleTitleColor" class="form-control minicolors"
                                            name="moduleTitleColor" value="<?= H($_setColorValue('moduleTitleColor')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="layoutBgColor"><?= H(T('首页布局默认背景色')) ?></label>
                                        <input type="text" id="layoutBgColor" class="form-control minicolors"
                                            name="layoutBgColor" value="<?= H($_setColorValue('layoutBgColor')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="nav-bg-color"><?= H(T('导航栏底色')) ?></label>
                                        <input type="text" id="nav-bg-color" class="form-control minicolors" data-opacity="true"
                                            name="navBgColor" value="<?= H($_setColorValue('navBg')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="nav-bg-active-color"><?= H(T('导航栏选中底色')) ?></label>
                                        <input type="text" id="nav-bg-active-color" class="form-control minicolors"
                                            data-opacity="true" name="navBgActiveColor"
                                            value="<?= H($_setColorValue('navBgActive')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="nav-font-color"><?= H(T('导航栏字体颜色')) ?></label>
                                        <input type="text" id="nav-font-color" class="form-control minicolors"
                                            name="navFontColor" value="<?= H($_setColorValue('navFont')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="nav-font-active-color"><?= H(T('导航栏字体选中颜色')) ?></label>
                                        <input type="text" id="nav-font-active-color" class="form-control minicolors"
                                            name="navFontActiveColor" value="<?= H($_setColorValue('navFontActive')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="activeTopBorder"><?= H(T('导航上边阴影颜色')) ?></label>
                                        <input type="text" id="activeTopBorder" class="form-control minicolors"
                                            name="activeTopBorder" value="<?= H($_setColorValue('activeTopBorder')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="activeBottomBorder"><?= H(T('导航下边阴影颜色')) ?></label>
                                        <input type="text" id="activeBottomBorder" class="form-control minicolors"
                                            name="activeBottomBorder"
                                            value="<?= H($_setColorValue('activeBottomBorder')) ?>"/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="activeBodyPrecent"><?= H(T('首页屏幕宽度边距')) ?></label>
                                        <input type="text" id="activeBodyPrecent" class="form-control"
                                            name="activeBodyPrecent"
                                            value="<?= H($_setColorValue('activeBodyPrecent')) ?>"/>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <button class="btn  btn-ok" type="submit" name="submit">
                                    <i class="icon-check"></i> <?= H(T('更新并编译')) ?>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <h4 class="left" style="width: 40%;"><i class="icon-data_analysis"></i> <?= H(T('标签栏图标')) ?></h4>
        <div class="line"></div>
        <h4 class="right"><i class="icon-data_analysis"></i> <?= H(T('首页背景图')) ?></h4>
    </div>
    <div class="box">
        <div class="left" style="width: 40%;">
            <!-- 图标icon上传设置 -->
            <div class="card">
                <div class="card-body">
                    <div class="panel-body mt-3">
                        <?php
                        $vars = [
                            'url' => 'AJAX/Unpc/Config/uploadShortcutIcon',
                            'removeUrl' => 'AJAX/Unpc/Config/removeShortcutIcon',
                            'description' => '图片大小最好是16 * 16px',
                            'appceptedFiles' => '.png,.ico'
                        ];
                        if ($filename = Hub('shortcut.filename')) {
                            $fullPath = APP_PATH . '/' . DATA_DIR . "/shortcut/";
                            $fullPath .= $filename;
                            if (is_link($fullPath)) {
                                $vars['files'] = json_encode([
                                    [
                                        'path' => "!shortcut/{$filename}",
                                        'size' => filesize($fullPath),
                                        'name' => $filename
                                    ]
                                ]);
                            }
                        }
                        ?>
                        <?= U('components/upload', $vars) ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="right">
            <!-- 背景图上传设置 -->
            <div class="card ">
                <div class="card-body">
                    <div class="mt-3">
                        <?php
                        $vars = [
                            'url' => 'AJAX/Unpc/Config/uploadBackgroundIcon',
                            'removeUrl' => 'AJAX/Unpc/Config/removeBackgroundIcon',
                            'description' => '图片最好为长条图片或校徽图标（仅支持png/jpg格式）',
                            'acceptedFiles' => '.png,.jpg',
                            'style' => 'warning'
                        ];

                        if ($filename = Hub('background.filename')) {
                            $fullPath = APP_PATH . '/' . DATA_DIR . "/background/";
                            $fullPath .= $filename;
                            if (file_exists($fullPath)) {
                                $vars['files'] = json_encode([
                                    [
                                        'path' => "!background/{$filename}",
                                        'size' => filesize($fullPath),
                                        'name' => $filename
                                    ]
                                ]);
                            }
                        }
                        ?>
                        <?= U('components/upload', $vars) ?>
                        <form class="mt-4" method="POST" action="gini-ajax:AJAX/Unpc/Config/UpdateBackgroundAttr">
                            <div class="form-group">
                                <label for="position" class="col-md-2 "><?= H(T('是否重复')) ?></label>
                                <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="repeat" type="radio" class="form-check-input"
                                                value="no" <?= (Hub('background.repeat') == 'no' || !Hub('background.repeat')) ? ' checked="checked" ' : '' ?> ><?= H(T('否')) ?>
                                        </label>
                                </div>
                                <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="repeat" type="radio" class="form-check-input"
                                                value="x" <?= Hub('background.repeat') == 'x' ? ' checked="checked" ' : '' ?> ><?= H(T('X轴重复')) ?>
                                        </label>
                                </div>
                                <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="repeat" type="radio" class="form-check-input"
                                                value="y" <?= Hub('background.repeat') == 'y' ? ' checked="checked" ' : '' ?> ><?= H(T('Y轴重复')) ?>
                                        </label>
                                </div>
                                <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="repeat" type="radio" class="form-check-input"
                                                value="xy" <?= Hub('background.repeat') == 'xy' ? ' checked="checked" ' : '' ?> ><?= H(T('XY轴重复')) ?>
                                        </label>
                                </div>
                                <div>
                                    <label for="position" class="col-md-2 "><?= H(T('显示位置')) ?></label>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="position" type="radio" class="form-check-input"
                                                value="left-top" <?= (Hub('background.position') == 'left-top' || !Hub('background.position')) ? ' checked="checked" ' : '' ?> ><?= H(T('左上')) ?>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="position" type="radio" class="form-check-input"
                                                value="left-bottom" <?= Hub('background.position') == 'left-bottom' ? ' checked="checked" ' : '' ?> ><?= H(T('左下')) ?>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="position" type="radio" class="form-check-input"
                                                value="right-bottom" <?= Hub('background.position') == 'right-bottom' ? ' checked="checked" ' : '' ?> ><?= H(T('右下')) ?>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group flex-row-reverse">
                                <button class="btn  btn-ok" type="submit" name="submit">
                                    <i class="icon-check"></i> <?= H(T('更新')) ?>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box"><div class="hr_2"></div></div>
</div>

