<div class="gini-padding">
    <div class="box">
		<h4 class="left" style="width: 200px;"><i class="icon-index-frame"></i> <?= H(T('首页布局')) ?></h4>
		<div class="line"></div>
		<?php $sysSetting = (array)Hub('config.design.system') ?>
		<div class="right" style="align-items:center;display:flex;flex-direction:row-reverse;">
			<a class="btn  btn-ok " href="javascript:;" id="update-gridster" style="margin-left: 6px;">
				<i class="icon-check">&#160;</i><?= H(T('更新'))?>
			</a>
			<a class="btn  btn-ok add-gridster" href="javascript:;"><i class="icon-add">&#160;</i><?= H(T('添加布局'))?></a>
		</div>
    </div>
	<div class="box">
		<div class="left" style="margin: 0px;">
			<div class="card user-list" style="padding: 0;">
                <div class="gini-header">
					<?= H($sysSetting['name'] ?: '大型仪器管理平台') ?>
				</div>
                <div class="card-body">
					<div class="gridster">
						<ul>
							<?php
								$n = 0;
								$layouts = those('layout')->orderBy('index');
								foreach ($layouts as $l): 
							?>
								<li
									data-row="<?= $l->row ?>" data-col="<?= $l->col ?>"
									data-sizex="<?= $l->sizex ?>" data-sizey="<?= $l->sizey ?>"
									data-index="<?= (int)$l->index ?>" data-type="<?= $l->type?>">
									<div class="layout-content">
										<p class="layout-active">
											<a href="<?= URL("/command/layout/set-view/{$l->index}") ?>" class="open-layout"><i class="icon-edit"></i></a>
											<button type="button" class="close">
												<i class="icon-cancel"></i>
											</button>
										</p>
										<div class="layout-module">
											<?php $l->render(); ?>
										</div>
									</div>
								</li>
							<?php
								$n = $l->index + 1;
								endforeach;
							?>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
require(['main'], function($){
	require(['jquery.gridster', 'css!../css/jquery.gridster'], function(){
		var $gridster = $(".gridster")
			, n = <?= (int)$n ?>
			, oWidth = ($gridster.width()) / 12
			, gridster = $(".gridster > ul").gridster({
				//单个布局的宽高 [宽px,高px]
		        widget_base_dimensions: [oWidth, oWidth]
		        //模块的间距 [上下 * 2px, 左右 * 2px]
		        , widget_margins: [0, 0]
		        //一个widget最大多少列
		        //, max_size_x: 12
		        //一个widget最大多少横
	            , max_size_y: 12
	            , max_cols: 12
	            //, max_rows: 12
		        , avoid_overlapped_widgets: true
		        , autogenerate_stylesheet: true
		        , resize: {
		        	enabled: true
		        	//, max_size: [12, 12]
		        	, stop: function(e, ui, $widget) {
		        		$widget.find('span.lable').html($widget.attr('data-sizex') + ' x ' + $widget.attr('data-sizey'))
		        	}
		        }
		        , draggable:{
					start: function(event, ui){
					},
					drag:function(event, ui){
					},
					stop: function(event, ui){
					}
				}
				, serialize_params: function($w, wgd) {
					return {
						col: wgd.col,
						row: wgd.row,
						size_x: wgd.size_x,
						size_y: wgd.size_y,
						type: $w.attr('data-type') || 0,
						index: $w.attr('data-index') || 0
					}
				}
		    }).data('gridster')

		$gridster.css('min-height', oWidth)

		var selfElement;
		var selfIndex;
		var layoutType = false;

		$('body')
		// 添加布局按钮，弹出dailog
		.on('click', '.add-gridster', function(e){
			$.ajax({
				type: "POST",
				url: "AJAX/Unpc/Layout/SelectType/" + 0,
				data: {
					t: 0,
				},
				success: function(html) {
	    			$('body').append(html).find('script[data-ajax]').remove();
				}
			});
		})
		// 添加布局dailog中提交按钮
		.on('click','.add-layout',function(e){
			var $modal = $('#layout-item-select-modal')
				, cItem = $modal.find('input[name=type]:checked')
    		, $item = $('.gridster li[data-index='+'<?= $index ?>'+']')
    		, v = cItem.val()
    		, c = cItem.parent().text();
			
			gridster.add_widget.apply(gridster, ['<li class="new" data-index="'+n+'" data-type='+v+' ><div class="layout-title">'+c+'</div></div></li>', 1, 1]);
			$modal.removeAttr('id').modal('hide');
			$.ajax({
				method: 'POST',
				url: 'ajax/unpc/layout/UpdateItems',
				data: {
					items: gridster.serialize()
				},
				success: function(html) {
					$('body').append(html);
					$.ajax({
						method: 'POST',
						url: 'ajax/unpc/layout/SetPreview',
						data: {
							index: n,
							type: v
						},
						success: function(data) {
							r = JSON.parse(data);
							$('[data-index='+n+'][data-type='+v+']')
							.prepend($(r.view).html())
							.find('.layout-title').remove();				
						}
					})
				}
			})
			e.preventDefault();
			return false;
		})
		.on('click', '.gridster .close', function(e){
			gridster.remove_widget.apply(gridster, $(this).closest('li'));
			e.preventDefault();
			return false;
		})
		.on('click', '#update-gridster', function(e){
			$.ajax({
				method: 'POST',
				url: 'ajax/unpc/layout/UpdateItems',
				data: {
					items: gridster.serialize()
				},
				success: function(html) {
					$('body').append(html);
					setTimeout(() => {
						location.reload();
					}, 500);
				}
			})
			return false;
		})
	})
})
</script>

