<?php
$nav = (array)Hub('config.nav');
$_setNavValue = function ($name) use ($nav, $form) {
    return $nav[$name];
};

$modules = (array)Hub('config.nav.modules');
$_setNavMoudleChecked = function ($name) use ($modules, $form) {
    return in_array($name, $modules) ? ' checked ' : '';
};
?>
<div class="gini-padding">
    <div class="box">
        <h4 class="left"><i class="icon-nav-setting"></i> <?= H(T('导航模块')) ?></h4>
        <div class="line"></div>
        <h4 class="right"><i class="icon-app-manage"></i> <?= H(T('导航栏配置')) ?></h4>
    </div>
    <div class="box">
        <div class="left">
            <div class="card">
                <div class="card-body">
                    <div class="gini-body">
                        <form class="form-horizontal" method="POST" action="gini-ajax:AJAX/Unpc/Config/NavModule">
                            <div class="form-group">
                                <div class="form-check col-5 form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="modules[]" disabled
                                               checked
                                               value="index"/>&#160;<?= H(T('首页')) ?>
                                    </label>
                                </div>
                                <?php foreach (_G('MODS') as $module): ?>
                                    <div class="form-check col-5 form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="modules[]"
                                                   value="<?= H(T($module->identity)) ?>" <?= $_setNavMoudleChecked($module->identity) ?> />&#160;<?= H(T($module->name)) ?>

                                        </label>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                            <div class="form-group ">
                                <div class="d-flex mr-5 flex-row-reverse">
                                    <button class="btn btn-ok btn-block" type="submit" name="submit">
                                        <i class="icon-check"></i> <?= H(T('更新')) ?>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="line"></div>
        <div class="right">
            <div class="card">
                <div class="card-body">
                    <div class="gini-body">
                        <form class="form-horizontal" method="POST" action="gini-ajax:AJAX/Unpc/Config/Nav">
                            <div class="form-group">
                                <label for="" class="col-md-3"><?= H(T('导航位置')) ?></label>
                                <div class="form-check form-check-inline">
                                    <label for="" class="form-check-label">
                                        <input name="position" type="radio" class="form-check-input"
                                               value="bottom" <?= $_setNavValue('position') != 'top' ? ' checked="checked" ' : '' ?> ><?= H(T('Logo下方')) ?>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label for="" class="form-check-label">
                                        <input name="position" type="radio" class="form-check-input"
                                               value="top" <?= $_setNavValue('position') == 'top' ? ' checked="checked" ' : '' ?> ><?= H(T('页面顶部')) ?>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 d-flex flex-row-reverse">
                                    <div class="menu-sample"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-md-3 "><?= H(T('展示形式')) ?></label>
                                </label>
                                <div class="form-check form-check-inline togglebutton">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="leftTop" class="form-check-input"
                                               autocomplete="off" <?= $_setNavValue('leftTop') ? 'checked' : '' ?> ><?= H(T('左上圆角')) ?>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline togglebutton">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="rightTop" class="form-check-input"
                                               autocomplete="off" <?= $_setNavValue('rightTop') ? 'checked' : '' ?> ><?= H(T('右上圆角')) ?>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 ">
                                </label>
                                <div class="form-check form-check-inline togglebutton">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="leftBottom" class="form-check-input"
                                               autocomplete="off" <?= $_setNavValue('leftBottom') ? 'checked' : '' ?> ><?= H(T('左下圆角')) ?>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline togglebutton">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="rightBottom" class="form-check-input"
                                               autocomplete="off" <?= $_setNavValue('rightBottom') ? 'checked' : '' ?> ><?= H(T('右下圆角')) ?>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 ">&nbsp;
                                </label>
                                <div class="form-check form-check-inline togglebutton">
                                    <label for="" class="form-check-label togglebutton">
                                        <input type="checkbox" name="hasShadow" class="form-check-input"
                                               autocomplete="off" <?= $_setNavValue('hasShadow') ? 'checked' : '' ?> ><?= H(T('是否有阴影')) ?>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group togglebutton">
                                <label class="col-md-3"><?= H(T('阴影位置')) ?></label>
                                <div class="form-check form-check-inline">
                                    <label for="" class="form-check-label">
                                        <input name="shadowPosition" type="radio" class="form-check-input"
                                               value="top" <?= $_setNavValue('shadowPosition') != 'bottom' ? ' checked="checked" ' : '' ?> /><?= H(T('上')) ?>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label for="" class="form-check-label">
                                        <input name="shadowPosition" type="radio" class="form-check-input"
                                               value="bottom" <?= $_setNavValue('shadowPosition') == 'bottom' ? ' checked="checked" ' : '' ?> /><?= H(T('下')) ?>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex mr-5 flex-row-reverse">
                                    <button class="btn btn-ok btn-block" type="submit" name="submit">
                                        <i class="icon-check"></i> <?= H(T('更新')) ?>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        require(['main'], function ($) {

            var sample = $('.menu .menu-sample')
                , toggleContainer = $('.togglebutton')
                , _setSampleStyle = function () {
                var position = $('input[name=shadowPosition]:checked')
                    , shadow = $('input[name=hasShadow]', toggleContainer)
                    , leftTop = $('input[name=leftTop]', toggleContainer)
                    , leftBottom = $('input[name=leftBottom]', toggleContainer)
                    , rightTop = $('input[name=rightTop]', toggleContainer)
                    , rightBottom = $('input[name=rightBottom]', toggleContainer)

                sample
                    .css('border-top-left-radius', leftTop.is(':checked') ? '5px' : '0px')
                    .css('border-top-right-radius', rightTop.is(':checked') ? '5px' : '0px')
                    .css('border-bottom-left-radius', leftBottom.is(':checked') ? '5px' : '0px')
                    .css('border-bottom-right-radius', rightBottom.is(':checked') ? '5px' : '0px')

                if (shadow.is(':checked')) {
                    if (position.val() == 'top') {
                        sample.css({
                            'border-top': '5px solid rgba(238,238,238,0.5)',
                            'border-bottom': 'none'
                        })
                    }
                    else {
                        sample.css({
                            'border-bottom': '5px solid rgba(238,238,238,0.5)',
                            'border-top': 'none'
                        })
                    }
                }
                else {
                    sample.css('border', 'none')
                }

            }

            $('input[type=checkbox]', toggleContainer).on('click', function () {
                setTimeout(_setSampleStyle, 1)
            })

            $('input[name=shadowPosition]').on('click', function () {
                setTimeout(_setSampleStyle, 1)
            })


            _setSampleStyle()
        })
    </script>
</div>

<script>
    require(['jquery.minicolors.min', 'css!../css/jquery.minicolors'], function () {
        $('input.minicolors').each(function () {
            var me = $(this);
            me.minicolors({
                defaultValue: me.attr('data-defaultValue') || '',
                opacity: me.attr('data-opacity'),
                format: me.attr('data-opacity') ? 'rgb' : 'hex',
                letterCase: 'uppercase',
                position: 'center right',
                theme: 'bootstrap'
            })
        })
    })
</script>
