<?php
	$seo = (array)Hub('config.seo');
	$_setSeoValue = function($name) use($seo, $form) {
		return $seo[$name];
	};
?>
<div class="gini-padding">
    <div class="box">
        <h4 class="left"><i class="icon-SEO"></i> <?= H(T('SEO优化')) ?></h4>
    </div>
    <div class="box">
        <div class="card">
            <div class="card-body">
                <div class="panel-body gini-body seo-body">
                    <form method="POST" action="gini-ajax:AJAX/Unpc/Config/SEO">
                        <div class="input-group">
                            <span class="input-group-addon" id="titleTag"><?= H(T('标题标签'))?></span>
                            <input type="text" class="form-control" placeholder="<?= H(T('针对于系统定义的唯一关键性的标题标签'))?>" aria-describedby="titleTag" name="titleTag" value="<?= H($_setSeoValue('titleTag'))?>" />
                        </div>
                        <blockquote>
                            <small>第一个关键词必须是该页面的主要内容, 比如"网站优化页面", 就应该写<mark>"网站优化"</mark></small>
                            <small>名词短语必须是介绍前面的一句带有关键字的名词短语, 比如"某某大仪平台", "某某大仪", "大仪平台", "大仪某某", 等等众多关键词, 注意尽量不要使用"的"、"了"、"啊"、"地"等<mark>不能够组成关键词</mark>的字</small>
                            <small>网页文本没有的关键词不要放在上面</small>
                            <small>符号 "_" 不要写成 "— "(中文状态), 可以写成 "-"（英文状态）; 符合 "|" 可以用 ","（英文状态）代替, 不要使用"，"（中文状态）</small>
                            <small>关键词<mark>4~6</mark>个字即可，短语+第一个关键词不宜超过<mark>39个字符（19个字以内为宜）</mark>, 总的数量不宜超过<mark>80个字符（40个中文汉字）</mark>, 超过39个字符的部分将不被搜索引擎显示, 超过80个字符的部门将不被搜索引擎收录, 超过部分过多对网站排名有影响</small>
                        </blockquote>
                        <div class="input-group">
                            <span class="input-group-addon" id="keywords"><?= H(T('关键词组'))?></span>
                            <input type="text" class="form-control" placeholder="<?= H(T('针对于系统内容来定义的一系列关键词组'))?>" aria-describedby="keywords" name="keywords" value="<?= H($_setSeoValue('keywords'))?>" />
                        </div>
                        <blockquote>
                            <small>字数量不宜超过<mark>100个字符（50个中文汉字）</mark></small>
                            <small>关键词组不要叠加, 举个简单列子, 下列词组"某某大学，大型仪器，仪器平台，某某仪器，某某平台，平台仪器" 应改为 "某某,大学,仪器,平台,", 有时为了增加相关性，可以添加几个"某某大仪,仪器平台"之类的关键词, 以增加相关性</small>
                            <small>符号需使用","（英文状态）, 而不是"，"（中文状态）</small>
                        </blockquote>
                        <div class="input-group">
                            <span class="input-group-addon" id="description"><?= H(T('系统描述'))?></span>
                            <input type="text" class="form-control" placeholder="<?= H(T('针对于系统内容进行的描述内容'))?>" aria-describedby="description" name="description" value="<?= H($_setSeoValue('description'))?>" />
                        </div>
                        <blockquote>
                            <small>字数<mark>不要超过200个字符（100个中文汉字）</mark>, 超过152个字符（76个中文汉字）的部分将不被搜索引擎显示。</small>
                            <small>中括号符号需要使用"("、")"(英文状态), 而不是"（"、"）"</small>
                        </blockquote>
                        <div class="input-group">
                            <span class="input-group-addon" id="copyright"><?= H(T('系统版权'))?></span>
                            <input type="text" class="form-control" placeholder="<?= H(T('针对于系统版权的描述'))?>" aria-describedby="copyright" name="copyright" value="<?= H($_setSeoValue('copyright'))?>" />
                        </div>
                        <blockquote>
                            <small>尽量包含关键词, 且能够表示唯一属性</small>
                            <small>字数最好<mark>28个字符（14个中文汉字）</mark>以内即可, 比如"某某大学大型仪器平台"即可</small>
                            <small>符号, 不建议使用中文状态下的符号, 因为中文状态的字符一般占有两个字符, 浪费了一个字符</small>
                        </blockquote>
                        <div class="input-group">
                            <span class="input-group-addon" id="author"><?= H(T('系统作者'))?></span>
                            <input type="text" class="form-control" placeholder="<?= H(T('针对于系统作者的描述'))?>" aria-describedby="author" name="author" value="<?= H($_setSeoValue('author'))?>" />
                        </div>
                        <blockquote>
                            <small>建议不要超过12个字符（6个中文汉字）, <mark>4-8个字符（2-4个汉字）</mark>最佳</small>
                        </blockquote>
                        <div class="input-group flex-row">
                            <button class="btn btn-ok" type="submit" name="submit">
                                <i class="icon-check"></i> <?= H(T('更新'))?>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>
