<?php
	$path = $object->filePath();
	$paths = (array)@scandir($path);
    $file = $paths[2];
?>
<a href="<?= URL("http://sklmcb.nankai.edu.cn/") ?>"><img src="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" width="100%" style="overflow: hidden;" /></a>