<div class="container" id="login">
	<div class="d-flex">
		<div class="left">
			<img src="<?= URL("/assets/icon/logo.png") ?>" />
			<div style="height: 20px;"></div>
			<img src="<?= URL("/assets/icon/unpc.png") ?>" />
		</div>
		<div class="right">
			<?= U('form_error') ?>
			<form method="POST" id="login-form">
				<?php
					$salt = '$6$'.\Gini\Util::randPassword(8, 2).'$';
					$token = crypt($token, $salt);
				?>
				<input type="hidden" name="token" value="<?= $token ?>" />
				<div class="form-group line <?= $form['_errors']['AuthToken'] ? "is-error" : "" ?>">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="icon-user"></i></div>
						</div>
						<input type="text" class="form-control" id="AuthToken" name="AuthToken" placeholder="请输入用户名" autocomplete="off" value="<?= $form['AuthToken'] ?>"/>
					</div>
				</div>
				<div class="form-group line <?= $form['_errors']['AuthCode'] ? "is-error" : "" ?>">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="icon-lock"></i></div>
						</div>
						<input type="password" class="form-control" id="AuthCode" placeholder="请输入登录密码" name="AuthCode" autocomplete="off" />
					</div>
				</div>
				<div class="form-group">
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" name="remember-me">
							<span><?= H(T('记住登录'))?></span>
						</label>
					</div>
				</div>
				<div style="height: 20px;"></div>
				<div class="form-group">
					<button type="submit" class="btn btn-info btn-block login-form-btn" for="login-form"><?= H(T('登录')) ?></button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="login-title"><?= T('UNPC Engine') ?></div>
