<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" /> 
    <title><?= $title ? H($title) : '' ?></title>
    <base href="<?= H(URL('/')) ?>">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/genee.css" rel="stylesheet">
    <link href="assets/css/login.css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="assets/js/jquery.js"></script>
    <script data-main="assets/js/main.js" src="assets/js/require.js"></script>
    <!--[if lt IE 9]>
    <script src="assets/js/html5.js"></script>
    <script src="assets/js/respond.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="<?= URL("/assets/icon/logo.png") ?>">
</head>
<body class="<?= $layout_class ?>">
    <div id="wrap">
        <div id="header"><?= $header ?></div>
        <div id="body"><?= $body ?></div>
    </div>
    <div id="footer">
        <?= $footer ?>
    </div>
</body>
</html>