<style>
.container {width: 980px;}
</style>
<div class="container-fluid layout-index">
	<div style="min-width:1015px">
	<?php foreach($layouts as $layout): ?>
		<?php
			$class = [];
			$class[] = ( $layout->type == \Gini\ORM\Layout::TYPE_NAVBAR ||
						$layout->type == \Gini\ORM\Layout::TYPE_LOGO ) ? 'no-padding' : '';
			$class[] = $layout->float ? "float_{$layout->float}" : '';
		?>
		<div class="col-xs-<?= (int)$layout->sizex ?> u-box <?= join(' ', $class) ?>">
			<?php $layout->render() ?>
		</div>
	<?php endforeach; ?>
	</div>
</div>
<script type="text/javascript">
(function($){
	//针对于所有需要防止多行溢出的元素进行控制
	$('.post-clamp').each(function(k, v){
		$(v).dotdotdot({
			after: 'a.clink'
		})
	})

	//Link的高度设定
	$('.link-box-one').each(function(k, v){
		var me = $(v)
			, width = parseFloat(me.outerWidth() - 1)
			, height = parseFloat(me.outerHeight() - 40 )
			, count = me.find('.item').length
		me.find('.item').css({
			'width': parseFloat((width - 5 * (count - 1)) / count) + 'px'
			, 'line-height': height + 'px'
		})
	})
})(jQuery);
</script>