<style>
.select-div{
	position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top:-20px;
}
.select-div  input {
    filter:Alpha(opacit=0);
    background-color: transparent;
    outline:none;
    height: 40px;
    width: 600px;
    background: rgb(0,0,0,0);
    border-radius: 3px;
    border: 2px solid #fff;
    padding: 0 20px;
    color: #fff;
}
.select-ul ul li{
    font-size:12px;
    float: left;
    color: #fff;
    width: 120px;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
</style>
<?php
	$sys = (array)Hub('config.design.system');

        $layout = a('layout',22);

        try {
            $apiUrl = $sys['url'];
            if (!$apiUrl) throw new \Exception("Error api url!");
            $number = (int)$layout->count;
            $rpc = \Gini\Ioc::construct('\Gini\RPC', $apiUrl);
            $equipments = $rpc->eq_reserv->getTopEquipments($number, $layout->year);
        }
        catch (\Exception $e) {
            $equipments = [];
        }
?>
<?php $height = ($object->height ?: $object->sizey * 120) . 'px';  ?>
<div id="wrapper" style="height: <?= $height ?>">
	<div class="slider-wrapper theme-default">
	<div class="select-div">
	<form class='select-form' action="<?=URL('category/equipment')?>" method="GET">
            <input type="text" name="keywords">
	    <div class="select-png"></div>
	    <script>
		require(['main'], function($){
			$('.select-png').click(function(){
				$('.select-form').submit();
			})
		})

	    </script>
	    <div class='select-ul'>
		<ul>
		<?php
			foreach($equipments as $equipment):
		?>
		    <li><a style="color:#fff" href="<?=URL('equipment/'.$equipment['id'])?>" ><?=$equipment['name']?></a></li>
		<?php endforeach;?>
		</ul>
	    </div>
        </div>
    	<div id="slider" class="nivoSlider">
			<?php
	    		$path = $object->filePath();
			    $imgs = [];
			    \Gini\File::eachFilesIn($path, function($file) use (&$imgs) {
			    	$imgs[] = $file;
			    });
			    foreach ($imgs as $file):
	    	?>
			<img src="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" alt="" height="<?= $height?>" data-thumb="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" />
			<?php endforeach; ?>
		</div>
	</div>
</div>
<style type="text/css">
	.nivo-main-image { height:<?= $height?> !important; }
	.nivo-slice,.nivo-slice img { height:<?= $height?> !important; }
</style>
<script>
(function(){
	$('#slider').nivoSlider({
		effect: '<?= $object->showType == "fade" ? "fade" : "sliceDown"?>',
		slices: 15,
		boxCols: 6,
		boxRows: 4,
		animSpeed: 500,
		pauseTime: 5000,
		directionNav:false,
		directionNavHide:false,
		controlNav: '<?= $object->showType == "thumb" ? TRUE : FALSE ?>',
		controlNavThumbs: true, // Use thumbnails for Control Nav
		afterLoad: function() {
			$('.nivoSlider img').css({
				'max-height' : '<?= $height?>',
				'min-height' : '<?= $height?>'
           	})
		}
	});
})(jQuery);
</script>