<style>
    /*定制CSS-如需恢复-注掉就可以*/
    .shtech-banner {
        height: 100%;
        width: 100%;
        padding: 6px 10px;
    }
    .shtech-content {
        height: 100%;
        width: 100%;
    }
    .shtech-block {
        height: 100%;
        width: 32%;
        float: left;
        border: 2px solid #fff;
        /*box-sizing: border-box;*/
        margin-left: 1%;
        border-radius: 2px;
    }
    .shtech-block:hover {
        border: 2px solid rgb(155, 12, 24);
    }
    .shtech-block:hover > .shtech-block-text{
        background: rgb(155, 12, 24);
        color: #fff;
    }
    .shtech-block-img {
        height: 80%;
    }
    .shtech-block-img > img {
        height: 100%;
        width: 100%;
    }
    .shtech-block-text {
        height: 20%;
        color: #333;
        text-align: center;
        line-height: 48px;
        font-size: 16px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }

</style>
<?php $height = ($object->height ?: $object->sizey * 120) . 'px';  ?>
<div class="module-box-one" style="height: <?= $height ?> !important;">
    <div class="title">
        <div class="tname">
            <div class="row">
                <div class="col-xs-6">
                    <i class="fa <?= $category->icon ?>"></i>
                    <span><?= H(T('热门仪器排行榜')) ?></span>
                </div>
            </div>
        </div>
    </div>
    <div class="content row" style="padding: 0 15px;">
<?php
    // rpc抓取排序前五张图片
    $sys = (array)Hub('config.design.system');
    $apiUrl = $sys['url'];
    if (!$apiUrl) throw new \Exception("Error api url!");
    $rpc = \Gini\Ioc::construct('\Gini\RPC', $apiUrl);
    $equipments = $rpc->hot_equipment->get_equipments_hot_images(6);

    $height = (int)$height-42;
    $height = (string)$height.'px';
?>
<div id="wrapper">
    <div class="slider-wrapper theme-default">
        <!-- <div id="slider" class="nivoSlider"> -->
        <div id="slider" class="">
            <!-- 定制轮播前 -->
            <?php
                // 之前上传图片架构
                // $path = $object->filePath();
                // $imgs = [];
                // \Gini\File::eachFilesIn($path, function($file) use (&$imgs) {
                //     $imgs[] = $file;
                // });
                // foreach ($imgs as $file):
                // 修改RPC抓取图片架构
                // foreach ($equipments as $equipment):
            ?>
                <!-- <img src="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" alt="" height="<?= $height?>" data-thumb="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" /> -->
            <?php //endforeach; ?>

            <!-- 定制轮播 -->
            <div class="shtech-banner" style="display: none; height: <?= $height ?>;">
                <div class="shtech-content">
			<?php $i=1; ?>
                    <?php foreach (array_slice($equipments,0,3) as $equipment): ?>

                    <div class="shtech-block">
                        <div class="shtech-block-img">
                            <img src="<?=$equipment['iconreal_url']?>">
                        </div>
                        <div class="shtech-block-text"><?=H($i.'.'.$equipment['name'])?></div>
                    </div>
			<?php $i++; ?>
                    <?php endforeach;?>
                </div>
            </div>

            <div class="shtech-banner" style="display: none;height: <?= $height ?>;">
                <div class="shtech-content">
                    <?php foreach (array_slice($equipments,3,6) as $equipment): ?>
                    <div class="shtech-block">
                        <div class="shtech-block-img">
                            <img src="<?=$equipment['iconreal_url']?>">
                        </div>
                        <div class="shtech-block-text"><?=H($i.'.'.$equipment['name'])?></div>
                    </div>
			<?php $i++; ?>
                    <?php endforeach;?>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<style type="text/css">
    .nivo-main-image { height:<?= $height?> !important; }
    .nivo-slice,.nivo-slice img { height:<?= $height?> !important; }
</style>
<script type="text/javascript" charset="utf-8" src="assets/js/jquery.nivo.slider.js"></script>
<script>
// 定制轮播前-恢复解除注释
// (function(){
//     $('#slider').nivoSlider({
//         effect: '<?= $object->showType == "fade" ? "fade" : "sliceDown"?>',
//         slices: 15,
//         boxCols: 6,
//         boxRows: 4,
//         animSpeed: 500,
//         pauseTime: 5000,
//         directionNav:false,
//         directionNavHide:false,
//         controlNav: '<?= $object->showType == "thumb" ? TRUE : FALSE ?>',
//         controlNavThumbs: true, // Use thumbnails for Control Nav
//         afterLoad: function() {
//             $('.nivoSlider img').css({
//                 'max-height' : '<?= $height?>',
//                 'min-height' : '<?= $height?>'
//                })
//         }
//     });
// })(jQuery);

// 定制轮播后
(function(){

    // 定义配置时间
    var time = 5000;

    //第一张显示
    $(".shtech-banner").eq(0).show();
    //自动轮播
    var i = 0;
    // 简易轮播函数
    var play=function(){
        i++;
        i = i > 1 ? 0 : i ;
        console.log(i);
        $(".shtech-banner").eq(i).fadeIn(400).siblings().fadeOut(400);
    }

    // 定义轮播时间
    var timer=setInterval(play,time);

    // hover时停止定时器
    $(".shtech-banner").hover(function() {
        clearInterval(timer);
    }, function() {
        timer=setInterval(play,time);
    });


})(jQuery);
</script>