<div id="layout-item-select-modal" tabindex="-1" class="modal bd-example-modal-lg fade in layout-type">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <?= H(T('首页布局设置')) ?>
                </h4>
            </div>
            <div class="modal-body col-md-12" id="layout">
                <?php if (isset($form['_errors']['type'])): ?>
                    <span class="label label-danger pull-left">
                    <?= H($form['_errors']['type']) ?>
                </span>
                <?php endif; ?>
                <form id="layout-item-select-form" class="form-group" method="POST" action="">
                    <div class="form-group row">
                        <?php foreach (\Gini\ORM\Layout::$TYPE as $key => $value): ?>
                            <div class="form-check col-4">
                                <label class="form-check-label">
                                    <input name="type" type="radio" class="form-check-input"
                                            value="<?= $key ?>" <?= $form['t'] == $key ? ' checked="checked" ' : '' ?> >
                                    <?= H(T($value)) ?></label>
                            </div>
                        <?php endforeach; ?>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-cancel" data-dismiss="modal" aria-hidden="true"><i class="icon-cancel">&#160;</i><?= H(T('关闭')) ?></button>
                <button class="btn btn-ok add-layout" name="submit"><i class="icon-add"></i> <?= H(T('添加')) ?></button>
            </div>
        </div>
    </div>
</div>
<script data-ajax="true">
    require(['main'], function ($) {

        var $modal = $('#layout-item-select-modal');
        $modal
            .on('hidden.bs.modal', function () {
                $modal.remove();
            })
            .modal();
    });
</script>