<li
    data-row="<?= $l->row ?>" data-col="<?= $l->col ?>"
    data-sizex="<?= $l->sizex ?>" data-sizey="<?= $l->sizey ?>"
    data-index="<?= (int)$l->index ?>" data-type="<?= $l->type?>">
    <div class="layout-content">
        <p class="layout-active">
            <a href="<?= URL("/command/layout/set-view/{$l->index}") ?>" class="open-layout"><i class="icon-edit"></i></a>
            <button type="button" class="close">
                <i class="icon-cancel"></i>
            </button>
        </p>
        <div class="layout-module">
            <?php $l->render(); ?>
        </div>
    </div>
</li>