<div id="layout-set-view-modal" class="modal fade in">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title"><?= H(T('布局视图设置')) ?></h4>
		    </div>
		    <div class="modal-body" id=".≥7">
	    		<?php
	    			$exView = \Gini\ORM\Layout::$TYPE_VIEW[$form['type']];
					$exView = 'admin/config/layout/indexs/' . $exView;
					echo U($exView, [
							'form' => $form,
							'type' => $type,
							'index' => $index
						]);
	    		?>
		    </div>
		    <div class="modal-footer">
		        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><?= H(T('关闭')) ?></button>
		        <button class="btn btn-primary" form="layout-set-view-form" type="submit" name="submit"><i class="fa fa-check fa-fw"></i> <?= H(T('更新')) ?></button>
		    </div>
		</div>
	</div>
</div>
<script data-ajax="true">
require(['main'], function($){

    var $modal = $('#layout-set-view-modal');
    $modal
    .on('hidden.bs.modal', function(){
        $modal.remove();
    })
    .modal();

    $('#layout-set-view-modal').on('ajax-complete', function(){
        $modal
	        .removeAttr('id').modal('hide')
	        .find('[id]').removeAttr('id');
    });

});
</script>