<style type="text/css">
	.equipment-list{
		position: relative;
	    width: 143px;
	    left: 150px;
	    z-index: 2;
	    top: -43px;
	    display: none;
	}
</style>
<a href="<?= \Gini\URI::url($baseUrl) ?>" class="list-group-item <?= !$id ? 'list-group-item-info' : ''?>"><?= H(T('热门设备'))?>&#160;<i class="fa fa-eye"></i></a>
<a href="javascript:;" class="list-group-item equipment-list-btn"><?= H(T('平台分类设备'))?></a>
<div class="equipment-list">
	<div class="eq-san"></div>
<?php
	$setting = (array)Hub('Module.equipment.setting');
	$selectTags = (array)$setting['selectTags'];
	foreach($data as $i => $d):
		if (count($selectTags) && !in_array($d['name'], $selectTags)) continue;
?>
	<a title="<?= H(T($d['name'])) ?>" href="<?= \Gini\URI::url($baseUrl, [
		'id' => (int)$i,
		'keywords' => H($key)
	])?>" class="list-group-item aaa <?= $i == $id ? 'list-group-item-info' : ''?> ">
		<?= H(T($d['name']))?>
		<?php
			/*if ($num = count((array)$d['children'])): ?>
			<span class="badge"><?= $num ?></span>
			<?php endif; */
		?>
	</a>
<?php endforeach; ?>
</div>
<script>
	require(['more'], function(More){
		$('.equipment-list-btn').on('click', function(e){
			if($(".equipment-list").is(":hidden")){
				$('.equipment-list').show();
			}
			else {
				$('.equipment-list').hide();
			}
		})

		$('.equipment-id').text($('.list-group-item-info').text());

	})
</script>