<?php
	$height = ($object->height ?: $object->sizey * 120) . 'px';
	$links = (array)$object->links;
		$show_module = $links[0]['title'] == '仪器分类'|| $links[0]['title'] == '平台导航';
?>
	<div class="link-box-two" style="height: <?= $height ?>;background-color: <?= $object->backgroundColor ?: '#E7E7E7'; ?>">
	<div class="content <?= H($object->align) ?> <?=  $show_module ? "indentation" : "" ?> <?= $links[0]['title'] == '平台导航' ? "large" : "" ?>" style="<?= $object->align != 'vertical' ? 'line-height: '.($height - 20).'px;' : '' ?> <?= $object->center_show ? 'text-align: center;': '' ?>"  >
		<?php foreach ($links as $i => $link): ?>
			<?php if ($i == 0 && $show_module): ?>
				<div class="item">
					<a href="<?= $link['url'] ?>" class="tname">
						<?php if($link['icon']): ?>
							<i class="fa <?= $link['icon'] ?>"></i>
						<?php endif; ?>
						<?= $link['title'] ?>
					</a>
				</div>
			<?php else: ?>
				<a href="<?= $link['url'] ?>" class="item" style="color: <?= $object->fontColor ?: '#000000'?>">
					<?php if($link['icon']): ?>
						<i class="fa <?= $link['icon'] ?>"></i>
					<?php endif; ?>
					<?= $link['title'] ?>
				</a>
			<?php endif; ?>
		<?php endforeach; ?>
	</div>
</div>
<style>
body #wrap .link-box-two {
	padding: 10px 0;
}
body #wrap .link-box-two .content.vertical.indentation {
    margin-top: -10px;
}
body #wrap .link-box-two .content.vertical.indentation .item {
	padding: 14px 0px;
    padding-left: 25px;
	border-bottom: none;
	font-size: 16px;
}
body #wrap .link-box-two .content.vertical.indentation .item:first-child {
    border-bottom: 1px solid #E7E7E7;
    padding: 10px 0;
    margin: 0 10px;
    color: #FFF;
}
body #wrap .link-box-two .content.vertical.indentation .item .tname{
    font-size: 16px;
    border-left: 4px solid #2e3e5d;
    padding-left: 10px;
    color: #2e3e5d;
}
body #wrap .link-box-two .content.vertical.large .item {
    padding-top: 30px;
    padding-bottom: 30px;
}
</style>