@font-face {
    font-family: 'genee-ui-font';
    src:  url('../fonts/genee-ui-font.eot?n63ztl');
    src:  url('../fonts/genee-ui-font.eot?n63ztl#iefix') format('embedded-opentype'),
      url('../fonts/genee-ui-font.ttf?n63ztl') format('truetype'),
      url('../fonts/genee-ui-font.woff?n63ztl') format('woff'),
      url('../fonts/genee-ui-font.svg?n63ztl#genee-ui-font') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'genee-ui-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-upload:before {
    content: "\e96c";
  }
  .icon-up:before {
    content: "\e96d";
  }
  .icon-touch:before {
    content: "\e96e";
  }
  .icon-banned:before {
    content: "\e988";
  }
  .icon-account-management:before {
    content: "\e989";
  }
  .icon-system-setting:before {
    content: "\e98a";
  }
  .icon-SEO:before {
    content: "\e98b";
  }
  .icon-module-setting:before {
    content: "\e98c";
  }
  .icon-module-building:before {
    content: "\e98d";
  }
  .icon-index-frame:before {
    content: "\e98e";
  }
  .icon-nav-setting:before {
    content: "\e98f";
  }
  .icon-right:before {
    content: "\e990";
  }
  .icon-decimal:before {
    content: "\e984";
  }
  .icon-viewdata:before {
    content: "\e985";
  }
  .icon-link02:before {
    content: "\e986";
  }
  .icon-report:before {
    content: "\e987";
  }
  .icon-approve:before {
    content: "\e96b";
  }
  .icon-cers:before {
    content: "\e96f";
  }
  .icon-exam:before {
    content: "\e970";
  }
  .icon-follow02:before {
    content: "\e971";
  }
  .icon-eye02:before {
    content: "\e968";
  }
  .icon-voice02:before {
    content: "\e969";
  }
  .icon-nrii:before {
    content: "\e96a";
  }
  .icon-calender:before {
    content: "\e972";
  }
  .icon-frameworks:before {
    content: "\e928";
  }
  .icon-table:before {
    content: "\e974";
  }
  .icon-data_source:before {
    content: "\e973";
  }
  .icon-dropdown02:before {
    content: "\e976";
  }
  .icon-table01:before {
    content: "\e977";
  }
  .icon-key:before {
    content: "\e967";
  }
  .icon-door:before {
    content: "\e966";
  }
  .icon-member_edit:before {
    content: "\e964";
  }
  .icon-member:before {
    content: "\e963";
  }
  .icon-book:before {
    content: "\e962";
  }
  .icon-communication:before {
    content: "\e965";
  }
  .icon-camera:before {
    content: "\e961";
  }
  .icon-turn_page:before {
    content: "\e983";
  }
  .icon-collapse02:before {
    content: "\e982";
  }
  .icon-trend_chart:before {
    content: "\e981";
  }
  .icon-index_card:before {
    content: "\e978";
  }
  .icon-cancel:before {
    content: "\e905";
  }
  .icon-trash:before {
    content: "\e906";
  }
  .icon-history:before {
    content: "\e907";
  }
  .icon-gallery:before {
    content: "\e908";
  }
  .icon-building:before {
    content: "\e909";
  }
  .icon-voice:before {
    content: "\e90a";
  }
  .icon-mobile:before {
    content: "\e90b";
  }
  .icon-message:before {
    content: "\e90c";
  }
  .icon-clock:before {
    content: "\e90d";
  }
  .icon-function:before {
    content: "\e90e";
  }
  .icon-mail:before {
    content: "\e90f";
  }
  .icon-equipment:before {
    content: "\e910";
  }
  .icon-apply:before {
    content: "\e911";
  }
  .icon-eye:before {
    content: "\e912";
  }
  .icon-add:before {
    content: "\e913";
  }
  .icon-follow:before {
    content: "\e914";
  }
  .icon-setting:before {
    content: "\e915";
  }
  .icon-guard:before {
    content: "\e916";
  }
  .icon-lock:before {
    content: "\e917";
  }
  .icon-menu01:before {
    content: "\e918";
  }
  .icon-scan01:before {
    content: "\e919";
  }
  .icon-scan02:before {
    content: "\e91a";
  }
  .icon-back:before {
    content: "\e91b";
  }
  .icon-flash:before {
    content: "\e91c";
  }
  .icon-user_setting:before {
    content: "\e91d";
  }
  .icon-starman:before {
    content: "\e91e";
  }
  .icon-businessman:before {
    content: "\e91f";
  }
  .icon-power:before {
    content: "\e920";
  }
  .icon-app_store:before {
    content: "\e921";
  }
  .icon-exhaust:before {
    content: "\e922";
  }
  .icon-data_analysis:before {
    content: "\e923";
  }
  .icon-public:before {
    content: "\e924";
  }
  .icon-deposit:before {
    content: "\e925";
  }
  .icon-cpu:before {
    content: "\e926";
  }
  .icon-trend02:before {
    content: "\e927";
  }
  .icon-full_screen:before {
    content: "\e929";
  }
  .icon-refresh:before {
    content: "\e92a";
  }
  .icon-search:before {
    content: "\e92b";
  }
  .icon-menu02:before {
    content: "\e92c";
  }
  .icon-menu03:before {
    content: "\e92d";
  }
  .icon-edit:before {
    content: "\e92e";
  }
  .icon-cut:before {
    content: "\e92f";
  }
  .icon-drop_down02:before {
    content: "\e930";
  }
  .icon-home:before {
    content: "\e931";
  }
  .icon-filter:before {
    content: "\e932";
  }
  .icon-user02:before {
    content: "\e933";
  }
  .icon-move:before {
    content: "\e934";
  }
  .icon-table02:before {
    content: "\e935";
  }
  .icon-pie_chart:before {
    content: "\e936";
  }
  .icon-bar_chart:before {
    content: "\e937";
  }
  .icon-line_chart:before {
    content: "\e938";
  }
  .icon-word:before {
    content: "\e939";
  }
  .icon-number:before {
    content: "\e93a";
  }
  .icon-export:before {
    content: "\e93b";
  }
  .icon-drop_down03:before {
    content: "\e93c";
  }
  .icon-axis_x:before {
    content: "\e93d";
  }
  .icon-axis_y:before {
    content: "\e93e";
  }
  .icon-location:before {
    content: "\e93f";
  }
  .icon-authority:before {
    content: "\e940";
  }
  .icon-group:before {
    content: "\e941";
  }
  .icon-selected:before {
    content: "\e942";
  }
  .icon-check:before {
    content: "\e943";
  }
  .icon-link:before {
    content: "\e944";
  }
  .icon-template:before {
    content: "\e945";
  }
  .icon-collapse:before {
    content: "\e946";
  }
  .icon-extended:before {
    content: "\e947";
  }
  .icon-homepage:before {
    content: "\e948";
  }
  .icon-topfolder:before {
    content: "\e949";
  }
  .icon-settlement:before {
    content: "\e94a";
  }
  .icon-multiply:before {
    content: "\e94b";
  }
  .icon-user:before {
    content: "\e94c";
  }
  .icon-airplay:before {
    content: "\e94d";
  }
  .icon-selected02:before {
    content: "\e94e";
  }
  .icon-ovonic:before {
    content: "\e94f";
  }
  .icon-list:before {
    content: "\e950";
  }
  .icon-chart:before {
    content: "\e951";
  }
  .icon-framework02:before {
    content: "\e952";
  }
  .icon-question:before {
    content: "\e953";
  }
  .icon-tips:before {
    content: "\e954";
  }
  .icon-cancel02:before {
    content: "\e955";
  }
  .icon-setting02:before {
    content: "\e956";
  }
  .icon-service:before {
    content: "\e957";
  }
  .icon-openfolder:before {
    content: "\e958";
  }
  .icon-print:before {
    content: "\e959";
  }
  .icon-download:before {
    content: "\e95a";
  }
  .icon-folder:before {
    content: "\e95b";
  }
  .icon-equipment02:before {
    content: "\e95c";
  }
  .icon-box:before {
    content: "\e95d";
  }
  .icon-diamond:before {
    content: "\e95e";
  }
  .icon-trend:before {
    content: "\e95f";
  }
  .icon-maps:before {
    content: "\e960";
  }
  .icon-data:before {
    content: "\e975";
  }
  .icon-align_top:before {
    content: "\e979";
  }
  .icon-align_bottom:before {
    content: "\e97a";
  }
  .icon-align_left:before {
    content: "\e97b";
  }
  .icon-align_right:before {
    content: "\e97c";
  }
  .icon-align_center:before {
    content: "\e97d";
  }
  .icon-text_left:before {
    content: "\e97e";
  }
  .icon-text_right:before {
    content: "\e97f";
  }
  .icon-text_center:before {
    content: "\e980";
  }
  .icon-app-apply:before {
    content: "\e900";
  }
  .icon-text-edit:before {
    content: "\e901";
  }
  .icon-equip-manage:before {
    content: "\e902";
  }
  .icon-approval-manage:before {
    content: "\e903";
  }
  .icon-app-manage:before {
    content: "\e904";
  }
  