#page_message {
  display: none;
  font-size: 15px;
  overflow: visible;
  text-align: center;
  left: 0;
  top: 0;
  /* place over all elements, also over modals */
  z-index: 10001;
  width: 100%;
  border-bottom: 1px solid;
  color: white;
  padding: 22px;
  position: fixed;
}

.page_mess_error {
  background-color: #de4343;
  border-color: #ca2424;
}

.page_mess_ok {
  background-color: #48bb5e;
  border-color: #38984b;
}

.page_mess_animate {
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  -o-background-size: 10px 10px;
  background-size: 10px 10px;
  -webkit-animation: animate-bg 3s linear infinite;
  -moz-animation: animate-bg 3s linear infinite;
  -ms-animation: animate-bg 3s linear infinite;
  -o-animation: animate-bg 3s linear infinite;
  animation: animate-bg 3s linear infinite;
}

@-moz-keyframes animate-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -20px 0;
  }
}

@-webkit-keyframes animate-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -20px 0;
  }
}

@-o-keyframes animate-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -20px 0;
  }
}

@-ms-keyframes animate-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -20px 0;
  }
}

@keyframes animate-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -20px 0;
  }
}
