/*部分样式强行覆盖admin.css和底层样式😆*/

/*整体样式加载*/
  html,body{
    height: 100%;
    background: #F0F3F4 !important;
  }
  #body{
    position: relative;
    top: 0;left: 0;
    padding-top: 80px;
    padding-left: 22px;
  }
  a{
    outline: none;
  }
a:hover{
  text-decoration:none;
}
  
/*字体样式加载*/
  @font-face{
  	font-family:iconfont;
  	src:url(../icon/font/iconfont.eot);
  	src:url(../icon/font/iconfont.eot?#iefix) format('embedded-opentype'),
  	url(../icon/font/iconfont.woff) format('woff'),
  	url(../icon/font/iconfont.ttf) format('truetype'),
  	url(../icon/font/iconfont.svg#iconfont) format('svg')
  }
  .iconfont{
  	font-family:iconfont!important;
  	font-style:normal;-webkit-font-smoothing:antialiased;
  	-webkit-text-stroke-width:.2px;
  	-moz-osx-font-smoothing:grayscale;
  	font-size:24px;padding:0 4px;
  	cursor:pointer;
  	/*transition:color background .2s;*/
  	/*-moz-transition:color background .2s;*/
  	/*-webkit-transition:color background .2s;*/
  	/*-o-transition:color background .2s*/
  }
  .iconfont:hover{
  	color:#209e91
  }

/*框架样式覆盖*/
  .table-hover>tbody>tr:hover{
      background-color: rgba(0, 0, 0, 0.1);
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
      background-color:rgba(54,62,82,.7);
  }

/*nav样式设置*/
  #nav{
    position: fixed;
    top: 0;left: 0;
    width: 100%;height: 66px;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 99;
    background-color:#1C2B36;
    box-shadow: 2px 0 3px rgba(0,0,0,.5);
  }
  .navbar-header a{
    font-size: 24px;
    height: 66px;
    line-height: 66px;
    padding: 0 15px;
  }
  body .nav-footer>li>a{
    height: 66px;
    line-height: 66px;
    padding: 0 15px;
  }
  body .nav-footer>li>a:hover{
    background:#1C2B36;
    color: #209e91;
  }

/*sidebar样式加载*/
  #sidebar-nav{
    width: 52px;
    height: 100%;
    padding: 0;
    top: 66px;
    position: fixed;
    border-radius: 0;
    background: #1C2B36;
    box-shadow: 2px 0 3px rgba(0,0,0,.5);
    align-items: normal;
    z-index: 99;
  }
  .navbar-collapse{
    padding:0;
  }
  .sidebar-nav{
    width: 100%;
    background: rgba(0,0,0,.0);
  }
  .nav > li{
    width: 100%;
    height: 42px;

  }
  #sidebar ul > li >a{
    color: #fff;
    width: 100%;
    height: 42px;
    text-align: center;
    font-size: 15px;
    text-decoration:none;
    display: flex;
    display: -webkit-flex;
    border-left: 3px solid #ccc;
    padding-top:10px;
    padding-left: 10px;
  }
  #sidebar ul > .active > a{
    border-left: 3px solid #333;
    background: #209e91;
  }
  #sidebar ul > li >a:hover{
    border-left: 3px solid #333 ;
    background: #209e91;
  }
  .layout-body{
    position: relative;
    top: 0;left: 0;
    padding-top: 66px;
    padding-left: 22px;
    display: none;
  }
  .icon-title{
    display: none;
  }
  .sidebar-icon{
    padding:0;
    font-size: 24px;
    margin-top: -6px;
    margin-right: 7px;
  }
  .sidebar-icon:hover{
    color: #fff;
  }
  .nav-open{
    color: #fff;
    line-height: 42px;
    font-size: 24px;
    text-align: center;
    transition: transform .5s;
    -moz-transition: transform .5s;  /* Firefox 4 */
    -webkit-transition: transform .5s; /* Safari 和 Chrome */
    -o-transition: transform .5s;  /* Opera */
  }
  .down-list .dropdown-toggle::after{
    content: none;
  }
/*自定义列表样式gini类*/
  .gini-list{
    border: none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    padding: 0;
    /*此渐变背景不需要size position等属性*/
    background-image: linear-gradient(0deg,#1C2B36 0%, #304a5d 49%, #1C2B36 100%);
    /*background-color: rgba(0, 0, 0, 0.2) !important;*/
    /*background-size: 1273px 716px;*/
    /*background-position: 0px -201px;*/
    overflow: hidden;
  }
  .title-content{
    color:#666;
    padding: 0;
  }
  .title-content > h1 {
    font-size: 24px;
    opacity: 0.9;
  }
  .gini-header{
    font-weight: bold;
    line-height: 44px;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.12);
    height: 44px;
    font-size: 16px;
    box-shadow: 0 1px 0 0 rgba(255,255,255,.12);
    padding: 0 16px 0 0;
  }
  /*用户列表区域颜色设置*/
  /*颜色设置*/
  .gini-body tr,
  .gini-body td,
  .gini-body span,
  .gini-body label,
  .gini-body i{
      color: #fff;
  }
  /*
    下一页图标继承
   */
.gini-body i{
  color: inherit;
}
  .gini-body input{
    background-color: rgba(0,0,0,.15) !important;
    color: #fff;
  }
  .gini-padding{
    padding:10px 45px 0;
  }
  .gini-body a{
    color:rgb(32, 158, 145);
  }
  .gini-list form label {
    color: #fff;
    font-weight: normal;
    margin-bottom: 0;
  }
  .gini-list form input{
    height: auto !important;
    background-color: rgba(0,0,0,.15) !important;
    color:#fff !important;
  }
  .help-block{
    color: #fff;
    float: right;
  }
  span.setting-upload-btn{
    color: #c7254e;
    background: #f9f2f4;
    border-radius: 6px;
    padding: 0 11px;
  }
  .gini-content{
    padding: 12px;
  }

/*category样式加载*/
  .category-list{
    border:none;
    background: rgba(0,0,0,0.0);
  }
  .category-block{
    height: 114px;
    padding: 15px 22px;
    display: block;
    overflow: hidden;
  }
  .category-block > div{
    height: 100%;
    border-radius: 5px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    border: 0;
    color: #fff;
    line-height: 50px;
    font-size: 16px;
  }
  .category-block > div:hover{
    box-shadow: 2px 1px 8px #cdde9f;
  }
  .category-block a{
    background: none;
    border:0;
    padding-right: 0;
  }
  .btn-sort{
    color: #dfb81c;
  }
  .bth-sort:hover{
    color: #209e91;
  }
  .icon-edit{
    color: #fff;
  }
  .icon-delete{
    color: #fff;
  }
  .category-block a:hover{
    background: none;
  }
  .icon-delete:hover{
    color: #d43f3a;
  }
  #module-setting-list .dropdown-menu{
    left: 100%;
    top: -70px;
    background-color: #1C2B36;
  }

/*模块设置样式加载*/
  .module-list-btn{
    padding: 0 12px;
    border-left: 3px solid #90b900;
    position: relative;right: -109px;
    background: #90b900;
    border-radius: 4px;
  }
  .module-nav{
    margin-top: 6px;
  }
  .module-nav>li{
    height: auto;
    width: auto;
  }
  .module-nav>li>a{
    padding:8px 10px;
  }

/*module样式*/
  .module-set > li{
    height: auto;
    width: auto;
  }

/*hover效果添加*/
  .btn-sort,
  .icon-edit,
  .icon-delete
  {
    transition: color 0.2s;
    -moz-transition: color 0.2s; /* Firefox 4 */
    -webkit-transition: color 0.2s;  /* Safari 和 Chrome */
    -o-transition: color 0.2s; /* Opera */
  }

/*shadow效果添加*/
  .category-block > div {
    transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s; /* Firefox 4 */
    -webkit-transition: box-shadow 0.2s;  /* Safari 和 Chrome */
    -o-transition: box-shadow 0.2s; /* Opera */
  }

/*background效果添加*/
  .btn-ok,
  .btn-save{
    transition: background 0.2s;
    -moz-transition: background 0.2s; /* Firefox 4 */
    -webkit-transition: background 0.2s;  /* Safari 和 Chrome */
    -o-transition: background 0.2s; /* Opera */
  }

/*btn效果添加*/
  .btn-ok{
    background:#209e91;
    color:#fff;
  }
  .btn-save{
    background-color: #dfb81c;
    border-color: #dfb81c;
    color: #fff;
  }
  .btn-save:hover{
    background-color: #caaf46;
    border-color: #caaf46;
    color: #fff;
  }
  .btn-ok:hover{
    background: rgb(144, 185, 0);
    color: #fff;
  }
  /*Dropzone 的样式设置*/
  .dz-remove{
    color: #fff;
  }
  .dz-error-message{
    top:150px !important;
  }
  .dropzone .dz-preview .dz-error-message{
    word-break: break-all;

  }


/*lodeing图设置*/
  .lodeing{
  	position:fixed;
  	width:100%;height:4px;
  	background:#000;opacity:0.3;
  	top:66px;left:50px;z-index:999
  }
  .unpc-bg{
  	background:url(../img/unpc.png) center center no-repeat;background-size:cover;
  }
  .category-block > div{
    background-image:linear-gradient(0deg,#294050 0,#304a5d 40%,#3d5e77 100%);
  }


/*覆盖样式设置*/
  #page_message{
    padding:22px !important;
  }
  .btn-normal{
    padding: 6px 12px !important;
    color: #fff !important;
  }

/*layout样式设置*/
  .layout-sidebar{
    position: fixed;
    top: 200px;
    right: 0;
    height: 200px;
    width: 60px;
    background: #ccc;
  }
  .gridster ul li:hover{
    cursor: move;
  }
  .layout-content{
        z-index: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        padding:6px;
        /*margin-top: 8px;*/
  }
  .layout-active{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;left: 0;
      background: rgba(31, 26, 26, 0.1);
      /*border:1px solid #666;*/
      z-index: 6;
      display: none;
  }
  .layout-content > div{
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      z-index: 0;
  }
  .close{
    opacity: 1;
    display: none;
    margin-top: 8px;
  }
  .open-layout > i{
    font-size: 22px;
  }
  .gridster >ul >li:hover{
    background: #ccc;
  }
  .layout-title{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 96px;
    font-size: 16px;
  }
  .open-layout{
    background: none;
    float: right;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    right: 32px;
    border:none;
    margin-top: 0px;
    position: relative;
    padding-top: 9px;
  }

  /*AJAX获取样式后覆盖样式*/
  .layout-moudule ul{
    width:100%;
    padding:0 6px;
  }
  .layout-moudule li{
    margin:0;
    box-shadow:none;
    background-color:transparent;
    text-align:left;
  }
  .layout-moudule tr{
    background-color:transparent;
    text-align:left;
  }
  #slider img{
    min-height:100%;
    max-height:100%;
    min-width:100%;
  }
  .nivo-caption{
    float: left;
    display: inline-block;
    position: absolute;
  }
  #slider > div{
    /*z-index: 5;*/
  }
  .btn-header{
    padding: 0 12px;
  }
  .btn-header button
  {
    height:38px;
  }
/*seo设置*/
  .seo-body .input-group{
    margin-top: 10px;
  }
  .seo-body .input-group > span{
    background: #209e91;
    border: none;
  }
  .seo-body .input-group > input{
    border:1px solid #21a0c5;
  }
  .seo-body blockquote{
    display: none;
    color: #fff;
  }
  .seo-body blockquote small{
    color: #fff;
  }

/*loyout-set设置*/
  .layout-header{
    position: fixed;
    width: 100%;
    left: 0;top: 0;
    background: #1C2B36;
    color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    height: 66px;
  }
  .layout-header>div{
    height: 100%;
  }
  #source{
    background-color: rgba(0,0,0,.15);
    color: #fff;
  }
  .gini-list input{
    background-color: rgba(0,0,0,.15);
    color: #fff;
  }
  /*链接底框覆盖*/
  .preview-div{
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    z-index: 99;
  }

  .ml-15{
    margin-left: 15px;
  }
  .pr-15{
    padding-right: 15px !important;
  }
  .layout-moudule > ul {
    height: 100%;
  }
  .gridster > ul > li:hover .layout-active,
  .gridster > ul > li:hover .close {
    display: block;
  }
  .sp-common{
    line-height: 40px
  }
  .sp-header > div:first-child{
    font-size: 24px
  }
  .sp-header > div:nth-child(2){
    padding: 24px 12px 0 12px;
  }
  .sp-title{
    margin-top: 66px;
    margin-bottom: 22px;
  }
  .sp-title > div {
    margin-top: 10px;
  }
  .sp-content {
    max-height: 550px;
    min-height: 400px;
    overflow: scroll;

  }
  .spa-content > div:last-child{
    padding:16px;
  }

/*admin.css 集成*/
  .form-control{
    box-shadow: none;
  }
  .form-control:focus{
    box-shadow: none;
  }
  .pl-15{
    padding-left: 15px !important;
  }
  .mt-15{
    margin-top: 15px;
  }
  .border-1{
    border:1px solid #fff;
    background: #fff;
  }
  .nav>li>a:hover{
    color: #fff;
    background: #3d96e2;
  }
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    color: #fff;
    background: #209e91;
  }
  .navbar-nav > .active > a{
    background: #3d96e2;
  }
  .nav-pills > li> a:hover,
  .dropdown-menu>li>a:hover{
    color: #fff;
    background: rgb(144, 185, 0);
  }

  .templet{
    height: 34px;
    margin-left: 12px;
    color: #fff;
    outline: none;
  }

  
  #set-preview{
    height:100%;
    width: 100%;
    position: fixed;
    background-color:#f8f8f8;
    padding:12px 16px;
    z-index: 99;
    top: 0;left: 0;
    display: none;
  }
  .sp-header > div{
    padding: 16px 0;
  }
  .sp-body{
    width: 100%;
    height: 100%;
  }
  .sp-body > div{
    background:#f8f8f8;
    position: relative;
  }
  .sb-left{
    float: left;
    position: relative;
    height: 100%;width: 39% !important;
    box-shadow: 3px 6px 36px #ccc;
    border-radius: 6px;
  }
  .sb-top{
    position: relative;
    height: 20%;
    box-shadow: 3px 6px 36px #ccc;
    border-radius: 6px;
  }
  .sb-content{
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 10%;
    overflow: hidden;
    box-shadow: 3px 6px 18px #ccc;
  }
  .sb-top-content{
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -8px;
    top: 50%;
    height: 100%;
    padding:0 6px;
    overflow: hidden;
    box-shadow: 3px 6px 18px #ccc;
  }
  .sb-right{
    float: right;
    width: 59% !important;
    height: 100%;
    box-shadow: 3px 6px 36px #ccc;
    border-radius: 6px;
  }
  .sb-buttom{
    margin-top: 16px;
    height: 77% !important;
    box-shadow: 3px 6px 36px #ccc;
    border-radius: 6px;
  }
  .nav-open{
    cursor: pointer;
  }

  .text-success{
    color: rgb(144, 185, 0) !important;
  }
  .table>tbody>tr>td{
    border:none;
  }
  .btn-edit{
    background-color: rgb(144, 185, 0);
    color: #fff !important;
  }
  .btn-delete{
    color: #fff !important;
  }

/*细节修改定义*/
  .mt-10{
    margin-top: 10px;
  }
  .equipment-btn .form-horizontal .radio{
    margin-top: -5px;
  }
  .setting-btn .form-horizontal .radio{
    margin-top: -6px;
  }
  .setting-add-btn input[type=checkbox]{
    margin:5px -18px;
  }
  .setting-nav-btn input[type=checkbox] {
    margin: 4px -18px;
  }
  .setting-nav-lab .form-horizontal .radio{
    margin-top: -5px;
  }
  .setting-upload-btn{
    display: block;
    padding-bottom: 12px;
    color: #fff;
  }
  .layout-type label{
    color: #000;
  }

  .setting-display .radio{
    margin-top: -5px;
  }
  .setting-display .radio input[type=radio]{
    margin-top: 3px;
  }
  .lodeing{
    display: none;
    left: 0;
  }
  .lodeing-status{
    height: 100%;
    width: 50%;
    background: #e89b17;
  }

  /*微调拾色器位置*/
.minicolors-theme-bootstrap .minicolors-swatch
{
  top:5px !important;
}

/* #Editor*/
#editor span {
  color: #333;
}