@navBg:         		RGBA(30, 81, 153, 1);
@navFont:         		#FFFFFF;
@navBgActive:         	RGBA(9, 112, 237, 1);
@navFontActive:         #FFFFFF;

@bg: 					rgba(255, 255, 255, 1);
@font:					#000000;
@mainTitle: 			#1E5199;

@leftTop: 				0px;
@rightTop:				0px;	
@rightBottom:			0px;
@leftBottom:			0px;

@navTopBorder: 			none;
@navBottomBorder: 		none;				

@activeBottomBorder:	none;
@activeTopBorder:		none;

@layoutBg:				#FFFAFB;
@moduleTitleColor:		#1E5199;

@bodyPrecent:           10%;