<div class="checkbox checkbox-primary">
    <label>
        <input name="tag[]" value="<?= $tag->id ?>" type="checkbox">
        <span class="checkbox-material"><span class="check"></span></span>
        <?= H(T($tag->name))?>
    </label>
</div>
