<?php
    $urls = (array)\Gini\Config::get('url');
    $urls = (array)$urls['replace'];
    $replace = [];
    foreach ($urls as $url) {
            $replace[$url] = _G('system.host');
    }
?>
<div class="media-box">
    <div class="box-left">
        <a href="<?= URL('equipment/'.$equipment['id'])?>">
            <img class="media-object" src="<?= strtr(H($equipment['icon128_url']), $replace) ?>" alt="<?= H($equipment['name']) ?>"  width="100%" />
        </a>
    </div>
    <div class="box-body">
        <div class="media-heading">
            <a href="<?= URL('equipment/'.$equipment['id'])?>" class="left">
                <?= H($equipment['name']) ?>
            </a>
            <div class="float_right">
                <?php if($equipment['accept_reserv']): ?>
                    <a class="btn btn-primary" href="<?= strtr($equipment['reserv_url'], $replace) ?>" target="_blank"><?= H(T('预约')) ?></a>
                <?php endif; ?>
                <?php if($equipment['accept_sample']): ?>
                    <a class="btn btn-warning" href="<?= strtr($equipment['sample_url'], $replace) ?>" target="_blank"><?= H(T('送样')) ?></a>
                <?php endif; ?>
            </div>
        </div>
        <p>联系人:&nbsp;&nbsp;<?php
            $chargers = (array)explode(',', H($equipment['incharges']));
            $num = [];
            foreach ($chargers as $charge) {
                list($name, $suffix) = (array) explode('-', $charge);
                $num[$suffix] = $name;
            }
            echo current($num) ?: '--';
        ?></p>
        <p>地&nbsp;&nbsp;&nbsp;&nbsp;址:&nbsp;&nbsp;&nbsp;<?= (H($equipment['location'] ? $equipment['location'].' ':''). H($equipment['location2'])) ?: '--' ?></p>
        <p>电&nbsp;&nbsp;&nbsp;&nbsp;话:&nbsp;&nbsp;&nbsp;<?= H($equipment['phone']) ?: '--'?></p>
    </div>
</div>
