<?php if (count($equipments) == 0): ?>
    <div data-more="-1" class="col-md-12"></div>
<?php else: ?>
    <?php
        $setting = Hub('Module.equipment.setting'); 
        foreach($equipments as $equipment):?>
            <?= U('equipment/box', ['equipment' => $equipment, 'listShowStyle' => $setting['listShowStyle']]) ?>
    <?php endforeach; ?>
<div data-more="<?= intval($next_start) ?>" class="col-md-12"></div>
<?php endif; ?>