<?php
	$urls = (array)\Gini\Config::get('url');
	$urls = (array)$urls['replace'];
	$replace = [];
	foreach ($urls as $url) {
		$replace[$url] = _G('system.host');
	}
?>
<div class=" box" style="margin:0px;position:relative;top:-9999px;">
	<ul class="list">
	<?php 
		switch ($layout->size) {
			case '128':
				$eurl = 'icon128_url';
				break;
			case '64':
				$eurl = 'icon64_url';
				break;
			default:
				$eurl = 'icon32_url';
				break;
		}
		foreach ($equipments as $equipment): 
	?>
	<li class="item text-center">
		<a href="<?= URL('equipment/'.$equipment['id']) ?>" data-toggle="tooltip" title="<?= $equipment['name']?>">
			<img src="<?= strtr(H($equipment[$eurl]), $replace) ?>" alt="<?= $equipment['name']?>" />
		</a>
		<?php if ($layout->showEQName): ?>
			<div class="item-title">
				<a href="<?= URL('equipment/'.$equipment['id']) ?>">
					<?= $equipment['name'] ?>
				</a>
			</div>
		<?php endif; ?>
	</li>
	<?php endforeach; ?>
	</ul>
</div>