<?php
	$urls = (array)\Gini\Config::get('url');
	$urls = (array)$urls['replace'];
	$replace = [];
	foreach ($urls as $url) {
		$replace[$url] = _G('system.host');
	}
?>
<div class="container-fluid equipment-info">
	<?= U('category-header') ?>
	<div class="col-md-12 u-box">
		<div class="eq-info">
			<div class="eq-container">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/"><?= T('首页')?></a></li>
						<li class="breadcrumb-item"><a href="<?=URL('category/equipment')?>"><?= H(T('仪器列表')) ?></a></li>
						<li class="breadcrumb-item active" aria-current="page"><?= H($equipment['name']) ?></li>
					</ol>
				</nav>
			</div>
			<div class="eq-content">
				<div class="title-container">
					<h4 class="title"><?= H($equipment['name']) ?></h4>
					<div class="float_right">
						<?php if($equipment['accept_reserv']): ?>
							<a class="btn btn-primary" href="<?= strtr($equipment['reserv_url'], $replace) ?>" target="_blank"><?= H(T('预约')) ?></a>
						<?php endif; ?>
						<?php if($equipment['accept_sample']): ?>
							<a class="btn btn-warning" href="<?= strtr($equipment['sample_url'], $replace) ?>" target="_blank"><?= H(T('送样')) ?></a>
						<?php endif; ?>
					</div>
				</div>
				<div class="content-container">
					<div class="left">
						<div class="title">[ <?= T('基础信息') ?> ]</div>
						<div class="box"><?= T('生产国家') ?> : <span class="data"><?= H($equipment['manu_at']) ?></span></div>
						<div class="box"><?= T('制造厂商') ?> : <span class="data"><?= H($equipment['manufacturer']) ?></span></div>
						<div class="box"><?= T('购置日期') ?> : <span class="data"><?= date('Y-m-d', H($equipment['manu_date'])) ?></span></div>
						<div class="box"><?= T('规格型号') ?> : <span class="data"><?= H($equipment['model_no']) ?></span></div>
						<div class="hr"></div>
						<div class="title">[ <?= T('分类信息') ?> ]</div>
						<div class="box"><?= T('设备类型') ?> : <span class="data"><?= H($equipment['tags']) ?></span></div>
						<div class="box"><?= T('设备编号') ?> : <span class="data"><?= H($equipment['ref_no']) ?></span></div>
						<div class="hr"></div>
						<div class="title">[ <?= T('联系信息') ?> ]</div>
						<div class="box"><?= T('联系人') ?> : <span class="data"><?= H($equipment['incharges']) ?></span></div>
						<div class="box"><?= T('存放地址') ?> : <span class="data"><?= H($equipment['location'] . $equipment['location2']) ?></span></div>
						<div class="box"><?= T('联系电话') ?> : <span class="data"><?= H($equipment['phone']) ?></span></div>
						<div class="box"><?= T('联系邮箱') ?> : <span class="data"><?= H($equipment['email']) ?></span></div>
						<div class="hr"></div>
						<div class="title">[ <?= T('附加信息') ?> ]</div>
						<div class="box"><?= T('主要附件及配置') ?> : <p class="data"><?= preg_replace('/\r\n/',"<br>", H($equipment['configs'])) ?: '无' ?></p></div>
						<div class="box"><?= T('主要功能及特色') ?> : <p class="data"><?= preg_replace('/\r\n/',"<br>", H($equipment['features'])) ?: '无' ?></p></div>
						<div class="box"><?= T('主要规格及技术指标') ?> : <p class="data"><?= preg_replace('/\r\n/',"<br>", H($equipment['tech_specs']) ?: '无') ?></p></div>
					</div>
					<div class="right">
						<?php $req = a('equipment', ['rid' => $equipment['id']]); ?>
						<div id="wrapper" style="height: 400px;margin-bottom: 30px;">
							<div class="slider-wrapper theme-default">
								<div id="slider_equipment" class="nivoSlider">
									<img src="<?= strtr(H($equipment['icon128_url']), $replace) ?>" alt="" height="400px" data-thumb="<?= strtr(H($equipment['icon128_url']), $replace) ?>" />
									<?php
										$path = $req->filePath();
										$imgs = [];
										\Gini\File::eachFilesIn($path, function($file) use (&$imgs) {
											$imgs[] = $file;
										});
										foreach ($imgs as $file):
									?>
									<img src="<?= URL('!equipment/icon/'.$req->id.'/'.$file) ?>" alt="" height="400px" data-thumb="<?= URL('!equipment/icon/'.$req->id.'/'.$file) ?>" />
									<?php endforeach; ?>
								</div>
							</div>
							<div id="htmlcaption" class="nivo-html-caption">
								<strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
							</div>
							<style type="text/css">
								.nivo-main-image { height: 400px !important; }
								.nivo-slice,.nivo-slice img { height: 400px !important; }
							</style>
						</div>
						<script>
							require(['main'], function() {
								require(['jquery.nivo.slider','css!../css/nivo-slider'],function(){
									$('#slider_equipment').nivoSlider({
										effect: 'fold',
										slices: 15,
										boxCols: 50,
										boxRows: 4,
										animSpeed: 500,
										pauseTime: 3000,
										directionNav: false,                      
										prevText: '<h1><</h1>',                 
										nextText: '<h1>></h1>',
										controlNav: true,
										controlNavThumbs: true,
										randomStart: false, 
										afterLoad: function() {
											$('#slider_equipment img').css({
												'max-height' : '400px',
												'min-height' : '400px'
											})
										}
									});
								});
							});
						</script>
						<div class="title">[ <?= T('开放机时安排') ?> ]</div>
						<div class="box"><?= preg_replace('/\r\n/',"<br>", H($req->openCalendar)) ?: '无' ?></div>
						<div class="hr"></div>
						<div class="title">[ <?= T('参考收费标准') ?> ]</div>
						<div class="box"><?= $req->chargeRule ?></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
