<?php foreach((array)$users as $i => $user): ?>
<div class="flex">
    <div class="left">
        <span class="order"><?= T('No.%num', ['%num' => H($i + 1)]) ?></span>
        <span class="it"><?= H($user['name']) ?></span>
    </div>
    <div class="right text-right">
        <?= H($user['equipment']) ?><span class="time"><?= H($user['dtstart'])?></span>
    </div>
</div>
<?php endforeach; ?>