<?php foreach($records as $record): ?>
    <li class="item">
        <i class="fa fa-user-circle"></i>
        <div class="body"><?= T("%user 使用了 %equipment", [
            '%user' => H($record['name']),
            '%equipment' => H($record['equipment'])
        ]) ?></div>
        <div class="right time"><?= H($record['dtstart'])?></div>
    </li>
<?php endforeach; ?>