<div id="equipments">
	<div class="col-md-12 loading" style="text-align:center">
		<span><i class="fa fa-spinner fa-spin fa-2x"></i></span>
	</div>
</div>
<script>
require(['more'], function(More){

    var ajax_form = <?= json_encode($form) ?>;
    new More({
        start: 0,
        root: '#equipments',
        url: function() { return 'AJAX/Index/Equipment/getEquipments/' + this.start },
        data: { ajax_form: ajax_form }
    });
});
</script>