<?php 
	$setting = (array)Hub('Module.equipment.setting');
	if ($setting['rootViewStyle'] == 'twoline'):
?>
<div class="hr"></div>
<table class="table root-table">
        <tbody>
			<?php foreach($data as $i => $d):  ?>
			<tr>
				<td class="left"><a href="<?= \Gini\URI::url($baseUrl, [
						'id' => (int)$i,
						'keywords' => H($key)
					])?>"><?= $d['name'] ?></a></td>
				<td class="right">
					<?php foreach((array)$d['children'] as $ii => $children): ?>
						<a href="<?= \Gini\URI::url($baseUrl, [
							'id' => (int)$ii,
							'keywords' => H($key)
						])?>"><?= $children['name'] ?></a>
					<?php endforeach; ?>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
<?php else: ?>
	<a href="<?= \Gini\URI::url($baseUrl) ?>" class="list-group-item <?= !$id ? 'list-group-item-info' : ''?>"><?= H(T('显示全部'))?>&#160;<i class="fa fa-eye"></i></a>
	<?php
			$selectTags = (array)$setting['selectTags'];
			foreach($data as $i => $d): 
				if (count($selectTags) && !in_array($d['name'], $selectTags)) continue;
	?>
		<a href="<?= \Gini\URI::url($baseUrl, [
			'id' => (int)$i,
			'keywords' => H($key)
		])?>" class="list-group-item <?= $i == $id ? 'list-group-item-info' : ''?> ">
			<?= H(T($d['name']))?>
		</a>
			<?php foreach((array)$d['children'] as $ii => $children): ?>
				<a href="<?= \Gini\URI::url($baseUrl, [
					'id' => (int)$ii,
					'keywords' => H($key)
				])?>" class="list-group-item <?= $ii == $id ? 'list-group-item-info' : ''?> ">
					<?= H(T($children['name']))?>
				</a>
			<?php endforeach; ?>
<?php endforeach; endif;?>
