<div class="form-group selector_tags">
    <?php
        $setting = (array)Hub('Module.equipment.setting');
        $selectTags = (array)$setting['selectTags'];
    ?>
    <label for="tags" class="col-auto"><?= H(T('请选择分类'))?></label>
    <div class="col-auto form-check form-check-inline">
        <?php foreach($tags as $i => $tag): ?>
            <div class="form-check form-check-inline">
                <label class="form-check-label" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                    <input type="checkbox" class="form-check-input" name="tags[<?= $i ?>]" value="<?= H($tag['name']) ?>" <?= in_array($tag['name'], $selectTags) ? 'checked="checked" ' : ''?> />
                    <?= H($tag['name'])?>
                </label>
            </div>
            <?php if (\Gini\Config::get('equipment.show_children_of_tag')): ?>
                <?php foreach($tag['children'] as $id => $name): ?>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                            <input type="checkbox" class="form-check-input"  name="tags[<?= $i ?>]" value="<?= H($name) ?>" <?= in_array($name, $selectTags) ? 'checked="checked" ' : ''?> />
                            <?= H($name)?>
                        </label>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>
