<div id="canvas">
	<div class="circle" id="circles"></div>
</div>
<div class="hr"></div>
<div class="circle-block" style="width: 180px;">
    <div class="circle-container">
        <div class="circle-left">
            <i class="fa fa-circle fa-sm"></i>&#160;
        </div>
        <div class="circle-body text-right">
            <h4><?= T('%out 台出故障', ['%out' => $summary['outServiceCount']])?></h4>
        </div>
    </div>
    <div class="circle-container">
        <div class="circle-left">
            <i class="fa fa-circle fa-sm"></i>&#160;
        </div>
        <div class="circle-body text-right">
            <h4><?= T('%out 台在使用', ['%out' => $summary['usingCount']])?></h4>
        </div>
    </div>
    <div class="circle-container">
        <div class="circle-left">
            <i class="fa fa-circle fa-sm"></i>&#160;
        </div>
        <div class="circle-body text-right">
            <h4><?= T('%out 台待机中', ['%out' => $summary['unUsingCount']])?></h4>
        </div>
    </div>
</div>
<?php 
    if ($summary['totalCount']) {
        $present = sprintf('%.2f', ($summary['controlCount'] / $summary['totalCount']) * 100);
    }
    else {
        $present = '0.00';
    }

    $text = '<p><i class="fa fa-circle fa-sm"></i>&#160;'.T('共 %cn 台', ['%cn' => $summary['totalCount'] ]).'</p>'.
            '<p><i class="fa fa-circle fa-sm"></i>&#160;'.T('%tn 台使用', ['%tn' => $summary['controlCount'] ]).'</p>';
    $colors = (array)Hub('config.design.color');
    $color = $colors['navBg'] ?: \Gini\Config::get('config.navBg');
?>
<script type="text/javascript">
require(['main', 'circles'], function($, Circles){
	Circles.create({
        id:                  'circles',
        radius:              80,
        value:               <?= $present ?>,
        width:               20,
        text:                function(value){ return value + '%'; },
        colors:              ['#E7E7E7', '<?= $color ?>'],
        duration:            0,
        wrpClass:            'circles-wrp',
        textClass:           'circles-text',
        valueStrokeClass:    'circles-valueStroke',
        maxValueStrokeClass: 'circles-maxValueStroke',
        styleWrapper:        true,
        styleText:           true,
        text:                function(value) {
            return '<?= $text ?>';
        }
    });
})
</script>