<?php foreach((array)$equipments as $i => $equipment): ?>
<tr class="post">
	<td class="row px-4">
		<div class="col-md-8 p">
			<span class="order"><?= T('No.%num', ['%num' => H($i + 1)]) ?></span>
			<a href="<?= URL('equipment/'.$equipment['id']) ?>">
				<span class="it"><?= H($equipment['name']) ?></span>
			</a>
		</div>
		<div class="col-md-4 p description text-right">
			<?= T('%h小时', ['%h' => H($equipment['time'])])?>
		</div>
	</td>
</tr>
<?php endforeach; ?>