<?php foreach((array)$users as $i => $user): ?>
<tr class="post">
	<td class="row px-4">
		<div class="col-md-8 p">
			<span class="order"><?= T('No.%num', ['%num' => H($i + 1)]) ?></span>
			<span class="it"><?= H($user['name']) ?></span>
		</div>
		<div class="col-md-4 p description text-right">
			<?= T('%h小时', ['%h' => H($user['time'])])?>
		</div>
	</td>
</tr>
<?php endforeach; ?>