<div class="container-fluid equipment-category layout-index">
	<?= U('category-header') ?>
	<div class="col-md-12 u-box">
		<div class="equipment-body">
			<div class="row">
				<div class="col-md-12">
					<div class="header">
						<div class="row">
							<div class="col-md-6 tt">
								<span class="title" style="line-height: 34px;"><i class="fa fa-cogs"></i>&#160;<?= H(T('仪器设备'))?></span>
							</div>
							<div class="col-md-3 offset-md-3 col-sm-6 pull-right">
								<div class="search-form" style="position: relative;">
							        <form method="get" action="<?= \Gini\URI::url('category/equipment') ?>" role="search" name="search">
										<input id="search-input" class="form-control search-input" type="text" name="keywords" placeholder="<?= H(T('搜索仪器'))?>">
										<input type="hidden" name="token" value="<?= md5($token) ?>">
										<button class="btn search-btn" type="submit" style="
										    position: absolute;
										    right: 0px;
										    background-color: rgba(0,0,0,0);
										    top: 0px;
										    outline: none;
										">
											<i class="fa fa-search"></i>
										</button>
							        </form>
						        </div>
							</div>
						</div>
					</div>
					<div class="body">
						<div class="row">
							<div class="col-md-2">
								<div class="list-group root">
									<span class="list-group-item active keywords title">
										<?= T('关键词 : %keywords', ['%keywords' => '<span class="kk">'.HH($form['keywords']).'</span>']) ?>
									</span>
									<span class="list-group-item loading" style="text-align: center;">
										<i class="fa fa-spinner fa-spin"></i>
									</span>
								</div>
							</div>
							<div class="col-md-10">
								<?php
									$setting = (array)Hub('Module.equipment.setting');
									if ($setting['Loading'] == 'page') {
										echo U('equipment/page-body', [
											'form' => $form,
											'setting' => $setting,
											'pagination' => $pagination,
											'equipments' => $equipments
										]);
									}
									else {
										$form['token'] = HH($form['token']);
										echo U('equipment/roll-body', [
											'form' => $form,
											'setting' => $setting
										]);
									}
								?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script id="equipment-root">
require(['main'], function($){
	$.ajax({
	    type: "POST",
        url: 'AJAX/Index/Equipment/getRoot',
        data: {
        	u: '<?= $u ?>',
        	key: '<?= HH($form['keywords'])?>',
        	id: '<?= (int)$form['id'] ?>'
        },
        success: function(html) {
		    $('.equipment-category .root .loading').remove();
		    $('.equipment-category .root').append(html);
		},
        complete: function() {
            $('#equipment-root').remove();
        }
	});
});
</script>