<?php
	$urls = (array)\Gini\Config::get('url');
	$urls = (array)$urls['replace'];
	$replace = [];
	foreach ($urls as $url) {
		$replace[$url] = _G('system.host');
	}
?>
<div class="equipment-box-one">
	<div class="title">
		<div class="row">
			<div class="col-sm-6">
				<i class="fa fa-cogs"></i>
				<span><?= H(T('仪器设备')) ?></span>
			</div>
			<div class="col-sm-6">
				<div class="pull-right">
					<a href="<?= \Gini\URI::url('category/equipment') ?>">
						<?= H(T('更多'))?>&#160;<i class="fa fa-angle-double-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin:0px;">
		<div class="content">
			<?php foreach (_G('EQS') as $equipment): ?>
			<div class="item pull-left">
				<a href="<?= URL('equipment/'.$equipment['id']) ?>">
					<img src="<?= strtr($equipment['icon128_url'], $replace)?>" alt="<?= $equipment['name']?>" />
				</a>
				<?php if ($object->showEQName): ?>
					<div class="item-title">
						<a href="<?= URL('equipment/'.$equipment['id']) ?>" >
							<?= $equipment['name'] ?>
						</a>
					</div>
				<?php endif; ?>
			</div>
			<?php endforeach; ?>
		</div>
	</div>
</div>