<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle btn btn-ok btn-block" type="button" data-toggle="collapse" data-target="#example-navbar-collapse" style="margin-right: 0px;color: #999;">
            <?= T('导航菜单') ?>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse" style="padding: 0px">
        <ul class="nav navbar-nav" id="navbar" style="margin: 0px">
            <?php
                $setting = (array)Hub('config.nav');
                $colors = (array)Hub('config.design.color');
                $route = \Gini\CGI::route();
                $args = explode('/', $route);
                $s = array_shift($args);
                if (in_array($s, ['post', 'equipment'])) { 
                    if ($s == 'post') {
                        $p = a('post', array_shift($args));
                        $index = $p->category->identity;
                    }
                    else {
                        $index = 'equipment';
                    }
                }
                else { $index = array_pop($args); }
            ?>
            <li class="<?= !$index ? 'active' : '' ?>"><a href="<?= URL('/')?>"><?= H(T('首页'))?></a></li>
            <?php 
            	$ms = (array)Hub('config.nav.modules');
            	foreach ($ms as $m):
            		if ($m == 'equipment') {
            			$module = a('category');
            			$module->identity = 'equipment';
            			$module->name = H(T('仪器列表'));
            		}
            		else $module = a('category', ['identity' => $m]);
                    $d = a('display')->whose('identity')->is($m);
                    if ($d->hasSecond && $d->secondPosition == 'click'):
            ?>
                <li class="dropdown <?= $index == $module->identity ? 'active' : '' ?>">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><?= H($module->name) ?>&#160;<span class="caret"></span></a>
                    <?php $tags = those('tag')->whose('category')->is($module); ?>
                    <ul class="dropdown-menu">
                        <?php foreach($tags as $tag): ?>
                            <li><a href="<?= \Gini\URI::url("category/{$module->identity}", [
                                'tag' => H($tag->identity)
                            ])?>"><?= H($tag->name) ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                </li>
                <?php else: ?>
            	<li class="<?= $index == $module->identity ? 'active' : '' ?>">
            		<a href="<?= \Gini\URI::url("category/{$module->identity}")?>"><?= H($module->name) ?></a>
            	</li>
                <?php endif; ?>
        	<?php endforeach; ?>
        </ul>
    </div>
</nav>
