<nav class="footer-nav navbar navbar-default navbar-static-bottom">
    <div class="container text-center">
        <span>
    		<?= T('版权所有Copyright © 哈尔滨工业大学分析测试中心'); ?>
        </span>
        <span class="lpadding_2">
        	<?= T('技术支持: 基理科技') ?>
        </span>
    </div>
</nav>