<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title><?= H($sysSetting['name'] ?: $title) ?></title>
    <meta name="keywords" content="<?= H($seoSetting['keywords']) ?>">
    <meta name="description" content="<?= H($seoSetting['description']) ?>">
    <meta name="copyright" content="<?= H($seoSetting['copyright']) ?>">
    <meta name="author" content="<?= H($seoSetting['author']) ?>">
    <base href="<?= H(URL('/')) ?>">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/hit.css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="assets/js/jquery.js"></script>
    <script data-main="assets/js/main.js" src="assets/js/require.js"></script>
    <!--[if lt IE 9]>
    <script src="assets/js/html5.js"></script>
    <script src="assets/js/respond.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="<?= Hub('shortcut.filename') ? ('!shortcut/'.Hub('shortcut.filename')) : 'assets/icon/favicon.png'?>">
</head>
<body class="<?= $layout_class ?>">
    <div id="wrap">
        <div id="body"><?= $body ?></div>
    </div>
</body>
<footer>
    <div class="footer">
        <?= $footer ?>
    </div>
</footer>
</html>
