<?php
    $height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="link-box-two" style="height: <?= $height ?>; padding: 0px; background: none;">
    <table class="table link-table">
        <tr>
            <td class="left">
                <span>健康部</span>
            </td>
            <td class="right">
                <div class="c c1">
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            重力环境模拟<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=5">模拟失重实验室平台</a></li>
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=6">超重/低重实验室平台</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            生理效应研究<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=7">心血管生理研究平台</a></li>
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=8">骨骼生理研究平台</a></li>
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=9">运动生理研究平台</a></li>
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=10">前庭功能研究平台</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            健康维护系统<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=11">行走能力维护平台</a></li>
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=12">颈椎功能维护平台</a></li>
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=13">下肢力量维护平台</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            监控与管理<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=14">人体实验中央监控系统</a></li>
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=15">仪器设备管理系统</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            数据平台<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                            <li><a href="http://183.62.204.19:8033/genee/category/equipment?id=16">人与环境试验健康数据系统</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            航天医学门户网站
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="left">环控部</td>
            <td class="right">
                <div class="c">
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            环控生保技术研发<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu7">
                            <li><a href="http://baidu.com">大气调控再生试验平台</a></li>
                            <li><a href="#">水质循环再生试验平台</a></li>
                            <li><a href="#">固废处理与循环再生试验平台</a></li>
                            <li><a href="#">动植物高效循环生产试验平台</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            受控生保技术转化<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu8">
                            <li><a href="http://baidu.com">单向性受控生保技术推广</a></li>
                            <li><a href="#">精准型农业技术产业转化</a></li>
                            <li><a href="#">环境监控集成与系统开发</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            综合性分析与测试<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu9">
                            <li><a href="http://baidu.com">大气环境分析检测</a></li>
                            <li><a href="#">水质参数分析检测</a></li>
                            <li><a href="#">土壤成分分析检测</a></li>
                            <li><a href="#">生物样本分析检测</a></li>
                            <li><a href="#">食品安全分析检测</a></li>
                            <li><a href="#">材料性能分析检测</a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="left">食品部</td>
            <td class="right">
                <div class="c c3">
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            精准营养与代谢过程研究平台
                        </button>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            航天功能食品技术平台
                        </button>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenu12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            航天食品安全技术平台
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<style type="text/css">
body #wrap .link-box-two {
    overflow: visible;
}
.link-box-two .link-table {
    height: 100%;
    border-collapse:separate;
    border-spacing:0px 5px;
    display: table-cell;
}
.link-box-two .link-table tr {
    position: relative;
}
.link-box-two .link-table tr td {
    border: none;
}
.link-box-two .link-table tr td .c1 {
    border-top: 2px solid #2A59A1;
}
.link-box-two .link-table tr .left {
    width: 20%;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    line-height: 1.24;
    background-color: #3A7FE6;
    background-color: #033172;
    color: #FFF;
}
.link-box-two .link-table tr .right {
    padding: 0 8px;
    width: 80%;
}
.link-box-two .link-table .dropdown .btn {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #2A59A1;
    border-radius: 0px;
    color: #0057DA;
    text-align: left;
    padding: 6px 8px 6px 0;
    white-space: normal;
    font-size: 14px;
    font-weight: 700;
}

.link-box-two .link-table .dropdown .btn .caret {
    margin: auto 0;
    right: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.link-box-two .link-table .dropdown .btn:hover {
    color: #0057DA;
}
.link-box-two .link-table .dropdown .btn:active
{
    color: #0057DA;
    outline: none;
    box-shadow: none;
}
</style>
<script type="text/javascript">
let $container = $('.link-table')
let $dropdowns = $('.link-table .dropdown')
let height = '<?= ($object->height ?: $object->sizey * 120) ?>'
let $cs = $('.link-table .c')

let unit = height / $dropdowns.length;

$.each($cs, function(k, v) {
    let h = $(v).find('.dropdown').length * unit - 5
    let toggles = $(v).find('.dropdown-toggle')
    $(v).css('height', h + 'px')
    toggles.css('height', h / toggles.length)
})
</script>