<?php
	$category = a('category', ['identity' => $object->source]);
	$d = a('display')->whose('identity')->is($category->identity);
	$c = $object->count ?: 5;
	$posts = those('post')->whose('category')->is($category)
            ->andWhose('status')->is(\Gini\ORM\Post::STATUS_PUBLISH);
    if ($object->listSort == 'date' ) {
        if($object->listOrder=='desc')
        {
            $posts = $posts->orderBy('pub_time', 'D');
        }
        else
        {
            $posts = $posts->orderBy('pub_time', 'a');
        }

    }
    else {
        if($object->listOrder=='desc')
        {
            $posts = $posts->orderBy('title', 'D');
        }
        else
        {
            $posts = $posts->orderBy('title', 'a');
        }
    }
    $posts = $posts->limit($c);
    $setting = (array)Hub('config.design.system');
    $height = ($object->height ?: $object->sizey * 120) . 'px';
    $cheight = (($object->height ?: $object->sizey * 120) - 46) . 'px';
    $pheight = (($object->height ?: $object->sizey * 120) - 46 - 20) . 'px';
?>
<div class="module-box-nine" style="height: <?= $height ?>;">
	<div class="title">
		<div class="tname">
			<div class="row justify-content-between">
				<div class="col-sm-12">
					<span><?= H(T($category->name)) ?></span>
				</div>
			</div>
		</div>
	</div>
	<div class="content" style="height: <?= $cheight ?>;" >
		<?php
			if ($d->type == \Gini\ORM\Display::TYPE_POST) :
				$post = $posts->limit(1)->current();
		?>
			<div class="post-clamp" style="height: <?= $pheight ?>">
				<?= $post->content ?>
				<a class="clink" href="<?= URL('category/'.$object->source)?>">[<?= T('更多')?>]</a>
			</div>
		<?php endif; ?>
	</div>
</div>
