<?php
	$category = a('category', ['identity' => $object->source]);
	$d = a('display')->whose('identity')->is($category->identity);
	$c = $object->count ?: 5;
	$posts = those('post')->whose('category')->is($category)
            ->andWhose('status')->is(\Gini\ORM\Post::STATUS_PUBLISH);
    if ($object->listSort == 'date' ) {
        if($object->listOrder=='desc')
        {
            $posts = $posts->orderBy('pub_time', 'D');
        }
        else
        {
            $posts = $posts->orderBy('pub_time', 'a');
        }

    }
    else {
        if($object->listOrder=='desc')
        {
            $posts = $posts->orderBy('title', 'D');
        }
        else
        {
            $posts = $posts->orderBy('title', 'a');
        }
    }
    $posts = $posts->limit($c);
    $height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="module-box-two" style="height: <?= $height ?>;">
<div class="row justify-content-between">
	<div class="title col-sm-3">
		<div class="middle">
			<div >
				<i class="fa <?= $category->icon ?>"></i>
				<span><?= H(T($category->name)) ?></span>
			</div>
			<div>
				<a href="<?= \Gini\URI::url('category/'.$category->identity) ?>">
					<strong><?= H(T('More'))?></strong>
				</a>
			</div>
		</div>
	</div>
	<div class="content col-sm-9">
		<?php 
			if ($d->type == \Gini\ORM\Display::TYPE_POST) : 
				$post = $posts->limit(1)->current();
		?>
			<div class="post-clamp">
				<?= $post->content ?>
			</div>
		<?php else: ?>
		<ul class="post">
			<?php 
                foreach ($posts as $post):
			?>
			<li>
				<a href="<?= \Gini\URI::url('post/'.$post->id) ?>">
					<span class="it"><?= H($post->title) ?></span>
					( <?= H($object->listTitle == 'extension' ? $post->fileExtension : $post->pub_time)?> )
				</a>
			</li>
			<?php endforeach; ?>
		</ul>
		<?php endif; ?>
	</div>
</div>
</div>