<?php $height = ($object->height ?: 120) . 'px';?>
<div id="wrapper" style="height: <?= $height ?>">
	<div class="slider-wrapper theme-default">
    	<div id="slider_<?=$object->index ?>" class="nivoSlider">
			<?php
	    		$path = $object->filePath();
			    $imgs = [];
			    \Gini\File::eachFilesIn($path, function($file) use (&$imgs) {
			    	$imgs[] = $file;
			    });
			    foreach ($imgs as $file):
	    	?>
			<img src="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" alt="" height="<?= $height?>" data-thumb="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" />
			<?php endforeach; ?>
		</div>
	</div>
    <div id="htmlcaption" class="nivo-html-caption">
        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
    </div>
</div>
<style type="text/css">
	.nivo-main-image { height:<?= $height?> !important; }
	.nivo-slice,.nivo-slice img { height:<?= $height?> !important; }
</style>
<script>
    require(['main'], function() {
        require(['jquery.nivo.slider','css!../css/nivo-slider'],function(){
            $('#slider_<?=$object->index ?>').nivoSlider({
                //effect: '<?= $object->showType == "fade" ? "fade" : "sliceDown"?>',
                effect:'fold',
                slices: 15,
                boxCols: 50,
                boxRows: 4,
                animSpeed: 500,
                pauseTime: 3000,
                directionNav:false,                      // Next & Prev navigation
    //            directionNavHide:false,
                prevText: '<h1><</h1>',                 // Prev directionNav text
                nextText: '<h1>></h1>',
                controlNav: <?= $object->thumb == "thumb" ? 'true' : 'false' ?>,                      //显示1..2..3 若要显示缩略图需要同时打开选项
                controlNavThumbs: <?= $object->thumb == "thumb" ? 'true' : 'false' ?>, // Use thumbnails for Control Nav
                randomStart: <?= $object->randomPlay == "randomPlay" ? 'true' : 'false' ?>,               // Start on a random slide 随机播放
                afterLoad: function() {
                    $('#slider_<?=$object->index ?> img').css({
                        'max-height' : '<?= $height?>',
                        'min-height' : '<?= $height?>'
                    })
                }
            });
        });
    });
</script>
