<div class="equipment-box-one">
	<div class="title">
		<div class="tname">
			<div class="row">
				<div class="col-sm-6">
					<i class="fa fa-cogs"></i>
					<span><?= H(T('仪器设备')) ?></span>
				</div>
				<div class="col-sm-6">
					<div class="pull-right">
						<a href="<?= \Gini\URI::url('category/equipment') ?>" class="more">
							<?= H(T('更多'))?>&#160;<i class="fa fa-angle-double-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content cxscroll" id="equipment-box">
		<div class="loading text-center" style="padding: 10px;">
			<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
		</div>
	</div>
	<?php
		$isScroll = $object->isScroll ? $object->isScroll : true;
		$count = $isScroll ? ((int)$object->scrollNumber ?: 6) : (int)$object->count;
		
	?>
</div>
<script type="text/javascript">
require(['main'], function(){
	$.ajax({
		type: "POST",
		url: 'ajax/index/equipment/GetDisplayEquipments',
		data: {
			id: '<?= (int)$object->id ?>'
		},
		success: function(html) {
			var container = $('#equipment-box').append(html)
		    
		    var lis = $('#equipment-box .item')
		        , width = 0

		    setTimeout(function(e){
			    $.each(lis, function(k, v){
			    	$(v).css('width', $(v).find('img').outerHeight() + 20)
			    	if (k < <?= $count ?>) width = width + $(v).find('img').outerHeight() + 22
			    })

			    container.css({
			    	'padding-left': ( container.width() - width ) / 2,
			    	'padding-right': ( container.width() - width ) / 2
			    })

			    if (<?= $isScroll ? 'true' : 'false'?>) {
			    	require(['jquery.cxscroll'], function(){
				    	container.cxScroll({
				    		time: 2000,
				    		speed: 500
				    	}, function(){
				    		container.find('.loading').remove()
				    		container.find('.box').css('top', '0px')
				    	})
				    })
			    }
			    else {
			    	container.find('.loading').remove()
				    container.find('.box').css('top', '0px')
			    }
		    }, 1000);
		},
        complete: function() {
        }
	});
})
</script>
