<?php
	$height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="equipment-box-one" style="height: <?= $height ?>;">
	<div class="title">
		<div class="tname">
			<div class="row">
				<div class="col-sm-12">
                    <span><?= T(\Gini\ORM\Layout::$TYPE[$object->type]) ?></span>
				</div>
			</div>
		</div>
	</div>
	<div class="lab-status" style="height:<?= ($object->height ?: $object->sizey * 120) - 45 ?>px;">
        <div class="circle box">
            <div id="lab-circle"></div>
            <div class="circle-text">
                <p>总课题数 <span class="lab_total"><i class="fa fa-spinner fa-spin"></i></span> </p>
                <p>课题数 <span class="lab_test"><i class="fa fa-spinner fa-spin"></i></span></p>
            </div>
        </div>
        <div class="arrow box">
            <img style="height: 30px;" src="<?= URL('/assets/img/dlmu/jiantou.png')?>">
        </div>
		<div class="scale box">
            <img style="height: 200px;" src="<?= URL('/assets/img/dlmu/qiu.png')?>">
            <span style="position: absolute;">
                测试数
                <span class="test_count" style="font-size:30px;font-weight:bolder"><i class="fa fa-spinner fa-spin"></i></span>
                次
            </span>
        </div>
	</div>
</div>
<?php
	$colors = (array)Hub('config.design.color');
	$BgColor = $colors['navBg'] ?: \Gini\Config::get('config.navBg');
	$BgActiveColor = $colors['navBgActive'] ?: \Gini\Config::get('config.navBgActive');
?>
<style>
.circles-text { font-size: 36px!important; }
</style>
<script type="text/javascript">
require(['main', 'circles'], function($, Circles){
	$.ajax({
		type: "POST",
		url: "<?= URL("/ajax/index/equipment/LabStatus") ?>",
        data: { res_type: 'json' },
		success: function(info) {
            info = JSON.parse(info)
            $('.lab-status .lab_total').html(info.project)
            $('.lab-status .lab_test').html(info.lab)
            $('.lab-status .test_count').html(info.test)
            Circles.create({
				id:                  'lab-circle',
				radius:              120,
				value:               info.lab,
				maxValue:			 info.project,
				width:               20,
				text:                '',
				colors:              ["<?= $BgColor ?>", "<?= $BgActiveColor ?>"],
				duration:            100,
				wrpClass:            'circles-wrp',
				textClass:           'circles-text',
				valueStrokeClass:    'circles-valueStroke',
				maxValueStrokeClass: 'circles-maxValueStroke',
				styleWrapper:        true,
				styleText:           true
			});
		},
        complete: function() {
        }
	});
})
</script>