<?php
	$path = $object->filePath();
	$paths = (array)@scandir($path);
    $file = $paths[2];
?>
<div class="flex" style="overflow: hidden;" >
	<img src="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" <?= $object->proportion != 'height' ? 'height="100%"' : 'width="100%"' ?> />
</div>
