<?php
    $height = ($object->height ?: $object->sizey * 120) . 'px';
    $bheight = ($object->height ?: $object->sizey * 120) - 45;
?>
<div class="equipment-box-one" style="height: <?= $height ?>;">
	<div class="title">
		<div class="tname">
			<div class="row">
				<div class="col-sm-12">
					<span><?= T(\Gini\ORM\Layout::$TYPE[$object->type]) ?></span>
				</div>
			</div>
		</div>
	</div>
	<div id="top-reserve" style="height: <?= $bheight ?>px;">
	</div>
</div>
<script type="text/javascript">
require(['main'], function($){
	$.ajax({
		type: "POST",
		url: 'ajax/index/equipment/GetNewUsers',
		data: {
			number: '<?= (int)$object->count ?>'
		},
		success: function(html) {
		    $('#top-reserve').append(html)
		},
        complete: function() {
        }
	});
})
</script>