<?php
    $height = ($object->height ?: $object->sizey * 120) . 'px';
    $bheight = ($object->height ?: $object->sizey * 120) - 45;
?>
<div class="equipment-box-one" style="height: <?= $height ?>;">
	<div class="title">
		<div class="tname">
			<div class="row">
				<div class="col-sm-12">
					<span><?= T(\Gini\ORM\Layout::$TYPE[$object->type]) ?></span>
				</div>
			</div>
		</div>
	</div>
	<div class="real-list">
        <div class="box" style="height: <?= $bheight ?>px;">
            <ul class="list">
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
require(['main'], function($){
	$.ajax({
        type: "POST",
        url: '<?= URL('/ajax/index/equipment/getrecords') ?>',
        data: {},
        success: function(html) {
            var container = $('.real-list')
            container.find('.list').append(html)
            require(['jquery.cxscroll'], function(){
                container.cxScroll({
                    direction: 'bottom',
                    time: 1000,
                    speed: 500,
                    prevBtn: false,
                    nextBtn: false
                }, function() {
                    container.find('.box').css('top', '0px')
                })
            })
        },
        complete: function() {
        }
    });
})
</script>