<?php
	$height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="search" style="height: <?= $height ?>;">
	<form action="search" method="get">
        <div class="input-group">
        	<div class="input-group-btn search-btn-group">
                <?php
                    $token = $_SESSION['token'] = 'category_equipment_search_'.uniqid();
                ?>
        		<button type="button" class="btn  btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text">仪器</span>
                        <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="button">
                	<a class="dropdown-item" value="equipment"><?= T('仪器')?></a>
                	<a class="dropdown-item" value="all"><?= T('全文')?></a>
                </ul>
                <input type="hidden" name="search_type" value="all" />
        	</div>
            <input id="search-input" class="form-control search-input" type="text" placeholder="请输入关键词" name="keywords">
            <input type="hidden" name="token" value="<?= md5($token) ?>">
            <span class="input-group-addon">
                <button class="btn search-btn" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <script>
        require(['main'], function($){
            $('.search .search-btn-group').on('click', '.dropdown-menu a', function (e) {
                var me = $(this)
                    , value = me.attr('value')
                    , text = me.html()
                $('.search .dropdown-toggle span.text').html(text)
                $('.search input[name=search_type]').attr('value', value)

            })
        })
    </script>
</div>
