<?php
	$height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="equipment-box-one" style="height: <?= $height ?>;">
	<div class="title">
		<div class="tname">
			<div class="row">
				<div class="col-sm-12">
					<span><?= H(T('使用情况')) ?></span>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div id="summary"></div>
	</div>
</div>
<script type="text/javascript">
require(['main'], function($){
	$.ajax({
		type: "POST",
		url: 'ajax/index/equipment/getSummary',
		data: {
			id: '<?= (int)$object->id ?>'
		},
		success: function(html) {
		    $('#summary').append(html)
		},
        complete: function() {
        }
	});
})
</script>