<?php
	$height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="equipment-box-one" style="height: <?= $height ?>;">
	<div class="title">
		<div class="tname">
			<div class="row">
				<div class="col-sm-12">
					<span><?= H(T('用户排行')) ?></span>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<table class="table table-condensed">
			<tbody id="top-user">
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
require(['main'], function($){
	$.ajax({
		type: "POST",
		url: 'ajax/index/equipment/getTopUsers',
		data: {
			id: '<?= (int)$object->id ?>'
		},
		success: function(html) {
		    $('#top-user').append(html)
		},
        complete: function() {
        }
	});
})
</script>