<?php
$height = ($object->height ?: $object->sizey * 40) . 'px';
?>
<div class="top-box" style="height: <?= $height ?>;">
    <div class="content row" style="line-height: <?= $height ?>">
        <a href="<?= $object->laddress ?>" style="color:<?= $object->lcolor ?>"><?= H($object->lname) ?></a>
        <a href="<?= $object->linkaddress ?>" style="color:<?= $object->linkcolor ?>"><?= H($object->linkname) ?></a>
        <?php if ($object->isShow): ?>
            <div class="search" style="width: 260px;">
                <form action="search" method="get">
                    <div class="input-group">
                        <div class="input-group-btn search-btn-group">
                            <button type="button" class="btn  btn-secondary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text">仪器</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="button">
                                <a class="dropdown-item" value="equipment"><?= T('仪器') ?></a>
                                <a class="dropdown-item" value="all"><?= T('全文') ?></a>
                            </ul>
                            <input type="hidden" name="search_type" value="equipment"/>
                        </div>
                        <input id="search-input" class="form-control search-input" type="text" placeholder="请输入关键词"
                               name="keywords">
                        <span class="input-group-addon">
                            <button class="btn search-btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <script>
                    require(['main'], function ($) {
                        $('.search .search-btn-group').on('click', '.dropdown-menu a', function (e) {
                            var me = $(this)
                                , value = me.attr('value')
                                , text = me.html()
                            $('.search .dropdown-toggle span.text').html(text)
                            $('.search input[name=search_type]').attr('value', value)

                        })
                    })
                </script>
            </div>
        <?php endif; ?>
    </div>
</div>