<?php
	$height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="equipment-box-one" style="height: <?= $height ?>;">
	<div class="title">
		<div class="tname">
			<div class="row">
				<div class="col-sm-12">
                    <span><?= T(\Gini\ORM\Layout::$TYPE[$object->type]) ?></span>
				</div>
			</div>
		</div>
	</div>
	<div class="user-status">
        <div class="description">
            <div class="user_outer box">
				<div class="value"><i class="fa fa-spin fa-spinner"></i></div>
				<div>校外用户</div>
			</div>
            <div class="user_inner box">
				<div class="value"><i class="fa fa-spin fa-spinner"></i></div>
				<div>校内用户</div>
			</div>
            <div class="user_incharge box">
				<div class="value"><i class="fa fa-spin fa-spinner"></i></div>
				<div>管理员</div>
			</div>
        </div>
        <div class="chart" style="width:100%; height:<?= ($object->height ?: $object->sizey * 120) - 45 ?>px;">
			<div id="outer_circles" class="circles"></div>
			<div id="inner_circles" class="circles"></div>
			<div id="incharge_circles" class="circles"></div>
		</div>
	</div>
</div>
<?php
	$colors = (array)Hub('config.design.color');
	$BgColor = $colors['navBg'] ?: \Gini\Config::get('config.navBg');
	$BgActiveColor = $colors['navBgActive'] ?: \Gini\Config::get('config.navBgActive');
?>
<style>
.circles-text { font-size: 36px!important; }
</style>
<script type="text/javascript">
require(['main', 'circles'], function($, Circles){
	$.ajax({
		type: "POST",
		url: "<?= URL("/ajax/index/equipment/UserStatus") ?>",
        data: { res_type: 'json' },
		success: function(info) {
			info = JSON.parse(info)
			$('.user-status .user_outer .value').html(info.outer)
			$('.user-status .user_inner .value').html(info.inner)
			$('.user-status .user_incharge .value').html(info.incharge)
			Circles.create({
				id:                  'outer_circles',
				radius:              80,
				value:               info.outer,
				maxValue:			 info.total,
				width:               10,
				text:                function(value) { return info.total ? parseInt(info.outer / info.total * 100).toFixed(2) + '%' : 0; },
				colors:              ["#E8E8E8", "<?= $BgActiveColor ?>"],
				duration:            100,
				wrpClass:            'circles-wrp',
				textClass:           'circles-text',
				valueStrokeClass:    'circles-valueStroke',
				maxValueStrokeClass: 'circles-maxValueStroke',
				styleWrapper:        true,
				styleText:           true
			});
			Circles.create({
				id:                  'inner_circles',
				radius:              80,
				value:               info.inner,
				maxValue:			 info.total,
				width:               10,
				text:                function(value) { return info.total ? parseInt(info.inner / info.total * 100).toFixed(2) + '%' : 0; },
				colors:              ['#E8E8E8', "<?= $BgColor ?>"],
				duration:            100,
				wrpClass:            'circles-wrp',
				textClass:           'circles-text',
				valueStrokeClass:    'circles-valueStroke',
				maxValueStrokeClass: 'circles-maxValueStroke',
				styleWrapper:        true,
				styleText:           true
			});
			Circles.create({
				id:                  'incharge_circles',
				radius:              80,
				value:               info.incharge,
				maxValue:			 info.total,
				width:               10,
				text:                function(value) { return info.total ? parseInt(info.incharge / info.total * 100).toFixed(2) + '%' : 0; },
				colors:              ['#E8E8E8', '<?= $BgActiveColor ?>'],
				duration:            100,
				wrpClass:            'circles-wrp',
				textClass:           'circles-text',
				valueStrokeClass:    'circles-valueStroke',
				maxValueStrokeClass: 'circles-maxValueStroke',
				styleWrapper:        true,
				styleText:           true
			});
		},
        complete: function() {
        }
	});
})
</script>