<?php if (count($equipments) == 0) { ?>
    <tr data-more="-1">
        <td colspan="8" style="text-align:center">
            <br/>
        </td>
    </tr>
<?php } else { ?>
    <?php foreach($equipments as $equipment) {
        $equipment = (object)$equipment;
        echo U('admin/equipment/equipment-ajax', ['equipment' => $equipment]);
    } ?>
    <tr data-more="<?= intval($next_start) ?>">
        <td colspan="8"></td>
    </tr>
<?php } ?>