<div id="add-module-modal" class="modal fade in">
    <div class="modal-dialog modal-lg" style="max-width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?= H(T('修改仪器信息')) ?></h4>
            </div>
            <div class="modal-body">
                <form id="add-modal-form" method="POST" action="gini-ajax:ajax/unpc/equipment/edit/<?= (int)$Requipment->id ?>">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class=""><?= H(T('仪器名称')) ?></label>
                                <input type="text" class="form-control" id="name" autocomplete="off"
                                       value="<?= H($Requipment->name) ?>" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ref_no" class=""><?= H(T('仪器编号')) ?></label>
                                <input type="text" class="form-control" id="ref_no" autocomplete="off"
                                       value="<?= H($Requipment->ref_no) ?>" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="location" class=""><?= H(T('放置地址')) ?></label>
                                <input type="text" class="form-control" id="location" autocomplete="off" value="<?= H($Requipment->location . $Requipment->location2) ?>" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="model_no" class=""><?= H(T('型号规格')) ?></label>
                                <input type="text" class="form-control" id="model_no"  autocomplete="off"
                                       value="<?= H($Requipment->model_no) ?>" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label for="manufacture" class=""><?= H(T('制造商')) ?></label>
                                <input type="text" class="form-control" id="manufacture" autocomplete="off"
                                       value="<?= H($Requipment->manufacture) ?>" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label for="email" class=""><?= H(T('仪器分类')) ?></label>
                                <input type="text" class="form-control" id="tags" autocomplete="off"
                                    value="<?= H($Requipment->tags) ?>" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label for="contact" class=""><?= H(T('联系人')) ?></label>
                                <input type="text" class="form-control" id="contact" autocomplete="off"
                                       value="<?= H($Requipment->contact) ?>" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group  <?= $form['_errors']['phone'] ? 'has-error is-focused' : ' '; ?> <?= $form['phone'] ? '' : 'is-empty' ?>">
                                <label for="phone" class=""><?= H(T('联系电话')) ?></label>
                                <input type="text" class="form-control" id="phone" autocomplete="off"
                                       value="<?= H($Requipment->phone) ?>" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="purchased_date" class=""><?= H(T('购置日期')) ?></label>
                                <input type="text" class="form-control" id="purchased_date" autocomplete="off"
                                       value="<?= date('Y-m-d', H($Requipment->purchased_date)) ?>" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="frontShow" <?= $equipment->frontShow ? 'checked' : '';?>>
                                    <?= H(T('在仪器列表显示')) ?>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="openCalendar" class=""><?= H(T('开放机时安排')) ?></label>
                                <textarea class="form-control" rows="3" id="openCalendar" name="openCalendar"><?= $equipment->openCalendar ?></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="application" class=""><?= H(T('测试研究领域')) ?></label>
                                <textarea class="form-control" rows="3" id="application" name="application"><?= $equipment->application ?></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="chargeRule" class=""><?= H(T('参考收费标准')) ?></label>
                                <?= U('components/coder', ['name' => 'chargeRule', 'content' => $equipment->chargeRule ])?>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-save " data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-fw "></i><?= H(T('关闭')) ?></button>
                <button class="btn btn-ok " form="add-modal-form" type="submit"><i class="fa fa-edit fa-fw"></i> <?= H(T('添加')) ?></button>
            </div>
        </div>
        <script data-ajax="true">
            require(['main'], function ($) {
                var $modal = $('#add-module-modal');
                $modal
                    .on('hidden.bs.modal', function () {
                        $modal.remove();
                    })
                    .modal();
                $('#add-modal-form').on('ajax-success', function () {
                    $modal
                        .removeAttr('id').modal('hide')
                        .find('[id]').removeAttr('id');
                })

            });
        </script>
    </div>
</div>