<?php
	$path = $equipment->filePath();
	$imgs = [];
    \Gini\File::eachFilesIn($path, function($file) use (&$imgs) {
    	$imgs[] = $file;
    });
    $vars = [
        'url' => "ajax/unpc/equipment/upload/{$equipment->id}",
        'maxFiles' => 10,
        'appceptedFiles' => '.png,.jpg,.bmp,.gif',
        'removeUrl' => "ajax/unpc/equipment/removefile/{$equipment->id}",
    ];
    if (count($imgs)) {
    	$files = [];
    	foreach ($imgs as $file){
    		$fullpath = $path.$file;
    		$files[] = [
    			'name' => $file,
	    		'size' => filesize($fullpath),
	    		'path' => "!equipment/icon/{$equipment->id}/{$file}"
    		];
    	}
    	$vars['files'] = json_encode($files);
    }
?>
<div id="add-module-modal" class="modal fade in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?= H(T('仪器图片')) ?></h4>
            </div>
            <div class="modal-body">
                <?php echo U('components/upload', $vars); ?>
            </div>
            <div class="modal-footer">
                <button class="btn btn-save " data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-fw "></i><?= H(T('关闭')) ?></button>
            </div>
        </div>
        <script data-ajax="true">
            require(['main'], function ($) {
                var $modal = $('#add-module-modal');
                $modal
                    .on('hidden.bs.modal', function () {
                        $modal.remove();
                    })
                    .modal();
                $('#add-modal-form').on('ajax-success', function () {
                    $modal
                        .removeAttr('id').modal('hide')
                        .find('[id]').removeAttr('id');
                })

            });
        </script>
    </div>
</div>