<tr data-equipment-id="<?= intval($equipment->id) ?>">
    <td style="vertical-align:middle;text-align:center;white-space:nowrap"><?= str_pad($equipment->id, 6, 0, STR_PAD_LEFT) ?></td>
    <td style="vertical-align:middle;text-align:left;">
        <span class="text-muted"><?= H($equipment->name) ?></span>
    </td>
    <td style="vertical-align:middle;text-align:left;white-space:nowrap">
        <span class="text-muted"><?= H($equipment->ref_no) ?></span>
    </td>
    <td style="vertical-align:middle;text-align:left;white-space:nowrap">
        <span class="text-muted"><?= H($equipment->tags) ?></span>
    </td>
    <td >
        <?= H($equipment->contact) ?>
    </td>
    <td style="vertical-align:middle;white-space:nowrap" class="hidden-xs">
        <?= H($equipment->phone) ?>
    </td>
    <td style="vertical-align:middle;white-space:nowrap">
        <?= H(date('Y-m-d', $equipment->manu_date)) ?>
    </td>
    <td style="vertical-align:middle;white-space:nowrap">
        <div class="pull-right">
            <a class="" href="gini-ajax:AJAX/Unpc/Equipment/EditImg/<?= (int)$equipment->id ?>">
                <i class="fa fa-image fa-fw"></i>
            </a>
            <a class="" href="gini-ajax:AJAX/Unpc/Equipment/Edit/<?= (int)$equipment->id ?>">
                <i class="fa fa-edit fa-fw"></i>
            </a>
        </div>
    </td>
</tr>