<div class="gini-padding">
	<div class="box">
        <h4 class="left"><i class="icon-equipment02"></i> <?= H(T('仪器列表')) ?></h4>
    </div>
    <div class="box">
        <div class="left" style="margin:0px;">
            <div class="card roll-list" style="padding: 0;">
                <div class="gini-header">
                    <form class="float-right form-inline" method="post">
                        <div class="input-group">
                            <input type="text" name="ref_no" class="form-control" placeholder="仪器编号" value="<?= $form['ref_no'] ?>">
                        </div>
                        <div class="input-group" style="margin-left: 10px;">
                            <input type="text" name="keywords" class="form-control" placeholder="关键字" value="<?= $form['keywords'] ?>">
                        </div>
                        <div class="input-group" style="margin-left: 10px;">
                            <button class="btn btn-ok" type="submit" name="submit">
                                <i class="icon-search"></i> 搜索</button>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover user-table ">
                        <thead>
                            <tr>
                                <th style="white-space:nowrap"><?= H(T('远程仪器ID'))?></th>
                                <th style=""><?= H(T('仪器名称'))?></th>
                                <th style="white-space:nowrap"><?= H(T('仪器编号'))?></th>
                                <th style="white-space:nowrap"><?= H(T('仪器分类'))?></th>
                                <th style="" ><?= H(T('联系人'))?></th>
                                <th style="" ><?= H(T('联系人电话'))?></th>
                                <th style="text-align:center;white-space:nowrap"><?= H(T('购买日期'))?></th>
                                <th style="white-space:nowrap"></th>
                            </tr>
                        </thead>
                        <tbody id="equipments">
                            <tr class="loading">
                                <td colspan="8" style="text-align:center">
                                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <script>
                    require(['more'], function(More){
                        var ajax_form = <?= json_encode($form) ?>;
                        new More({
                            start: 0,
                            root: '#equipments',
                            url: function() { return 'AJAX/Unpc/Equipment/list/' + this.start },
                            data: { ajax_form: ajax_form }
                        });
                    });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>