<div class="row">
	<div class="col-xs-12">
		<div class="post-item">
			<div class="media">
				<div class="media-left">
					<div class="pic">
						<strong><?= HH($post->category->name) ?></strong>
					</div>
				</div>
				<div class="media-body">
					<div class="title">
						<a href="<?= URL('post/'.$post->id) ?>">
							<?= str_replace($keywords, '<span class="bold">'.$keywords.'</span>', H($post->title)) ?>
						</a>
						<span class="pull-right"><?= date('Y-m-d', strtotime($post->pub_time)) ?></span>
					</div>
					<div class="content">
						<?= strip_tags(preg_replace("/\s+/", "", $post->content)) ?: T('进入查看详情...')?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>