<?php if (count($posts) == 0): ?>
<div data-more="-1" class="col-md-12"></div>
<?php if($start == 0): ?>
	<div class="text-center padding_2 red"><?= H('未找到该搜索条件下的文章内容!') ?></div>
<?php endif; ?>
<?php else: ?>
<?php foreach($posts as $post):?>
    <?= U('post/box', ['post' => $post, 'keywords' => $keywords]) ?>
<?php endforeach; ?>
<div data-more="<?= intval($next_start) ?>" class="col-md-12"></div>
<script type="text/javascript" id="post-clamp">
$.each($('#post-container .media .content'), function(k , v){
	$clamp(v, {clamp: 4})
	$('#post-clamp').remove();
})
</script>
<?php endif; ?>