<div class="category category-post">
    <div class="logo-container" style="background-color:#FFFFFF;padding:0px;">
        <div class="col-md-6">
            <?php
                $category = $post->category;
                $object = a('layout')->whose('type')->is(\Gini\ORM\Layout::TYPE_LOGO);
                $path = $object->filePath();
                $paths = (array)@scandir($path);
                $file = $paths[2];
            ?>
            <img src="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" style="overflow: hidden;height: 80px;margin-top:15px;" />
        </div>
        <div class="col-md-6">
            <ul class="top_1"> 
                <li>
                    <a href="<?= URL('/') ?>"><i class="fa fa-home fa-fw"></i><span>首页</span></a>
                </li>
                <?php 
                    $ms = (array)Hub('config.nav.modules');
                    foreach ($ms as $m):
                        $mo = a('category', ['identity' => $m]);
                ?>
                <li>
                    <a class="<?= $category->identity == $m ? 'active' : '' ?>" href="<?= \Gini\URI::url("category/{$mo->identity}")?>"><i class="fa <?= $mo->icon?> fa-fw"></i><span><?= H($mo->name) ?></span></a>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
    <div class="navigation-line">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<?= URL('/') ?>">首页</a></li>
                <li class="breadcrumb-item"><a href="<?= URL("/category/{$category->identity}") ?>"><?= $category->name ?></a></div>
                <li class="breadcrumb-item active" aria-current="page"><?= $category->name ?></li>
            </ol>
        </nav>
    </div>
    <div class="post-container">
        <h1><?= H($post->title) ?></h1>
        <span class="time"><?= T('发稿时间: %time', ['%time' => $post->pub_time]) ?></span>
        <div class="content"><?= $post->content ?></div>
    </div>
</div>

