<div class="container-fluid layout-index">
	<?= U('category-header') ?>
	<div class="col-md-12 u-box">
		<div class="post-container">
			<ol class="breadcrumb">
				<li><a href="<?= url('/');?>"><?= T('首页')?></a></li>
				<li class="active"><?= H($content->title) ?></li>
			</ol>
			<div class="content">
                <img src="<?= URL("!content/icon/{$content->id}/{$content->fileName}") ?>" alt="<?= $content->title?>" />
                <span><?= T('负责人: %incharges', ['%incharges' => $content->name]) ?></span>
                <span class="desc"><?= T('简介: %description', ['%description' => $content->description]) ?></span>
            </div>
		</div>
	</div>
</div>
