<div id="add-tag-modal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?= H(T('添加菜单')) ?></h4>
            </div>
            <div class="modal-body">
                <form id="add-tag-form" method="POST" action="gini-ajax:ajax/unpc/tag/add/<?= $category->identity ?>">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="form-group  <?= $form['name'] ? '' : 'is-empty' ?> <?= $form['_errors']['name'] ? 'has-error is-focused' : ''; ?>">
                                <label for="name" class=""><?= H(T('菜单名称')) ?></label>
                                <input type="text" class="form-control" id="name" name="name" autocomplete="off"
                                       value="<?= H($form['name']) ?>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group  <?= $form['identity'] ? '' : 'is-empty' ?> <?= $form['_errors']['identity'] ? 'has-error is-focused' : ' is-empty '; ?>">
                                <label for="identity" class=""><?= H(T('菜单标示')) ?></label>
                                <input type="text" class="form-control" id="identity" name="identity" autocomplete="off"
                                       value="<?= H($form['identity']) ?>">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="type" class="col-md-3"><?= H(T('展示样式')) ?></label>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input name="type" type="radio"
                                           value="<?= \Gini\ORM\Tag::TYPE_LIST ?>" <?= ($form['type'] != \Gini\ORM\Tag::TYPE_POST) ? 'checked="checked"' : '' ?>
                                           class="form-check-input">
                                    <?= H(T(\Gini\ORM\Tag::$TYPE[\Gini\ORM\Tag::TYPE_LIST])) ?>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input name="type" type="radio"
                                           value="<?= \Gini\ORM\Tag::TYPE_POST ?>" <?= $form['type'] == \Gini\ORM\Tag::TYPE_POST ? 'checked="checked"' : '' ?>
                                           class="form-check-input">
                                    <?= H(T(\Gini\ORM\Tag::$TYPE[\Gini\ORM\Tag::TYPE_POST])) ?>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-save " data-dismiss="modal" aria-hidden="true"><i
                                class="fa fa-times fa-fw "></i><?= H(T('关闭')) ?></button>
                    <button class="btn btn-ok " form="add-tag-form" type="submit"><i
                                class="fa fa-plus fa-fw"></i> <?= H(T('添加')) ?></button>
            </div>
        </div>
        <script data-ajax="true">
            require(['main'], function ($) {

                var $modal = $('#add-tag-modal');
                $modal
                    .on('hidden.bs.modal', function () {
                        $modal.remove();
                    })
                    .modal();

                $('#add-tag-form').on('ajax-success', function () {
                    $modal
                        .removeAttr('id').modal('hide')
                        .find('[id]').removeAttr('id');
                });

            });
        </script>
    </div>
</div>
