<div id="edit-tag-modal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?= H(T('编辑菜单')) ?></h4>
            </div>
            <div class="modal-body">
                <form id="edit-tag-form" method="POST" action="gini-ajax:ajax/unpc/tag/edit/<?= $tag->id ?>">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <?php $name = H($form['_errors']['name'] ? $form['name'] : $tag->name); ?>
                            <div class="form-group  <?= $name ? '' : 'is-empty' ?> <?= $form['_errors']['name'] ? 'has-error is-focused' : ''; ?>">
                                <label for="name" class=""><?= H(T('菜单名称')) ?></label>
                                <input type="text" class="form-control" id="name" name="name" autocomplete="off"
                                       value="<?= H($name) ?>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <?php $identity = H($form['_errors']['identity'] ? $form['identity'] : $tag->identity); ?>
                            <div class="form-group  <?= $identity ? '' : 'is-empty' ?> <?= $form['_errors']['identity'] ? 'has-error is-focused' : ' '; ?>">
                                <label for="identity" class=""><?= H(T('菜单标示')) ?></label>
                                <input type="text" class="form-control" id="identity" name="identity" autocomplete="off"
                                       value="<?= H($identity) ?>">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                            <label for="type" class="col-md-3"><?= H(T('展示样式')) ?></label>
                            <div class="col-md-9">
                                <?php $type = H($form['_errors'] ? $form['type'] : $tag->type); ?>
                                <div class="form-check form-check-inline" >
                                    <label class="form-check-label">
                                        <input name="type" style="margin-top:4px" type="radio"
                                               value="<?= \Gini\ORM\Tag::TYPE_LIST ?>" <?= ($type != \Gini\ORM\Tag::TYPE_POST) ? 'checked="checked"' : '' ?>
                                               class="form-check-input">
                                            <?= H(T(\Gini\ORM\Tag::$TYPE[\Gini\ORM\Tag::TYPE_LIST])) ?>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input name="type" style="margin-top:4px" type="radio"
                                               value="<?= \Gini\ORM\Tag::TYPE_POST ?>" <?= $type == \Gini\ORM\Tag::TYPE_POST ? 'checked="checked"' : '' ?>
                                               class="form-check-input">
                                            <?= H(T(\Gini\ORM\Tag::$TYPE[\Gini\ORM\Tag::TYPE_POST])) ?>
                                    </label>
                                </div>
                            </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-save " data-dismiss="modal" aria-hidden="true"><i
                                class="fa fa-times fa-fw "></i><?= H(T('关闭')) ?></button>
                    <button class="btn btn-ok " form="edit-tag-form" type="submit">
                        <i class="fa fa-plus fa-fw "></i><?= H(T('添加')) ?></button>
            </div>
        </div>
        <script data-ajax="true">
            require(['main'], function ($) {

                var $modal = $('#edit-tag-modal');
                $modal
                    .on('hidden.bs.modal', function () {
                        $modal.remove();
                    })
                    .modal();

                $('#edit-tag-form').on('ajax-success', function () {
                    $modal
                        .removeAttr('id').modal('hide')
                        .find('[id]').removeAttr('id');
                });

            });
        </script>
    </div>
</div>

