<?php
	$height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="link-box-one" style="height: <?= $height ?>;">
	<div class="content <?= H($object->align) ?>" style="font-size: 18px;font-weight: 700;">
		<?php
			$links = (array)$object->links;
			$count = max(count($links), 1);
			foreach ($links as $link):
		?>
			<a href="<?=$link['url']?>" class="item shtech" style="display: block;padding-left:60px;text-align:left;background-color: <?= $object->backgroundColor ?: '#E7E7E7'; ?>; color: <?= $object->fontColor ?: '#000000'?> ">
				<?php if($link['icon']): ?>
					<i class="fa <?= $link['icon'] ?>"></i>
				<?php endif; ?>
				<?= $link['title'] ?>
			</a>
		<?php endforeach; ?>
	</div>
</div>
<script>
   require(['main'], function($) {
	$('.u-box').eq(6).css('padding','1px 5px');
	$('.u-box').eq(7).css('padding','1px 5px');
	$('.u-box').eq(8).css('padding','1px 5px');
	$('.u-box').eq(9).css('padding','1px 5px');
   });
</script>