<?php
        $height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="link-box-two" style="height: <?= $height ?>;background-color: <?= $object->backgroundColor ?: '#E7E7E7'; ?>">
        <div style="line-height: 40px;text-align: center;"  class="content <?= H($object->align) ?>" <?= $object->align != 'vertical' ? 'style="line-height: '.($height - 20).'px;"' : '' ?> >
                <?php
                        $links = (array)$object->links;
                        foreach ($links as $link):
                ?>
                        <a href="<?= $link['url'] ?>" class="link-edit item <?= ($link['icon'] && $link['icon'] != "fa-") ? '' : 'lpadding_2' ?>" style="border-right: 2px solid #fff;<?php if($link['icon'] && $link['icon'] != "fa-"){echo 'color: #0057da; font-weight:700;';}else {echo ' color:'. ($object->fontColor ?: '#000000') .'; font-size: 18px;';  }?>">
                                <?php if($link['icon']): ?>
                                        <!--<i class="fa <?= $link['icon'] ?>"></i>-->
                                <?php endif; ?>
                                <?= $link['title'] ?>
                        </a>
                <?php endforeach; ?>
        </div>
</div>
<script>
require(['main'], function($){
	$('.link-edit:last').css('text-align','center');
})
</script>