<?php /* 底部栏目 */ ?>
<div class="foot-container">
    <div class="media">
        <div class="media-left">
            <div class="title">
                <img src="<?= URL('/assets/img/sdu/友情链接.png') ?>">
                <strong class="sub-title"><?= T('友情链接') ?></strong>
                <span class="title-desc"><?= T('Friendship link') ?></span>
            </div>
            <div class="hr_2"></div>
            <ul class="sub-list">
                <?php
                    $layout = a('layout')->whose('type')->is(\Gini\ORM\Layout::TYPE_LINK);
                    $links = array_slice((array)$layout->links, 0, 5);
                    foreach ($links as $link):
                ?>
                    <li>
                        ◆ <a href="<?= H($link['url'])?>"><?= H($link['title']) ?></a>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
        <div class="media-body">
            <div class="title">
                <img src="<?= URL('/assets/img/sdu/联系我们png.png') ?>">
                <strong class="sub-title"><?= T('联系我们') ?></strong>
                <span class="title-desc"><?= T('Contact Us') ?></span>
            </div>
            <div class="hr_2"></div>
            <ul class="sub-list">
                <?php
                    $usCategory = a('category')->whose('identity')->is('aboutUs');
                    $supportPost = a('post')->whose('category')->is($usCategory)->andWhose('title')->is('技术支持');
                    $phonePost = a('post')->whose('category')->is($usCategory)->andWhose('title')->is('联系电话');
                    $mailPost = a('post')->whose('category')->is($usCategory)->andWhose('title')->is('电子邮箱');
                    $addPost = a('post')->whose('category')->is($usCategory)->andWhose('title')->is('通讯地址');
                ?>
                <li>◆ <?= T('技术支持 : %support', ['%support' => H(strip_tags($supportPost->content))])?></li>
                <li>◆ <?= T('联系电话 : %phone', ['%phone' => H(strip_tags($phonePost->content))])?></li>
                <li>◆ <?= T('电子邮箱 : %email', ['%email' => H(strip_tags($mailPost->content))])?></li>
                <li>◆ <?= T('通讯地址 : %address', ['%address' => H(strip_tags($addPost->content))])?></li>
            </ul>
        </div>
        <div class="media-right">
            <div class="title">
                <img src="<?= URL('/assets/img/sdu/意见反馈.png') ?>">
                <strong class="sub-title"><?= T('意见反馈') ?></strong>
                <span class="title-desc"><?= T('Opinion feedback') ?></span>
            </div>
            <div class="hr_2"></div>
            <form id="message-form" action="gini-ajax:Ajax/Hnucm/Message/Send" method="POST" >
                <div class="media opinion">
                    <div class="media-left">
                        <div class="input-group">
                            <textarea placeholder="请输入您的宝贵意见" name="body"></textarea>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="<?= URL('/assets/img/sdu/姓名.png') ?>" /></span>
                            <input type="text" class="form-control" placeholder="姓名" name="name" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><img src="<?= URL('/assets/img/sdu/联系电话.png') ?>" /></span>
                            <input type="text" class="form-control" placeholder="联系电话" name="phone" />
                        </div>
                        <button class="btn btn-primary" id="message-btn"><?= T('提交') ?></button>
                        <button class="hidden" type="submit"></button>
                    </div>
                    <div id="confirm-modal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"><?= H(T('您确认要提交本次意见反馈吗?')) ?></h4>
                                </div>
                                <div class="modal-body">
                                    <?= H(T('点击确认后，您的意见反馈将会发送到设备处专用反馈邮箱! 谢谢您对本系统的监督建议！')) ?>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn none"></a>
                                    <a class="btn btn-primary btn-normal" tabindex="1" data-dismiss="modal"
                                        aria-hidden="true"><?= H(T('取消')) ?></a>
                                    <a class="btn btn-primary btn-confirm btn-normal" tabindex="2"><i
                                                class="fa fa-check fa-fw"></i> <?= H(T('确认')) ?></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<nav class="footer-nav navbar navbar-default navbar-static-bottom">
    <div class="container text-center">
        <span>
    		<?= T('CopyRight © 2019 湖南中医药大学大型仪器共享网络平台. All Rights Reserved'); ?>
        </span>
        <span class="lpadding_2">
        	<?= T('LabScout LIMS-CF ● 基理科技 运维支持') ?>
        </span>
        <a href="<?= H(URL('/command'))?>"><?= T('管理后台') ?></a>
    </div>
</nav>