<div class="top-container">
    <div class="inner-container">
        <ul class="left">
            <li><?= T('欢迎来到大仪共享网络平台') ?></li>
            <li><a href="javascript:;" onclick="AddFavorite()" rel="sidebar"><?= T('加入收藏') ?></a></li>
        </ul>
    </div>
</div>
<script>
function AddFavorite(title, url) {
    title=document.getElementsByTagName("title")[0].childNodes[0].data;
    url=document.location.href;
    try {
        window.external.addFavorite(url, title);
    }
    catch (e) {
        try {
            window.sidebar.addPanel(title, url, "");
        }
        catch (e) {
            alert("该浏览器不支持收藏功能，请使用Ctrl+D进行添加");
        }
    }
}
</script>