<div class="logo-container">
    <div class="left" style="width: 50%;">
        <?php
            $object = a('layout')->whose('type')->is(\Gini\ORM\Layout::TYPE_LOGO);
            $path = $object->filePath();
            $paths = (array)@scandir($path);
            $file = $paths[2];
        ?>
        <img src="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" style="overflow: hidden;width:100%;" />
    </div>
    <form action="<?= URL('/equipment/search')?>" method="POST" style="flex: 0 0 50%;">
        <div class="input-group search">
            <span class="input">
                <input type="text" class="form-control search-input" aria-label="搜索" placeholder="<?= T('请输入关键字') ?>" name="keywords" />
            </span>
            <span class="hr"><span></span></span>
            <span class="input-group-addon search-text">
                <button class="btn search-btn" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>
<div class="top-tab">
    <span>大&nbsp;型&nbsp;科&nbsp;研&nbsp;仪&nbsp;器</span>
    <ul>
        <li>
            <a href="<?= URL('/') ?>">首页</a>
        </li>
        <?php 
            $ms = (array)Hub('config.nav.modules');
            foreach ($ms as $m):
                $module = a('category', ['identity' => $m]);
        ?>
            <li>
                <a href="<?= \Gini\URI::url("category/{$module->identity}")?>"><?= H($module->name) ?></a>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
<div class="center_banner">
    <!-- sidebar start -->
    <div class="sidebar clearfix">
        <ul>
            <li class="cat"><?= T('所属分类') ?></li>
            <li class="group"><?= T('所属机构') ?></li>
        </ul>
        <div class="sidebar-right hide cat-right">
            <div class="row title"><?= T('所属分类') ?></div>
            <div class="row sec">
            </div>
        </div>
        <div class="sidebar-right hide group-right">
            <div class="row title"><?= T('所属机构') ?></div>
            <div class="row sec">
                <?php
                    $roots = (array)\Gini\Config::get('equipment.root');
                    foreach ($roots as $k => $root): 
                ?>
                    <div class="col-xs-4"><a href="<?= URL('/category/instrument', ['id' => $root['id']]) ?>"><?= $root['name'] ?></a></div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    <div class="banner clearfix">
        <?php
			$displayLayout = a('layout')->whose('type')->is(\Gini\ORM\Layout::TYPE_DISPLAY);
            $displayLayout->render();
            $setting = (array)Hub('config.design.system'); 
		?>
    </div>
    <div class="sidebar_right">
        <h3><?= H('进入仪器预约系统') ?></h3>
        <div class="login-content">
            <form class="login-form" method="post" role="form" action="<?= $setting['loginUrl'] ?>">
            <div class="form-group">
                    <label class="user-font" for="exampleInputEmail1"><?= H(T('用户名'))?></label>
                    <input type="text" class="form-control " id="inputUser" name="token">
                </div>
                <div class="form-group">
                    <label class="user-password" for="exampleInputPassword1"><?= H(T('密码'))?></label>
                    <input type="password" class="form-control" id="inputPassword" name="password">
                </div>
                <div class="form-group login-btn">
                    <div class="hr_2"></div>
                    <button type="submit" name="submit" value="登录" class="btn btn-primary btn-block">
                        <?= H(T('用户登录')) ?>
                    </button>
                    <a class="btn btn-primary btn-block" href="http://<?= _G('system.host') ?>/lims/!labs/signup" target="_blank"><?= H(T('注册用户'))?></a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="layout-index">
    <div class="content clearfloat">
        <div class="cont">
            <h3><i class="icon-jl" style="margin-right:10px;"></i>实时使用记录</h3>
            <div id="demo" style="OVERFLOW: hidden;HEIGHT: 265px;">
                <table border="0" cellpadding="0" cellspacing="0" style="width:490px;">
                    <tr>
                        <td id="demo1">
                            <ul class="con" style="height: auto;padding:0px;">
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td id="demo2"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="cont cont-right">
            <h3><i class="icon-gonggao" style="margin-right:10px;"></i><?= T('通知公告') ?> <a href="<?= URL('/category/New') ?>" style="display:inline"><span class="more right">更多></span></a></h3>
            <div class="notice">
                <div class="notice-left">
                    <img src="<?= URL('/assets/img/dlmu/left-yuan.png') ?>"/>
                </div>
                <ul>
                    <?php
                        $noticeCategory = a('category')->whose('identity')->is('New');
                        $posts = those('post')
                            ->whose('category')->is($noticeCategory)
                            ->andWhose('status')->is(\Gini\ORM\Post::STATUS_PUBLISH)
                            ->orderBy('pub_time', 'Desc')->limit(3);
                        foreach($posts as $post):
                    ?>
                    <li>
                        <a href="<?= URL("/post/{$post->id}") ?>">
                            <div class="notice-top">
                                <span class="left title"><?= H($post->title) ?></span>
                                <span class="right time"><?= H($post->pub_time) ?></span>
                            </div>
                            <p><?= strip_tags(Safe($post->content)) ?></p>
                        </a>
                    </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>

    <?php /* 仪器信息模块 */ ?>
    <div class="instrument">
        <div class="instrument-left box2">
            <ul>
                <li >
                    <a href="javascript: die();" class="hover">仪器实时情况<span class="down_diams">▼</span></a>
                </li>
                <li>
                    <a href="javascript: die();">课题测试情况<span class="down_diams">▼</span></a>
                </li>
                <li>
                    <a href="javascript: die();">人员分布情况<span class="down_diams">▼</span></a>
                </li>
            </ul>
            <div>
	            <div class="instrument-y ct">
                    <div style="position:absolute;margin-top:100px;margin-left:450px;font-size:20px;color:#666666">
                        <div style="height:60px;line-height: 60px;">
                            共<span class="total_count"style="padding:0 10px;font-size:30px;font-weight:bold;color:#30405a"><i class="fa fa-spinner fa-spin"></i></span>台仪器
                        </div>
                        <!-- <div style="height:60px;line-height: 60px;">其中<span style="padding:0 10px;font-size:30px;font-weight:bold;color:#30405a">{$sinfo.controlCount}</span>台正在实时监控</div> -->
                        <div style="height:30px;line-height: 30px;padding:0px 40px;margin-top:20px;background:url('/assets/img/dlmu/c-working.jpg') no-repeat 0% 50%;">
                            <span class="working_count" style="padding:0 10px;font-size:24px;font-weight:bold;color:#30405a"><i class="fa fa-spinner fa-spin"></i></span>台正在使用
                        </div>
                        <div class="hr"></div>
                        <div style="height:30px;line-height: 30px;padding:0px 40px;margin-top:10px;background:url('/assets/img/dlmu/c-wait.jpg') no-repeat 0% 50%;">
                            <span class="wait_count" style="padding:0 10px;font-size:24px;font-weight:bold;color:#30405a"><i class="fa fa-spinner fa-spin"></i></span>台待机中
                        </div>
                        <div class="hr"></div>
                        <div style="height:30px;line-height: 30px;padding:0px 40px;margin-top:10px;background:url('/assets/img/dlmu/c-down.jpg') no-repeat 0% 50%;">
                            <span class="down_count" style="padding:0 10px;font-size:24px;font-weight:bold;color:#30405a"><i class="fa fa-spinner fa-spin"></i></span>台出故障
                        </div>
                    </div>
                </div>
	            <div class="instrument-y ct" style="display:none">
                    <div style="position:absolute;margin-top:200px;margin-left:27px;width: 338px;">
                        <div style="padding-left:100px;height:51px;line-height:51px;font-size:20px;color:#666"><p style="float:left;height:51px;line-height:51px;">总课题数</p>
                            <p class="lab_total" style="float:left;font-size:30px;color:#30405a;padding-left:5px;font-weight:bolder;height:51px;line-height:51px;"><i class="fa fa-spinner fa-spin"></i></p>
                        </div>
                        <div style="padding-left:120px;height:51px;line-height: 50px;font-size:20px;color:#666"><p style="float:left;height:51px;line-height:51px;">课题数</p>
                            <p class="lab_test" style="float:left;font-size:30px;color:#30405a;padding-left:5px;font-weight:bolder;height:51px;line-height:51px;"><i class="fa fa-spinner fa-spin"></i></p>
                        </div>
                    </div>
					<div id="tubiao2" style="float:left;width: 300px;height:300px;margin-top: 105px; margin-left: 60px;">
                    </div>
					<div style="float:left;width: 75px;height: 30px;margin-top: 240px;margin-left: 55px;"><img style="height: 30px;" src="<?= URL('/assets/img/dlmu/jiantou.png')?>"></div>
					<div style="float:left;width: 200px;height: 200px;margin-top: 150px;margin-left: 30px;"><img style="height:200px;" src="<?= URL('/assets/img/dlmu/qiu.png')?>"><span style="position:absolute; width:200px;margin-left:-200px;margin-top: 80px;color:#31415B;font-size:24px;text-align: center">测试数<span class="test_count" style="font-size:30px;font-weight:bolder"><i class="fa fa-spinner fa-spin"></i></span>次</span></div>
				</div>
				<div class="instrument-y ct" style="display:none">
					<div style="position:absolute;margin-top:172px;margin-left:580px;z-index:99;">
						<div class="user_outer" style="height:51px;line-height: 51px;font-size:30px;color:#30405a">8795</div>
						<div class="user_inner" style="height:51px;line-height: 51px;font-size:30px;color:#30405a">9335</div>
						<div class="user_incharge" style="height:51px;line-height: 51px;font-size:30px;color:#30405a">622</div>
					</div>
					<div id="myChart3" style="width:770px;height: 500px;"></div>
				</div>
            </div>
        </div>
        <div class="instrument-right ">
            <div class="ranking">
                <i class="icon-pah"></i>
                <span>排行榜</span>
            </div>
            <div id="instrument-list" class="instrument-list box">
                <?php 
                    $one_layout = a('layout', ['type' => \Gini\ORM\Layout::TYPE_TOP_RESERVE_EQ]);
                    $two_layout = a('layout', ['type' => \Gini\ORM\Layout::TYPE_TOP_RESERVE_USER]);
                ?>
                <ul>
                    <li>
                        <a href="javascript:die();" class="hover" >仪器预约排行</a>
                    </li>
                    <li>
                        <a href="javascript:die()" class="" >用户使用排行</a>
                    </li>
                    <li>
                        <a href="javascript:die()" style="margin-left: 3px;" class="" >最新预约排行</a>
                    </li>
                </ul> 
            	<div>
	                <div id="paihang1" class="instrument-content ct" style="display: block;"></div>
	                <div id="paihang2" class="instrument-content ct"></div>
	                <div id="paihang3" class="instrument-content ct"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr_1"></div>
    <?php /* 平台展示信息 */ ?>
    <div id="box3" class="show box3">
        <ul class="clearfloat">
            <li class="border-b">
                <a href="javascript:die()" class="hover">
                    <span><i class="fa fa-cogs fa-fw"></i>&#160;&#160;仪器展示</span>
                </a>
            </li>
            <li id="box3_2_click">
                <a href="javascript:die()">
                    <span><i class="fa fa-desktop fa-fw"></i>&#160;&#160;科研设施展示</span>
                </a>
            </li>
            <li id="box3_3_click">
                <a href="javascript:die()">
                    <span><i class="fa fa-home fa-fw"></i>&#160;&#160;平台展示</span>
                </a>
            </li>
        </ul>
        <div style="height: 390px;">
            <div class="module02 swiper-container2 ct cxscroll" id="equipment-box">
                <?php 
                    $equipment_layout = a('layout', ['type' => \Gini\ORM\Layout::TYPE_EQPIC]);
                ?>
            </div> 
            <div class="module02 swiper-container3 ct cxscroll" style="display:none">
                <div class="box" style="margin:0px;position:relative;top:-9999px;">
                    <ul class="list">
                        <?php 
                            $instruments = those('content')->whose('group')->is('instrument');
                            foreach ($instruments as $c): ?>
                            <li class="item">
                                <a href="<?= H($c->link_url ?: URL("/content/{$c->id}")) ?>" data-toggle="tooltip" title="<?= $c->title ?>">
                                    <img src="<?= URL("!content/icon/{$c->id}/{$c->fileName}") ?>" alt="<?= $c->title?>" />
                                    <p class="title"><i></i><?= H($c->title) ?></p>
                                    <span><?= T('负责人: %incharges', ['%incharges' => $c->name]) ?></span>
                                    <span class="desc">
                                        <?= mb_substr(strip_tags($c->description), 0, 60) . '...' ?>
                                    </span>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>  
            <div class="module02 swiper-container4 ct cxscroll"  style="display:none">
                <div class="box" style="margin:0px;position:relative;top:-9999px;">
                    <ul class="list">
                        <?php 
                            $platforms = those('content')->whose('group')->is('platform');
                            foreach ($platforms as $c): ?>
                            <li class="item">
                                <a href="<?= H($c->link_url ?: URL("/content/{$c->id}")) ?>" data-toggle="tooltip" title="<?= $c->title ?>">
                                    <img src="<?= URL("!content/icon/{$c->id}/{$c->fileName}") ?>" alt="<?= $c->title?>" />
                                    <p class="title"><i></i><?= H($c->title) ?></p>
                                    <span><?= T('负责人: %incharges', ['%incharges' => $c->name]) ?></span>
                                    <span class="desc">
                                        <?= mb_substr(strip_tags($c->description), 0, 60) . '...' ?>
                                    </span>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <div class="hr_1"></div>
</div>
<!-- 环形图 -颜色-->
<div style="position: fixed;top:-500px;">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <linearGradient id="grad-working" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#89f7fe;stop-opacity:1"/>
            <stop offset="100%" style="stop-color:#66a6ff;stop-opacity:1"/>
        </linearGradient>
    </defs>
    <ellipse cx="200" cy="70" rx="85" ry="55" fill="url(#grad1)"/>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <linearGradient id="grad-wait" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#fee140;stop-opacity:1"/>
            <stop offset="100%" style="stop-color:#fa709a;stop-opacity:1"/>
        </linearGradient>
    </defs>
    <ellipse cx="200" cy="70" rx="85" ry="55" fill="url(#grad1)"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <linearGradient id="grad-down" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#f09819;stop-opacity:1"/>
            <stop offset="100%" style="stop-color:#ff5858;stop-opacity:1"/>
        </linearGradient>
    </defs>
    <ellipse cx="200" cy="70" rx="85" ry="55" fill="url(#grad1)"/>
</svg>
</div>
<script data-ajax="true">
function die() { }
require(['main'], function($){
    $().ready(function(){
        let $sidebar = $('.sidebar');
        let tempcat = $sidebar.find('.cat-right')
        let tempgroup = $sidebar.find('.group-right')
        let delay
        $sidebar.find('.cat')
        .on('mouseenter', function(){
            tempcat.removeClass('hide');
            tempcat.one('mouseenter', function(){
                if (delay) { clearTimeout(delay) }
            })
        })
        .on('mouseleave', function(){
            delay = setTimeout(function(){
                tempcat.addClass('hide');
            }, 300)
        })
        $sidebar.find('.group')
        .on('mouseenter', function(){
            tempgroup.removeClass('hide');
            tempgroup.one('mouseenter', function(){
                if (delay) { clearTimeout(delay) }
            })
        })
        .on('mouseleave', function(){
            delay = setTimeout(function(){
                tempgroup.addClass('hide');
            }, 300)
        })
        tempcat.on('mouseleave', function(){
            tempcat.addClass('hide');
        })
        tempgroup.on('mouseleave', function(){
            tempgroup.addClass('hide');
        })
        /* 获取仪器分类信息 */
        $.ajax({
		    type: "POST",
            url: "<?= URL('/ajax/index/equipment/GetRootByForm') ?>",
            data: {
                root: 'cat',
                res_type: 'view',
                view: 'equipment/index-tag'
            },
            success: function(html) {
                $('.center_banner .sidebar .cat-right .sec').html(html)
    		}
        });
        /* 实时记录块  */
        $.ajax({
		    type: "POST",
            url: "<?= URL('/ajax/index/equipment/getrecords') ?>",
            data: {},
            success: function(html) {
                var demo = $('#demo')
                    , demo1 = $('#demo1')
                    , demo2 = $('#demo2')
                    , speed = 50
                    , MyMarh = null
                    , Marqueeh = function(){
                        if (demo2.offset().top - demo.scrollTop() <= 0) {
                            demo.scrollTop(0);
                        }
                        else {
                            demo.scrollTop(demo.scrollTop() + 2)
                        }
                    }
                $('#demo1 .con').append(html)
                demo2.html(demo1.html())

                MyMarh = setInterval(Marqueeh, speed);
                demo.on('mouseover', function(){
                    clearInterval(MyMarh)
                })
                .on('mouseout', function(){
                    MyMarh = setInterval(Marqueeh, speed);
                })
    		}
        });
        
        /* 仪器实时情况  */
        var handSlide = function(selector) {
            $(selector + " ul li").on('click', function(){
                $(this).find("a").addClass("hover")
                $(this).siblings().find("a").removeClass()
                //获取当前标签的索引值
                var content_idnex = $(selector + ' ul li').index(this)
                $(selector + ' .ct').eq(content_idnex).show().siblings().hide()
            });
        }
        
        handSlide('.box2')
        handSlide('#instrument-list')
        handSlide('#box3')

        $.ajax({
		    type: "POST",
            url: "<?= URL('/ajax/index/equipment/GetSummaryInfo') ?>",
            data: { res_type: 'json' },
            success: function(info) {
                info = JSON.parse(info)
                $('.instrument-y .total_count').html(info.totalCount)
                $('.instrument-y .working_count').html(info.usingCount)
                $('.instrument-y .wait_count').html(info.unUsingCount)
                $('.instrument-y .down_count').html(info.outServiceCount)
                require(['chat'], function(chat){
                    $('.instrument-y')[0].appendChild(chat.pieCircle({
                        total: info.totalCount,   //总数
                        online: info.controlCount,  //在线
                        working: info.usingCount,  //使用中
                        wait: info.unUsingCount,    //待机
                        down: info.outServiceCount      //故障
                    }));
                })
    		}
        });

        //课题组测试情况****************************************************************
        $.ajax({
            type: "POST",
            url: "<?= URL('/ajax/index/equipment/labStatus') ?>",
            data: { res_type: 'json' },
            success: function(info) {
                info = JSON.parse(info)
                $('.instrument-y .lab_total').html(info.project)
                $('.instrument-y .lab_test').html(info.lab)
                $('.instrument-y .test_count').html(info.test)
                require(['circle-progress'], function(){
                    var num = (info.lab / info.project).toFixed(2)
                    //num = num*100;
                    $('#tubiao2').circleProgress({
                        startAngle: -Math.PI / 2,
                        value: num,
                        size: 300,
                        thickness: 35,
                        lineCap: 'round',
                        fill: { gradient: ['#66a6ff', '#89f7fe'], gradientAngle: Math.PI/1.5 }
                    });
                });
    		}
        });

        //人员分布情况**********************************************
        $.ajax({
            type: "POST",
            url: "<?= URL('/ajax/index/equipment/userStatus') ?>",
            data: { res_type: 'json' },
            success: function(info) {
                info = JSON.parse(info)
                $('.instrument-y .user_outer').html(info.outer)
                $('.instrument-y .user_inner').html(info.inner)
                $('.instrument-y .user_incharge').html(info.incharge)
                var myChart = echarts.init(document.getElementById('myChart3'));
                var option3 = {
                    backgroundColor: '#FFFFFF',//背景色
                    color:['#86F3BA','#79D2FE','#FCAF67'],
                    selectedMode:false,
                    legend: {
                        orient: 'vertical',
                        left: '446',
                        y: 'center',
                        textStyle: {
                            fontSize: 20,
                            color:"#666666",
                            lineHeight:20,
                            padding:10
                        },
                        height: 500,
                        data: [{name:'校外用户',icon: 'pin'},{name:'校内用户',icon: 'pin'},{name:'管理员',icon: 'pin'}],
                        formatter:['{a|name}','{b|这段文本采用样式b}'],
                        rich: {
                            a: {
                                fontSize:18
                            },
                            b: {
                                fontSize:24
                            }
                        }
                    },
                    series : [
                        {
                            name: '用户比例分析',
                            type: 'pie',
                            radius : '133px',
                            center: ['223px', '250px'],
                            clockwise:false,
                            startAngle:100,
                            minAngle:32,
                            selectedMode: 'single',
                            data:[
                                {
                                    value: info.outer,
                                    name:'校外用户',
                                    "itemStyle": {
                                        "normal": {
                                            "color": new echarts.graphic.LinearGradient(1, 0, 0, 1, [{
                                                "offset": 0,
                                                "color": '#fee140'
                                            }, {
                                                "offset": 1,
                                                "color": '#fa709a'
                                            }]),
                                        }
                                    }
                                },
                                {
                                    value: info.inner,
                                    name:'校内用户',
                                    "itemStyle": {
                                        "normal": {
                                            "color": new echarts.graphic.LinearGradient(1, 0, 0, 1, [{
                                                "offset": 0,
                                                "color": '#89f7fe'
                                            }, {
                                                "offset": 1,
                                                "color": '#66a6ff'
                                            }]),
                                        }
                                    }
                                },
                                {
                                    value: info.incharge,
                                    name:'管理员',
                                    "itemStyle": {
                                        "normal": {
                                            "color": new echarts.graphic.LinearGradient(1, 0, 0, 1, [{
                                                "offset": 0,
                                                "color": '#84fab0'
                                            }, {
                                                "offset": 1,
                                                "color": '#8fd3f4'
                                            }]),
                                        }
                                    }
                                }
                            ],
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            },
                            itemStyle: {
                                normal: {
                                    label:{
                                        position:"inside",
                                        textStyle: {
                                            fontSize: 20,
                                            color:"#ffffff"
                                        },
                                        show: true,
                                        formatter: '{c}'
                                    },
                                    borderWidth: 2,
                                    borderColor: '#ffffff',
                                },
                                labelLine :{show:true}
                            }
                        }
                    ]
                };
                myChart.setOption(option3);
    		}
        });


        /* 仪器排行信息获取 */
        $.ajax({
		    type: "POST",
            url: "<?= URL('/ajax/index/equipment/GetTopEquipments') ?>",
            data: { id: <?= $one_layout->id ?> },
            success: function(html) {
                $('#paihang1').html(html)
    		}
        });

        /* 用户使用排行 */
        $.ajax({
		    type: "POST",
            url: "<?= URL('/ajax/index/equipment/GetTopUsers') ?>",
            data: { id: <?= (int)$two_layout->id ?> },
            success: function(html) {
                $('#paihang2').html(html)
    		}
        });

        /* 最新预约排行 */
        $.ajax({
		    type: "POST",
            url: "<?= URL('/ajax/index/equipment/GetNewUsers') ?>",
            success: function(html) {
                $('#paihang3').html(html)
    		}
        });

        /* 仪器展示 */
        $.ajax({
            type: "POST",
            url: 'ajax/index/equipment/GetDisplayEquipments',
            data: {
                id: '<?= (int)$equipment_layout->id ?>'
            },
            success: function(html) {
                var container = $('#equipment-box').append(html)
                require(['jquery.cxscroll'], function(){
                    container.cxScroll({
                        time: 2000,
                        speed: 500
                    }, function() {
                        container.find('.box').css('top', '0px')
                    })
                })
            },
            complete: function() {
            }
        });

        /* 科研设施 */
        require(['jquery.cxscroll'], function(){
            $('.cxscroll').cxScroll({
                time: 2000,
                speed: 500
            }, function() {
                $('.cxscroll').find('.box').css('top', '0px')
            })
        })
    })
})
</script>