<div class="category category-post">
    <div class="logo-container" style="background-color:#FFFFFF;padding:0px;">
        <div class="col-md-6">
            <?php
                $object = a('layout')->whose('type')->is(\Gini\ORM\Layout::TYPE_LOGO);
                $path = $object->filePath();
                $paths = (array)@scandir($path);
                $file = $paths[2];
            ?>
            <img src="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" style="overflow: hidden;height: 80px;margin-top:15px;" />
        </div>
        <div class="col-md-6">
            <ul class="top_1"> 
                <li>
                    <a href="<?= URL('/') ?>"><i class="fa fa-home fa-fw"></i><span>首页</span></a>
                </li>
                <?php 
                    $ms = (array)Hub('config.nav.modules');
                    foreach ($ms as $m):
                        $mo = a('category', ['identity' => $m]);
                ?>
                <li>
                    <a href="<?= \Gini\URI::url("category/{$mo->identity}")?>"><i class="fa <?= $mo->icon?> fa-fw"></i><span><?= H($mo->name) ?></span></a>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
    <div class="navigation-line">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<?= URL('/') ?>">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page"><?= $content->title ?></li>
            </ol>
        </nav>
    </div>
    <section>
        <div class="center-body">
            <div class="con-content">
                <div class="media">
                    <div class="media-left">
                        <img class="img" width="256px" height="256px"
                            src="<?= URL("!content/icon/{$content->id}/{$content->fileName}") ?>"
                            alt="<?= $content->name ?>" />
                    </div>
                    <div class="media-body">
                        <div class="b">
                            <div class="title"><strong><?= H($content->title) ?></strong></div>
                            <div class="description">
                                <span><?= T('负责人: %incharges', ['%incharges' => $content->name]) ?></span>
                            </div>
                            <div class="hr_1"></div>
                            <div class="description">
                                <span class="desc"><?= $content->description ?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

