<?php
    $route = \Gini\CGI::route();
    if ($route) $args = explode('/', $route);
    if (count($args) == 1 and $args[0] == 'command') {
    	$args = ['command', 'config', 'design'];
    }
    $showMenu = $args[0] == 'command' && (
        // 模块界面
        ($args[1] == 'module' && $args[2] != 'equipment')
            ||
        // 添加文章界面
        $args[1] == 'post'
    );
    if ($showMenu) {
        if ($args[1] == 'post') {
            $category = a('category', ['identity' => $args[3]]);
            if (!$category->id) {
                $category = a('post', $args[3])->category;
            }
        }
        else {
            $category = a('category', ['identity' => $args[2]]);
        }
    }
?>
<nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav mr-auto">
        <?php if($showMenu): ?>
            <?php if (_G('ME')->isAllowedTo('管理')) : ?>
                <li class="nav-item">
                    <a class="nav-link <?= ($args[3] == 'setting' || !$args[3]) ? 'active' : '' ?>" href="<?= $category->url() ?>"><i class="icon-setting"></i> <?= T('设置') ?></a>
                </li>
            <?php endif; ?>
            <li class="nav-item">
                <a class="nav-link <?= $args[3] == 'tag' ? 'active' : '' ?>" href="<?= $category->url('tag') ?>">
                    <i class="icon-menu01"></i> <?= H(T('二级菜单')) ?>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <?= $args[3] == 'list' ? 'active' : '' ?>" href="<?= $category->url('list') ?>">
                    <i class="icon-list"></i> <?= H(T('文章列表')) ?>
                </a>
            </li>
        <?php endif; ?>
    </ul>
    <a href="<?= URL('/logout')?> " data-confirm="您确认登出吗？" data-confirm-description="点击确认后您将退出该系统。">
        <i class="icon-power"></i>&#160;<?= H(T('登出')) ?>
    </a>
</nav>