<div class="container-fluid layout-index">
	<?= U('category-header') ?>
	<div class="col-md-12 u-box">
		<div class="post-container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/"><?= T('首页')?></a></li>
					<li class="breadcrumb-item"><a href="<?= URL('category/'. $category->identity)?>"><?= H(T('仪器列表')) ?></a></li>
					<li class="breadcrumb-item active" aria-current="page"><?= H($post->title) ?></li>
				</ol>
			</nav>
			<div class="content"><?= $post->content ?></div>
		</div>
	</div>
</div>
