/*!
 * admin.css for admin control
 *
 * 目前在后台的Admin中需要增加相应的CSS使其显示正常，默认都存在😄
 *
 */

@keycolor:      #299F7E;

html, body {
    height: auto;
    overflow: auto;
    .hr, .hr_1 { height: 15px; }
    .hr_2 { height: 30px; }
    .none { display: none; }
}
body {
    background: #F6F7FB;
    #wrap {
        display: flex;
        min-height: 750px;
        #sidebar {
            width: 200px;
            background-color: #282D33;
            .logo-container {
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                .font {
                    color: #FFF;
                    font-size: 24px;
                }
            }
            .nav {
                .nav-item {
                    .nav-link {
                        padding: 15px 20px;
                        color: #FFF;
                        font-size: 16px;
                        &.active {
                            color: @keycolor;
                            border-left: 4px solid @keycolor;
                            padding-left: 16px;
                            background: #202529;
                        }
                    }
                }
            }
        }
        #body {
            width: 100%;
            .dropzone {
                background: #282D33;
                color: #FFF;
            }
            #nav {
                .navbar {
                    height: 60px;
                    background: #FFF;
                    a {
                        color: #919191;
                        text-decoration: none;
                        &:hover {
                            color: #2A2A2A;
                        }
                        &.active {
                            color: @keycolor;
                        }
                    }
                }
            }
            #content {
                color: #919191;
                .gini-padding {
                    display: flex;
                    flex-direction: column;
                    .card {
                        border: none;
                        &.roll-list {
                            .card-body {
                                padding-bottom: 0px;
                            }
                        }
                    }
                    .box {
                        width: 100%;
                        display: flex;
                        h4 {
                            &.left, &.right {
                                margin: 1.5rem 0;
                                font-weight: 400;
                                font-size: 20px;
                            }
                        }
                        .left {
                            flex: auto;
                            margin-right: 15px;
                        }
                        .right {
                            flex: 0 0 50%;
                        }
                        .btn {
                            &.btn-ok {
                                font-size: 16px;
                                background: #299F7E;
                                border-radius: 0px;
                                color: #FFF;
                            }
                            &.btn-save {
                                font-size: 16px;
                                background: #999;
                                border-radius: 0px;
                                color: #FFF;
                            }
                        }
                    }
                }

                #sortable {
                    .category-block {
                        margin-bottom: 10px;
                        .infobox {
                            background: #F2F2F2;
                            color: #2A2A2A;
                            .module-btn-group {
                                position: absolute;
                            }
                            .handle {
                                cursor: pointer;
                            }
                            a {
                                color: #2A2A2A;
                            }
                        }
                    }
                }

                .category-list, .user-list{
                    .gini-header {
                        padding: 1.25rem 1.25rem 0;
                    }
                }

                table {
                    thead {
                        tr {
                            background: @keycolor;
                            color: #FFF;
                            th {
                                padding: .375rem .75rem;
                            }
                        }
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .modal {
        .modal-header {
            .close {
                margin: 0px;
                margin-top: -15px;
                right: 0px;
                position: absolute;
                outline: 0;
            }
        }
        .btn {
            font-size: 16px;
            background: @keycolor;
            border-radius: 0px;
            color: #FFF;
            &.btn-ok {
                background: @keycolor;
            }
            &.btn-cancel {
                background: #999999;
            }
        }
    }
}
