/*!
 * category.css for admin control
 *
 * 分模块化进行css加载
 *
 */

@import "inc/bootstrap/vars";

.category-module {
    width: 100%;
    .pagination {
        margin-right: -15px;
        margin-bottom: 15px;
        span.current {
            background-color: @navBg;
            color: @navFontActive;
        }
    }

    .category-body {
        background-color: @layoutBg;//;
        padding: 0px 15px;
        .list-group-item.active {
            background-color: @navBg;
            border-color: @navBg;
            &:hover, &:focus {
                background-color: @navBg;
                border-color: @navBg;
            }
        }

        .header {
            &.one {
                padding: 10px 10px 10px 0px;
                border-bottom: 1px solid #E7E7E7;
                margin-bottom: 10px;
                .title {
                    font-size: 16px;
                    font-weight: bold;
                    border-left: 4px solid @navBg;
                    padding-left: 10px;
                    color: @moduleTitleColor;
                }
            }

            &.two {
                padding: 10px 10px 10px 0px;
                border-bottom: 1px solid #E7E7E7;
                margin-bottom: 10px;
                text-align: center;
                .title {
                    font-size: 16px;
                    font-weight: bold;
                    color: @moduleTitleColor;
                }
            }

            &.three {
                padding: 10px 10px 10px 0px;
                margin-bottom: 32px;
                margin-top: 10px;
                text-align: center;
                vertical-align: middle;
                .title {
                    font-size: 22px;
                    font-weight: bold;
                    color: @moduleTitleColor;
                }
                .hr {
                    height: 28px;
                    position: relative;
                    .a {
                        background-color: #E7E7E7;
                        height: 2px;
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        &.right {
                            right: -15px;
                        }
                        &.left {
                            left: -15px;
                        }
                    }
                }
            }

            &.four {
                margin-bottom: 10px;
                padding: 10px 0px 10px 10px;
                background-color: @navBg;
                color: @moduleTitleColor;
                font-size: 16px;
                font-weight: bold;
                border-top: 4px solid #FFF;
                a {
                    color: @moduleTitleColor;
                }
            }
            
        }
        .body {
            &.padding {
                padding: 0 20px;
            }

            table {
                margin-left: 15px;
                a {
                    padding: 5px;
                    color: #000000;
                    text-decoration: none;
                }
                tbody > tr > td {
                    border-top: none;
                }
            }

        }
        /*
            ------增加post-body类 单词切割--------
         */
        .post-body
        {
            word-break: break-all;
        }
        /*-------------*/

        /* Admin 样式 */
        .item {
            display: flex;
            padding-left: 0px;
            .form-check {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .header {
                width: 100%;
                margin-left: 10px;
                &.three {
                    margin-bottom: 0px;
                    display: flex;
                }
            }
        }
    }
    
    /*back to top*/
    #gotop{
        display:none;
        width:55px;
        height:55px;
        position:fixed;
        right:50px;
        bottom:50px;
        background:url(../img/backtop2013.png) no-repeat -70px 0px;
    }
}