@import "inc/bootstrap/vars";

@keycolor:      #299F7E;
/*!
 * gridster for jquery.gridster.min.css
 *
 * 除了调用gridster.js和css，我们也需要给我们的html写一些自己的颜色来让其看起来好看些😄
 *
 */
 /* Layout index 布局展示样式表信息 */
#wrap {
    .gridster {
        background: #FFF;
        border: 2px solid #F5F6F5;
        box-shadow: inset 1px 2px 5px #666;
        padding: 15px;
        .preview-holder {
            border: none!important;
            background: @keycolor!important;
        }
        ul {
            padding: 0px;
            margin: 0px;
            li {
                list-style-type: none;
                text-align: left;
                vertical-align: middle;
                background: #F7F7F7;
                &:hover {
                    cursor: move;
                    background: #F5F6F5;
                }
            }
        }
            
        .layout-content {
            z-index: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;
            padding: 4px;
            display: flex;
            &:hover {
                .layout-active {
                    display: block;
                }
            }
        }
        .layout-active {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(31, 26, 26, 0.1);
            z-index: 6;
            display: none;
            .open-layout {
                background: none;
                float: right;
                line-height: 1;
                color: @keycolor;
                text-shadow: 0 1px 0 #fff;
                right: 34px;
                border:none;
                margin-top: 0px;
                position: relative;
                padding-top: 9px;
                font-size: 18px;
                cursor: pointer;
                text-decoration: none;
            }
            .close {
                opacity: 1;
                margin-top: 10px;
                color: @keycolor;
                cursor: pointer;
                font-size: 18px;
                right: 10px;
                position: absolute;
            }
        }
        .layout-module {
            display: flex;
            align-items: center;
            width: 100%;
            > div, > nav {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                z-index: 0;
            }
        }
        .layout-title {
            height: 100%;
            width: 100%;
            text-align: center;
            line-height: 96px;
            font-size: 16px;
        }
    }

    //菜单栏样式显示
	#navbar {
		text-align: center !important;
		padding: 0px 10px;
		width: 100% !important;
		background-color: @navBg !important;
		color: @navFont !important;
		border-top-left-radius: @leftTop !important;
		border-top-right-radius: @rightTop !important;
		border-bottom-right-radius: @rightBottom !important;
		border-bottom-left-radius: @leftBottom !important;
		border-top: @activeTopBorder !important;
		border-bottom: @activeBottomBorder !important;

		.dropdown-menu {
			background-color: @navBg !important;
		}

		li {
			margin-right: 2px;
			background-color: @navBg !important;
			a {
				font-size: 16px !important;
				color: @navFont !important;
				&:hover {
					color: @navFontActive !important;
					background-color: @navBgActive !important;
				}
				 &:visited {
					background-color: @navBgActive !important;
				}
			}

			&.active {
				> a {
					background-color: @navBgActive;
					color: @navFontActive !important;
				}

				.dropdown-menu a {
					&:hover {
						background-color: @navBgActive;
					}
				}
			}

			&.nav-item {
				line-height: 2.4rem;
			}
		}

		.open>a {
			background-color: @navBgActive;
			border-top: @activeTopBorder;
			border-bottom: @activeBottomBorder;
			&:hover, &:focus {
				background-color: @navBgActive;
				border-top: @activeTopBorder;
				border-bottom: @activeBottomBorder;
			}
		}
    }
    
    /* Nivo 轮播的样式 */
	#wrapper {
		position: relative;
		overflow: hidden;
	}
	.nivo-controlNav {
	    position: absolute;
	    z-index: 999;
	    width: 147px;
	    height: 100%;
	    top: 0px;
	    right: 0px;
	    background-color: rgba(255,255,255,0.6);
	    padding: 10px;
	}
	.nivo-controlNav a {
	    display: inline-block !important;
		position: relative;
		width: 127px;
		height: 101px;
		overflow: hidden;
		margin: 0 0 1px 0;
		vertical-align: top;
		z-index: 99;
		cursor: pointer;
	}
	.nivo-controlNav a.active img, 
	.nivo-controlNav a:hover img {
		opacity: 1;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
	}

	.nivo-controlNav img {
		display: inline; /* Unhide the thumbnails */
		position: relative;
		width: 127px;
		height: 101px;
		margin: 0;
		opacity: 0.3;
    }

    // Module 样式统一处理
    [class^=module-box] {
        overflow: hidden;
    }
    
    .module-box-one, .equipment-box-one, .login-box-one {
        height: 100%;
        background-color: @layoutBg;

        .tname {
            font-size: 16px;
            border-left: 4px solid @navBg;
            padding-left: 10px;
            color: @mainTitle;
        }

        .table > tbody > tr > td {
            border-top: none;
            // 案例：20190309 , 个人建议可以此处建议统一修改，上下凑齐1rem即可
            padding: 0.5rem;
        }
    }

    .module-box-one {
        .title {
            border-bottom: 1px solid #E7E7E7;
            padding: 10px 0px;
            margin: 0px 10px;
            color: @mainTitle;

            a.more {
                font-size: 14px;
                padding: 0px 6px;
                float: right;
                color: @navBg;
            }
        }
        .content {
            padding: 15px;
            color: @font;
            .it { }
            .post {
                padding: 5px 10px;
                .p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .description {
                    color: #999;
                    text-align: right;
                }
            }
            a {
                color: @font;
            }
        }
    }


    //M-two样式显示
    .module-box-two {
        border-top: 4px solid @navBg;
        background-color: @layoutBg;
        color: @font;
        .title {
            color: @mainTitle;
            .middle {
                text-align: center;
                padding-top: 40%;
                font-size: 18px;
            }
        }

        .post {
            li {
                background-color: #E7E7E7;
                border-left: 4px solid @navBg;
                margin-top: 10px;
                margin-right: 10px;
                padding: 10px;
                a {
                    color: @font;
                    text-decoration: none;
                }
            }
        }
    }

    //M-four样式显示
    .module-box-four {
        height: 100%;
        background-color: @layoutBg;
        border: 2px solid @navBg;
        color: @font;

        .title {
            padding: 10px;
            color: @mainTitle;
            background-color: @navBg;

            a {
                color: @navFont;
            }
        }

        .content {
            ul {
                padding: 0px 15px;
                li.post {
                    list-style-type: disc;
                    margin: 6px 15px;
                }
            }
            .p {
                padding: 5px;
            }
        }
    }

    //M-three样式显示
    .module-box-three {
        height: 100%;
        background-color: @layoutBg;
        border: 1px solid @navBg;
        color: @font;

        .title {
            padding: 10px;
            color: @mainTitle;

            .name {
                background-color: @navBg;
                padding: 2px 6px;
            }

            a {
                color: @font;
            }
        }

        .content {
            padding: 15px;

            .p {
                padding: 5px;
            }
            a {
                color: @font;
            }
        }

        li {
            margin: 6px 15px;
        }

        .table > tbody > tr > td {
            border-top: none;
        }
    }

    //M-five样式显示
    .module-box-five {
        height: 100%;
        background-color: @layoutBg;
        color: @font;

        .title {
            padding: 10px;
            color: @mainTitle;
            background-color: @navBg;
            border-left: 4px solid @navBgActive;

            a {
                color: @navFont;
            }
        }

        .content {
            ul {
                color: #E7E7E7;
                padding: 0px 15px;
                li.post {
                    list-style-type: disc;
                    margin: 0px 15px;
                    padding: 5px 0px;
                    border-bottom: 1px dashed #E7E7E7;
                    a {
                        color: @font;
                    }
                }
            }
            .p {
                padding: 5px;
            }
        }
    }

    //M-six样式显示
    .module-box-six {
        height: 100%;
        background-color: @layoutBg;
        color: @font;

        .title {
            padding: 10px;
            color: @mainTitle;
            background-color: @navBg;

            a {
                color: @navFont;
            }
        }

        .content {
            ul {
                padding: 0px 15px;
                li.post {
                    padding: 10px 0px;
                    border-bottom: 1px dashed #E7E7E7;
                    a {
                        color: @font;
                    }
                }
            }
            .p {
                padding: 5px;
            }
        }
    }

    //M-seven样式显示
    .module-box-seven {
        height: 100%;
        background-color: @layoutBg;
        color: @font;

        .title {
            padding: 10px;
            color: @mainTitle;
            .tname {
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                position: relative;
            }
            .hr {
                height: 26px;
                position: relative;
                .a {
                    background-color: #E7E7E7;
                    height: 2px;
                    width: 80%;
                    position: absolute;
                    top: 50%;
                    &.right {
                        right: 0px;
                    }
                    &.left {
                        left: 0px;
                    }
                }
            }
        }

        .content {
            text-overflow: ellipsis;
            padding: 15px;

            .post-clamp {
                overflow: hidden;
            }
            .p {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .bottom {
                position: absolute;
                bottom: 16px;
            }
            a.btn {
                background-color: @navBg;
                color: @navFont;
                font-size: 18px;
                padding: 10px 12px;
                box-shadow: 0 2px 2px rgba(0,0,0,0.25);
            }
        }
    }

    // 后期增加的module-line-style
    .module-box-nine {
        height: 100%;
        color: @font;
        background-color: @layoutBg;
        .title {
            border-bottom: 1px solid #E7E7E7;
            padding: 10px 0px;
            margin: 0px 10px;
            color: @mainTitle;
            .tname {
                font-size: 16px;
                border-left: 4px solid @navBg;
                padding-left: 10px;
                color: @navBg;
            }
        }
        .content {
            text-overflow: ellipsis;
            padding: 15px;

            .post-clamp {
                overflow: hidden;
            }
            .p {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .login-form {
        .form-group {
            margin-bottom: 10px;
        }

        .login-btn {
            .btn {
                margin-bottom: 10px;
            }
        }
    }

    // Login-one样式设置
    .login-box-one {
        background-color: @navBg;
        border-bottom: 4px solid #E7E7E7;
        color: @font;
        .title-font {
            padding-top: 20px;
            font-weight: bold;
            font-size: 1.2em;
            text-align: center;
            color: @mainTitle;
        }
        .content {
            padding: 10% 10%;

            .login-user-btn, .login-btn {
                text-align: center;
            }
            a {
                color: @navBgActive;
            }
        }

    }

    .login-box-two {
        background-color: @layoutBg;
        box-shadow: 0 2px 2px rgba(0,0,0,0.25);
        color: @font;
        .title-font {
            margin: 0 10px 10% 10px;
            padding: 10px 0px;
            border-bottom: 2px solid #E7E7E7;
            color: @mainTitle;
            .name {
                padding-left: 10%;
                border-left: 4px solid @navBg;
                font-size: 16px;
                font-weight: bold;
            }
        }
        .content {
            margin: 0 10%;
            .input-group-addon {
                background-color: inherit;
            }
            input {
                border-left: none;
            }

            .login-btn {
                button {
                    background-color: @navBg;
                    color: @navFont;
                }
            }
        }
    }

    .login-box-three {
        background-color: @layoutBg;
        border: 2px solid @navBg;
        font-size: 16px;
        color: @font;
        .title-font {
            color: @mainTitle;
            padding: 5px 10px;
            background-color: @navBg;
            color: @navFont;
        }
        .content {
            margin: 10%;
            .login-btn {
                button {
                    background-color: @navBg;
                    color: @navFont;
                }
            }
            input {
                border-radius: 0px;
            }
        }
    }

    .login-box-four {
        background-color: @layoutBg;
        border-top: 2px solid @navBg;
        box-shadow: 0 2px 2px rgba(0,0,0,0.25);
        font-size: 16px;
        color: @font;
        .title-font {
            color: @mainTitle;
            padding: 10px 5%;
            background-color: @layoutBg;
            border-bottom: 1px solid #E7E7E7;
            a {
                color: @navBg;
            }
        }
        .content {
            padding: 10%;
            .login-btn {
                button {
                    background-color: @navBg;
                    color: @navFont;
                }
            }
        }
    }

    .login-box-five {
        background-color: @layoutBg;
        color: @font;
        .title-font {
            margin: 0 10px 10% 10px;
            padding: 10px 0px;
            color: @mainTitle;
            .name {
                border-left: 4px solid @navBg;
                padding-left: 5%;
                font-size: 16px;
                font-weight: bold;
            }
        }
        .content {
            padding-left: 10%;
            padding-right: 10%;
            .login-btn {
                .login-user-btn {
                    text-align: center;
                }
                button {
                    background-color: @navBg;
                    color: @navFont;
                }
            }
        }
    }

    // Login-six样式设置
    .login-box-six {
        background-color: @layoutBg;
        border: 2px solid @navBg;
        color: @navBgActive;
        border-radius: 5px;
        color: @font;
        .title-font {
            margin: 20px 10% 0px;
            font-weight: bold;
            font-size: 1.2em;
            text-align: center;
            background-color: @navBg;
            border-radius: 5px;
            padding: 10px 0;
            color: @mainTitle;
        }
        .content {
            padding: 10% 10%;
            input {
                border-radius: 0px;
            }
            .login-btn {
                text-align: center;
                .btn {
                    background-color: @navBg;
                    color: @navBgActive;
                }
            }
            a.login-user-btn {
                color: @font;
            }
        }

    }

    // Login-seven样式设置
    .login-box-seven {
        background-color: @layoutBg;
        border-top: 2px solid @navBg;
        color: @font;
        .title-font {
            color: @mainTitle;
            font-weight: bold;
            font-size: 1.2em;
            text-align: center;
            padding-top: 20px;
        }
        .content {
            padding: 10% 10%;
            input {
                border-radius: 0px;
            }
            .login-btn {
                text-align: center;
                .btn {
                    background-color: @navBg;
                    color: @navBgActive;
                    border-radius: 0px;
                }
            }
            p {
                margin-top: 10px;
            }
            a.login-user-btn {
                color: @font;
            }
        }

    }

    //Equipment样式设置
    .equipment-box-one {
        height: 100%;
        color: @font;
        .title {
            border-bottom: 1px solid #E7E7E7;
            padding: 10px 0px;
            margin: 0px 10px;
            color: @navBg;

            a.more {
                font-size: 14px;
                padding: 0px 6px;
                float: right;
                color: @navBg;
            }
        }
    }

    //Link-One 样式
    .link-box-one {
        overflow: hidden;
        .content {
            text-align: center;
            height: 100%;
            color: @font;
            .item {
                height: 100%;
                padding: 20px;
                background-color: @layoutBg;
                margin-right: 5px;
                text-decoration: none;
                color: @font;
                &:hover {
                    text-decoration: none;
                }
                &:last-child {
                    margin-right: 0px;
                   }
            }
            &.text {
                .item {
                    color: @font;
                    float: left;
                }
            }

        }
    }

    //Link-One 样式
    .link-box-two {
        background-color: @navBg;
        padding: 10px;
        overflow: hidden;
        .content {
            color: @mainTitle;
            text-align: left;
            .item {
                text-decoration: none;
                color: @mainTitle;
                &:hover {
                    text-decoration: none;
                }
            }
            &.vertical {
                .item {
                    border-bottom: 2px solid @navBgActive;
                    display: block;
                    padding: 10px 0px;
                    color: @mainTitle;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
            &.text {
                .item {
                    border-right: 2px solid @navBgActive;
                    padding: 0px 10px;
                    color: @mainTitle;
                    &:last-child {
                        border-right: none;
                    }
                }
            }

        }
    }
}
