//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

@bgColor:			rgb(32,50,84);
@fontBgColor:		rgb(67,106,177);
@grayFontColor:		rgb(178,182,185);
@fontColor:			rgb(255,255,255);

html {
	font-size: 14px;

	.padding_1, padding {
		padding: 0.5rem;
	}
	.padding_2 {
		padding: 1rem;
	}
	.lpadding, lpadding_1 {
		padding-left: 0.5rem;
	}
	.rpadding, rpadding_1 {
		padding-right: 0.5rem;
	}
	.lpadding_2 {
		padding-left: 1rem;
	}
	.rpadding_2 {
		padding-right: 1rem;
	}

	body.layout-index {
		.footer-nav {
			margin: 0px;
			background-color: @bgColor;
			border: none;
			border-radius: 0px;
			color: #FFFFFF;
			min-height: 40px;
			height: 40px;
			padding: 10px;
		}
	}
}