//
// Begin For Variables
// --------------------------------------------------

@bgColor:		#eec8c8;
@bgActiveColor:		#9B0000;

@footBgColor:		#35363A;

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	font-family:Helvetica Neue, Helvetica, "PingFang SC", "Hiragino Sans GB",   Arial, sans-serif,"宋体","微软雅黑","Microsoft Yahei";
	/*font-family:"微软雅黑","Microsoft Yahei","Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",   Arial, sans-serif;*/
}

html {
	font-size: 14px;

	.padding_1, .padding {
		padding: 10px;
	}
	.padding_2 {
		padding: 20px;
	}
	.lpadding, lpadding_1 {
		padding-left: 10px;
	}
	.rpadding, rpadding_1 {
		padding-right: 10px;
	}
	.lpadding_2 {
		padding-left: 20px;
	}
	.rpadding_2 {
		padding-right: 20px;
	}
	.hr { height: 10px; }
	.hr_1 { height: 15px; }
	.hr_2 { height: 20px; }

	.bold {
		color: @bgColor;
	}
	ul, li {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}
	.clearfloat:after {
		display: block;
		clear: both;
		content: "";
		visibility: hidden;
		height: 0
	}
	
	.clearfloat {
		zoom: 1
	}
	.right {
		float: right;
	}
	.left {
		float: left;
	}
	.hide {
		display: none;
	}

	.modal-content {
		.modal-footer {
			.btn-primary {
				color: #999;
			    background-color: transparent;
			    border-color: #ccc;
			    &:hover {
					background-color: transparent;
					color: #999;
				}
			}
			.btn-confirm {
				&:hover {
					background-color: @bgColor;
					color: #FFF;
				}
			}
		}
	}

	body {
		background: #FFF;
	}

	a {
		text-decoration: none;
		cursor: pointer;
	}

	footer {
		width: 100%;
		z-index: 999;
    }
    
    .footer-nav {
        margin: 0px;
        background-color: @footBgColor;
        border: none;
        border-radius: 0px;
        color: #FFF;
        min-height: 50px;
        height: 50px;
        font-size: 14px;
        line-height: 20px;
        padding: 15px;
        a {
            color: @bgColor;
            &:hover {
                color: @bgColor;
            }
        }
	}
	
	#header {
		background-color: @bgColor;
		.top-container {
            width: 1200px;
			height: 40px;
			margin: 0 auto;
            .inner-container {
                height: 40px;
                ul.left {
                    float: left;
                    margin: 0;
                    li {
                        margin: 0 10px 0 0;
                        float: left;
                        height: 40px;
                        line-height: 40px;
                        font-size: 14px;
						color: #333;
						a {
							color: #333;
							text-decoration: none;
						}
                    }
                }
            }
        }
	}

	#body {
		width: 1200px;
		height: auto;
		margin: 0 auto;

		.logo-container {
			height: 110px;
			padding: 10px 0;
			display: flex;
			.left-logo {
				display: table-cell;
				width: 10000px;
				padding: 15px 25px 15px 0px;
			}
			.date {
				display: table-cell;
				white-space: nowrap;
				color: #9C0C13;
				padding-left: 20px;
    			border-left: 1px solid #EEE;
				.day {
					font-size: 24px;
				}
				.week {
					font-size: 12px;
				}
				.month {
					font-size: 14px;
				}
			}
			.logo {
				height: 60px;
			}
			.search {
				float: right;
				width: 260px;
				height: 34px;
				margin-top: 26px;
				color: #555;
	
				.input-group-addon {
					padding: 0;
					border: none;
					background-color: transparent;
					border: 1px solid @bgActiveColor;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
				}
				&.input-group .search-text {
					border-left: none;
				}
				.search-input {
					border-radius: 0px;
					height: 34px;
					width: 212px;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					border-color: @bgActiveColor;
					border-right: none;
					font-size: 12px;
					box-shadow: none;
					&:hover, &:active, &:foucs {
						box-shadow: none;
					}
				}
				.search-btn {
					height: 32px;
					width: 47px;
					padding: 3px 12px;
					border-radius: 0;
					background-color: transparent;
					&:hover {
						color: #555;
						box-shadow: none;
						outline: 0;
					}
				}
				.hr {
					display: table-cell;
					span {
						border-left: 1px solid #B8B8B8;
						padding-top: 0px;
						position: absolute;
						top: 7px;
						height: 20px;
						width: 1px;
					}
				}
			}
		}

		.top-tab {
			height: 43px;
			width: 100%;
			span {
				width: 197px;
				display: block;
				height: 43px;
				text-align: center;
				line-height: 43px;
				float: left;
				color: #fff;
				background-color: @bgActiveColor;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				font-family: "Microsoft Yahei";
				font-weight: bold;
				font-size: 18px;
			}
			ul {
				width: 1003px;
				padding: 0 0 0 10px;
				float: left;
				margin: 0 0 0 0;
				height: 43px;
				border-bottom: 1px solid #ddd;
				li {
					padding: 0 19px;
					float: left;
					height: 43px;
					line-height: 43px;
					background: url(../img/dlmu/li_bg.png) right center no-repeat;
					a {
						color: #4D4D4D;
						font-family: "Microsoft Yahei";
						font-size: 18px;
						text-decoration: none;
					}
				}
			}
		}

		.center_banner {
			width: 100%;
			height: 382px;
			position: relative;
			margin: 0 0 21px 0;
			.sidebar {
				width: 197px;
				margin: 0 13px 9px 0;
				float: left;
				height: 382px;
				border: 1px solid @bgActiveColor;
				border-top: 0 none;
				position: relative;
				background: #FFF;
				z-index: 99;
				li {
					text-indent: 10px;
					background: url(../img/dlmu/line_arrow.png) 177px center no-repeat;
					height: 42px;
					font-size: 14px;
					font-family: "宋体";
					line-height: 42px;
					border-bottom: 1px solid #ddd;
					color: #4D4D4D;
					cursor: pointer;
					a {
						text-decoration: none;
						color: #4D4D4D;
						width: 100%;
						height: 100%;
						display: block;
					}
					&.title {
						background: none;
						font-size: 16px;
						font-weight: 700;
					}
				}
				.sidebar-right {
					position: absolute;
					background: #FFF;
					top: 0px;
					left: 197px;
					height: 382px;
					width: 656px;
					border-right: 1px solid @bgActiveColor;
					border-bottom: 1px solid @bgActiveColor;
					padding: 30px 50px;
					.title {
						font-size: 18px;
						padding-bottom: 10px;
						margin-bottom: 10px;
						border-bottom: 1px dashed #999;
					}
					.sec {
						div {
							padding: 5px 10px;
						}
					}
					a {
						color: #999;
						padding: 6px 2px;
						text-decoration: none;
					}
				}
			}
			.banner {
				width: 636px;
				margin: 9px 12px 9px 0;
				float: left;
				height: 373px;
				position: relative;
				overflow: hidden;
			}
			.sidebar_right {
				width: 342px;
				height: 375px;
				float: left;
				margin-top: 7px;
				h3 {
					width: 342px;
					text-indent: 20px;
					height: 37px;
					line-height: 37px;
					margin: 0 0 0 0;
					border-top-right-radius: 5px;
					border-top-left-radius: 5px;
					color: #fff;
					font-size: 16px;
					font-family: "宋体";
					font-weight: bold;
					position: relative;
					background-color: @bgActiveColor;
				}
				.login-content {
					width: 342px;
					padding: 40px 20px;
					height: 338px;
					border: 1px solid #ddd;
					border-top: 0 none;
					overflow: hidden;
					background: #FFF;
					
				}
				.btn-primary {
					background-color: @bgActiveColor;
					border-color: @bgActiveColor;
					outline: 0;
					color: #FFFFFF;
				}
				.btn-info {
					background-color: #FFFFFF;
					border-color: @bgActiveColor;
					outline: 0;
					color: @bgActiveColor;
				}
			}
		}

		.content {
			margin-top: 10px;
		}
		
		.content .cont {
			width: 510px;
			height: 325px;
			float: left;
			padding: 15px 10px 0px 10px;
			background: #FFFFFF;
			border-bottom: 1px solid #d0d6d8;
		}

		.cont h3 {
			color: #30405a;
			font-size: 20px;
			font-weight: normal;
			height: 40px;
			line-height: 30px;
			padding-bottom: 10px;
			border-bottom: 3px solid @bgActiveColor;
			margin: 0px;
		}
		
		.cont h3 i.icon-jl {
			display: block;
			width: 30px;
			height: 30px;
			float: left;
			background: url(../img/dlmu/jilu.png) no-repeat 100%;
		}
		
		.cont ul.con {
			padding: 10px 0;
			overflow: hidden;
			height: 250px;
		}
		
		.cont ul.con li {
			height: 40px;
			line-height: 40px;
			border-bottom: 1px solid #f0f0f0;
		}
		
		.cont ul.con li p span {
			display: inline-block;
		}
		
		.cont ul.con li p span.span-wz {
			width: 300px;
			font-size: 14px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			color: #333333;
		}
		
		.cont ul.con li p span.time {
			font-size: 12px;
			color: #666666;
		}
		
		.cont.cont-right {
			width: 650px;
			height: 325px;
			background-color: #FFFFFF;
			float: right;
		}
		
		.cont.cont-right h3 i.icon-gonggao {
			display: block;
			width: 30px;
			height: 30px;
			float: left;
			background: url(../img/dlmu/gonggao.png)no-repeat 100%;
		}
		
		.cont.cont-right h3 span.more {
			width: 56px;
			height: 24px;
			display: block;
			background: @bgActiveColor;
			border-radius: 12px;
			line-height: 24px;
			color: #FFFFFF;
			font-size: 12px;
			text-align: center;
			margin-top: 6px;
		}
		.notice {
			padding: 10px 0;
			height: 260px;
		}
		
		.notice .notice-left {
			float: left;
			width: 30px;
			height: 250px;
			overflow: hidden;
			padding-top: 10px;
		}
		
		.notice ul {
			width: 600px;
			height: 250px;
			padding-top:10px;
			float: left;
			overflow: hidden;
		}
		
		.notice ul li {
			width: 600px;
			height: 70px;
			background-color: #eaebef;
			border-radius: 15px;
			margin-bottom: 15px;
		}
		
		.notice ul li a {
			padding: 5px 10px;
			display: block;
		}
		
		.notice ul li a .notice-top {
			height: 25px;
			line-height: 25px;
		}
		.top-left ul .hover{
			background-color: #30405a;
			border-top: 5px solid @bgActiveColor;
			overflow: hidden;
			color: #FFFFFF;
			height: 107px;
		}
		.top-left ul .hover .icon_house-1{
			background: url(../img/dlmu/house_1.png) no-repeat;
		}
		.top-left ul .hover .icon_pt-1{
			background: url(../img/dlmu/dd_2.png) no-repeat;
		}
		.top-left ul .hover .icon_yq-1{
			background: url(../img/dlmu/microscope_2.png) no-repeat;
		}
		.top-left ul .hover .icon_zc-1{
			background: url(../img/dlmu/law_2.png) no-repeat;
		}
		.top-left ul .hover .icon_lx-1{
			background: url(../img/dlmu/chat_2.png) no-repeat;
		}
		.notice ul li a .notice-top span.title {
			width: 420px;
			font-size: 14px;
			font-weight: bold;
			color: #333333;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap
		}
		
		.notice ul li a .notice-top span.time {
			color: #666666;
			font-size: 12px;
		}
		
		.notice ul li a p {
			height: 32px;
			line-height: 16px;
			font-size: 12px;
			color: #333333;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-decoration: none;
		}

		.instrument {
			margin-top: 15px;
			overflow: hidden;
			a {
				display: block;
			}
		}
		
		.instrument-left {
			width: 770px;
			float: left;
		}
		
		.instrument-left ul {
			width: 770px;
			height: 80px;
			background-color: #f8f8f8;
			margin: 0px;
		}
		.instrument-left ul li a span.down_diams{
			display: none;
		}
		.instrument-left ul .hover{
			background-color: @bgActiveColor;
			color: #FFFFFF;
		}
		
		.instrument-left ul li a.hover span.down_diams{
			display:inline;
			position: absolute;
			width: 50px;
			margin-left: -90px;
			margin-top: 37px;
			font-size:50px;
			color: @bgActiveColor;
		}
		
		.instrument-left ul li {
			float: left;
			width: 255px;
			height: 80px;
			border-right: 1px solid #d0d6d8;
			line-height: 80px;
			text-align: center;
		}
		
		.instrument-left ul li a {
			font-size: 20px;
			color: #30405a;
			text-decoration: none;
		}
		
		.instrument-left ul li:last-child {
			border-right: 0;
		}
		
		.instrument-y {
			width: 770px;
			height: 531px;
			background: #FFFFFF;
			padding: 15px 0;
			border-bottom: 1px solid #d0d6d8;
			p {
				margin: 0px;
			}
		}
		
		.instrument-right {
			width: 410px;
			float: right;
			overflow: hidden;
		}
		
		.instrument-right .ranking {
			width: 410px;
			height: 80px;
			background-color: #f8f8f8;
			text-align: center;
			position: relative;
			border-bottom: 1px solid #d0d6d8;
		}
		
		.instrument-right .ranking i.icon-pah {
			width: 28px;
			height: 34px;
			display: block;
			background: url(../img/dlmu/pah.png) no-repeat;
			position: absolute;
			left: 150px;
			top: 22px;
		}
		
		.instrument-right .ranking span {
			color: #30405a;
			font-size: 20px;
			line-height: 80px;
			padding-left: 30px;
		}
		
		.instrument-list {
			width: 410px;
			height: 531px;
			padding: 15px;
			background-color: #FFFFFF;
			border-bottom: 1px solid #d0d6d8;
			a {
				display: block;
				color: #000000;
				text-decoration: none;
			}
		}
		
		.instrument-list ul {
			width: 383px;
			height: 35px;
			overflow: hidden;
			border: 1px solid #d0d6d8;
			background-color: #f6f6f6;
			border-radius: 30px;
		}
		
		.instrument-list ul li {
			width: 128px;
			height: 35px;
			margin-left: -1px;
			float: left;
			line-height: 35px;
			text-align: center;
			color: #30405a;
			font-size: 14px;
		}
		
		.instrument-list ul .hover {
			display: block;
			width: 126px;
			height: 35px;
			background: @bgActiveColor;
			border-radius: 35px;
			color: #FFFFFF;
		}
		
		.instrument-content {
			padding: 15px 0;
			display: none;
		}
		
		.instrument-content .ment-one {
			width: 380px;
			height: 50px;
			position: relative;
			margin-bottom: 10px;
			font-size: 14px;
			color: #30405a;
		}
		.instrument-content .ment-one span{
			font-weight: bold;
		}
		.instrument-content .ment-one span.right{
			 font-size: 12px;
		}
		.instrument-content .ment-list span{
			font-size: 14px;
		}
		.instrument-content .ment-list span.right{
			font-size: 12px;
		}
		.instrument-content .ment-list2 span{
			font-size: 14px;
		}
		.instrument-content .ment-list2 span.right{
			font-size: 12px;
		}
		
		.instrument-content .ment-one i.icon-one {
			width: 42px;
			height: 32px;
			display: block;
			float: left;
			background: url(../img/dlmu/one.png) no-repeat;
			position: absolute;
			top: 6px;
			left: 0;
		}
		
		.instrument-content .ment-one i.icon-two {
			width: 42px;
			height: 32px;
			display: block;
			float: left;
			background: url(../img/dlmu/two.png) no-repeat;
			position: absolute;
			top: 10px;
			left: 0;
		}
		
		.instrument-content .ment-one i.icon-s {
			width: 42px;
			height: 32px;
			display: block;
			float: left;
			background: url(../img/dlmu/s.png) no-repeat;
			position: absolute;
			top: 10px;
			left: 0;
		}
		
		.instrument-content .ment-one .ment-img {
			width: 50px;
			height: 50px;
			float: left;
			border-radius: 50px;
			margin-left: 50px;
			text-align: center;
			overflow: hidden;
		}
		
		.instrument-content .ment-one .ment-img img {
			width: 100%;
		}
		
		.instrument-content .ment-one span {
			height: 50px;
			line-height: 50px;
			font-size: 14px;
			color: #30405a;
		}
		
		.instrument-content .ment-one span p {
			width: 147px;
			height: 19px;
			line-height: 19px;
			margin-top: 4px;
			font-size: 12px;
			color: #30405a;
			overflow: hidden;
			margin: 0px;
		}
		
		.instrument-content .ment-one span.span-title,
		.instrument-content .ment-list span.span-title {
			width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-left: 15px;
		}
		
		.instrument-content .ment-list {
			width: 380px;
			overflow: hidden;
			font-size: 14px;
			color: #30405a;
		}
		.ment-img-hover {
			width: 50px;
			height: 50px;
			float: left;
			border-radius: 50px;
			margin-left: 8px;
			text-align: center;
			overflow: hidden;
			display: none;
		}
		.ment-img-hover img {
			width: 100%;
		}
		.instrument-content .ment-list em {
			width: 42px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 26px;
			color: #707070;
			float: left;
		}
		
		.instrument-content .ment-list span {
			height: 40px;
			line-height: 40px;
			color: #666666;
		}
		
		.instrument-content .ment-list span p{
			width: 147px;
			height: 14px;
			line-height: 14px;
			margin-top: 5px;
			font-size: 12px;
			color: #666666;
			overflow: hidden;
			margin: 0px;
		}
		.instrument-content .ment-list span p:nth-child(2){
			margin-top: 2px;
		}
		
		.instrument-content .ment-list span.span-title {
			width: 100px;
		}
		
		.instrument-content .ment-list2 {
			width: 380px;
			overflow: hidden;
		}
		.instrument-content .ment-list2 em {
			width: 42px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 26px;
			color: #707070;
			float: left;
		}
		
		.instrument-content .ment-list2 span {
			margin-left: 15px;
			height: 40px;
			line-height: 40px;
			color: #666666;
		}
		
		.instrument-content .ment-list2 span p{
			width: 147px;
			height: 14px;
			line-height: 14px;
			margin-top: 5px;
			font-size: 12px;
			color: #000;
			overflow: hidden;
		}
		.instrument-content .ment-list2 span p:nth-child(2){
			margin-top: 2px;
		}
		
		.instrument-content .ment-list2 span.span-title {
			width: 100px;
		}

		/*展示*/
		
		#box3 {
			border-bottom: 1px solid #d0d6d8;
		}
		.show {
			padding: 20px 10px;
			margin-bottom: 15px;
			background-color: #FFFFFF;
		}

		.show ul {
			width: 790px;
			margin: 0 auto;
			border-bottom: 1px solid #e5e5e5;
		}

		.show ul li {
			float: left;
			width: 263px;
			height: 50px;
			text-align: center;
			a {
				display: block;
				height: 50px;
				&.hover {
					border-bottom: 3px solid @bgActiveColor;
					margin-bottom: -2px;
					span {
						color: @bgActiveColor;
					}
				}
			}
		}

		.show ul li a span {
			text-align: center;
			line-height: 50px;
			font-size: 24px;
			display: inline-block;
			color: #000;
		}

		.module02{
			width: 1120px;
			margin: 25px auto;
			overflow: hidden;
		}
		.module02 .swiper-wrapper .swiper-slide div{
			margin-left: 12px;
			width: 260px;
			height: 345px;
			-webkit-box-shadow:0 0 10px #f1f2f4;  
			-moz-box-shadow:0 0 10px #f1f2f4;  
			box-shadow:0 0 10px #f1f2f4;  
		}
		.module02 .swiper-wrapper .swiper-slide div:hover{
			width: 258px;
			height: 343px;
			border: 1px solid @bgActiveColor;
		}
		.module02 .swiper-wrapper .swiper-slide div a{
			padding: 5px;
			line-height: 25px;
		}
		.module02 .swiper-wrapper .swiper-slide div a p{
			margin: 5px 0;
			width: 250px;
			height: 25px;
			line-height: 25px;
			font-size: 14px;
			color: #30405a;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.module02 .swiper-wrapper .swiper-slide div a p i{
			border-left: 3px solid #30405a;
			margin-right: 10px;
		}
		.module02 .swiper-wrapper .swiper-slide div a img{
			width: 250px;
			height: 186px;
		}
		.module02 .swiper-wrapper .swiper-slide div a span{
			display:block;
			width: 250px;
			height: 25px;
			line-height: 25px;
			font-size: 12px;
			color: #666666;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			word-break:break-all;
			white-space:normal;
			overflow: hidden;
		}
		.module02 .swiper-wrapper .swiper-slide div a p.span1{
			display:block;
			font-size: 12px;
			color: #666666;
			float: left;
			height: 50px;
			line-height: 25px;
			margin: 0px;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			word-break:break-all;
			white-space:normal;
			overflow: hidden;
		}
		.module02 .swiper-wrapper .swiper-slide div a p.span2{
			display:block;
			font-size: 12px;
			color: #666666;
			float: left;
			height: 75px;
			line-height: 25px;
			margin: 0px;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			word-break:break-all;
			white-space:normal;
			overflow: hidden;
		}

		.cxscroll {
			.box { 
				overflow: hidden;
				height: 365px;
			}
			.list{
				overflow: hidden;
				width: 99999px;
				border-bottom: none;
				height: 365px;
				li { 
					height: 355px;
					width: 280px;
					padding: 5px 10px;
					float: left;
					text-align: left;
					box-shadow: 0 0 10px #f1f2f4;
					a {
						height: 335px;
						padding: 0 10px;
						display: block;
						text-decoration: none;
						img {
							width: 255px;
							height: 196px;
							display: block;
						}
						p {
							margin: 5px 0;
							height: 25px;
							line-height: 25px;
							font-size: 14px;
							color: #000;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							i {
								border-left: 3px solid @bgColor;
   								margin-right: 10px;
							}
						}
						span {
							text-align: left;
							display: block;
							width: 250px;
							height: 25px;
							line-height: 25px;
							font-size: 12px;
							color: #666666;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 2;
							word-break: break-all;
							white-space: normal;
							overflow: hidden;
							&.desc {
								height: 75px
							}
						}
					}
				}
			}
		}

		ul.top_1 {
			li {
				width: 80px;
				height: 110px;
				float: left;
				a {
					width: 80px;
					height: 110px;
					display: inline-block;
					text-decoration: none;
					color: #7E7E7E;
					&.active, &:hover {
						background: @bgColor;
						color: #000;
						border-top: 2px solid @bgActiveColor;
					}
					i {
						display: block;
						margin: 0 auto;
						width: 30px;
						height: 30px;
						line-height: 30px;
						font-size: 26px;
						margin-top: 30px;
					}
					span {
						width: 80px;
						display: inline-block;
						font-size: 14px;
						text-align: center;
					}
				}
			}
		}

		.navigation-line {
			height: 40px;
			background: @bgColor;
			color: #333;
			.breadcrumb {
				background: transparent;
				line-height: 24px;
				li {
					color: #333;
				}
				a {
					color: #333;
				}
			}
		}

		section {
			width: 1200px;
			height: auto;
			min-height: 460px;
			margin: 0 auto;
			.center-body {
				#equipments {
					display: flex;
					flex-wrap: wrap;
				}
				.media {
					flex-wrap: wrap;
					&.header {
						padding: 10px 0;
						color: @bgActiveColor;
						border-bottom: 1px solid #E7E7E7;
						.media-left {
							vertical-align: middle;
							.initial {
								font-size: 26px;
							}
						}
						.media-body {
							vertical-align: middle;
							padding-left: 15px;
							.title {
								font-size: 26px;
							}
						}
						.media-right {
							white-space: nowrap;
							vertical-align: middle;
							a {
								color: #000;
								font-size: 12px;
								text-decoration: none;
								outline: 0;
							}
						}
					}
					&.reservation {
						margin-top: 19px;
					}
				}
				.post-list {
					tr {
						td {
							padding: 10px 10px 10px 30px;
							background: #FFFFFF;
							a {
								color: #000;
							}
							span {
								font-size: 12px;
								color: #666666;
							}
						}
						&:nth-child(2n) {
							td {
								background: @bgColor;
								background: rgba(201, 234, 255, 0.1);
							}
						}
					}
				}
				.other-style {
					.search {
						margin-top: 0px;
						width: 260px;
						height: 34px;
						color: #000;
						.search-input {
							width: 260px;
							border-radius: 5px;
							border: 0 solid transparent;
							background: #E7E7E7;
							box-shadow: 0 2px 2px #958d96 inset;
							color: #000;
							&:focus {
								border: 1px solid @bgColor;
								box-shadow: none;
								background: #FFF;
							}
						}
					}
					.search-btn {
						position: relative;
						right: 47px;
						z-index: 10;
						height: 32px;
						width: 47px;
						padding: 3px 12px;
						border-radius: 0;
						background-color: transparent;
						&:hover {
							color: #000;
						}
					}
				}
				.equipment-sub-root {
					.hr {
						margin: 10px 0;
					}
					.list-group-item {
						border: 0px;
						text-align: right;
						color: #999;
						background: transparent;
						&.main {
							color: #333;
							font-size: 18px;
							font-weight: 900;
						}
						&.title {
							font-size: 16px;
							color: #333;
							&.active {
								background-color: @bgColor;
								color: #000;
							}
						}
						&.active {
							background-color: transparent;
							color: @bgColor;
						}
						&:hover {
							background-color: transparent;
						}
					}
				}
				.box {
					margin: 15px 0px;
					background: @bgColor;
					height: 275px;
					box-shadow: 0 0 10px #E7E7E7;
					.icon {
						padding: 10px;
						img {
							width: 128px;
						}
					}
					.content {
						color: #7E7E7E;
						font-size: 14px;
						&:hover {
							.title a {
								color: @bgActiveColor;
							}
							.model {
								color: @bgActiveColor;
							}
						}
						.title {
							a {
								color: #333;
								font-size: 16px;
								font-weight: 700;
							}
						}
						.action {
							text-align: left;
							a {
								background-color: transparent;
								border-color: @bgActiveColor;
								color: @bgActiveColor;
								border-radius: 0px;
								font-size: 12px;
								padding: 2px 16px;
								&:hover {
									color: #FFF;
									background-color: @bgActiveColor;
								}
							}
						}
						.contact, .address, .phone {
							margin-bottom: 10px;
						}
						.model {
							margin-bottom: 20px;
						}
	
						.model {
							color: #999;
						}
					}
					.d {
						white-space: nowrap;
					}
					.description {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						display: block;
						width: 200px;
					}
				}
				.con-content {
					.media {
						.media-left {
							padding-top: 15px;
						}
						.media-body {
							.b {
								padding: 15px 0px 15px 15px;
								.title {
									color: @bgActiveColor;
									font-size: 18px;
									font-weight: 700;
									margin-bottom: 10px;
								}
							}
							.action {
								a {
									background-color: transparent;
									border-color: @bgActiveColor;
									color: @bgActiveColor;
									border-radius: 0px;
									font-size: 12px;
									padding: 2px 24px;
									&:hover {
										color: #FFF;
										background-color: @bgActiveColor;
									}
								}
							}
						}
					}
				}
				.eq-content {
					margin: 10px 0 20px;
					.media {
						.media-left {
							padding-top: 15px;
						}
						.media-body {
							.b {
								padding: 15px 0px 15px 15px;
								.title {
									color: @bgActiveColor;
									font-size: 18px;
									font-weight: 700;
									margin-bottom: 10px;
								}
								p {
									background-color: @bgColor;
									color: #7E7E7E;
									padding: 6px;
									img {
										height: 16px;
										width: 16px;
										margin-right: 5px;
									}
								}
							}
							.action {
								a {
									background-color: transparent;
									border-color: @bgActiveColor;
									color: @bgActiveColor;
									border-radius: 0px;
									font-size: 12px;
									padding: 2px 24px;
									&:hover {
										color: #FFF;
										background-color: @bgActiveColor;
									}
								}
							}
						}
					}
					.sub-content {
						color: #666;
						.title {
							padding-left: 15px;
							border-left: 2px solid @bgActiveColor;
							font-size: 14px;
							font-weight: 700;
							color: #333;
							margin-bottom: 10px;
						}
						.cc {
							margin-bottom: 20px;
							line-height: 24px;
							text-indent: 28px;
						}
					}
				}
			}
		}

		.post-container {
			padding: 20px;
			margin: 20px 0px;
			background-color: #FFFFFF;
			overflow: hidden;
			H1 {
				margin: 0 auto;
				padding: 6px 0px;
				font-size: 24px;
				color: #000;
				margin-bottom: 6px;
				line-height: 30px;
				text-align: center;
				overflow: hidden;
			}
			.time {
				width: 100%;
				display: inline-block;
				text-align: center;
				color: #000;
				height: 30px;
				line-height: 30px;
				font-size: 14px;
				border-bottom: 1px solid @bgActiveColor;
			}
		}
		.layout-search {
			.media.title {
				padding: 10px 0;
				color: #999;
				.media-left, .media-right {
					white-space: nowrap;
				}
				.strong {
					color: @bgActiveColor;
					font-size: 18px;
					font-weight: 500;
				}
				.total {
					color: @bgActiveColor;
					font-weight: 500;
				}
			}
			.center-body {
				.hr {
					border-bottom: 1px solid #ccc;
					height: 1px;
					width: 100%;
				}
			}
		}
	
		#post-container {
			&.post-list .post-item:hover {
				.media .media-body .title  a {
					color: @bgActiveColor;
				}
			}
			.post-item {
				height: 160px;
				width: 100%;
				background-color: #FCFAFA;
				margin: 20px 0px;
				.media {
					padding-right: 15px;
					.media-left {
						text-align: center;
						vertical-align: middle;
						color: #666;
						.pic {
							height: 160px;
							min-width: 160px;
							text-align: center;
							vertical-align: middle;
							display: table-cell;
							background: #EFEFEF;
							strong {
								font-size: 16px;
								color: #ccc;
								font-weight: 700;
							}
						}
					}
					.media-body {
						.title {
							color: #666666;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-weight: 700;
							margin-top: 10px;
							margin-bottom: 10px;
							a {
								font-size: 16px;
								color: #555;
								.bold {
									color: @bgActiveColor;
								}
							}
						}
						.content {
							font-size: 14px;
							color: #999;
							position: relative;
							overflow: hidden;
						}
					}
				}
			}
		}
	}

	.footer {
		background-color: #F1F0F0;
		.foot-container {
			height: 212px;
			background-color: #F1F0F0;
			color: #666;
			width: 1200px;
			margin: 0 auto;
			padding: 20px 0px;
			.media {
				.title {
					white-space: nowrap;
					.sub-title {
						font-size: 14px;
					}
					.title-desc {
						font-size: 12px;
					}
				}
				.sub-list {
					list-style: none;
					padding-left: 0px;
					li {
						margin-bottom: 10px;
						white-space: nowrap;
						font-size: 12px;
						a {
							color: #666666;
							font-size: 12px;
						}
					}
				}
				.media-left {
					padding-right: 30px;
					flex: 0 0 33.33%;
				}
				&.opinion {
					margin-top: 0px;
					textarea {
						width: 200px;
						height: 120px;
						padding: 10px;
						&::-webkit-input-placeholder { color:#999;font-size:12px; }
						&:-ms-input-placeholder { color:#999;font-size:12px; }
						&:-moz-placeholder { color:#999;font-size:12px; }
						&::-moz-placeholder { color:#999;font-size:12px; }
						&:hover, &:active, &:foucs {
							box-shadow: none;
						}
						&:focus { outline: 0; box-shadow: none; }
					}
					.input-group {
						width: 200px;
						margin-bottom: 5px;
						.input-group-addon {
							background-color: transparent;
						}
						&.has-error {
							textarea {
								 border-color: @bgActiveColor;
								 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
										box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
							}
							.form-control {
								&:focus {
									border-color: @bgActiveColor;
									 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
											box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
								}
							}
						}
					}
					.form-control {
						background-color: transparent;
						box-shadow: none;
						height: 30px;
						border-left: 0;
						&::-webkit-input-placeholder { color:#999;font-size:12px; }
						&:-ms-input-placeholder { color:#999;font-size:12px; }
						&:-moz-placeholder { color:#999;font-size:12px; }
						&::-moz-placeholder { color:#999;font-size:12px; }
						&:hover, &:active, &:foucs {
							box-shadow: none;
						}
						&:focus { outline: 0; box-shadow: none; border-color: #ccc; }
					}
					.media-body {
						text-align: center;
						.btn-primary {
							border-color: #ccc;
							background-color: transparent;
							height: 30px;
							width: 120px;
							color: #999;
							margin-top: 20px;
							padding: 2px 6px;
							&:focus { outline: 0; border-color: #ccc; }
						}
					}
					.media-right {
						flex: 0 0 33.33%;
					}
				}
			}
		}
		.container {
			justify-content: center;
		}
	}
	
	.pagination-nav {
		text-align: center;
		.pagination {
			margin: 0px;
			a, span {
				color: #777;
				&.current {
					color: #FFFFFF;
					background-color: @bgActiveColor;
					border-color: @bgActiveColor;
					font-weight: 600;
				}
			}
		}
		.pagination > li > a, .pagination > li > span {
			padding: 4px 8px;
		}
		.page-dec {
			position: absolute;
			padding: 4px 8px;
			color: #777;
		}
	}
	
}
