@import "inc/bootstrap/vars";

body {
    background-color: #252525;
    
    #login {
        width: 800px;
        height: 500px;
        margin: 100px auto;
        background: #FFF;
        border-radius: 50px;
        box-shadow: 0px 2px 3px #000;
        .left {
            height: 500px;
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .right {
            height: 500px;
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        #login-form {
            font-size: 18px;
            color: #2A2A2A;
            .form-group.line {
                border-bottom: 2px solid #EEEEEE;
                &.is-error {
                    border-bottom: 2px solid #F21010;
                    .input-group-prepend {
                        color: #F21010;
                    }
                }
            }
            .form-control {
                border: none;
                box-shadow: none !important;
                font-size: 18px;
                &:focus {
                    box-shadow: none !important;
                }
                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color:    #919191;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color:    #919191;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color:    #919191;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color:    #919191;
                }
            }
            .form-check-label {
                color: #919191;
            }
            .input-group-prepend {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #299F7E;
                .input-group-text {
                    font-size: 28px;
                }
            }
            input[type=checkbox] {
                margin-right: 15px;
                margin-left: -15px;
                cursor: pointer;
                font-size: 14px;
                width: 20px;
                height: 20px;
                position: relative;
            }
              
            input[type=checkbox]:after {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                content: " ";
                background: #FFF;
                border: 2px solid #299F7E;
                color: #FFF;
                display: inline-block;
                visibility: visible;
                padding: 0px 2px;
                border-radius: 3px;
            }
              
            input[type=checkbox]:checked:after {
                content: "✓";
                font-size: 14px;
                line-height: 16px;
                background: #299F7E;
            }

            .login-form-btn {
                font-size: 28px;
                height: 56px;
                background: #299F7E;
                border-radius: 10px;
            }
        }
    }

    #login-title {
        position: absolute;
        right: 56px;
        top: 30px;
        font-size: 33px;
        color: rgba(255, 255, 255, .1);
    }
}