@import "inc/bootstrap/vars";

body {
	background: @bg;
	color: @font;

	.hr {
		height: 10px;
	}

	ul {
		padding: 0px;
		li {
			list-style: none;
		}

		&.number {
			li {
				list-style-type: decimal;
			}
		}

		&.disc {
			li {
				list-style-type: disc;
			}
		}

		&.club {
			li {
				list-style-type: none;
			}
		}

		&.rhomb {
			li {
				list-style-type: none;
			}
		}
	}

	// 南昌大学定制化样式
	.heart {
		background-image: url(../img/heart.png);
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		height: 25px;
		width: 25px;
		margin-top: 4px;
		top: 0;
		left: 157px;
		display: block;
		position: absolute;
	}

	// 南昌大学定制化样式
	.select-png {
		background: url(../img/select.png) no-repeat 8px -1px;
		background-size: 30px 30px;
		-moz-background-size: 100% 100%;
		height: 30px;
		width: 40px;
		position: absolute;
		z-index: 9999;
		border-left: 2px solid #fff;
		right: 15px;
		top: 5px;
	}

	// Index首页样式
	#wrap {
		.float_right {
			float: right;
		}

		.float_left {
			float: left;
		}

		.layout-index, .equipment-info {
			color: @font;
			padding: 0 @bodyPrecent;
			.u-box {
				padding: 5px;
				&.no-padding {
					padding: 0 5px;
				}
			}
		}
		@media (max-width: 768px) {
			.layout-index, .equipment-info {
				padding: 0 5px;
			}
		}

		[class^=equipment-box] {
			background-color: @layoutBg;
			color: @mainTitle;
			.content {
				color: @font;
				width: 100%;
				.item {
					padding: 15px;
					img {
						border: 2px solid @navBgActive;
    					border-radius: 10px;
					}
    				.item-title {
    					margin-top: 10px;
    					text-align: center;		
					    overflow: hidden;
					    text-overflow:ellipsis;
					    white-space: nowrap;

    					a {
							color: @font;
						}
    				}
				}
			}
		}

		[class^=module-box] {
			overflow: hidden;
		}
		
		.module-box-one, .equipment-box-one, .login-box-one {
			height: 100%;
			background-color: @layoutBg;

			.tname {
                font-size: 16px;
				border-left: 4px solid @navBg;
				padding-left: 10px;
			    color: @mainTitle;
			}

			.table > tbody > tr > td {
				border-top: none;
				// 案例：20190309 , 个人建议可以此处建议统一修改，上下凑齐1rem即可
				padding: 0.5rem 0px;
			}
		}

		.module-box-one {
			.title {
				border-bottom: 1px solid #E7E7E7;
				padding: 10px 0px;
				margin: 0px 10px;
				color: @mainTitle;

				a.more {
					font-size: 14px;
					padding: 0px 6px;
					float: right;
					color: @navBg;
				}
			}
			.content {
				padding: 15px 0px;
				color: @font;
				.it { }
				.post {
					padding: 5px 0px;
					.p {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						padding: 0px 10px;
					}
					.description {
						color: #999;
						text-align: right;
					}
				}
				a {
					color: @font;
				}
			}
		}


		//M-two样式显示
		.module-box-two {
			border-top: 4px solid @navBg;
			background-color: @layoutBg;
			color: @font;
			.title {
				color: @mainTitle;
				.middle {
					text-align: center;
					padding-top: 40%;
					font-size: 18px;
				}
			}

			.post {
				li {
					background-color: #E7E7E7;
					border-left: 4px solid @navBg;
					margin-top: 10px;
					margin-right: 10px;
					padding: 10px;
					a {
						color: @font;
						text-decoration: none;
					}
				}
			}
		}

		//M-four样式显示
		.module-box-four {
			height: 100%;
			background-color: @layoutBg;
			border: 2px solid @navBg;
			color: @font;

			.title {
				padding: 10px;
			    color: @mainTitle;
			    background-color: @navBg;

			    a {
			    	color: @navFont;
			    }
			}

			.content {
				ul {
					padding: 0px 15px;
					li.post {
						list-style-type: disc;
						margin: 6px 15px;
					}
				}
				.p {
					padding: 5px;
				}
			}
		}

		//M-three样式显示
		.module-box-three {
			height: 100%;
			background-color: @layoutBg;
			border: 1px solid @navBg;
			color: @font;

			.title {
				padding: 10px;
			    color: @mainTitle;

			    .name {
			    	background-color: @navBg;
			    	padding: 2px 6px;
			    }

			    a {
			    	color: @font;
			    }
			}

			.content {
                padding: 15px;

				.p {
					padding: 5px;
				}
				a {
			    	color: @font;
			    }
			}

			li {
				margin: 6px 15px;
			}

			.table > tbody > tr > td {
				border-top: none;
			}
		}

		//M-five样式显示
		.module-box-five {
			height: 100%;
			background-color: @layoutBg;
			color: @font;

			.title {
				padding: 10px;
			    color: @mainTitle;
			    background-color: @navBg;
			    border-left: 4px solid @navBgActive;

			    a {
			    	color: @navFont;
			    }
			}

			.content {
				ul {
					color: #E7E7E7;
					padding: 0px 15px;
					li.post {
						list-style-type: disc;
						margin: 0px 15px;
    					padding: 5px 0px;
						border-bottom: 1px dashed #E7E7E7;
						a {
							color: @font;
						}
					}
				}
				.p {
					padding: 5px;
				}
			}
		}

		//M-six样式显示
		.module-box-six {
			height: 100%;
			background-color: @layoutBg;
			color: @font;

			.title {
				padding: 10px;
			    color: @mainTitle;
			    background-color: @navBg;

			    a {
			    	color: @navFont;
			    }
			}

			.content {
				ul {
					padding: 0px 15px;
					li.post {
						padding: 10px 0px;
						border-bottom: 1px dashed #E7E7E7;
						a {
							color: @font;
						}
					}
				}
				.p {
					padding: 5px;
				}
			}
		}

		//M-seven样式显示
		.module-box-seven {
			height: 100%;
			background-color: @layoutBg;
			color: @font;

			.title {
				padding: 10px;
			    color: @mainTitle;
			    .tname {
			    	text-align: center;
			    	font-size: 16px;
			    	font-weight: bold;
			    	position: relative;
			    }
			    .hr {
			    	height: 26px;
			    	position: relative;
			    	.a {
			    		background-color: #E7E7E7;
			    		height: 2px;
			    		width: 80%;
			    		position: absolute;
			    		top: 50%;
			    		&.right {
			    			right: 0px;
			    		}
			    		&.left {
			    			left: 0px;
			    		}
			    	}
			    }
			}

			.content {
				text-overflow: ellipsis;
                padding: 15px;

				.post-clamp {
					overflow: hidden;
				}
				.p {
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.bottom {
					position: absolute;
    				bottom: 16px;
				}
				a.btn {
					background-color: @navBg;
					color: @navFont;
					font-size: 18px;
					padding: 10px 12px;
					box-shadow: 0 2px 2px rgba(0,0,0,0.25);
				}
			}
		}

		// 后期增加的module-line-style
		.module-box-nine {
			height: 100%;
			color: @font;
			background-color: @layoutBg;
			.title {
				border-bottom: 1px solid #E7E7E7;
				padding: 10px 0px;
				margin: 0px 10px;
				color: @mainTitle;
				.tname {
                    font-size: 16px;
					border-left: 4px solid @navBg;
					padding-left: 10px;
				    color: @navBg;
				}
			}
			.content {
				text-overflow: ellipsis;
				padding: 15px;

				.post-clamp {
					overflow: hidden;
				}
				.p {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

        .login-form {
            .form-group {
                margin-bottom: 10px;
            }

            .login-btn {
                .btn {
                    margin-bottom: 10px;
                }
            }
        }

		// Login-one样式设置
		.login-box-one {
			background-color: @navBg;
			border-bottom: 4px solid #E7E7E7;
			color: @font;
			.title-font {
				padding-top: 20px;
				font-weight: bold;
				font-size: 1.2em;
			    text-align: center;
			    color: @mainTitle;
			}
			.content {
				padding: 10% 10%;

				.login-user-btn, .login-btn {
					text-align: center;
				}
				a {
					color: @navBgActive;
				}
			}

		}

		.login-box-two {
			background-color: @layoutBg;
			box-shadow: 0 2px 2px rgba(0,0,0,0.25);
			color: @font;
			.title-font {
                margin: 0 10px 10% 10px;
			    padding: 10px 0px;
			    border-bottom: 2px solid #E7E7E7;
			    color: @mainTitle;
				.name {
					padding-left: 10%;
					border-left: 4px solid @navBg;
				    font-size: 16px;
				    font-weight: bold;
				}
			}
			.content {
				margin: 0 10%;
				.input-group-addon {
					background-color: inherit;
				}
				input {
					border-left: none;
				}

				.login-btn {
					button {
						background-color: @navBg;
						color: @navFont;
					}
				}
			}
		}

		.login-box-three {
			background-color: @layoutBg;
			border: 2px solid @navBg;
			font-size: 16px;
			color: @font;
			.title-font {
				color: @mainTitle;
			    padding: 5px 10px;
			    background-color: @navBg;
			    color: @navFont;
			}
			.content {
				margin: 10%;
				.login-btn {
					button {
						background-color: @navBg;
						color: @navFont;
					}
				}
				input {
					border-radius: 0px;
				}
			}
		}

		.login-box-four {
			background-color: @layoutBg;
			border-top: 2px solid @navBg;
			box-shadow: 0 2px 2px rgba(0,0,0,0.25);
			font-size: 16px;
			color: @font;
			.title-font {
				color: @mainTitle;
			    padding: 10px 5%;
			    background-color: @layoutBg;
			    border-bottom: 1px solid #E7E7E7;
			    a {
			    	color: @navBg;
			    }
			}
			.content {
				padding: 10%;
				.login-btn {
					button {
						background-color: @navBg;
						color: @navFont;
					}
				}
			}
		}

		.login-box-five {
			background-color: @layoutBg;
			color: @font;
			.title-font {
                margin: 0 10px 10% 10px;
			    padding: 10px 0px;
			    color: @mainTitle;
				.name {
					border-left: 4px solid @navBg;
					padding-left: 5%;
				    font-size: 16px;
				    font-weight: bold;
				}
			}
			.content {
                padding-left: 10%;
                padding-right: 10%;
				.login-btn {
					.login-user-btn {
						text-align: center;
					}
					button {
						background-color: @navBg;
						color: @navFont;
					}
				}
			}
		}

		// Login-six样式设置
		.login-box-six {
			background-color: @layoutBg;
			border: 2px solid @navBg;
			color: @navBgActive;
			border-radius: 5px;
			color: @font;
			.title-font {
				margin: 20px 10% 0px;
				font-weight: bold;
				font-size: 1.2em;
			    text-align: center;
			    background-color: @navBg;
			    border-radius: 5px;
			    padding: 10px 0;
			    color: @mainTitle;
			}
			.content {
				padding: 10% 10%;
				input {
					border-radius: 0px;
				}
				.login-btn {
					text-align: center;
					.btn {
						background-color: @navBg;
						color: @navBgActive;
					}
				}
				a.login-user-btn {
					color: @font;
				}
			}

		}

		// Login-seven样式设置
		.login-box-seven {
			background-color: @layoutBg;
			border-top: 2px solid @navBg;
			color: @font;
			.title-font {
				color: @mainTitle;
				font-weight: bold;
				font-size: 1.2em;
			    text-align: center;
			    padding-top: 20px;
			}
			.content {
				padding: 10% 10%;
				input {
					border-radius: 0px;
				}
				.login-btn {
					text-align: center;
					.btn {
						background-color: @navBg;
						color: @navBgActive;
						border-radius: 0px;
					}
				}
				p {
					margin-top: 10px;
				}
				a.login-user-btn {
					color: @font;
				}
			}

		}

		//Equipment样式设置
		.equipment-box-one {
			height: 100%;
			color: @font;
			overflow: hidden;
			.title {
				border-bottom: 1px solid #E7E7E7;
				padding: 10px 0px;
				margin: 0px 10px;
				color: @navBg;

				a.more {
					font-size: 14px;
					padding: 0px 6px;
					float: right;
					color: @navBg;
				}
			}
			.real-list {
				padding: 0 15px;
				width: 100%;
				.box {
					overflow: hidden;
					.list {
						overflow: hidden;
						height: 99999px;
						border-bottom: none;
						width: 100%;
						li {
							height: 40px;
							display: flex;
							line-height: 40px;
							font-size: 16px;
							i {
								width: 40px;
								line-height: 40px;
								color: @navBg;
							}
							.body {
								width: 500px;
								color: #555;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							.right {
								width: 200px;
								text-align: right;
								color: #999;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
					}
				}
			}
			#top-reserve {
				padding: 0 15px;
				width: 100%;
				overflow: hidden;
				.flex {
					height: 40px;
					display: flex;
					line-height: 40px;
					font-size: 16px;
					.left {
						width: 300px;
						color: #555;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.right {
						width: 700px;
						text-align: right;
						color: #999;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						.time {
							margin-left: 15px;
						}
					}
				}
			}
			.user-status {
				.description {
					position: absolute;
					bottom: 20px;
					width: 100%;
					display: flex;
					.box {
						line-height: 36px;
						font-size: 26px;
						color: #333;
						flex: 0 0 33.33%;
						display: flex;
						justify-content: center;
						flex-direction: column;
						align-items: center;
					}
				}
				.chart {
					display: flex;
					.circles {
						flex: 0 0 33.33%;
						display: flex;
						justify-content: center;
						padding: 20px 0px;
					}
				}
			}
			.lab-status {
				width: 100%;
				display: flex;
				.box {
					color: #333;
					flex: 0 0 33.33%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.arrow {
					flex: 0 0 20%;
				}
				.circle, .scale {
					flex: 0 0 40%;
				}
				.circle-text {
					position: absolute;
					font-size: 18px;
				}
			}
		}

		//Link-One 样式
		.link-box-one {
			overflow: hidden;
			.content {
				text-align: center;
				height: 100%;
				color: @font;
				.item {
					height: 100%;
					padding: 20px;
				    background-color: @layoutBg;
				    margin-right: 5px;
				    text-decoration: none;
				    color: @font;
					&:hover {
						text-decoration: none;
					}
				    &:last-child {
				    	margin-right: 0px;
				   	}
				}
				&.text {
					.item {
						color: @font;
			    		float: left;
					}
			    }

			}
		}

		//Link-One 样式
		.link-box-two {
			background-color: @navBg;
			padding: 10px;
			overflow: hidden;
			.content {
				color: @mainTitle;
    			text-align: left;
				.item {
			    	text-decoration: none;
			    	color: @mainTitle;
					&:hover {
						text-decoration: none;
					}
				}
				&.vertical {
					.item {
						border-bottom: 2px solid @navBgActive;
						display: block;
    					padding: 10px 0px;
    					color: @mainTitle;
						&:last-child {
    						border-bottom: none;
    					}
					}
			    }
			    &.text {
			    	.item {
						border-right: 2px solid @navBgActive;
    					padding: 0px 10px;
    					color: @mainTitle;
    					&:last-child {
    						border-right: none;
    					}
					}
			    }

			}
		}

	}

	//equipment-Category样式显示
	#wrap {
		.equipment-category {
			.equipment-body {
				background-color: @layoutBg;
				padding: 0 10px;
				.header {
					padding: 10px 15px;
					margin-bottom: 10px;
					border-bottom: 1px solid #E7E7E7;
					.title {
						font-size: 16px;
						font-weight: bold;
						border-left: 5px solid @navBg;
    					padding-left: 15px;
						margin-left: -15px;
					}
				}
				.body {
					.pagination {
						margin-top: 0px;
						span.current {
							background-color: @navBg;
							color: @navFontActive;
						}
					}

					margin-top: 5px;
					font-size: 16px;

					.hr {
						margin: 10px 0;
					}
					.list-group-item {
						border: 0px;
						text-align: left;
						color: #858585;
						background: #FAFAFA;
						border-radius: 0px;
						font-weight: 700;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						&.main {
							color: #FFF;
							background-color: @navBg;
							font-size: 16px;
							font-weight: 900;
							&:hover {
								background-color: @navBg;
								color: #FFF;
							}
						}
						&.title {
							font-size: 16px;
							color: #333;
							&.active {
								background-color: @navBg;
								color: #FFF;
							}
						}
						&.list-group-item-info {
							background-color: #ECF1F8;
							color: @navBg;
						}
						&:hover {
							background-color: #ECF1F8;
							color: @navBg;
						}
					}

					.root-table .left {
						width: 20%;
						vertical-align: middle;
						text-align: center;
						font-size: 20px;
						line-height: 1.24;
						background-color:@navBg;
						color: @navFontActive;
						a {
							color: @navFontActive;
						}
					}
					.root-table .right a {
						background-color: transparent;
						border: none;
						border-bottom: 1px solid @navBg;
						border-radius: 0px;
						color: @navBg;
						text-align: left;
						padding: 4px 0px;
						white-space: normal;
						font-size: 14px;
						font-weight: 400;
						display: block;
					}
				}
			}

			#equipments {
				.media-box {
					margin-bottom: 20px;
					height: 156px;
					.box-left {
						float: left;
						width: 220px;
						height: 156px;
						overflow: hidden;
						padding: 14px 46px;
						border: 1px solid @navBg;
						a {
							display: block;
							height: 128px;
							width: 128px;
						}
					}
					.box-body {
						margin-left: 230px;
						overflow: hidden;
						text-overflow: ellipsis;
						padding: 0 0 12px 12px;
						a {
							height: 26px;
							line-height: 26px;
							&:link, &:visited, &:hover, &:active {
								outline: 0;
							}
						}
						.media-heading {
							font-size: 1.1rem;
							margin-bottom: 10px;
							color: @navBg;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							display: block;
							font-size: 18px;
							font-weight: 700;
						}
						p {
							margin-bottom: 10px;
							font-size: 14px;
							font-weight: 500;
							color: #858585;
						}
						.btn {
							border-radius: 0px;
							padding: 0 15px;
							height: 26px;
							background-color: #FFF;
							line-height: 26px;
							border-color: @navBg;
							color: @navBg;
							&:hover {
								color: #FFF;
								background-color: @navBg;
							}
						}
					}
				}
			}
		}

		.list-group-item {
			border-radius: 0px;
		}
	}

	//菜单栏样式显示
	#navbar {
		text-align: center !important;
		padding: 0px 10px;
		width: 100% !important;
		background-color: @navBg !important;
		color: @navFont !important;
		border-top-left-radius: @leftTop !important;
		border-top-right-radius: @rightTop !important;
		border-bottom-right-radius: @rightBottom !important;
		border-bottom-left-radius: @leftBottom !important;
		border-top: @activeTopBorder !important;
		border-bottom: @activeBottomBorder !important;
		display: flex;

		.dropdown-menu {
			background-color: @navBg !important;
		}

		li {
			margin-right: 2px;
			background-color: @navBg !important;
			a {
				font-size: 16px !important;
				color: @navFont !important;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				&:hover {
					color: @navFontActive !important;
					background-color: @navBgActive !important;
				}
				 &:visited {
					background-color: @navBgActive !important;
				}
			}

			&.active {
				> a {
					background-color: @navBgActive;
					color: @navFontActive !important;
				}

				.dropdown-menu a {
					&:hover {
						background-color: @navBgActive;
					}
				}
			}

			&.nav-item {
				line-height: 2.4rem;
				float: none;
				display: flex;
    			justify-content: center;
			}
		}

		.open>a {
			background-color: @navBgActive;
			border-top: @activeTopBorder;
			border-bottom: @activeBottomBorder;
			&:hover, &:focus {
				background-color: @navBgActive;
				border-top: @activeTopBorder;
				border-bottom: @activeBottomBorder;
			}
		}
	}

	//POST单个显示的样式
	.post-container, .eq-container {
		background-color: @layoutBg;
		.breadcrumb {
			margin-bottom: 0px;
		    background-color: inherit;
		    padding-top: 20px;
		    padding-bottom: 20px;
		    border-bottom: 1px solid #E7E7E7;
		    border-radius: 0px;
		}
		.content {
			padding: 20px 15px;
			word-break: break-all;
		}
	}

	//equipment-info 显示样式
	.eq-info {
		background-color: @layoutBg;
		.eq-content {
			margin: 0 20px;
			.title-container {
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid rgba(184,184,184,1);
				.title {
					color: #30405A;
					font-size: 18px;
					margin: 20px 0px;
				}
				.float_right {
					display: flex;
					align-items: center;
				}
				.btn {
					background-color: #FFF;
					border-color: #E57E31;
					color: #E57E31;
					font-size: 14px;
					width: 72px;
					height: 24px;
					line-height: 24px;
					border-radius: 12px;
					padding: 0px;
					margin-left: 10px;
					&:hover {
						background: linear-gradient(90deg,rgba(229,126,49,1),rgba(240,152,25,1));
						border-color: #E57E31;
						color: #FFF;
					}
				}
			}
			.content-container {
				display: flex;
				justify-content: space-between;
				padding: 20px 10px;
				.left {
					width: 500px;
				}
				.right {
					width: 780px;
					padding-left: 30px;
				}
				.title {
					font-size: 16px;
					font-weight: bold;
					color: rgba(48,64,90,1);
					margin-bottom: 15px;
				}
				.box {
					color: #333;
					margin-bottom: 12px;
					.data {
						color: #E67F30;
					}
				}
			}
		}
	}

	.post-body {
		.title {
			font-size: 22px;
            font-weight: bold;
            text-align: center;
            margin: 15px 0;
		}
	}

	#circles {
		text-align: center;
		margin-top: 10px;
		.circles-text {
			font-size: 12px!important;
			line-height: 14px!important;
			padding-top: 64px;

			p.circles-p {
				margin: 0px;
				text-align: left;
				padding-left: 50px;
			}
		}
	}

	.circle-block {
		margin: auto;
		.circle-left {
			float: left;
		}
	}

	#top-equipment, #top-user {
		.p {
			line-height: 18px;
			font-size: 14px;
			padding: 0px 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: #999;
		}
		.it {
			font-size: 16px;
			color: @mainTitle;
		}
		.order {
		    color: @mainTitle;
		    font-style: oblique;
		    font-weight: 800;
		    font-size: 18px;
		    padding-right: 10px;
		}
		a {
			color: @mainTitle;
		}
	}

	/* Nivo 轮播的样式 */
	#wrapper {
		position: relative;
		overflow: hidden;
	}
	.nivo-controlNav {
	    position: absolute;
	    z-index: 999;
	    width: 147px;
	    height: 100%;
	    top: 0px;
	    right: 0px;
	    background-color: rgba(255,255,255,0.6);
	    padding: 10px;
	}
	.nivo-controlNav a {
	    display: inline-block !important;
		position: relative;
		width: 127px;
		height: 101px;
		overflow: hidden;
		margin: 0 0 1px 0;
		vertical-align: top;
		z-index: 99;
		cursor: pointer;
	}
	.nivo-controlNav a.active img, 
	.nivo-controlNav a:hover img {
		opacity: 1;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
	}

	.nivo-controlNav img {
		display: inline; /* Unhide the thumbnails */
		position: relative;
		width: 127px;
		height: 101px;
		margin: 0;
		opacity: 0.3;
	}

	/* Search 搜索框 */
	#body {
		.search {
			.input-group {
				.search-input {
					height: 40px;
					border-color: @navBg;
					&:focus {
						border-color: @navBg;
						outline: none;
						box-shadow: none;
				    }
				}
				.input-group-addon {
					padding: 0px;
					border: none;
				}
				.search-btn {
					height: 40px;
				    width: 45px;
				    border-radius: 0;
				    background-color: @navBg;
				    color: @navFont;
				    &:focus {
				    	outline: 0;
				    }
				}
				.dropdown-toggle {
					height: 40px;
	    			border-radius: 0;
				    background-color: @navBg;
				    color: @navFont;
				    border-color: @navBg;
				    &:focus {
				    	border-color: @navBg;
						outline: none;
						box-shadow: none;
				    }
				}
				.dropdown-menu {
					border-color: @navBg;
					padding: 0px;
					border-radius: 0px;
					.dropdown-item {
						border-bottom: 1px solid @navBg;
						padding: 0.5rem 1.5rem;
						&:hover {
							cursor: pointer;
							background-color: @navBg;
							color: @navFont;
						}
						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}
	}

	#equipment-box.cxscroll {
		.box { 
			overflow: hidden;
		}
		.list{
			overflow: hidden;
			width: 99999px;
			li { 
				float: left;
			}
		}
	}
	
}
