//
// Begin For Variables
// --------------------------------------------------

@moduleBgColor:           #46566F;
@moduleSuccessBgColor:    #17a2b8;


#slider-lock {
    width: 100%;
    height: 3rem;
    position: relative;
    background-color: @moduleBgColor;
    overflow: hidden;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    .slider-bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: @moduleSuccessBgColor;
        z-index: 9;
        color: #FFF;
        font-size: 1.1rem;
        vertical-align: middle;
        line-height: 3rem;
    }
    .label {
        width: 3.5rem;
        position: absolute;
        left: 0;
        top: 0;
        height: 3rem;
        line-height: 3rem;
        background: #FFF;
        z-index: 3;
        cursor: move;
        color: #868e96;
        font-size: 1rem;
        font-weight: 700;
        padding: 0;
        border-radius: 0;
        .fa-primary {
            color: @moduleSuccessBgColor;
        }
    }
    .labelTip {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 1rem;
        font-family: 'Microsoft Yahei', serif;
        color: #CCC;
        line-height: 3rem;
        text-align: center;
        z-index: 2;
    }
}
