<?php
	$setting = (array)Hub('config.design.system');
	$layout = a('layout','25');
?>
<?php if($layout->direction): ?>
	<div class="row">
		<div style="position: relative;">
			<div class="login-status-img" style="position: relative;display: inline-block;left: 50%;margin-left: -75px;">
				<?= $img ?>
			</div>
		</div>
	  <div>
	    <h4 class="text-center" ><?= H(T($name)).'，欢迎回来' ?></h4>
	    <h4 class="text-center" ><?= T('登陆验证通过') ?></h4>
	  </div>
	</div>
	<a type="button" href="http://<?= _G('system.host') ?>/lims/" class="btn btn-default btn-block"><?= T('进入预约系统') ?></a>
	<a type="button" href="http://<?= _G('system.host') ?>/lims/logout" class="btn btn-default btn-block"><?= T('注销登录') ?></a>
	<script>
	$(function(){
		$('.login-status-img img').css({'height':'150px','width':'150px'})
	})
	</script>
<?php else:?>
	<div class="row">
		<div class="col-md-6">
			<div style="position: relative;">
				<div class="login-status-img" style="position: relative;display: inline-block;left: 50%;margin-left: -60px;">
					<?= $img ?>
				</div>
			</div>
		</div>
		<div class="col-md-6">
	    <h4 class="text-center" ><?= H(T($name)) ?></h4>
	    <h4 class="text-center" ><?= T('欢迎回来') ?></h4>
			<a type="button" href="http://<?= _G('system.host') ?>/lims/" class="btn btn-default btn-block"><?= T('进入系统') ?></a>
			<a type="button" href="http://<?= _G('system.host') ?>/lims/logout" class="btn btn-default btn-block"><?= T('注销登录') ?></a>  
	  </div>
	</div>
	<script>
	$(function(){
		$('.login-status-img img').css({'height':'130px','width':'130px'})
	})
	</script>
<?php endif;?>
