<?php 
	$setting = (array)Hub('config.design.system'); 
	$height = ($object->height ?: $object->sizey * 120) . 'px';
	$hide = $object->hide ? true : false;
	$sys = (array)Hub('config.design.system');
	$apiUrl = $sys['url'];
	if ($apiUrl) {
		$rpc = \Gini\Ioc::construct('\Gini\RPC', $apiUrl);
		$backends = $rpc->auth->get_backends();
		$default_backend = $rpc->auth->get_default_backend();
	}
?>
<div class="login-box-seven"  style="height: <?= $height ?>">
	<div class="title-font"><?= H(T('仪器预约系统'))?></div>
	<div class="content" id="login-content">
		<form class="login-form" method="post" role="form" action="<?php echo $object->loginUrl?:$setting['loginUrl'] ?>">
			<div class="form-group">
				<input type="text" class="form-control" id="inputUser" name="token" placeholder="<?= H(T('用户名'))?>">
			</div>
			<?php if (count($backends) > 1) :?>
				<div class="form-group">
					<select class="form-control" style="height: calc(2.25rem)">
						<?php foreach ($backends as $backend => $value) :?>
							<option value="<?= $backend?>" <?php if ($default_backend == $backend) {echo 'selected="selected"';} ?>><?= T($value)?></option>
						<?php endforeach;?>
					</select>
				</div>
			<?php endif;?>
			<div class="form-group">
				<input type="password" class="form-control" id="inputpwd" name="password" placeholder="<?= H(T('密码'))?>">
			</div>
		  	<div>
			 	<div class="row">
			 		<div class="col-md-12 login-btn">
				 		<button type="submit" name="submit" value="登录" class="btn btn-default btn-block">
				 		<?= H(T('登录')) ?></button>
				 	</div>
			 	</div>
			 	<p>
			 		<span class="p"><?= H(T('还没有账号？')) ?></span>
			 		<a class="login-user-btn" href="http://<?= _G('system.host') ?>/lims/!labs/signup" target="_blank"><?= H(T('点击注册'))?></a>
			 	</p>
			</div>
		</form>
	</div>
</div>
<?php if($hide) :?>
<script>
require(['main'], function ($) {
  var remote_url = "http://" + "<?= _G('system.host') ?>" + "/lims/current_user";
  $.ajax({
    url: remote_url,
    dataType: 'jsonp',
    jsonp: 'callback',
    success: function(result) {
      if(!result.name || !result.img) return;
      $.ajax({
        url: "ajax/user/current",
        data: {
          'name':result.name,
          'img':result.img
        }
      }).done(function(data) {
        $('div#login-content').html(data);
      });
    }
  });
})
</script>
<?php endif;?>