<?php 
	$setting = (array)Hub('config.design.system'); 
	$height = ($object->height ?: $object->sizey * 120) . 'px';
	$hide = $object->hide ? true : false;
	$sys = (array)Hub('config.design.system');
	$apiUrl = $sys['url'];
	if ($apiUrl) {
		$rpc = \Gini\Ioc::construct('\Gini\RPC', $apiUrl);
		$backends = $rpc->auth->get_backends();
		$default_backend = $rpc->auth->get_default_backend();
	}
?>
<div class="login-box-three" style="height: <?= $height ?>">
	<div class="title-font"><?= H(T('进入仪器预约系统'))?></div>
	<div class="content" id="login-content">
        <form class="login-form" method="post" role="form" action="<?php echo $object->loginUrl?:$setting['loginUrl'] ?>">
        <div class="form-group">
		    	<label class="user-font" for="exampleInputEmail1"><?= H(T('用户名'))?></label>
		    	<input type="text" class="form-control " id="inputUser" name="token">
				</div>
				<?php if (count($backends) > 1) :?>
				<div class="form-group">
		    	<label ><?= H(T('登录方式'))?></label>
					<select class="form-control" style="height: calc(2.25rem)">
						<?php foreach ($backends as $backend => $value) :?>
							<option value="<?= $backend?>" <?php if ($default_backend == $backend) {echo 'selected="selected"';} ?>><?= T($value)?></option>
						<?php endforeach;?>
					</select>
				</div>
				<?php endif;?>
		  	<div class="form-group">
		   	 	<label class="user-password" for="exampleInputPassword1"><?= H(T('密码'))?></label>
		    	<input type="password" class="form-control" id="inputPassword" name="password">
		  	</div>
		  	<div class="login-btn">
			 	<div class="row">
			 		<div class="col-md-4">
				 		<button type="submit" name="submit" value="登录" class="btn btn-default btn-block">
				 		<?= H(T('登录')) ?></button>
				 	</div>
				 	<div class="col-md-6 col-md-offset-3">
				 		<a href="http://<?= _G('system.host') ?>/lims/!labs/signup" target="_blank" class="pull-right"><?= H(T('注册新用户'))?></a>
				 	</div>
			 	</div>
			</div>
		</form>
	</div>
</div>
<?php if($hide) :?>
<script>
require(['main'], function ($) {
  var remote_url = "http://" + "<?= _G('system.host') ?>" + "/lims/current_user";
  $.ajax({
    url: remote_url,
    dataType: 'jsonp',
    jsonp: 'callback',
    success: function(result) {
      if(!result.name || !result.img) return;
      $.ajax({
        url: "ajax/user/current",
        data: {
          'name':result.name,
          'img':result.img
        }
      }).done(function(data) {
        $('div#login-content').html(data);
      });
    }
  });
})
</script>
<?php endif;?>