<?php
	$path = $object->filePath();
	$imgs = [];
    \Gini\File::eachFilesIn($path, function($file) use (&$imgs) {
    	$imgs[] = $file;
    });
    $vars = [
        'url' => "ajax/unpc/layout/display/upload/{$index}",
        'maxFiles' => 10,
        'appceptedFiles' => '.png,.jpg,.bmp,.gif',
        'removeUrl' => "ajax/unpc/layout/display/removefile/{$index}",
    ];
    if (count($imgs)) {
    	$files = [];
    	foreach ($imgs as $file){
    		$fullpath = $path.$file;
    		$files[] = [
    			'name' => $file,
	    		'size' => filesize($fullpath),
	    		'path' => "!category/icon/{$object->id}/{$file}"
    		];
    	}
    	$vars['files'] = json_encode($files);
    }
	echo U('components/upload', $vars)
?>
<br />
<form id="layout-set-view-form" class="form-horizontal setting-display" method="POST" action="gini-ajax:AJAX/Unpc/Layout/Display/Update/<?= (int)$index?>">
	<input class="d-none" name="submit" value="submit" />
	<input class="d-none" name="type" value="<?= $object->type  ?>" />
	<input class="d-none" name="index" value="<?= $index; ?>" />
	<div class="form-row form-group">
            <label  class="col-md-3"><?= H(T('图片展示方式'))?></label>
            <div class="col-md-7">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="showType" type="radio" value="slide" class="form-check-input" <?= (!$object->showType || $object->showType == 'slide') ? 'checked="checked"' : ''?>>
                        <?= H(T('轮播')) ?>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="showType" type="radio" value="fade" class="form-check-input" <?= $object->showType == 'fade' ? 'checked="checked"' : '' ?> >
                        <?= H(T('淡入淡出')) ?>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="thumb" type="checkbox" value="thumb" class="form-check-input" <?= $object->thumb == 'thumb' ? 'checked="checked"' : '' ?> >
                        <?= H(T('显示缩图')) ?>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="randomPlay" type="checkbox" value="randomPlay" class="form-check-input" <?= $object->randomPlay == 'randomPlay' ? 'checked="checked"' : '' ?> >
                        <?= H(T('随机开始')) ?>
                    </label>
                </div>
            </div>

	</div>
	<div class="form-group row">
		<label for="height" class="col-md-3"><?= H(T('布局高度'))?></label>
		<div class="col-md-4 input-group">
			<input type="text" class="form-control" id="height" name="height" value="<?= (int)$object->height ?: ((int)$object->sizey * 120) ?>" >
            <span class="input-group-addon">px</span>
		</div>
	</div>
	<div class="form-group row">
		<label for="float" class="col-md-3"><?= H(T('对齐方式'))?></label>
		<div class="col-md-8">
			<div class="form-check form-check-inline">
				<label class="form-check-label">
				    <input name="float" type="radio" value="left" class="form-check-input" <?= ($form['_errors'] ? $form['float'] : $object->float) != 'right' ? 'checked="checked"' : '' ?> >
					<?= H(T('左对齐')) ?>
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label">
				    <input name="float" type="radio" value="right" class="form-check-input" <?= ($form['_errors'] ? $form['float'] : $object->float) == 'right' ? 'checked="checked"' : '' ?> >
				    <?= H(T('右对齐')) ?>
				</label>
			</div>
		</div>
	</div>
</form>
