<form id="layout-set-view-form" class="form-horizontal" method="POST"
      action="gini-ajax:AJAX/Unpc/Layout/Eqpic/Update/<?= (int)$index ?>">
    <input class="d-none" name="submit" value="submit"/>
    <input class="d-none" name="type" value="<?= $object->type  ?>"/>
    <input class="d-none" name="index" value="<?= (int)$index ?>"/>
    <?php $layout = a('layout', ['index' => $index]); ?>
    <div class="form-group row">
        <label class="col-md-3"><?= H(T('图片大小')) ?></label>
        <div class="col-md-9">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="size" type="radio" value="32"
                           class="form-check-input" <?= $layout->size == '32' ? 'checked="checked"' : '' ?> >

                    <?= H(T('32 * 32')) ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="size" type="radio" value="64"
                           class="form-check-input" <?= ($layout->size == '64' || !$layout->size) ? 'checked="checked"' : '' ?> >

                    <?= H(T('64 * 64')) ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="size" type="radio" value="128"
                           class="form-check-input" <?= $layout->size == '128' ? 'checked="checked"' : '' ?> >

                    <?= H(T('128 * 128')) ?>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 "><?= H(T('是否显示名称')) ?></label>
        <div class="col-md-9">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="showEQName" type="radio" value="1"
                           class="form-check-input" <?= $layout->showEQName != 0 ? 'checked="checked"' : '' ?> >

                    <?= T('是') ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="showEQName" type="radio" value="0"
                           class="form-check-input" <?= $layout->showEQName == 0 ? 'checked="checked"' : '' ?> >

                    <?= T('否') ?>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 "><?= H(T('是否滚动')) ?></label>
        <div class="col-md-9">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="isScroll" type="radio" value="1"
                           class="form-check-input" <?= $layout->isScroll != 0 ? 'checked="checked"' : '' ?> >
                    <?= T('是') ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="isScroll" type="radio" value="0"
                           class="form-check-input" <?= $layout->isScroll == 0 ? 'checked="checked"' : '' ?> >
                    <?= T('否') ?>
                </label>
            </div>

        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 "><?= H(T('滚动个数')) ?></label>
        <div class="col-md-6 input-group">
                <input type="number" class="form-control" id="scrollNumber" min="1" name="scrollNumber" autocomplete="off"
                       value="<?= (int)$layout->scrollNumber ?>">
                <span class="input-group-addon">个</span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 "><?= H(T('显示总个数')) ?></label>
        <div class="col-md-6 input-group">
                <input type="number" class="form-control" id="count" min="1" name="count" autocomplete="off"
                       value="<?= (int)$layout->count ?>">
            <span class="input-group-addon">个</span>
        </div>
    </div>
</form>