<form id="layout-set-view-form" class="form-horizontal" method="POST" action="gini-ajax:AJAX/Unpc/Layout/LabStatus/Update/<?= (int)$index ?>">
	<input class="d-none" name="submit" value="submit" />
	<input class="d-none" name="type" value="<?= $object->type  ?>" />
	<input class="d-none" name="index" value="<?= (int)$index ?>" />
	<?php $layout = a('layout', ['index'=>$index]); ?>
    <div class="form-group row">
        <label class="col-md-3 "><?= H(T('高度'))?>(px)</label>
        <div class="col-md-3">
            <div class="">
                <input type="text" class="form-control" id="height" name="height" min="1" autocomplete="off" value="<?= (int)$layout->height ?: 120 ?>" >
            </div>
        </div>
    </div>
</form>