<tr class="<?= $class ?>">
    <td><input name="title[<?= $number?:0 ?>]" type="text" value="<?= H($t)?>" class="form-control" /></td>
    <td><input name="url[<?= $number?:0 ?>]" type="text" value="<?= H($u)?>" class="form-control" /></td>
    <td>
    	<button 
            name="icon[<?= $number?:0 ?>]" 
            class="btn btn-ok" 
            data-iconset="fontawesome" role="iconpicker" 
            data-arrow-class="btn-success" 
            data-arrow-prev-icon-class="fa fa-arrow-left"
            data-arrow-next-icon-class="fa fa-arrow-right" 
            data-placement="left"
            data-search="true"
            data-icon="<?= H($i) ?>"
        ></button>
    </td>
</tr>