<form id="layout-set-view-form" class="form-horizontal" method="POST"
      action="gini-ajax:AJAX/Unpc/Layout/link/Update/<?= (int)$index ?>">
    <input class="d-none" name="submit" value="submit"/>
    <input class="d-none" name="type" value="<?= $object->type  ?>"/>
    <input class="d-none" name="index" value="<?= (int)$index; ?>"/>
    <?php
    $layout = a('layout')->whose('index')->is((int)$index);
    $number = 0;
    ?>
    <div class="form-group row">
        <label for="global" class="col-md-3 "><?= H(T('是否全局显示')) ?></label>
        <div class="col-md-9">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="global" type="radio" value=1
                           class="form-check-input" <?= $layout->global ? 'checked="checked"' : '' ?> >

                    <?= T('是') ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="global" type="radio" value=0
                           class="form-check-input" <?= !$layout->global ? 'checked="checked"' : '' ?> >

                    <?= T('否') ?>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="global" class="col-md-3 "><?= H(T('是否居中显示')) ?></label>
        <div class="col-md-9">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="center_show" type="radio" value=1
                           class="form-check-input" <?= $layout->center_show ? 'checked="checked"' : '' ?> >

                    <?= T('是') ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="center_show" type="radio" value=0
                           class="form-check-input" <?= !$layout->center_show ? 'checked="checked"' : '' ?> >

                    <?= T('否') ?>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="align" class="col-md-3 "><?= H(T('布局排列')) ?></label>
        <div class="col-md-9">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="align" type="radio" value="text"
                           class="form-check-input" <?= $layout->align != 'vertical' ? 'checked="checked"' : '' ?> >

                    <?= T('横向显示') ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="align" type="radio" value="vertical"
                           class="form-check-input" <?= $layout->align == 'vertical' ? 'checked="checked"' : '' ?> >

                    <?= T('竖向显示') ?>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="height" class="col-md-3 "><?= H(T('布局高度')) ?></label>
        <div class="col-md-3 input-group">
            <input type="text" class="form-control" id="height" name="height"
                   value="<?= (int)$layout->height ?: ((int)$layout->sizey * 120) ?>">
            <span class="input-group-addon">px</span>
        </div>

    </div>
    <div class="form-group row">
        <label for="backgroundColor" class="col-md-3 "><?= H(T('背景颜色')) ?></label>
        <div class="col-md-4">
            <input type="text" id="backgroundColor" class="form-control minicolors" name="backgroundColor"
                   value="<?= H($layout->backgroundColor) ?>"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="fontColor" class="col-md-3 "><?= H(T('字体颜色')) ?></label>
        <div class="col-md-4">
            <input type="text" id="fontColor" class="form-control minicolors" name="fontColor"
                   value="<?= H($layout->fontColor) ?>"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 layout-icons">
            <label for="style" class="">
                <strong><?= H(T('请选择您喜欢的首页布局样式')) ?></strong>
            </label>
        </div>
    </div>
    <div id="links-wrap" class="layout-module container-fluid">
        <div class="row">
            <?php $style = H($form['_errors'] ? $form['style'] : $layout->style); ?>
            <div class="col-md-12 one-box">
                <div class="form-check ">
                    <label class="form-check-label">
                        <input name="style" type="radio" value="one"
                               class="form-check-input position-static" <?= (!$style || $style == 'one') ? 'checked="checked"' : '' ?> >
                    </label>
                </div>
            </div>
            <div class="col-md-12 two-box">
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="style" type="radio" value="two"
                               class="form-check-input position-static" <?= $style == 'two' ? 'checked="checked"' : '' ?> >

                    </label>
                </div>
            </div>
        </div>
        <div class="hr_2"></div>
        <div class="row">
            <div class="btn-group col-md-12">
                <a href="#" class="btn btn-ok" id="add-link">
                    <i class="icon-add"></i><?= H(T('添加链接')) ?>
                </a>
            </div>
        </div>
        <div class="hr_1"></div>
        <table class="table table-striped">
            <thead>
            <tr style="color: #fff;">
                <th style="white-space:nowrap" class="col-auto"><?= H(T('链接名称')) ?></th>
                <th style="white-space:nowrap" class="col-auto"><?= H(T('链接地址')) ?></th>
                <th style="white-space:nowrap" class="col-auto"><?= H(T('链接图标')) ?></th>
            </tr>
            </thead>
            <tbody id="layout-modules">
            <?php foreach ((array)$layout->links as $link) {
                echo U('admin/config/layout/indexs/link-item', [
                    't' => H($link['title']),
                    'u' => H($link['url']),
                    'i' => H($link['icon']),
                    'number' => $number
                ]);
                $number++;
            } ?>
            </tbody>
        </table>
    </div>
</form>
<script>
    require(['main'], function ($) {

        var linkTypeArr = ['one', 'two'];

        for (let i = 0; i < linkTypeArr.length; i++) {
            $.ajax({
                type: "POST",
                url: "AJAX/Unpc/Layout/UpdateLink",
                data: {
                    'type': linkTypeArr[i]
                },
                success: function (html) {
                    $("." + linkTypeArr[i] + "-box").append(html);
                }
            })
        }

        var $container = $('#layout-set-view-form')
            , $b = $('#add-link')
            , number = <?= (int)$number ?: 0 ?>

            $b.on('click', function (e) {

                $.ajax({
                    type: "POST",
                    url: 'ajax/unpc/layout/link/add/' + number,
                    success: function (html) {
                        $('#layout-modules').append(html).trigger('unpc.appendIcon')
                    }
                })

                number++;

                e.preventDefault()
                return false

            })

        require(['iconset/iconset-fontawesome-4.0.0.min', 'bootstrap-iconpicker', 'css!../css/bootstrap-iconpicker.min.css'], function () {
            $('[role=iconpicker]').iconpicker()
            $('body').delegate('#layout-modules', 'unpc.appendIcon', function () {
                $('#layout-modules [role=iconpicker]:last').iconpicker()
            })
        })

        require(['jquery.minicolors.min', 'css!../css/jquery.minicolors'], function () {
            $('input.minicolors').each(function () {
                var me = $(this);
                me.minicolors({
                    defaultValue: me.attr('data-defaultValue') || '',
                    opacity: me.attr('data-opacity'),
                    format: me.attr('data-opacity') ? 'rgb' : 'hex',
                    letterCase: 'uppercase',
                    position: 'top right',
                    theme: 'bootstrap'
                })
            })
        })

    })
</script>