<form id="layout-set-view-form" class="" method="POST"
      action="gini-ajax:AJAX/Unpc/Layout/Login/Update/<?= (int)$index ?>">
    <input class="d-none" name="submit" value="submit"/>
    <input class="d-none" name="type" value="<?= $object->type  ?>"/>
    <input class="d-none" name="index" value="<?= (int)$index; ?>"/>
    <?php
    $layout = a('layout', ['index' => $index]);
    ?>
    <div class="form-group row">
        <label for="loginUrl" class="col-md-3 "><?= H(T('登陆地址')) ?></label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="loginUrl" name="loginUrl"
                   value="<?php echo $layout->loginUrl ?: Hub('config.design.system')['loginUrl'] ?>">
        </div>
    </div>
    <div class="form-group row">
        <label for="height" class="col-md-3 "><?= H(T('布局高度')) ?></label>
        <div class="col-md-3 input-group">
            <input type="text" class="form-control" id="height" name="height"
                   value="<?= (int)$layout->height ?: ((int)$layout->sizey * 120) ?>">
            <span class="input-group-addon">px</span>
        </div>

    </div>
    <div class="form-group row">
        <label for="hide_login" class="col-md-3 "><?= H(T('登陆后显示登录状态')) ?></label>
        <div class="col-md-6">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="hide_login" type="radio" value="0"
                           class="form-check-input" <?= (!$layout->hide) ? 'checked="checked"' : '' ?> >

                    <?= H(T('否')) ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="hide_login" type="radio" value="1"
                           class="form-check-input" <?= ($layout->hide) ? 'checked="checked"' : '' ?> >

                    <?= H(T('是')) ?>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="direction_login" class="col-md-3 "><?= H(T('登录状态显示')) ?></label>
        <div class="col-md-6">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="direction_login" type="radio" value="0"
                           class="form-check-input" <?= (!$layout->direction) ? 'checked="checked"' : '' ?> >
                    <?= H(T('横向')) ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="direction_login" type="radio" value="1"
                           class="form-check-input" <?= ($layout->direction) ? 'checked="checked"' : '' ?> >
                    <?= H(T('纵向')) ?>
                </label>
            </div>
        </div>
    </div>
    <div class="layout-icons">
        <label for="style" class="col-md-12  pr-15">
            <strong><?= H(T('请选择您喜欢的登陆布局样式')) ?></strong>
        </label>
        <?php $style = H($form['_errors'] ? $form['style'] : $layout->style); ?>
        <div id="login-wrap" class="container-fluid">
            <div class="row">
                <div class="col-md-6 one-box style-box">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="style" type="radio" value="one"
                                   class="form-check-input  position-static" <?= (!$style || $style == 'one') ? 'checked="checked"' : '' ?> >

                        </label>
                    </div>
                </div>

                <div class="col-md-6 style-box two-box ">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="style" type="radio" value="two"
                                   class="form-check-input  position-static" <?= $style == 'two' ? 'checked="checked"' : '' ?> >

                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 style-box three-box">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="style" type="radio" value="three"
                                   class="form-check-input  position-static" <?= $style == 'three' ? 'checked="checked"' : '' ?> >
                        </label>
                    </div>
                </div>

                <div class="col-md-6 style-box four-box">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="style" type="radio" value="four"
                                   class="form-check-input  position-static" <?= $style == 'four' ? 'checked="checked"' : '' ?> >

                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 style-box five-box">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="style" type="radio" value="five"
                                   class="form-check-input  position-static" <?= $style == 'five' ? 'checked="checked"' : '' ?> >
                        </label>
                    </div>
                </div>

                <div class="col-md-6 style-box six-box">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="style" type="radio" value="six"
                                   class="form-check-input  position-static" <?= $style == 'six' ? 'checked="checked"' : '' ?> >
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 style-box seven-box">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="style" type="radio" value="seven"
                                   class="form-check-input  position-static" <?= $style == 'seven' ? 'checked="checked"' : '' ?> >

                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    require(['main'], function ($) {
        var loginTypeArr = ['one', 'two', 'three', 'four', 'five', 'six', 'seven'];
        for (let i = 0; i < loginTypeArr.length; i++) {
            $.ajax({
                method: 'POST',
                url: 'AJAX/Unpc/Layout/UpdateLogin',
                data: {
                    'type': loginTypeArr[i]
                },
                success: function (html) {
                    $("." + loginTypeArr[i] + "-box").append(html);
                    $(".style-box .login-box-" + loginTypeArr[i]).css({'width': '100%', 'height': '400px'});
                }
            });
        }
        $(document).on('click', '[class$=box] button', function () {
            return false;
        })
        $(document).on('click', '.layout-icons a', function () {
            return false;
        })
    });
</script>
