<?php
	$layout = a('layout')->whose('index')->is($index);
    $path = $layout->filePath();
    $paths = (array)@scandir($path);
    $file = $paths[2];
    $fullpath = $layout->filePath($file);
    $vars = [
        'url' => "ajax/unpc/layout/logo/upload/{$index}",
        'removeUrl' => "ajax/unpc/layout/logo/removefile/{$index}",
        'appceptedFiles' => '.png,.jpg,.bmp,.gif'
    ];
    if (file_exists($fullpath) && is_file($fullpath)) {
    	$vars['files'] = json_encode([[
    		'name' => $file,
    		'size' => filesize($fullpath),
    		'path' => "!category/icon/{$layout->id}/{$file}"
    	]]);
    }
    ?>
<div class="row">
    <?=U('components/upload', $vars)?>
</div>
<div class="hr_1"></div>
<form id="layout-set-view-form" class="form-horizontal" method="POST" action="gini-ajax:AJAX/Unpc/Layout/Logo/Update/<?= (int)$index ?>">
	<input class="d-none" name="submit" value="submit" />
	<input class="d-none" name="type" value="<?= $object->type  ?>" />
	<input class="d-none" name="index" value="<?= $index; ?>" />
    <div class="form-group row">
        <label for="proportion" class="col-md-3 "><?= H(T('全屏占比')) ?></label>
        <div class="col-md-6">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="proportion" type="radio" value="height"
                           class="form-check-input" <?= ($layout->proportion != 'height') ? 'checked="checked"' : '' ?> >
                    <?= H(T('宽度')) ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="proportion" type="radio" value="width"
                           class="form-check-input" <?= ($layout->proportion == 'height') ? 'checked="checked"' : '' ?> >
                    <?= H(T('高度')) ?>
                </label>
            </div>
        </div>
    </div>
</form>