<?php
if (!$is_post) :
    ?>
    <div id="module-wrap" class="layout-module container-fluid">
        <div class="row">
            <div class="col-md-6 one-box">
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="style" type="radio" value="one"
                               class="form-check-input position-static" <?= (!$style || $style == 'one') ? 'checked="checked"' : '' ?> >
                    </label>
                </div>
            </div>

            <div class="col-md-6 two-box">
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="style" type="radio" value="two"
                               class="form-check-input position-static" <?= $style == 'two' ? 'checked="checked"' : '' ?> >

                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 three-box">
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="style" type="radio" value="three"
                               class="form-check-input position-static" <?= $style == 'three' ? 'checked="checked"' : '' ?> >

                    </label>
                </div>
            </div>

            <div class="col-md-6 four-box">
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="style" type="radio" value="four"
                               class="form-check-input position-static" <?= $style == 'four' ? 'checked="checked"' : '' ?> >

                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 five-box">
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="style" type="radio" value="five"
                               class="form-check-input position-static" <?= $style == 'five' ? 'checked="checked"' : '' ?> >

                    </label>
                </div>
            </div>

            <div class="col-md-6 six-box">
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="style" type="radio" value="six"
                               class="form-check-input position-static" <?= $style == 'six' ? 'checked="checked"' : '' ?> >

                    </label>
                </div>
            </div>
        </div>

        <script>
            require(['main'], function ($) {

                // 定义获取数组
                var categroyTypeArr = ['one', 'two', 'three', 'four', 'five', 'six'];

                for (let i = 0; i < categroyTypeArr.length; i++) {
                    $.ajax({
                        method: 'POST',
                        url: 'AJAX/Unpc/Layout/UpdateCategoryValue',
                        data: {
                            'type': categroyTypeArr[i],
                            'identity': "<?=$identity?>"
                        },
                        success: function (html) {
                            $("." + categroyTypeArr[i] + "-box").append(html);
                            $(".layout-module .module-box-" + categroyTypeArr[i]).css({
                                'width': '100%',
                                'height': '400px'
                            });
                        }
                    });
                }
                $(document).on('click', '.layout-icons a', function () {
                    return false;
                })
            });
        </script>
    </div>

<?php else: ?>
    <div class="col-md-12">
        <div class="form-check">
            <label class="form-check-label">
                <input name="style" type="radio" value="seven"
                       class="form-check-input position-static" <?= $style == 'seven' ? 'checked="checked"' : '' ?> >

                <img src="<?= RURL('module/7.png', 'icon') ?>"/>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input name="style" type="radio" value="eight"
                       class="form-check-input position-static" <?= $style == 'eight' ? 'checked="checked"' : '' ?> >

                <img src="<?= RURL('module/8.png', 'icon') ?>"/>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input name="style" type="radio" value="nine"
                       class="form-check-input position-static" <?= $style == 'nine' ? 'checked="checked"' : '' ?> >

                <img src="<?= RURL('module/9.png', 'icon') ?>"/>
            </label>
        </div>
    </div>
<?php endif; ?>