<form id="layout-set-view-form" class="" method="POST"
      action="gini-ajax:AJAX/Unpc/Layout/Module/Update/<?= (int)$index ?>">
    <input class="d-none" name="submit" value="submit"/>
    <input class="d-none" name="type" value="<?= $object->type  ?>"/>
    <input class="d-none" name="index" value="<?= $index; ?>"/>
    <?php
    $layout = a('layout', ['index' => $index]);
    ?>
    <div class="row form-group">
        <div class="form-group col-md-6">
            <label class="col-form-label col-md-4"><?= H(T('来源模块')) ?></label>
            <div class="col-md-8">
                <select id="source" name="source" multiple="" class="form-control">
                    <?php foreach (_G('MODS') as $module): ?>
                        <option value="<?= $module->identity ?>"
                                data-id="<?= $module->id ?>" <?= $layout->source == $module->identity ? ' selected ' : '' ?> ><?= H($module->name) ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label col-md-4 "><?= H(T('内容条目')) ?></label>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" class="form-control" id="count" min="1" name="count" autocomplete="off"
                           value="<?= H($form['_errors'] ? $form['count'] : $layout->count) ?>">
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="listTitle" class="col-form-label col-md-4 "><?= H(T('显示方式')) ?></label>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="listTitle " type="radio" value="date"
                               class="form-check-input mt--7" <?= ($form['_errors'] ? $form['listTitle'] : $layout->listTitle) != 'extension' ? 'checked="checked"' : '' ?> />

                        <?= H(T('标题 + 发布日期')) ?>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="listTitle" type="radio" value="extension"
                               class="form-check-input mt--7" <?= ($form['_errors'] ? $form['listTitle'] : $layout->listTitle) == 'extension' ? 'checked="checked"' : '' ?> />

                        <?= H(T('标题 + 文件格式')) ?>&#160;(
                        <small><?= H(T('文件模式')) ?></small>
                        )
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="clickAction" class="col-form-label col-md-4 "><?= H(T('点击操作')) ?></label>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="clickAction" type="radio" value="redirect"
                               class="form-check-input mt--7" <?= ($form['_errors'] ? $form['clickAction'] : $layout->clickAction) != 'download' ? 'checked="checked"' : '' ?> >

                        <?= H(T('跳转文章页')) ?>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="clickAction" type="radio" value="download"
                               class="form-check-input mt--7" <?= ($form['_errors'] ? $form['clickAction'] : $layout->clickAction) == 'download' ? 'checked="checked"' : '' ?> >

                        <?= H(T('直接下载')) ?>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="listSort" class="col-form-label col-md-4 "><?= H(T('排序方式')) ?></label>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="listSort" type="radio" value="date"
                               class="form-check-input mt--7" <?= ($form['_errors'] ? $form['listSort'] : $layout->listSort) != 'initial' ? 'checked="checked"' : '' ?> >

                        <?= H(T('按日期排序')) ?>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="listSort" type="radio" value="initial"
                               class="form-check-input mt--7" <?= ($form['_errors'] ? $form['listSort'] : $layout->listSort) == 'initial' ? 'checked="checked"' : '' ?> >

                        <?= H(T('按标题名排序')) ?>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="listOrder" class="col-form-label col-md-4 "><?= H(T('排序顺序')) ?></label>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="listOrder" type="radio" value="asc"
                               class="form-check-input mt--7" <?= ($form['_errors'] ? $form['listOrder'] : $layout->listOrder) == 'asc' ? 'checked="checked"' : '' ?> >

                        <?= H(T('正序')) ?>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="listOrder" type="radio" value="desc"
                               class="form-check-input mt--7" <?= ($form['_errors'] ? $form['listOrder'] : $layout->listOrder) != 'asc' ? 'checked="checked"' : '' ?> >

                        <?= H(T('倒序')) ?>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="float" class="col-form-label col-md-4 "><?= H(T('对齐方式')) ?></label>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="float" type="radio" value="left"
                               class="form-check-input mt--7" <?= ($form['_errors'] ? $form['float'] : $layout->float) != 'right' ? 'checked="checked"' : '' ?> >

                        <?= H(T('左对齐')) ?>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input name="float" type="radio" value="right"
                               class="form-check-input mt--7" <?= ($form['_errors'] ? $form['float'] : $layout->float) == 'right' ? 'checked="checked"' : '' ?> >

                        <?= H(T('右对齐')) ?>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="height" class="col-md-4"><?= H(T('布局高度')) ?></label>
            <div class="col-md-6 input-group">
                <input type="text" class="form-control" id="height" name="height"
                       value="<?= (int)$layout->height ?: ((int)$layout->sizey * 120) ?>">
                <span class="input-group-addon">px</span>
            </div>
        </div>
    </div>
    <div class="d-flex form-group" id="style">
        <div class="col-md-5">
            <label for="style_type">
                <strong><?= H(T('请选择您喜欢的首页布局样式')) ?></strong>
            </label>
        </div>
        <div class="col-md-7">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="style_type" type="radio" value="list"
                            class="form-check-input" <?= ($form['_errors'] ? $form['style_type'] : $layout->style_type) != 'post' ? 'checked="checked"' : '' ?> >

                    <?= H(T('列表样式')) ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="style_type" type="radio" value="post"
                            class="form-check-input" <?= ($form['_errors'] ? $form['style_type'] : $layout->style_type) == 'post' ? 'checked="checked"' : '' ?> >

                    <?= H(T('文章样式')) ?>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group layout-icons">
    </div>
    <script>
        require(['main'], function ($) {
            var selectModuleIcons = function (style_type) {
                // 找到选中模块ID
                var categoryId = $("#source").find('option:selected').data('id');
                // // 初始化执行Ajax方法
                // $.ajax({
                //     type: "POST",
                //     url: 'AJAX/Unpc/Layout/UpdateCategory',
                //     data: {
                //         "id": categoryId,
                //         "style_num": "<?= $layout->style ?>",
                //     },
                //     success: function (html) {
                //         $('.layout-icons').empty().html(html);
                //     }
                // })
                $.ajax({
                    type: 'POST',
                    url: 'AJAX/Unpc/Layout/UpdateCategory',
                    data: {
                        'id': categoryId,
                        'style_num': "<?= $layout->style ?>",
                        'style_type': style_type
                    },
                    success: function (html) {
                        $('.layout-icons').empty().html(html);
                    }
                })
            }
            , style_container = $('#style')

            style_container.data('selectStyle', $('#style input[name="style_type"]:checked').val())

            style_container.on('click', 'input', function (e) {
                var me = $('#style input[name="style_type"]:checked')
                if (me.val() != style_container.data('selectStyle')) {
                    selectModuleIcons(me.val())
                    style_container.data('selectStyle', me.val())
                }
            })
            setTimeout(function(){ selectModuleIcons(style_container.data('selectStyle')); }, 0)
        })
    </script>
</form>
