<form id="layout-set-view-form" class="form-horizontal" method="POST"
      action="gini-ajax:AJAX/Unpc/Layout/Search/Update/<?= (int)$index ?>">
    <input class="d-none" name="submit" value="submit"/>
    <input class="d-none" name="type" value="<?= $object->type  ?>"/>
    <input class="d-none" name="index" value="<?= (int)$index ?>"/>
    <?php $layout = a('layout', ['index' => $index]); ?>
    <div class="form-group row">
        <label for="height" class="col-md-2"><?= H(T('高度')) ?></label>
        <div class="col-md-6 input-group">
                <input class="form-control" name="height" type="text" value="<?= H($layout->height ?: 120) ?>"/>
                <span class="input-group-addon">px</span>
        </div>
    </div>
    <div class="form-group row">
        <label for="float" class="col-md-2"><?= H(T('对齐方式')) ?></label>
        <div class="col-md-8">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="float" type="radio" value="left"
                           class="form-check-input" <?= ($form['_errors'] ? $form['float'] : $layout->float) != 'right' ? 'checked="checked"' : '' ?> >

                    <?= H(T('左对齐')) ?>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input name="float" type="radio" value="right"
                           class="form-check-input" <?= ($form['_errors'] ? $form['float'] : $layout->float) == 'right' ? 'checked="checked"' : '' ?> >

                    <?= H(T('右对齐')) ?>
                </label>
            </div>
        </div>
    </div>
</form>