<form id="layout-set-view-form" class="form" method="POST"
      action="gini-ajax:AJAX/Unpc/Layout/TopBox/Update/<?= (int)$index ?>">
    <input class="d-none" name="submit" value="submit"/>
    <input class="d-none" name="type" value="<?= $object->type  ?>"/>
    <input class="d-none" name="index" value="<?= (int)$index ?>"/>
    <?php $layout = a('layout', ['index' => $index]); ?>
    <div class="form-row form-group" >
        <label for="height" class="col-form-label col-md-3 " style="margin-bottom: 0"><?= h(t('高度')) ?></label>
        <div class="col-md-3 input-group">
            <input class="form-control" name="height" type="text" value="<?= h($layout->height ?: 40) ?>"/>
            <span class="input-group-addon">px</span>
        </div>
        <div class="align-self-center"><code class="d-inline"> 推荐值 35px</code></div>
    </div>
    <div class="card gini-list">
        <div class="gini-header">
            <?= T('登陆链接') ?>
        </div>
        <div class="card-body gini-body">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <?php $n = $layout->lname ?: $form['lname']; ?>
                    <div class="form-group  <?= $n ? '' : 'is-empty' ?>">
                        <label for="lname" class=""><?= H(T('请填写显示名称')) ?></label>
                        <input type="text" class="form-control" id="lname" name="lname" autocomplete="off"
                               value="<?= H($n) ?>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group  <?= ($layout->laddress ?: $form['laddress']) ? '' : 'is-empty' ?>">
                        <label for="laddress" class=""><?= H(T('请填写链接地址')) ?></label>
                        <input type="text" class="form-control" id="laddress" name="laddress" autocomplete="off"
                               value="<?= H($layout->laddress ?: $form['laddress']) ?>">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="lcolor"><?= H(T('字体颜色')) ?></label>
                        <input type="text" id="lcolor" class="form-control minicolors" name="lcolor"
                               value="<?= H($layout->lcolor ?: $form['lcolor']) ?>"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card  gini-list">
        <div class="gini-header">
            <?= T('网站链接') ?>
        </div>
        <div class="card-body gini-body">
            <div class="form-group ">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group  <?= ($layout->linkname ?: $form['linkname']) ? '' : 'is-empty' ?>">
                            <label for="linkname" class=""><?= H(T('请填写显示名称')) ?></label>
                            <input type="text" class="form-control" id="linkname" name="linkname" autocomplete="off"
                                   value="<?= H($layout->linkname ?: $form['linkname']) ?>">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group  <?= ($layout->linkaddress ?: $form['linkaddress']) ? '' : 'is-empty' ?>">
                            <label for="linkaddress" class=""><?= H(T('请填写链接地址')) ?></label>
                            <input type="text" class="form-control" id="linkaddress" name="linkaddress"
                                   autocomplete="off" value="<?= H($layout->linkaddress ?: $form['linkaddress']) ?>">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="linkcolor"><?= H(T('字体颜色')) ?></label>
                            <input type="text" id="linkcolor" class="form-control minicolors" name="linkcolor"
                                   value="<?= H($layout->linkcolor ?: $form['linkcolor']) ?>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card  gini-list">
        <div class="gini-header">
            <?= T('搜索框') ?>
        </div>
        <div class="card-body gini-body">
            <div class="form-group row">
                <label for="isShow" class="col-md-3"><?= H(T('是否显示')) ?></label>
                <div class="col-md-6">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input name="isShow" type="radio" value="0"
                                   class="form-check-input" <?= $layout->isShow != 1 ? 'checked="checked"' : '' ?> >
                            <?= H(T('否')) ?>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input name="isShow" type="radio" value="1"
                                   class="form-check-input" <?= $layout->isShow == 1 ? 'checked="checked"' : '' ?> >
                            <?= H(T('是')) ?>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<script>
    require(['main'], function ($) {
        require(['jquery.minicolors.min', 'css!../css/jquery.minicolors'], function () {
            $('input.minicolors').each(function () {
                var me = $(this);
                me.minicolors({
                    defaultValue: me.attr('data-defaultValue') || '',
                    opacity: me.attr('data-opacity'),
                    format: me.attr('data-opacity') ? 'rgb' : 'hex',
                    letterCase: 'uppercase',
                    position: 'top right',
                    theme: 'bootstrap'
                })
            })
        })
    })
</script>
