<form id="layout-set-view-form" class="form-horizontal" method="POST" action="gini-ajax:AJAX/Unpc/Layout/TopEquipments/Update/<?= (int)$index ?>">
	<input class="d-none" name="submit" value="submit" />
	<input class="d-none" name="type" value="<?= $object->type  ?>" />
	<input class="d-none" name="index" value="<?= (int)$index ?>" />
	<?php $layout = a('layout', ['index'=>$index]); ?>
	<div class="form-group row">
		<label class="col-md-3 "><?= H(T('显示个数'))?></label>
		<div class="col-md-3">
            <div class="">
                <input type="number" class="form-control" id="count" min="1" name="count" autocomplete="off" value="<?= (int)$layout->count ?: 5 ?>" >
            </div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-md-3 "><?= H(T('年份'))?></label>
		<div class="col-md-3">
            <div class="">
                <input type="text" class="form-control" id="year" name="year" autocomplete="off" value="<?= (int)$layout->year ?: date('Y') ?>" >
            </div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-md-3 "><?= H(T('高度'))?></label>
		<div class="col-md-3">
            <div class="">
                <input type="text" class="form-control" id="height" name="height" autocomplete="off" value="<?= (int)$layout->height ?: 120 ?>" >
            </div>
		</div>
	</div>
</form>