<?php
	$category = a('category', ['identity' => $object->source]);
	$d = a('display')->whose('identity')->is($category->identity);
	$c = $object->count ?: 5;
	$posts = those('post')->whose('category')->is($category)
            ->andWhose('status')->is(\Gini\ORM\Post::STATUS_PUBLISH);
    if ($object->listSort == 'date' ) {
        if($object->listOrder=='desc')
        {
            $posts = $posts->orderBy('pub_time', 'D');
        }
        else
        {
            $posts = $posts->orderBy('pub_time', 'a');
        }

    }
    else {
        if($object->listOrder=='desc')
        {
            $posts = $posts->orderBy('title', 'D');
        }
        else
        {
            $posts = $posts->orderBy('title', 'a');
        }
    }
    $posts = $posts->limit($c);
    $height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="module-box-one" style="height: <?= $height ?> !important;">
	<div class="title">
		<div class="tname">
			<div class="row justify-content-between">
				<div class="col-sm-6">
					<i class="fa <?= $category->icon ?>"></i>
					<span><?= H(T($category->name)) ?></span>
				</div>
				<div class="col-sm-6">
					<div class="pull-right">
						<a href="<?= \Gini\URI::url('category/'.$category->identity) ?>" class="more">
							<?= H(T('更多'))?>&#160;<i class="fa fa-angle-double-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<?php
			if ($d->type == \Gini\ORM\Display::TYPE_POST) :
				$post = $posts->limit(1)->current();
		?>
			<div class="post-clamp">
				<?= $post->content ?>
			</div>
		<?php else: ?>
		<table class="table table-sm  d-block table-condensed" style="table-layout=fixed; width=100%;font-size: 16px;">
			<tbody class="d-block">
			<?php
                foreach ($posts as $post):
			?>
			<tr class="post d-block" >
				<td class="row justify-content-between">
					<div class="col-md-8 d-inline-block p">
						<a href="<?= \Gini\URI::url('post/'.$post->id) ?>">
							<span class="it"><?= H($post->title) ?></span>
						</a>
					</div>
					<div class="col-md-4 p description">
						<?= H($object->listTitle == 'extension' ? $post->fileExtension : date('Y/m/d', strtotime($post->pub_time)))?>
					</div>
				</td>
			</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
		<?php endif; ?>
	</div>
</div>
