<div class="category-group root">
    <?php
    $tags = those('tag')->whose('category')->is($category);
    foreach ($tags as $tag):
        ?>
        <a href="<?= \Gini\URI::url("category/{$category->identity}/".H($tag->identity)) ?>"
           class="list-group-item <?= $stag->id == $tag->id ? 'active' : '' ?>">
            <?= H($tag->name) ?>
        </a>
    <?php endforeach; ?>
</div>


<!--back to top-->
<div id="gotop"></div>
<script type="text/javascript">
    require(['main'],function(){
        function goTop()
        {
            $(window).scroll(function(e) {
                //若滚动条离顶部大于100元素
                if($(window).scrollTop()>100)
                    $("#gotop").fadeIn(1000);//以1秒的间隔渐显id=gotop的元素
                else
                    $("#gotop").fadeOut(1000);//以1秒的间隔渐隐id=gotop的元素
            });
        };
        $(function(){
            //点击回到顶部的元素
            $("#gotop").click(function(e) {
                //以1秒的间隔返回顶部
                $('body,html').animate({scrollTop:0},1000);
            });
            $("#gotop").mouseover(function(e) {
                $(this).css("background","url(assets/img/backtop2013.png) no-repeat 0px 0px");
            });
            $("#gotop").mouseout(function(e) {
                $(this).css("background","url(assets/img/backtop2013.png) no-repeat -70px 0px");
            });
            goTop();//实现回到顶部元素的渐显与渐隐
        });


    });

</script>