<?php
	$urls = (array)\Gini\Config::get('url');
	$urls = (array)$urls['replace'];
	$replace = [];
	foreach ($urls as $url) {
		$replace[$url] = _G('system.host');
	}
?>
<div class="col-md-6">
	<div class="box media">
		<div class="media-left icon">
			<a href="<?= \Gini\URI::url('equipment/'.$equipment['id']) ?>"><img src="<?= strtr(H($equipment['icon128_url']), $replace) ?>" alt="<?= H($equipment['name']) ?>" /></a>
		</div>
		<div class="media-body content">
			<div class="title">
				<a href="<?= \Gini\URI::url('equipment/'.$equipment['id']) ?>" class="c" >
					<?= H($equipment['name']) ?>
				</a>
			</div>
			<div class="model">
				<span><?= H($equipment['model_no']) ?></span>
			</div>
			<div class="contact">
				<div class="media">
					<div class="media-left">
						<span class="d"><?= H(T('联系人 : '))?></span>
					</div>
					<div class="media-body">
						<span class="description"><?= H($equipment['contact']) ?></span>
					</div>
				</div>
			</div>
			<div class="address">
				<div class="media">
					<div class="media-left">
						<span class="d"><?= H(T('地点 : '))?></span>
					</div>
					<div class="media-body">
						<span class="description"><?= H($equipment['location'].$equipment['location2']) ?></span>
					</div>
				</div>
			</div>
			<div class="phone">
				<div class="media">
					<div class="media-left">
						<span class="d"><?= H(T('电话 : '))?></span>
					</div>
					<div class="media-body">
						<span class="description"><?= H($equipment['phone']) ?></span>
					</div>
				</div>
			</div>
		</div>
		<div class="media-foot content" style="padding: 0px;">
			<div class="charge_rule" style="padding:0 10px 10px;">
				<div class="media">
					<div class="media-left">
						<span class="d"><?= H(T('参考收费标准 : '))?></span>
					</div>
					<div class="media-body">
						<span class="description" style="white-space:normal;"><?= H($equipment['charge_rule'] ?: '无') ?></span>
					</div>
				</div>
			</div>
			<div class="open_calendar" style="padding:0 10px 10px;">
				<div class="media">
					<div class="media-left">
						<span class="d"><?= H(T('开放机时安排 : '))?></span>
					</div>
					<div class="media-body">
						<span class="description" style="white-space:normal;"><?= H($equipment['open_calendar'] ?: '无') ?></span>
					</div>
				</div>
			</div>
			<div class="action" style="padding:0 10px;">
				<?php if($equipment['accept_sample']): ?>
					<a class="btn" href="<?= strtr($equipment['sample_url'], $replace)?>" target="_blank"><?= H(T('送样')) ?></a>
				<?php endif; ?>
				<?php if($equipment['accept_reserv']): ?>
					<a class="btn" href="<?= strtr($equipment['reserv_url'], $replace) ?>" target="_blank"><?= H(T('预约')) ?></a>
				<?php endif; ?>
			</div>
		</div>
	</div>
</div>