<?php
	$urls = (array)\Gini\Config::get('url');
	$urls = (array)$urls['replace'];
	$replace = [];
	foreach ($urls as $url) {
		$replace[$url] = _G('system.host');
	}
?>
<div class="box" style="margin:0px;position:relative;top:-9999px;">
	<ul class="list">
        <?php foreach ($equipments as $equipment): ?>
            <li class="item">
                <a href="<?= URL('equipment/'.$equipment['id']) ?>" data-toggle="tooltip" title="<?= $equipment['name']?>">
                    <img src="<?= strtr(H($equipment['icon128_url']), $replace) ?>" alt="<?= $equipment['name']?>" />
                    <p class="title"><i></i><?= H($equipment['name']) ?></p>
                    <span><?= T('负责人: %incharges', ['%incharges' => $equipment['incharges']]) ?></span>
                    <span><?= T('联系方式: %phone', ['%phone' => $equipment['phone']]) ?></span>
                    <span><?= T('存放地址: %location', ['%location' => $equipment['location'] . $equipment['location2']]) ?></span>
                </a>
            </li>
        <?php endforeach; ?>
	</ul>
</div>