<div class="category category-post">
    <div class="logo-container" style="background-color:#FFFFFF;padding:0px;">
        <div class="col-md-6">
            <?php
                $urls = (array)\Gini\Config::get('url');
                $urls = (array)$urls['replace'];
                $replace = [];
                foreach ($urls as $url) {
                    $replace[$url] = _G('system.host');
                }
            ?>
            <?php
                $object = a('layout')->whose('type')->is(\Gini\ORM\Layout::TYPE_LOGO);
                $path = $object->filePath();
                $paths = (array)@scandir($path);
                $file = $paths[2];
            ?>
            <img src="<?= URL('!category/icon/'.$object->id.'/'.$file) ?>" style="overflow: hidden;height: 80px;margin-top:15px;" />
        </div>
        <div class="col-md-6">
            <ul class="top_1"> 
                <li>
                    <a href="<?= URL('/') ?>"><i class="fa fa-home fa-fw"></i><span>首页</span></a>
                </li>
                <?php 
                    $ms = (array)Hub('config.nav.modules');
                    foreach ($ms as $m):
                        $mo = a('category', ['identity' => $m]);
                ?>
                <li>
                    <a class="<?= $m == 'instrument' ? 'active' : '' ?>" href="<?= \Gini\URI::url("category/{$mo->identity}")?>"><i class="fa <?= $mo->icon?> fa-fw"></i><span><?= H($mo->name) ?></span></a>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
    <div class="navigation-line">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<?= URL('/') ?>"><?= T("首页") ?></a></li>
                <li class="breadcrumb-item"><a href="<?= URL("/category/instrument") ?>"><?= T("仪器设施") ?></a></li>
                <li class="breadcrumb-item active" aria-current="page"><?= H($equipment['name']) ?></li>
            </ol>
        </nav>
    </div>
    <section>
        <div class="center-body">
            <div class="eq-content">
                <div class="media">
                    <div class="media-left">
                        <img class="img" width="256px" height="256px"
                            src="<?= strtr(H($equipment['icon128_url']), $replace) ?>"
                            alt="<?= H($equipment['name']) ?>" />
                    </div>
                    <div class="media-body">
                        <div class="b">
                            <div class="title"><strong><?= H($equipment['name']) ?></strong></div>
                            <p>
                                <img src="<?= URL('/assets/img/dlmu/normal/people.png') ?>" />
                                <span class=""><?= T('联&#160;系&#160;人:&#160;')?></span>
                                <span class=""><?= H($equipment['contact'])?></span>
                            </p>
                            <p>
                                <img src="<?= URL('/assets/img/dlmu/normal/email.png') ?>" />
                                <span class=""><?= T('邮&#160;&#160;&#160;&#160;&#160;&#160;箱:&#160;')?></span>
                                <span class=""><?= H($equipment['email'])?></span>
                            </p>
                            <p>
                                <img src="<?= URL('/assets/img/dlmu/normal/phone.png') ?>" />
                                <span class=""><?= T('电&#160;&#160;&#160;&#160;&#160;&#160;话:&#160;')?></span>
                                <span class=""><?= H($equipment['phone'])?></span>
                            </p>
                            <p>
                                <i class="fa fa-fw fa-map-marker"></i>
                                <span class=""><?= T('地&#160;&#160;&#160;&#160;&#160;&#160;址:&#160;')?></span>
                                <span class=""><?= H($equipment['location'].$equipment['location2']) ?></span>
                            </p>
                            <p>
                                <img src="<?= URL('/assets/img/dlmu/normal/vendor.png') ?>" />
                                <span class=""><?= T('生产厂家: ')?></span>
                                <span class=""><?= H($equipment['manufacturer'])?></span>
                            </p>
                            <p>
                                <img src="<?= URL('/assets/img/dlmu/normal/model.png') ?>" />
                                <span class=""><?= T('型&#160;&#160;&#160;&#160;&#160;&#160;号:&#160;')?></span>
                                <span class=""><?= H($equipment['model_no'].$equipment['cat_no'])?></span>
                            </p>
                            <p>
                                <img src="<?= URL('/assets/img/dlmu/normal/calendar.png') ?>" />
                                <span class=""><?= T('购买日期: ')?></span>
                                <span class=""><?= H(date('Y/m/d', $equipment['purchased_date']))?></span>
                            </p>
                            <div class="action">
                                <?php if($equipment['accept_reserv']): ?>
                                    <a class="btn" href="<?= strtr($equipment['reserv_url'], $replace) ?>" target="_blank"><?= H(T('预约')) ?></a>
                                <?php endif; ?>
                                <?php if($equipment['accept_sample']): ?>
                                    &#160;
                                    <a class="btn" href="<?= strtr($equipment['sample_url'], $replace)?>" target="_blank"><?= H(T('送样')) ?></a>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                    <div class="row sub-content">
                        <div class="col-md-12">
                            <div class="title"><?= H(T('参考收费标准'))?></div>
                        </div>
                        <div class="col-md-12">
                            <div class="cc"><?= "\t".H($equipment['charge_rule']?:'无') ?></div>
                        </div>
                        <div class="col-md-12">
                            <div class="title"><?= H(T('开放机时安排'))?></div>
                        </div>
                        <div class="col-md-12">
                            <div class="cc"><?= "\t".H($equipment['open_calendar']?:'无') ?></div>
                        </div>
                        <div class="col-md-12">
                            <div class="title"><?= H(T('主要规格和技术参数'))?></div>
                        </div>
                        <div class="col-md-12">
                            <div class="cc"><?= "\t".H($equipment['tech_specs']) ?></div>
                        </div>
                        <div class="col-md-12">
                            <div class="title">
                                <?= H(T('主要功能及特色'))?>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cc"><?= "\t".H($equipment['features']) ?></div>
                        </div>
                        <div class="col-md-12">
                            <div class="title">
                                <?= H(T('主要附件及配置'))?>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cc"><?= "\t".H($equipment['configs']) ?></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

