<?php foreach($users as $i => $user): ?>
    <?php if ($i <= 2): ?>
    <div class="ment-one">
        <?php if ($i ==0){ ?>
            <i class="icon-one"></i>
        <?php } else if ($i == 1) {?>
            <i class="icon-two"></i>
        <?php } else { ?>
            <i class="icon-s"></i>
        <?php } ?>  
        <div class="ment-img">
            <img src="<?= $user['icon'] ?>">
        </div>
        <span class="left span-title" title="<?= H($user['name']) ?>"><?= H($user['name']) ?></span>
        <span class="right">
            <p><?= H($user['equipment']) ?></p>
            <p><?= H($user['dtstart'])?></p>
        </span>
    </div>
    <?php else: ?>
        <div class="ment-list" style="margin: 0px;">
            <em style="font-size: 26px; line-height: 40px; height: 40px;"><?= ++$i; ?></em>
            <div class="ment-img-hover" style="display: none;">
                <img src="<?= $user['icon'] ?>">
            </div>
            <span class="left span-title" title="<?= H($user['name']) ?>" style="line-height: 40px; height: 40px; font-weight: lighter; color: rgb(102, 102, 102);"><?= H($user['name']) ?></span>
            <span class="right" style="line-height: 40px; height: 40px; font-weight: lighter; color: rgb(102, 102, 102);">
                <p style="line-height: 14px; height: 14px; color: rgb(102, 102, 102);"><?= H($user['equipment']) ?></p>
                <p style="line-height: 14px; height: 14px; color: rgb(102, 102, 102);"><?= H($user['dtstart'])?></p>
            </span>
        </div>
    <?php endif; ?>
<?php endforeach; ?>
