<div class="layout-search">
    <div class="logo-container" style="background-color:#FFFFFF;padding:0px;">
        <div class="col-md-6">
            <?php
                $category = a('category', ['identity' => $module]);
                $logoLayout = a('layout')->whose('type')->is(\Gini\ORM\Layout::TYPE_LOGO);
                $logoLayout->render();
            ?>
        </div>
        <div class="col-md-6">
            <ul class="top_1"> 
                <li>
                    <a href="<?= URL('/') ?>"><i class="fa fa-home fa-fw"></i><span>首页</span></a>
                </li>
                <?php 
                    $ms = (array)Hub('config.nav.modules');
                    foreach ($ms as $m):
                        $mo = a('category', ['identity' => $m]);
                ?>
                <li>
                    <a class="<?= $module == $m ? 'active' : '' ?>" href="<?= \Gini\URI::url("category/{$mo->identity}")?>"><i class="fa <?= $mo->icon?> fa-fw"></i><span><?= H($mo->name) ?></span></a>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
	<div class="center-body">
		<div class="media title">
			<div class="media-left">
				<span class="strong"><?= T('关键字 : "%keywords"', ['%keywords' => HH($form['keywords'])])?></span>
			</div>
			<div class="media-body"></div>
			<div class="media-right">
			</div>
		</div>
		<div class="hr"></div>
        <section>
		<div id="post-container">
			<div class="col-md-12 loading" style="text-align:center">
				<span><i class="fa fa-spinner fa-spin fa-3x"></i></span>
			</div>
		</div>
        </section>
		<script>
		require(['main'], function($){
		    var ajax_form = <?= json_encode($form) ?>;
		    require(['more'], function(More){
                new More({
                    start: 0,
                    root: '#post-container',
                    url: function() { return 'AJAX/Post/getPosts/' + this.start },
                    data: { ajax_form: ajax_form }
                });
            });
		});
		</script>
	</div>
</div>