<?php foreach($equipments as $i => $equipment): ?>
    <?php if ($i <= 2): ?>
    <div class="ment-one">
        <?php if ($i ==0){ ?>
            <i class="icon-one"></i>
        <?php } else if ($i == 1) {?>
            <i class="icon-two"></i>
        <?php } else { ?>
            <i class="icon-s"></i>
        <?php } ?>  
        <div class="ment-img">
            <img src="<?= $equipment['icon'] ?: URL('/assets/img/equipment.png')?>">
        </div>
        <span class="left span-title" title="<?= H($equipment['name']) ?>"><?= H($equipment['name']) ?></span>
        <span class="right"><?= T('%h小时', ['%h' => H($equipment['time'])])?></span>
    </div>
    <?php else: ?>
        <div class="ment-list" style="margin: 0px;">
            <em style="font-size: 26px; line-height: 40px; height: 40px;"><?= ++$i; ?></em>
            <span class="left span-title" title="<?= H($equipment['name']) ?>" style="line-height: 40px; height: 40px; font-weight: lighter; color: rgb(102, 102, 102);"><?= H($equipment['name']) ?></span>
            <span class="right" style="line-height: 40px; height: 40px; font-weight: lighter; color: rgb(102, 102, 102);"><?= T('%h小时', ['%h' => H($equipment['time'])])?></span>
        </div>
    <?php endif; ?>
<?php endforeach; ?>
