<section>
    <div class="center-body">
        <?php
			$form['m'] = $category->identity;
			if ($form['id'] && !$form['root']) $form['root'] = $root = 'cat';
			$catAjaxRoot = !(count((array)Hub("equipment.cat.tags")) > 0 && Hub("equipment.cat.expiration") >= time());
        ?>
        <div class="media header">
            <div class="media-left">
                <span class="initial">|</span>
            </div>
            <div class="media-body">
                <strong class="title"><?= H($category->name) ?></strong>
            </div>
            <div class="media-right other-style">
				<form method="post" action="<?= URL('') ?>">
					<div class="input-group search">
						<span class="input">
							<input type="text" class="form-control search-input" aria-label="搜索" placeholder="<?= T('请输入仪器名称') ?>" name="keywords" value="<?= H($form['keywords'])?>" />
						</span>
						<button class="btn search-btn" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</form>
			</div>
        </div>
        <div class="row">
			<div class="col-md-3">
				<div class="list-group equipment-sub-root root-cat">
					<span class="list-group-item main">仪器分类</span>
						<?php if ($catAjaxRoot): ?>
							<span class="list-group-item loading" style="text-align: center;">
								<i class="fa fa-spinner fa-spin"></i>
							</span>
						<?php else: ?>
							<?= U('equipment/root', [
								'data' => (array)Hub("equipment.cat.tags"),
								'baseUrl' => URL(''),
								'id' => (int) $form['id'],
							])?>
						<?php endif; ?>
				</div>
				<div class="list-group equipment-sub-root root-group">
					<span class="list-group-item main">组织机构</span>
					<?php 
						$roots = (array)\Gini\Config::get('equipment.root');
						foreach ($roots as $k => $root):
					?>
					<a href="<?= URL('', ['id' => $root['id']]) ?>" class="list-group-item <?= (int)$root['id'] == $form['id'] ? 'title active' : '' ?>"><?= H($root['name']) ?></a>
					<?php endforeach; ?>
				</div>
			</div>
			<div class="col-md-9 eContainer">
				<div id="equipments" style="margin:0 -15px;">
					<div class="col-md-12 loading" style="text-align:center">
						<span><i class="fa fa-spinner fa-spin fa-3x"></i></span>
					</div>
				</div>
				<script>
				if (<?= (int)$catAjaxRoot ?>) {
					require(['main'], function($){
						$.ajax({
							type: "POST",
							url: 'AJAX/Equipment/getRoot',
							data: {
								u: '<?= URL("") ?>',
								id: '<?= (int)$form['id'] ?>',
								root: 'cat'
							},
							success: function(html) {
								$('.root-cat .loading').remove();
								$('.root-cat').append(html);
							},
							complete: function() {
								$('.root-cat .loading').remove();
							}
						});
					});
				}
				require(['more'], function(More){
				    var ajax_form = <?= json_encode($form) ?>;
				    new More({
				        start: 0,
				        root: '#equipments',
				        url: function() { return 'AJAX/Equipment/getEquipments/' + this.start },
				        data: { ajax_form: ajax_form }
				    });
				});
				</script>
			</div>
		</div>
    </div>
</section>