<section>
    <div class="center-body">
        <?php
            $form['m'] = $category->identity;
        ?>
        <div class="media header">
            <div class="media-left">
                <span class="initial">|</span>
            </div>
            <div class="media-body">
                <strong class="title"><?= H($category->name) ?></strong>
            </div>
        </div>
        <table class="table table-striped table-sm">
            <tbody id="post-container" class="post-list">
                <tr class="loading">
                    <td style="text-align:center">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<?= $pagination ?>
<script id="get-posts">
var ajax_form = <?= json_encode($form) ?>;
require(['main'], function($){
    $.ajax({
    	url: '<?= URL("/AJAX/Index/Category/getPosts")?>',
        data: { ajax_form: ajax_form },
        type: 'post',
        success: function(msg) {
            $('#post-container').css('height', 'auto').html(msg);
            $.each($('#post-container .media .content'), function(k , v){
				$clamp(v, {clamp: 4})
			})
        },
        complete: function(msg) {
        	$('#get-posts').remove();
        }
    });
});
</script>