<tr class="item">
	<?php $post = a('post')->whose('id')->is($post->id); ?>
	<td>
		<a href="<?= URL("post/{$post->id}") ?>">
            ● <?= H($post->title) ?>
        </a>
        <span class="pull-right"><?= date('Y/m/d H:i:s', strtotime($post->pub_time)) ?></span>
	</td>
</tr>