<section>
    <div class="center-body">
        <?php
            $form['m'] = $category->identity;
        ?>
        <div class="media header">
            <div class="media-left">
                <span class="initial">|</span>
            </div>
            <div class="media-body">
                <strong class="title"><?= H($category->name) ?></strong>
            </div>
        </div>
        <?php $post = those('post')->whose('category')->is($category)->orderBy('pub_time', 'D')->limit(1)->current(); ?>
        <div class="post-container">
            <div class="content"><?= $post->content ?></div>
        </div>
    </div>
</section>