<div class="category">
    <div class="logo-container" style="background-color:#FFFFFF;padding:0px;">
        <div class="col-md-6">
            <?php
                $category = a('category', ['identity' => $module]);
                $logoLayout = a('layout')->whose('type')->is(\Gini\ORM\Layout::TYPE_LOGO);
                $path = $logoLayout->filePath();
                $paths = (array)@scandir($path);
                $file = $paths[2]; 
            ?>
            <img src="<?= URL('!category/icon/'.$logoLayout->id.'/'.$file) ?>" style="overflow: hidden;height: 80px;margin-top:15px;" />
        </div>
        <div class="col-md-6">
            <ul class="top_1"> 
                <li>
                    <a href="<?= URL('/') ?>"><i class="fa fa-home fa-fw"></i><span>首页</span></a>
                </li>
                <?php 
                    $ms = (array)Hub('config.nav.modules');
                    foreach ($ms as $m):
                        $mo = a('category', ['identity' => $m]);
                ?>
                <li>
                    <a class="<?= $module == $m ? 'active' : '' ?>" href="<?= \Gini\URI::url("category/{$mo->identity}")?>"><i class="fa <?= $mo->icon?> fa-fw"></i><span><?= H($mo->name) ?></span></a>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
    <div class="navigation-line">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<?= URL('/') ?>">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page"><?= $category->name ?></li>
            </ol>
        </nav>
    </div>
	<?php
		$form['stag'] = $stag;
		switch ($module) {
            case 'instrument':
                $view = 'category/instrument-view';
                break;
            case 'cle':
                $view = 'category/post-view';
                break;
			default:
				$view = 'category/normal';
				break;
		}
		echo U($view, [
			'category' => $category,
			'form' => $form,
			'pagination' => $pagination,
			'stag' => $stag
		]);
	?>
</div>

