<div class="container-fluid category-module layout-index">
	<?= V('category-header') ?>
	<?php
		$category = a('category', ['identity' => $module]);
		if (!$form['tag']) $form['tag'] = H($stag->identity);
		$layout = a('layout', ['global' => 1]);
	?>
	<div class="col-md-12 u-box">
		<div class="row">
			<div class="col-md-<?= (int)$layout->sizex ?> col-xs-<?= (int)$layout->sizex ?>" style="padding-right: 0px;">
				<?php $layout->render() ?>
			</div>
			<div class="col-md-<?= 12-(int)$layout->sizex ?> col-xs-<?= 12 - (int)$layout->sizex ?>">
				<div class="category-body">
					<div class="row">
						<?= V('category/style/'.H($category->style?:'one'), ['category' => $category]) ?>
						<?php
							$d = a('display')->whose('identity')->is($category->identity);
							if ($d->hasSecond && $d->secondPosition == 'left'):
						?>
							<div class="ct" style="min-height: 360px;">
							<div class="col-md-12">
								<div class="col-md-3 col-xs-3">
									<div class="category-group root">
										<?php
											$tags = those('tag')->whose('category')->is($category);
											foreach ($tags as $tag):
										?>
											<a href="<?= \Gini\URI::url("category/{$category->identity}", [
						                        'tag' => H($tag->identity)
						                    ])?>" class="list-group-item <?= $stag->id == $tag->id ? 'active' : '' ?>">
												<?= H($tag->name) ?>
											</a>
										<?php endforeach; ?>
									</div>
								</div>
								<div class="col-md-9 col-xs-9">
									<div class="body">
									<?php
										if ($d->type == \Gini\ORM\Display::TYPE_POST || $stag->type == \Gini\ORM\Tag::TYPE_POST) {
											echo V('category/post-body', [
													'form' => $form,
													'category' => $category,
													'tag' => $stag
												]);
										}
										else {
											if ($d->listLoading == 'page') {
												echo V('category/page-body', [
													'form' => $form,
													'category' => $category,
													'pagination' => $pagination
												]);
											}
											else {
												echo V('category/roll-body', [
													'form' => $form,
													'module' => $module
												]);
											}
										}
									?>
									</div>
								</div>
							</div>
							</div>
						<?php else: ?>
							<div class="body padding" style="min-height: 360px;">
								<?php
									if ($d->type == \Gini\ORM\Display::TYPE_POST) {
										echo V('category/post-body', [
												'form' => $form,
												'category' => $category
											]);
									}
									else {
										if ($d->listLoading == 'page') {
											echo V('category/page-body', [
												'form' => $form,
												'category' => $category,
												'pagination' => $pagination
											]);
										}
										else {
											echo V('category/roll-body', [
												'form' => $form,
												'module' => $module
											]);
										}
									}
								?>
							</div>
						<?php endif; ?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>