<div class="gini-padding">
    <div class="box">
        <h4 class="left"><i class="icon-setting"></i> <?= T('设置') ?> - <?= H(\Gini\ORM\Layout::$TYPE[$object->type]) ?> </h4>
        <div class="line"></div>
        <div class="right" style="display:flex;align-items: center;flex-direction:row-reverse;">
            <button class="btn btn-ok update-set pull-right"><i class="icon-touch">&#160;</i><?= T('更新预览') ?></button>&#160;
            <a href="<?= URL("/command/config/layout") ?>" class="btn btn-ok remove-set pull-right"><i class="icon-back">&#160;</i><?= T('返回布局') ?></a>
        </div>
    </div>
    <!-- 小标题 -->
    <div class="box">
        <div class="left" style="width: 600px;">
            <div class="card gini-list">
                <div class="card-body gini-content">
                    <div class="preview-div"></div>
                    <?php $object->render(); ?>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="right">
            <div class="card gini-list">
                <div class="card-body" style="height:100%;">
                    <div style="padding-bottom: 110px;">
                        <?= U('admin/config/layout/indexs/'.\Gini\ORM\Layout::$TYPE_VIEW[$object->type],[
                            'index'=> $object->index, 
                            'form'=> $form, 
                            'object'=> $object
                        ]); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	$(function(){
		$('.update-set').click(function(e){
			e.stopPropagation();
			$('#layout-set-view-form').submit();

			setTimeout(function(){
				$.ajax({
					type:'POST',
					url :'AJAX/Unpc/Layout/UpdateLayout',
					data:{
						id:'<?= $object->index ?>',
					},
					success:function(html){
						var end = html.indexOf('object');
						if(end<0)
                        {
                            $('.gini-content').empty().append(html);
                        }
                        else{
                            var data = html.substring(0,end);
                            $('.gini-content').empty().append(data);
                        }

					}
				})
			},500)
		})
	})
</script>
