<?php
    $class = $post->status == \Gini\ORM\Post::STATUS_PUBLISH ? 'fa-file' : 'fa-edit';
    $title = \Gini\ORM\Post::$STATUS[$post->status];
?>
<i class="fa <?= $class ?> fa-2x"
    data-toggle="tooltip"
    data-placement="top"
    title="<?= $title ?>"
    data-original-title="<?= $title ?>"></i>
<?php 
    if ($post->category->type == \Gini\ORM\Category::TYPE_FILE): 
        switch ($post->fileExtension) {
            case 'xlsx':
            case 'xls':
                $fileClass = 'file-excel-o';
                break;
            case 'doc':
            case 'docx':
                $fileClass = 'file-word-o';
                break;
            case 'rar':
            case 'zip':
                $fileClass = 'file-zip-o';
                break;
            case 'pdf':
                $fileClass = 'file-pdf-o';
                break;
            case 'ppt':
            case 'pptx':
                $fileClass = 'file-word-o';
                break;
            default:
                $fileClass = 'file-image-o';
                break;
        }
?>
    <i class="fa <?= $fileClass ?>"></i>
<?php endif; ?>
