<?php 
	$height = ($object->height ?: $object->sizey * 120) . 'px';
?>
<div class="link-box-two" style="height: <?= $height ?>;background-color: <?= $object->backgroundColor ?: '#E7E7E7'; ?>">
	<div class="content <?= H($object->align) ?>" style="<?= $object->align != 'vertical' ? 'line-height: '.($height - 20).'px;' : '' ?> <?= $object->center_show ? 'text-align: center;': '' ?>"  >
		<?php 
			$links = (array)$object->links;
			foreach ($links as $link):
		?>
			<a href="<?= $link['url'] ?>" class="item" style="color: <?= $object->fontColor ?: '#000000'?>">
				<?php if($link['icon']): ?>
					<i class="fa <?= $link['icon'] ?>"></i>
				<?php endif; ?>
				<?= $link['title'] ?>
			</a>
		<?php endforeach; ?>
	</div>
</div>