<div id="edit-module-modal" class="modal fade in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?= H(T('修改模块 %name', ['%name' => $module->name])) ?></h4>
            </div>
            <div class="modal-body">
                <form id="edit-modal-form" method="POST"
                      action="gini-ajax:AJAX/Unpc/Module/Edit/<?= $module->identity ?>">
                    <div class="row drag-container">
                        <div class="col-md-6">
                            <div class="form-group  <?= $form['_errors']['name'] ? 'has-error is-focused' : ' '; ?> <?= H($form['_errors'] ? $form['name'] : $module->name) ? '' : 'is-empty' ?>">
                                <label for="name" class=""><?= H(T('模块名称')) ?></label>
                                <input type="text" class="form-control" id="name" name="name" autocomplete="off"
                                       value="<?= H($form['_errors'] ? $form['name'] : $module->name) ?>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group  <?= $form['_errors']['identity'] ? 'has-error is-focused' : ' '; ?> <?= H($form['_errors'] ? $form['identity'] : $module->identity) ? '' : 'is-empty' ?>">
                                <label for="identity" class=""><?= H(T('模块标识')) ?></label>
                                <input type="text" class="form-control" id="identity" name="identity" autocomplete="off"
                                       value="<?= H($form['_errors'] ? $form['identity'] : $module->identity) ?>">
                                <span class="help-block"><?= H(T('请使用英文填写')) ?><code><?= H(T('模块唯一标识')) ?></code></span>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group  is-empty">
                                <label class=""><?= H(T('图标选择')) ?></label>
                                <button
                                        name="icon" id="icon"
                                        class="btn btn-ok"
                                        data-iconset="fontawesome" role="iconpicker"
                                        data-arrow-class="btn-success"
                                        data-arrow-prev-icon-class="fa fa-arrow-left"
                                        data-arrow-next-icon-class="fa fa-arrow-right"
                                        data-placement="right"
                                        data-search="true"
                                        data-icon="<?= H($form['_errors'] ? $form['icon'] : $module->icon) ?>"
                                ></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="weight" class=""><?= H(T('权重选择')) ?></label>
                                <input type="number" min="0" class="form-control" id="weight" name="weight"
                                       autocomplete="off"
                                       value="<?= H($form['_errors'] ? $form['weight'] : $module->weight) ?>">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-save " data-dismiss="modal" aria-hidden="true"><i
                            class="fa fa-times fa-fw "></i><?= H(T('关闭')) ?></button>
                <button class="btn btn-ok " form="edit-modal-form" type="submit"><i
                            class="fa fa-plus fa-fw"></i> <?= H(T('更新')) ?></button>
            </div>
        </div>
    </div>
    <script data-ajax="true">
        require(['main'], function ($) {

            var $modal = $('#edit-module-modal');
            $modal
                .on('hidden.bs.modal', function () {
                    $modal.remove();
                })
                .modal();

            $('#edit-modal-form').on('ajax-success', function () {
                $modal
                    .removeAttr('id').modal('hide')
                    .find('[id]').removeAttr('id');
            });

            require(['iconset/iconset-fontawesome-4.0.0.min', 'bootstrap-iconpicker', 'css!../css/bootstrap-iconpicker.min.css'], function () {
                $('[role=iconpicker]').iconpicker();
            })

        });
    </script>
</div>
