<?php
    $setting = Hub('Module.equipment.setting');
    $root = $setting['root'] == 'tag' ? 'cat' : 'group';
?>
<div class="gini-padding">
	<div class="box">
        <h4 class="left"><i class="icon-equipment"></i> <?= H(T('仪器列表')) ?></h4>
	</div>
    <div class="box">
        <div class="left">
            <div class="card gini-list equipment-btn">
                <div class="card-body">
                    <div class="">
                        <form class="" method="POST" action="gini-ajax:AJAX/Unpc/Module/Equipment/setting">
                            <div class="form-group row">
                                <label for="root" class="col-auto "><?= H(T('仪器分类节点')) ?></label>
                                <div class="col-auto">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="root" type="radio" class="form-check-input"
                                                value="tag" <?= $setting[root] != 'group' ? 'checked="checked"' : '' ?> ><?= H(T('仪器分类')) ?>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="root" type="radio" class="form-check-input"
                                                value="group" <?= $setting[root] == 'group' ? 'checked="checked"' : '' ?> ><?= H(T('组织机构')) ?>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="selector_tags"></div>
                            <div class="form-group row">
                                <label for="rootViewStyle" class="col-auto"><?= H(T('分类节点展示')) ?></label>
                                <div class="col-auto form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input name="rootViewStyle" type="radio" class="form-check-input"
                                            value="oneline" <?= $setting[rootViewStyle] != 'twoline' ? 'checked="checked"' : '' ?> ><?= H(T('单列形式')) ?>
                                    </label>
                                    <label class="form-check-label">
                                        <input name="rootViewStyle" type="radio" class="form-check-input"
                                            value="twoline" <?= $setting[rootViewStyle] == 'twoline' ? 'checked="checked"' : '' ?> ><?= H(T('多列形式')) ?>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="position" class="col-auto"><?= H(T('分类显示位置')) ?></label>
                                <div class="col-auto form-check form-check-inline">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="position" type="radio" class="form-check-input"
                                                value="left" <?= $setting[position] != 'right' ? 'checked="checked"' : '' ?> ><?= H(T('左方')) ?>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input name="position" type="radio" class="form-check-input"
                                                value="right" <?= $setting[position] == 'right' ? 'checked="checked"' : '' ?> ><?= H(T('右方')) ?>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="listLoading" class="col-auto"><?= H(T('列表加载方式')) ?></label>
                                <div class="col-auto form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input name="listLoading" type="radio" class="form-check-input"
                                            value="roll" <?= $setting[Loading] != 'page' ? 'checked="checked"' : '' ?> ><?= H(T('滚动形式')) ?>
                                    </label>
                                    <label class="form-check-label">
                                        <input name="listLoading" type="radio" class="form-check-input"
                                            value="page" <?= $setting[Loading] == 'page' ? 'checked="checked"' : '' ?> ><?= H(T('翻页形式')) ?>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="listShowStyle" class="col-auto"><?= H(T('列表单行显示')) ?></label>
                                <div class="col-auto form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input name="listShowStyle" type="radio" class="form-check-input"
                                            value="default" <?= $setting[listShowStyle] != 'oneline' ? 'checked="checked"' : '' ?> ><?= H(T('单行两列')) ?>
                                    </label>
                                    <label class="form-check-label">
                                        <input name="listShowStyle" type="radio" class="form-check-input"
                                            value="oneline" <?= $setting[listShowStyle] == 'oneline' ? 'checked="checked"' : '' ?> ><?= H(T('单行一列')) ?>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex mr-5 flex-row">
                                    <button class="btn btn-ok" type="submit" name="submit">
                                        <i class="icon-check"></i> <?= H(T('更新')) ?>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        require(['main'], function ($) {
            var getRemoteTags = function (root) {
                    $.ajax({
                        type: "POST",
                        url: 'AJAX/Index/Equipment/getSelectTags',
                        data: {
                            'root': root,
                            'selector': '.selector_tags'
                        },
                        success: function (html) {
                            $('body').append(html).find('script[data-ajax]').remove()
                        }
                    })
                }
                , setting_container = $('.equipment-setting')

            setting_container.data('selectTag', $('input[name=root]:checked').val())

            setting_container.on('click', 'input[name="root"]', function (e) {
                var me = $(this)
                if (me.val() != setting_container.data('selectTag')) {
                    getRemoteTags(me.val())
                    setting_container.data('selectTag', me.val())
                }
            })

            getRemoteTags(setting_container.data('selectTag'))
        })
    </script>
</div>