
<div class="card infobox" data-module-id="<?= $module->id ?>">
    <div class="card-body">
        <?php
        $me = _G('ME');
        if($me->isAllowedTo('管理') && $module->identity !=  'equipment'):
            ?>
            <div class="module-btn-group" style="top: 16px;right: 26px;">
                <a class="btn btn-sm " href="gini-ajax:AJAX/Unpc/Module/Edit/<?= $module->identity; ?>">
                    <i style="padding: 0" class="icon-edit"></i>
                </a>
                <a class="btn btn-sm" data-confirm="<?= H(T('您确认删除模块%name吗?', ['%name' => $module->name]))?>" data-confirm-description="<?= H(T('点击确认后会删除该模块信息, 请谨慎处理!')) ?>" data-gini-ajax="gini-ajax:AJAX/Unpc/Module/Delete/<?= $module->identity; ?>">
                    <i style="padding: 0" class="icon-cancel"></i>
                </a>
            </div>
        <?php endif; ?>
        <i class="handle icon-move"></i>
        <i class="fa fa-fw <?= $module->icon ? : 'fa-info'; ?>"></i>
        <?= H(T($module->name))?>
    </div>

</div>