<div class="gini-padding">
	<div class="box">
        <h4 class="left"><i class="icon-module-setting"></i> <?= H(T('模块设置')) ?></h4>
	</div>
	<div class="box">
		<div class="left">
			<div class="card modules category-list">
				<div class="gini-header">
					<?php
						if (_G('ME')->isAllowedTo('管理')):
					?>
					<a class="btn  add-module btn-ok pull-right" href="gini-ajax:AJAX/Unpc/Module/Add">
						<i class="icon-add"></i> <?= H(T('添加模块'))?>
					</a>
					<?php endif; ?>
				</div>
				<div class="card-body">
					<form class="form-horizontal" method="POST" action="gini-ajax:AJAX/Unpc/Module/Sortable">
						<div class="form-group">
							<div class="row" id="sortable">
								<?php foreach($modules as $module): ?>
									<div class="col-4  category-block">
										<?= U('admin/module/item', ['module' => $module]); ?>
									</div>
								<?php endforeach; ?>
							</div>
						</div>
						<div class="form-group">
							<div class="">
								<a class="btn  btn-ok" href="javascript:;" id="module-sort" data-toggle="tooltip" data-placement="right" title="" data-original-title="<?= H(T('拖动模块后点击此按钮可更新模块权重排序'))?>"><i class="fa fa-exchange"></i>&#160;<?= H(T('更新排序'))?></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<?= U('components/confirm') ?>
<script>
require(['main'], function($){
	require(['jquery-ui.min', 'css!../css/jquery-ui.min.css'], function(){
		$("#sortable").sortable({
			revert: true
			, handle: ".handle"
			, placeholder: "placeholder"
			, start: function(event, ui) {
				ui.placeholder
					.addClass('col-4 ')
					.html('<div class="infobox"></div>')
				ui.placeholder.find('.infobox').css('height', ui.helper.find('.infobox').outerHeight())

			}
	    }).disableSelection()
	})
	$('#module-sort')
		.on('click', function(e){
			var me = $(this)
				, $form = me.parents('form')
				, box = $('#sortable .infobox')
				, o = []
			$.each(box, function(k, v){
				o.push($(v).data('module-id'))
			})
			$form
				.append('<input class="d-none" name="ids" value="'+o+'"/>')
				.submit()
			return false;
		})
})
</script>
