<?php
    $display = a('display')->whose('identity')->is($category->identity);
?>
<?= $pagination ?>
<table class="table table-hover <?= $display->listTitleBackground == 'interval' ? 'table-striped' : '' ?>">
	<tbody id="page-body">
        <tr class="loading">
            <td style="text-align:center">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </td>
        </tr>
	</tbody>
</table>
<?php $form['m'] = $category->identity;
$form['per_page'] = $per_page;
?>
<?php if ($display->listTitleBackground == 'interval'): ?>
<style>
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: <?= $display->listTitleBackgroundColor ?: '#F9F9F9'; ?>;
}
</style>
<?php endif; ?>
<script>
    var ajax_form = <?= json_encode($form) ?>;
    require(['main'], function($){
        $.ajax(
            {
                url: '/AJAX/Index/Category/getPosts',
                data:{ajax_form:ajax_form},
                type:'post',
                success:function(msg)
                {
                    $('#page-body').html(msg);
                }

            }

        );
    });
</script>
