<tr class="<?= H($d->listTitleRef)?> item">
	<?php $post = a('post')->whose('id')->is($post->id); ?>
	<td>
		<a href="post/<?= $post->id ?>">
			<span class="title"><?= H($post->title) ?></span>
			( <?= H($d->listTitle == 'extension' ? $post->fileExtension : date('Y/m/d', strtotime($post->pub_time)))?> )
		</a>
	</td>
</tr>