<div class="row post-body">
<?php
	$posts = those('post')->whose('category')->is($category)
			->andWhose('status')->is(\Gini\ORM\Post::STATUS_PUBLISH);
	if ($stag->id) {
		$pts = those('post/tag')->whose('tag')->is($stag);
		$ids = [];
		foreach($pts as $pt){
			$ids[] = $pt->post->id;
		}
		$posts = $posts->whose('id')->isIn($ids);
	}
	$posts = $posts->orderBy('pub_time', 'D');
	foreach ($posts as $post):
?>
	<div class="col-md-12"><?= $post->content ?></div>
<?php endforeach; ?>
</div>
