<?php if (count($posts) == 0): ?>
<tr data-more="-1" class="col-md-12"></tr>
<?php else: ?>
<?php foreach($posts as $post):?>
    <?= U('category/post', ['post' => (object)$post, 'd' => $d]) ?>
<?php endforeach; ?>
<tr data-more="<?= intval($next_start) ?>" class="col-md-12"></tr>
<?php endif; ?>