<?php 
    $display = a('display')->whose('identity')->is($module);
?>
<table class="table table-hover <?= $display->listTitleBackground == 'interval' ? 'table-striped' : '' ?>">
	<tbody id="roll-body">
		<tr class="loading">
            <td style="text-align:center">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </td>
        </tr>
	</tbody>
</table>
<?php $form['m'] = $module; ?>
<?php if ($display->listTitleBackground == 'interval'): ?>
<style>
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: <?= $display->listTitleBackgroundColor ?: '#F9F9F9'; ?>;
}
</style>
<?php endif; ?>
<script>
require(['more'], function(More){

    var ajax_form = <?= json_encode($form) ?>;
    new More({
        root: '#roll-body',
        url: function() { return 'AJAX/Index/Category/getPosts/' + this.start },
        data: { ajax_form: ajax_form }
    });
});
</script>