<div class="container-fluid category-module layout-index">
    <?= U('category-header') ?>
    <?php
    $category = a('category', ['identity' => $module]);
    if (!$form['tag']) $form['tag'] = H($stag->identity);
        $layout = a('layout', ['global' => 1]);
        $is_link = (int)$layout->sizex >= 10;
        $col = $is_link ? 12 : 12 - (int)$layout->sizex;
    ?>
    <div class="col-md-12 u-box">
        <div class="row">
            <!--back to top-->
            <div id="gotop"></div>
            <div class="col-md-<?= $col ?>">
                <div class="category-body">
                    <?php
                        $d = a('display')->whose('identity')->is($category->identity);
                        echo U('category/style/' . H($category->style ?: 'one'), ['category' => $category]);
                    ?>
                    <div class="ct" style="min-height: 560px;">
                        <?php
                        //通用参数
                        $show_args = [];
                        $show_args['category'] = $category;
                        $show_args['form'] = $form;
                        $show_args['loading'] = null;

                        //如果其有二级标签的话 显示格式基于标签 没有的话基于display控制
                        if ($d->hasSecond) {
                            $show_args['stag'] = $stag;
                            //如果标签模式是文章则不涉及翻页方式
                            if ($stag->type == \Gini\ORM\Tag::TYPE_POST) {
                                $show_args['loading'] = null;
                            } else {
                                //如果是列表 设计翻页模式 但是添加标签时未设计该功能，先写上，后期补充后台逻辑。
                                //现在先根据 模块的默认样式来设置。
                                if ($d->listLoading == 'page') {
                                    $show_args['loading'] = 'page';
                                } else {
                                    $show_args['loading'] = 'roll';
                                }
                            }

                        } //没有二级标签的情况
                        else {
                            $show_args['d'] = $d;
                            if ($d->type == \Gini\ORM\Display::TYPE_POST) {
                                $show_args['loading'] = null;
                            } else {
                                if ($d->listLoading == 'page') {
                                    $show_args['loading'] = 'page';
                                } else {
                                    $show_args['loading'] = 'roll';
                                }
                            }
                        }
                        //根据加载方式来判断是否增加对应参数
                        if ($show_args['loading'] == 'page') {
                            $show_args['per_page'] = $per_page;
                            $show_args['pagination'] = $pagination;
                        } else {
                            $show_args['module'] = $module;
                        }
                        //下面开始输出内容 上面是构造参数。
                        ?>


                        <?php 
                            if ($d->hasSecond && $d->secondPosition != 'click'): 
                                $show_args['show_content'] = $show_content; 
                        ?>
                            <!--    flex-row-reverse 更改左右。-->
                            <div class="row <?= $d->tagPosition == 'left' ? '' : 'flex-row-reverse' ?> ">
                                <div class="col-md-2">
                                    <?= //标签
                                    U('category/tag/one', $show_args); ?>
                                </div>
                                <div class="col-md-10">
                                    <div class="body">
                                        <?php
                                        if ($stag->type == \Gini\ORM\Tag::TYPE_POST) {
                                            //文章模式
                                            echo U('category/post-body', $show_args);
                                        } else {
                                            //列表模式
                                            if ($d->listLoading == 'roll') {
                                                //滚动
                                                echo U('category/roll-body', $show_args);

                                            } else {
                                                //页面
                                                echo U('category/page-body', $show_args);

                                            }
                                        }
                                        ?>
                                    </div>
                                </div>
                            </div>
                        <?php else://无标签或者标签在导航栏的情况 ?>
                            <div class="body padding" style="min-height: 360px;">
                                <?php
                                //构建输出
                                if ($show_args['loading'] === null) {
                                    $show_content = U('category/post-body', $show_args);
                                } else {

                                    if ($show_args['loading'] == 'page') {
                                        //page
                                        $show_content = U('category/page-body', $show_args);
                                    } else {
                                        //roll
                                        $show_content = U('category/roll-body', $show_args);
                                    }
                                }
                                ?>
                                <?= $show_content ?>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <div class="col-md-<?= (int)$layout->sizex ?>" style="<?= $is_link ? 'margin-top: 5px;' : 'padding-right: 5px;padding-left: 5px;'?>">
                <?php $layout->render() ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['main'],function(){
        function goTop()
        {
            $(window).scroll(function(e) {
                //若滚动条离顶部大于100元素
                if($(window).scrollTop()>1200)
                    $("#gotop").fadeIn(1000);//以1秒的间隔渐显id=gotop的元素
                else
                    $("#gotop").fadeOut(1000);//以1秒的间隔渐隐id=gotop的元素
            });
        };
        $(function(){
            //点击回到顶部的元素
            $("#gotop").click(function(e) {
                //以1秒的间隔返回顶部
                $('body,html').animate({scrollTop:0},500);
            });
            $("#gotop").mouseover(function(e) {
                $(this).css("background","url(assets/img/backtop2013.png) no-repeat 0px 0px");
            });
            $("#gotop").mouseout(function(e) {
                $(this).css("background","url(assets/img/backtop2013.png) no-repeat -70px 0px");
            });
            goTop();//实现回到顶部元素的渐显与渐隐
        });


    });

</script>
