<div class="header four">
	<span class="current"><?= H(T('当前位置: ')) ?>&#160;</span>
	<a href="<?= \Gini\URI::url('/') ?>"><?= H(T('首页'))?></a>&#160;
	<i class="icon-right"></i>&#160;
    <a href="<?= \Gini\URI::url('/category/'.H($category->identity)) ?>"><?= H(T($category->name))?></a>
    &#160;<i class="fa fa-angle-double-right"></i>&#160;
    <?= $title ?>
</div>