<div class="header three">
	<div class="col-md-4">
		<div class="a right"></div>
	</div>
	<div class="col-md-2">
		<span class="title"><?php echo !is_null($title)?H($title): H($category->name);?></span>
	</div>
	<div class="col-md-4">
		<div class="a left"></div>
	</div>
</div>