<div class="gini-padding">
    <div class="box">
        <h4 class="left"><i class="icon-list"></i> <?= H(T('文章列表')) ?></h4>
    </div>
    <div class="box">
        <div class="left">
            <div class="card user-list">
                <div class="gini-header">
                    <a href="<?= URL("command/post/add/{$category->identity}") ?>" class="btn btn-ok ">
                        <i class="icon-add"></i> <?= H(T('添加文章'))?>
                    </a>
                </div>
                <div class="card-body gini-body">
                    <?= $pagination ?>
                    <table class="table table-striped table-sm list">
                        <thead>
                        <tr>
                            <th style="white-space:nowrap" class=""></th>
                            <th style="white-space:nowrap"><?= H(T('标题'))?></th>
                            <th style="" class="hidden-xs"><?= H(T('作者'))?></th>
                            <th style="" class="hidden-xs"><?= H(T('创建时间'))?></th>
                            <th style="" class="hidden-xs"><?= H(T('发布时间'))?></th>
                            <th style="white-space:nowrap"></th>
                            </tr>
                        </thead>

                        <tbody id="module-list">
                        <?php foreach($posts as $post): ?>

                            <tr class="module-list-hover">
                                <td style="text-align: center"><?= U('admin/post-tables/status', ['post' => $post])?></td>
                                <td style="vertical-align: middle"><?= H($post->title) ?></td>
                                <td><?= H($post->author->name)?></td>
                                <td><?= H($post->ctime)?></td>
                                <td><?= H($post->pub_time)?></td>
                                <td style="overflow: hidden;position: relative;">
                                    <div class="pull-right module-list-btn" >
                                        <?= \Gini\Module\Help::links($post->links())?>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                        <?= U('components/confirm') ?>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	$(function($){
		$('.module-list-hover').hover(function(){
			$(this).find('.module-list-btn').stop().animate({'right':'0'},500);
		},function(){
			$(this).find('.module-list-btn').stop().animate({'right':'-109px'},500);
		})
	})
</script>
