<?php $display->render() ?>
<div class="gini-padding">
    <div class="box">
        <h4 class="left"><i class="icon-data_analysis"></i> <?= H(T('模块样式')) ?></h4>
    </div>
    <div class="box">
        <div class="left">
            <div class="card  module-style-setting gini-list">
                <div class="card-body">
                    <form class="" method="POST" action="gini-ajax:AJAX/Unpc/Module/updateStyle/<?= ($category->identity) ?>">
                        <div class="form-group category-icons ">
                            <label for="style" class="col-md-12   pl-15">
                                <strong><?= H(T('请选择您喜欢的登陆布局样式')) ?></strong>
                            </label>
                            <?php $style = H($category->style); ?>
                            <div id="wrap" style="width: 100%;height: 100%;">
                                <div class="category-module">
                                    <div class="category-body">
                                        <div class="col-md-12 item one-box">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input name="style" type="radio" value="one"
                                                            class="form-check-inputl position-static" <?= (!$style || $style == 'one') ? 'checked="checked"' : '' ?> >
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 item two-box">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input name="style" type="radio" value="two"
                                                            class="form-check-inputl position-static" <?= (!$style || $style == 'two') ? 'checked="checked"' : '' ?> >
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 item three-box">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input name="style" type="radio" value="three"
                                                            class="form-check-inputl position-static" <?= (!$style || $style == 'three') ? 'checked="checked"' : '' ?> >
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 item four-box">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input name="style" type="radio" value="four"
                                                            class="form-check-inputl position-static" <?= (!$style || $style == 'four') ? 'checked="checked"' : '' ?> >
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form">
                            <div class="input-group flex-row">
                                <button class="btn  btn-ok" type="submit" name="submit">
                                    <i class="icon-check"></i> <?= H(T('保存')) ?>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hr_2"></div>
<script>
    require(['main'], function ($) {
        var categroyTypeArr = ['one', 'two', 'three', 'four'];
        for (let i = 0; i < categroyTypeArr.length; i++) {
            $.ajax({
                method: 'POST',
                url: '<?= URL("AJAX/Unpc/Layout/UpdateCategoryStyle") ?>',
                data: {
                    'type': categroyTypeArr[i],
                    'id': "<?= (int)$category->id ?>"
                },
                success: function (html) {
                    $("." + categroyTypeArr[i] + "-box").append(html);
                    $('.three .col-md-2').css({'overflow': 'hide', 'text-overflow': 'ellipsis'});
                    $('.three .col-md-2 .title').css({'white-space': 'nowrap'});
                    $('.four').css('margin-top', '10px');
                }
            });
        }
        $(document).on('click', '.header a', function () {
            return false;
        })
    });

</script>
