<div class="gini-padding">
    <div class="box">
        <h4 class="left"><i class="icon-list"></i> <?= H(T('标签列表')) ?></h4>
    </div>
    <div class="box">
        <div class="left">
            <div class="card user-list">
                <div class="gini-header">
                    <div class="btn-group pull-right" style="margin-top: 5px;">
                        <a href="gini-ajax:AJAX/Unpc/Tag/Add/<?= $category->identity ?>" class="btn btn-ok">
                            <i class="icon-add"></i> <?= H(T('添加二级标签'))?>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <?= $pagination ?>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="white-space:nowrap" class=""></th>
                                <th style="white-space:nowrap"><?= H(T('名称'))?></th>
                                <th style="" class="hidden-xs"><?= H(T('标示'))?></th>
                                <th style="" class="hidden-xs text-center"><?= H(T('内容展示方式'))?></th>
                                <th style="white-space:nowrap;"></th>
                            </tr>
                        </thead>
                        <tbody id="module-tag-list">
                            <?php foreach($tags as $tag): ?>
                                <tr class="module-list-hover">
                                    <td class="text-center"><?= U('admin/tag-tables/type', ['tag' => $tag])?></td>
                                    <td><?= H($tag->name) ?></td>
                                    <td>
                                        <?= H($tag->identity) ?>
                                    </td>
                                    <td class="text-center">
                                        <?= T(\Gini\ORM\Tag::$TYPE[$tag->type])?>
                                    </td>
                                    <td style="overflow: hidden;position: relative;">
                                        <div class="pull-right module-list-btn">
                                            <?= \Gini\Module\Help::links($tag->links())?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                        <?= U('components/confirm') ?>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	$(function(){
		$('.module-list-hover').hover(function(){
			$(this).find('.module-list-btn').stop().animate({'right':'0'},500);
		},function(){
			$(this).find('.module-list-btn').stop().animate({'right':'-109px'},500);
		})
	})
</script>
