<?php
	$setting = (array)Hub('config.design.system');
	$height = ($object->height ?: $object->sizey * 120) . 'px';
	$hide = $object->hide ? true : false;
?>
<div class="login-box-five" style="height: <?= $height ?>">
	<div class="title-font">
		<div class="name"><?= H(T('进入仪器预约系统'))?></div>
	</div>
	<div class="content" id="login-content">
		<form class="login-form" method="post" role="form" action="<?= $setting['loginUrl'] ?>">
			<div class="form-group">
				<input type="text" class="form-control" id="inputUser" name="token" placeholder="<?= H(T('用户名'))?>">
			</div>

			<div class="form-group">
				<input type="password" autocomplete="off" class="form-control" id="inputpwd" name="password" placeholder="<?= H(T('密码'))?>">
			</div>
			<div class="form-group">
                        <select class="form-control" name="token_backend">
                                <option value="ids.shtech" selected="selected">统一身份认证</option>
                                <option value="database">本地用户</option>
                        </select>
                        </div>
		  	<div class="login-btn">
		  		<p class="login-user-btn">
					<a href="http://<?=$setting['baseUrl'] ?>/lims/!labs/signup" target="_blank">

					<?= H(T('注册新用户'))?>
					</a>
		  		</p>
			 	<div class="row">
			 		<div class="col-md-6 col-md-offset-3">
				 		<button type="submit" name="submit" value="登录" class="btn btn-default btn-block">
				 		<?= H(T('登录')) ?></button>
				 	</div>
			 	</div>
			</div>
		</form>
	</div>
</div>
<?php if($hide) :?>
<script>
require(['main'], function ($) {
  var remote_url = "http://" + "<?= $setting['baseUrl'] ?>" + "/lims/current_user";
  $.ajax({
    url: remote_url,
    dataType: 'jsonp',
    jsonp: 'callback',
    success: function(result) {
      if(!result.name || !result.img) return;
      $.ajax({
        url: "ajax/user/current",
        data: {
          'name':result.name,
          'img':result.img
        }
      }).done(function(data) {
        $('div#login-content').html(data);
      });
    }
  });
})
</script>
<?php endif;?>