<?php
	$info = \Gini\Core::moduleInfo('unpc');
?>
<div style="margin:20px;" class="text-center">
    <h5 style="font-weight:500;" class="text-muted">Research Gets Easier.</h5>
    <h5 style="font-weight:500;" class="text-muted">
		<?= H('LabScout LIMS-CF') ?>
		<span style="text-shadow: 0 0 2px #777;"><?= H($info->version) ?></span>
		<a href="<?= URL('http://www.geneegroup.com')?>" target="_blank"><?= T('天津市基理科技') ?></a>
    	<a href="<?= URL('/command') ?>" target="_blank"><?= H('管理后台') ?></a>
    </h5>
</div>