<?php if (isset($_SESSION['Alert.Message'])): ?>
	<?php foreach((array) $_SESSION['Alert.Message'] as $alert): ?>
		<?php foreach ($alert as $message): ?>
		<div class="alert alert-danger ">
			<?= $message; ?>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<?php endforeach; ?>
	<?php endforeach; ?>
<?php unset($_SESSION['Alert.Message']); endif; ?>