<div class="header-top" style="height:10px;"></div>
<div class="container container-header" >
    <div class="row head-row" >
        <div class="col-sm-12">
            <img src="<?= H(T(_G('logo'))) ?>" />
        </div>
    </div>
</div>