<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title><?= H($sysSetting['name'] ?: $title) ?></title>
    <meta name="keywords" content="<?= H($seoSetting['keywords']) ?>">
    <meta name="description" content="<?= H($seoSetting['description']) ?>">
    <meta name="copyright" content="<?= H($seoSetting['copyright']) ?>">
    <meta name="author" content="<?= H($seoSetting['author']) ?>">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <base href="<?= H(URL('/')) ?>">
    <link href="assets/css/bootstrap-3.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/site.css" rel="stylesheet">
    <link href="assets/css/category.css" rel="stylesheet">
    <link href="assets/css/nivo-slider.css" rel="stylesheet">
    <script data-main="assets/js/main.js" src="assets/js/require.js"></script>
    <script type="text/javascript" charset="utf-8" src="assets/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="assets/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" charset="utf-8" src="assets/js/jquery.dotdotdot.js"></script>   

    <!--[if lt IE 9]>
    <script src="assets/js/html5.js"></script>
    <script src="assets/js/respond.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icon/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icon/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icon/apple-touch-icon-72.png">
    <link rel="shortcut icon" href="<?= Hub('shortcut.filename') ? "!shortcut/".Hub('shortcut.filename') : 'assets/icon/favicon.png'?>">
</head>
<body class="<?= $layout_class ?>">
    <div id="wrap" class="clearfix">
        <div id="body"><?= $body ?></div>
    </div>
</body>
<footer>
    <div class="footer">
        <?= $footer ?>
    </div>
</footer>
</html>
