<div class="container-fluid search-container layout-index">
	<?= U('category-header') ?>
	<div class="col-md-12 u-box">
		<div class="post-container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/"><?= T('首页')?></a></li>
					<li class="breadcrumb-item active" aria-current="page"><?= H($keywords) ?></li>
				</ol>
			</nav>
			<div class="content">
				<?php foreach($posts as $post): ?>
					<blockquote>
						<p><a href="post/<?= $post->id ?>"><?= $post->title ?></a></p>
						<footer><?= strip_tags($post->content) ?></footer>
					</blockquote>
				<?php endforeach; ?>
			</div>
		</div>
	</div>
</div>